// DS6.v1.01

@import "../../less/ds6/variables.less";

@label-floating-label-color: @ds6-color-grey4;
@label-floating-label-inline-font-size: @ds6-font-size-16;
@label-floating-label-disabled-color: @ds6-color-grey1;
@label-floating-label-disabled-left: auto;

@import "../base/label.less";
