@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

@label-floating-label-color: @color-grey4;
@label-floating-label-inline-font-size: @font-size-16;
@label-floating-label-disabled-color: @color-grey2;
@label-floating-label-disabled-left: auto;

@import "../base/label.less";
