@import "../../less/ds6/variables.less";
@import "../base/label.less";

label.floating-label__label {
    color: @ds6-color-grey4;

    &--inline {
        font-size: @ds6-font-size-16;
    }

    &--disabled {
        color: @ds6-color-grey1;
    }
}
