a.icon-link,
button.icon-btn {
    --actionable-badge-border-color: @actionable-badge-border-color;
    --actionable-icon-foreground-color: @actionable-icon-foreground-color;
    --actionable-icon-active-foreground-color: @actionable-icon-active-foreground-color;
    --actionable-icon-hover-foreground-color: @actionable-icon-hover-foreground-color;
    --actionable-image-hover-border-color: @actionable-image-hover-border-color;
}

a.img-link,
button.img-btn {
    --actionable-image-active-border-color: @actionable-image-active-border-color;
    --actionable-image-hover-border-color: @actionable-image-hover-border-color;
}
