@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .breadcrumbs {
            --breadcrumbs-item-foreground-color: @color-text-default-dark-mode;
            --breadcrumbs-item-current-foreground-color: @breadcrumbs-item-current-foreground-color; // dark-mode color TBD
            --breadcrumbs-item-hover-foreground-color: @color-link-default-dark-mode;
        }
    }
}
