.dialog,
.fullscreen-dialog,
.panel-dialog {
    --dialog-mask-background-color: @dialog-mask-background-color;
    --dialog-window-background-color: @dialog-window-background-color;
    --dialog-back-close-foreground-color: @dialog-back-close-foreground-color;
}
