button.expand-btn {
    --button-border-radius: @button-border-radius;
    --expand-button-hover-foreground-color: @expand-button-hover-foreground-color;

    /* following properties are deprecated  */
    --button-primary-background-color: @button-primary-background-color;
    --button-primary-border-color: @button-primary-border-color;
    --button-primary-foreground-color: @button-primary-foreground-color;
    --button-primary-disabled-background-color: @button-primary-disabled-background-color;
    --button-primary-disabled-border-color: @button-primary-disabled-border-color;
    --button-primary-disabled-foreground-color: @button-primary-disabled-foreground-color;
    --button-secondary-background-color: @button-secondary-background-color;
    --button-secondary-border-color: @button-secondary-border-color;
    --button-secondary-foreground-color: @button-secondary-foreground-color;
    --button-secondary-disabled-background-color: @button-secondary-disabled-background-color;
    --button-secondary-disabled-border-color: @button-secondary-disabled-border-color;
    --button-secondary-disabled-foreground-color: @button-secondary-disabled-foreground-color;
}
