a.icon-link,
button.icon-btn {
    --icon-button-badge-border-color: @icon-button-badge-border-color;
    --icon-button-icon-foreground-color: @icon-button-icon-foreground-color;
    --icon-button-icon-active-foreground-color: @icon-button-icon-active-foreground-color;
    --icon-button-icon-hover-foreground-color: @icon-button-icon-hover-foreground-color;
}
