.page-notice {
    --page-notice-attention-background-color: @page-notice-attention-background-color;
    --page-notice-attention-border-color: @page-notice-attention-border-color;
    --page-notice-confirmation-background-color: @page-notice-confirmation-background-color;
    --page-notice-confirmation-border-color: @page-notice-confirmation-border-color;
    --page-notice-information-background-color: @page-notice-information-background-color;
    --page-notice-information-border-color: @page-notice-information-border-color;
}
