.pagination {
    --pagination-item-foreground-color: @pagination-item-foreground-color;
    --pagination-item-active-foreground-color: @pagination-item-active-foreground-color;
    --pagination-item-hover-foreground-color: @pagination-item-hover-foreground-color;
    --pagination-item-current-background-color: @pagination-item-current-background-color;
    --pagination-item-current-border-color: @pagination-item-current-border-color;
    --pagination-item-current-foreground-color: @pagination-item-current-foreground-color;
}
