.stepper {
    --stepper-badge-background-color: @stepper-badge-background-color;
    --stepper-text-dark-color: @stepper-text-dark-color;
    --stepper-text-light-color: @stepper-text-light-color;
}
