.stepper {
    --progress-stepper-badge-background-color: @progress-stepper-badge-background-color;
    --progress-stepper-text-dark-color: @progress-stepper-text-dark-color;
    --progress-stepper-text-light-color: @progress-stepper-text-light-color;
}
