.section-notice {
    --section-notice-default-background-color: @section-notice-default-background-color;
    --section-notice-attention-background-color: @section-notice-attention-background-color;
    --section-notice-confirmation-background-color: @section-notice-confirmation-background-color;
    --section-notice-information-background-color: @section-notice-information-background-color;
}
