.signal--trustworthy {
    --signals-trustworthy-border-color: @trustworthy-color;
    --signals-trustworthy-color: @trustworthy-color;
}

.signal--neutral {
    --signals-neutral-color: @neutral-color;
    --signals-neutral-border-color: @neutral-color;
}
.signal--recent {
    --signals-recent-color: @recent-color;
    --signals-recent-border-color: @recent-border-color;
}

.signal--time-sensitive {
    --signals-time-sensitive-color: @time-sensitive-color;
    --signals-time-sensitive-border-color: @time-sensitive-color;
}
