.signal--trustworthy {
    --signal-trustworthy-border-color: @trustworthy-color;
    --signal-trustworthy-color: @trustworthy-color;
}

.signal--neutral {
    --signal-neutral-color: @neutral-color;
    --signal-neutral-border-color: @neutral-color;
}
.signal--recent {
    --signal-recent-color: @recent-color;
    --signal-recent-border-color: @recent-border-color;
}

.signal--time-sensitive {
    --signal-time-sensitive-color: @time-sensitive-color;
    --signal-time-sensitive-border-color: @time-sensitive-color;
}
