.segmented-button {
    border: 1px solid var(--color-stroke-default);
    border-radius: 24px;
    max-width: 720px;
    min-width: 215px;
    padding: 4px;
}

.segmented-button__items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.segmented-button__item {
    flex: 1;
}

.segmented-button__item:not(:first-child) {
    margin-left: 8px;
}

.segmented-button .btn {
    border: none;
    min-width: 0;
    padding: 8px 16px;
    width: 100%;
}

.segmented-button .btn[aria-current] {
    background-color: var(--color-foreground-primary);
    color: var(--color-foreground-on-inverse);
}

.segmented-button .btn:not([aria-current]) {
    &:active {
        background-color: var(--color-state-primary-active);
    }

    &:hover,
    &:focus {
        background-color: var(--color-state-primary-hover);
    }
}
