@import "../mixins/private/bubble-mixins";
@import "../mixins/private/token-mixins";
@import "../variables/variables";

.card {
    display: flex;
    flex-direction: column;
    width: $card-size-default;
}

.card__container {
    position: relative;
    height: $card-size-default;
}

@media screen and (max-width: $_screen-size-MD) {
    .card {
        width: $card-size-large;

        .card__container {
            height: $card-size-large;
        }
    }
}

.card__content {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-background-secondary, #f7f7f7);
    border-radius: var(--border-radius-100, 16px);
    padding: var(--spacing-150, 12px);
}

.card__content .progress-bar {
    width: 100%;
}

.card__content--image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card__content--overflow {
    opacity: 0.5;
}

.card .card__action {
    @include bubble-close();

    position: absolute;
    top: var(--spacing-100, 8px);
    right: var(--spacing-100, 8px);
    margin: 0;
    background: var(--color-background-on-secondary, #fff);
}

.card__label.icon-btn {
    @include bubble-close();

    position: absolute;
    display: flex;
    flex-direction: row;
    left: var(--spacing-100, 8px);
    bottom: var(--spacing-100, 8px);
    width: 55px;
    height: 20px;
    margin: 0;
    background: var(--color-background-on-secondary, #fff);
    align-items: center;
    gap: var(--spacing-50, 4px);
}

.card__label-text {
    color: var(--color-foreground-primary, #191919);
    font-size: var(--font-size-12);
    font-weight: 400;
}

.card .card__overflow-action {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: rgba(var(--color-background-strong-rgb), 0.5);
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: 20px;
    vertical-align: middle;
    color: var(--color-foreground-on-strong, #fff);

    &:active,
    &:focus,
    &:hover {
        color: var(--color-foreground-primary, #191919);
    }

    &:focus,
    &:hover {
        background-color: rgba(var(--color-state-secondary-hover-rgb), 0.5);
    }

    &:active {
        background-color: rgba(var(--color-state-secondary-active-rgb), 0.5);
    }
}

.card__details {
    display: flex;
    flex-direction: column;
}

.card__details-title {
    color: var(--color-foreground-primary, #191919);
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: var(--spacing-250, 20px);
    margin-top: var(--spacing-100, 8px);
}

.card__details-subtitle {
    color: var(--color-foreground-secondary, #707070);
    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--spacing-200, 16px);
    margin-top: var(--spacing-50, 4px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
