button.btn--small,
button.expand-btn--small,
a.fake-btn--small {
    font-size: 12px;
    padding: 0 32px;
}

button.btn--medium,
button.expand-btn--medium,
a.fake-btn--medium {
    font-size: 14px;
    padding: 0 48px;
}

button.btn--large,
button.expand-btn--large,
a.fake-btn--large {
    font-size: 16px;
    padding: 0 80px;
}

button.btn--extra-large,
button.expand-btn--extra-large,
a.fake-btn--extra-large {
    font-size: 18px;
    padding: 0 112px;
}

button.expand-btn--small {
    padding: 0 12px 0 16px;

    &.expand-btn--no-text {
        padding: 0 12px;
    }
}

button.expand-btn--large,
button.expand-btn--extra-large {
    padding: 0 16px;
}
