@import "../../variables/ds4/button-variables.less";
@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/button/ds4/button-mixins.less";
@import "../../mixins/icon/ds4/icon-mixins.less";
@import "../base/button.less";

button.btn,
a.fake-btn {
    padding: 11px 40px; // ds4 difference: horizontal padding
}

button.btn[disabled] {
    opacity: 0.5;
}

a.fake-btn:not([href]) {
    opacity: 0.5;
}

button.btn[aria-disabled="true"],
a.fake-btn[aria-disabled="true"] {
    opacity: 0.5;
}

button.btn--primary,
a.fake-btn--primary {
    svg.icon {
        color: @color-core-white;
        fill: @color-core-white;
    }

    &:hover,
    &:focus {
        border-color: @color-interface-cta;
        opacity: 0.8;
    }

    &:active {
        background-color: @color-core-blue-dark;
    }
}

button.btn--secondary,
a.fake-btn--secondary {
    svg.icon {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: @color-core-gray-dim;
    }

    &:active {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: fade(@color-core-gray-davys, 50%);
    }
}

button.btn--primary[disabled],
button.btn--primary[aria-disabled="true"] {
    svg.icon {
        color: @color-core-white;
    }

    &:hover,
    &:focus {
        background-color: @color-interface-cta;
        border-color: @color-interface-cta;
        opacity: 0.5;
    }
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    svg.icon {
        color: @color-core-white;
    }

    &:hover,
    &:focus {
        background-color: @color-interface-cta;
        border-color: @color-interface-cta;
        opacity: 0.5;
    }
}

button.btn--secondary[disabled],
button.btn--secondary[aria-disabled="true"] {
    background-color: @color-core-gray-silver;

    svg.icon {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: @color-core-gray-silver;
        border-color: @color-text-disabled;
    }
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    background-color: @color-core-gray-silver;

    svg.icon {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: @color-core-gray-silver;
        border-color: @color-text-disabled;
    }
}

button.btn--large,
a.fake-btn--large {
    font-size: @font-size-16;
    padding: 14px 48px;
}

button.btn--large-truncated,
a.fake-btn--large-truncated {
    font-size: @font-size-16;
    padding: 14px 48px;
}
