@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

.btn-expand-icon() {
    .icon-arrow-down(8px, 8px);
}

@btn-border-radius: 3px;
@btn-font-size: @ds4-font-size-14;
@btn-padding: 11px 48px;

@btn-cta-background-color: @ds4-color-core-white;
@btn-cta-color: @ds4-color-interface-cta;
@btn-cta-visited-color: @ds4-color-interface-cta;
@btn-cta-focus-hover-background-color: @ds4-color-interface-cta-dark;
@btn-cta-focus-hover-border-color: @ds4-color-interface-cta-dark;
@btn-cta-focus-hover-color: @ds4-color-core-white;

@button-regular-background-color: @ds4-color-core-white;
@button-regular-border-color: @ds4-color-core-gray-silver;
@button-regular-color: @ds4-color-interface-cta;

@button-regular-active-color: @ds4-color-core-gray-davys;
@button-regular-fake-visited-color: @ds4-color-interface-cta;

@button-regular-disabled-background-color: @ds4-color-core-gray-silver;
@button-regular-disabled-color: @ds4-color-core-gray-dim;

@button-regular-partially-disabled-background-color: @ds4-color-core-gray-silver;
@button-regular-partially-disabled-color: @ds4-color-core-gray-dim;

@button-primary-background-color: @ds4-color-interface-cta;
@button-primary-border-color: @ds4-color-interface-cta;
@button-primary-color: @ds4-color-core-white;

@button-primary-fake-visited-color: @ds4-color-core-white;

@button-primary-disabled-background-color: @ds4-color-interface-cta;
@button-primary-disabled-border-color: @ds4-color-interface-cta;
@button-primary-disabled-color: @ds4-color-core-white;

@button-primary-partially-disabled-background-color: @ds4-color-interface-cta;
@button-primary-partially-disabled-border-color: @ds4-color-interface-cta;
@button-primary-partially-disabled-color: @ds4-color-core-white;

@button-secondary-background-color: fade(@ds4-color-interface-view-background, 50%);
@button-secondary-border-color: @ds4-color-text-disabled;
@button-secondary-color: @ds4-color-core-gray-davys;

@button-secondary-fake-visited-color: @ds4-color-core-gray-davys;

@button-secondary-disabled-border-color: @ds4-color-text-disabled;
@button-secondary-disabled-color: @ds4-color-core-gray-davys;

@button-secondary-partially-disabled-border-color: @ds4-color-text-disabled;
@button-secondary-partially-disabled-color: @ds4-color-core-gray-davys;

@import "../base/button.less";

button.expand-btn {
    padding: 11px 16px;
}

button.btn,
button.expand-btn {
    &[disabled],
    &[aria-disabled="true"] {
        opacity: 0.5;
    }
}

a.fake-btn {
    &:not([href]),
    &[aria-disabled="true"] {
        opacity: 0.5;
    }
}

@import "button-regular.less";
@import "button-primary.less";
@import "button-secondary.less";
@import "button-sizes.less";

svg.expand-btn__icon,
svg.cta-btn__icon {
    height: 8px;
    width: 8px;
}

button.expand-btn--regular span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,@{ds4-icon-arrow-down-blue-base64}');
}

button.expand-btn--primary span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,@{ds4-icon-arrow-down-white-base64}');
}

button.expand-btn--secondary span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,@{ds4-icon-arrow-down-gray-davys-base64}');
}

button.btn.btn--pill,
button.expand-btn.expand-btn--pill,
a.cta-btn.cta-btn--pill,
a.fake-btn.fake-btn--pill {
    line-height: 1.3em;
}
