button.btn--secondary,
a.fake-btn--secondary {
    svg {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: @color-core-gray-dim;
    }

    &:active {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: fade(@color-core-gray-davys, 50%);
    }
}

button.btn--secondary[disabled],
button.btn--secondary[aria-disabled="true"] {
    background-color: @color-core-gray-silver;

    svg {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: @color-core-gray-silver;
        border-color: @color-text-disabled;
    }
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    background-color: @color-core-gray-silver;

    svg {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: @color-core-gray-silver;
        border-color: @color-text-disabled;
    }
}
