// BEM blocks

// button text should NOT scale with root font-size,
// so all font-sizes are defined with px

// base properties for all buttons
button.btn,
button.expand-btn,
a.fake-btn {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: @height-control-medium;
    margin: 0; // Remove the button margin in Firefox and Safari */
    text-align: center;
    vertical-align: middle; // align buttons and faux buttons on same line
}

button.btn,
button.expand-btn {
    line-height: 1.15;
}

button[disabled],
button[aria-disabled="true"] {
    &.btn,
    &.expand-btn {
        .opacity(0.5);
    }
}

a.fake-btn {
    box-sizing: border-box;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}

button.expand-btn[aria-expanded="true"] .expand-btn__icon {
    transform: rotate(180deg);
}

// default button (medium, regular)
button.btn,
button.expand-btn,
a.fake-btn {
    background-color: @color-core-white;
    border-color: @color-core-gray-silver;
    color: @color-interface-cta;
    padding: 0 48px;

    &:hover,
    &:focus {
        border-color: @color-core-gray-spanish;
    }

    &:active {
        border-color: @color-core-gray-davys;
    }
}

button.expand-btn {
    padding: 0 16px;
}

button.btn,
button.expand-btn {
    &[disabled],
    &[aria-disabled="true"] {
        background-color: @color-core-gray-silver;
        color: @color-core-gray-dim;

        svg {
            color: @color-core-gray-dim;
        }

        &:hover,
        &:focus {
            border-color: @color-core-gray-silver;
        }
    }
}

a.fake-btn {
    &:not([href]),
    &[aria-disabled="true"] {
        background-color: @color-core-gray-silver;
        color: @color-core-gray-dim;
        cursor: text;
        .opacity(0.5);

        svg {
            color: @color-core-gray-dim;
        }

        &:hover,
        &:focus {
            border-color: @color-core-gray-silver;
        }
    }
}

// BEM block modifiers

.btn--fluid,
.expand-btn--fluid,
.fake-btn--fluid {
    width: 100%;
}

button.btn--primary,
button.expand-btn--primary,
a.fake-btn--primary {
    background-color: @color-interface-cta;
    border-color: @color-interface-cta;
    color: @color-core-white;

    svg {
        color: @color-core-white;
        fill: @color-core-white;
    }

    &:hover,
    &:focus {
        border-color: @color-interface-cta;
        .opacity(0.7);
    }

    &:active {
        background-color: @color-core-blue-dark;
    }
}

a.fake-btn--primary:visited {
    color: @color-core-white;
}

button.btn--primary,
button.expand-btn--primary {
    &[disabled],
    &[aria-disabled="true"] {
        background-color: @color-interface-cta;
        border-color: @color-interface-cta;
        color: @color-core-white;

        svg {
            color: @color-core-white;
        }

        &:hover,
        &:focus {
            background-color: @color-interface-cta;
            border-color: @color-interface-cta;
            .opacity(0.5);
        }
    }
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    background-color: @color-interface-cta;
    border-color: @color-interface-cta;
    color: @color-core-white;

    svg {
        color: @color-core-white;
    }

    &:hover,
    &:focus {
        background-color: @color-interface-cta;
        border-color: @color-interface-cta;
        .opacity(0.5);
    }
}

button.btn--secondary,
button.expand-btn--secondary,
a.fake-btn--secondary {
    background-color: fade(@color-interface-view-background, 50%);
    border-color: @color-text-disabled;
    color: @color-core-gray-davys;

    svg {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: @color-core-gray-dim;
    }

    &:active {
        background-color: fade(@color-core-gray-gainsboro, 50%);
        border-color: fade(@color-core-gray-davys, 50%);
    }
}

a.fake-btn--secondary:visited {
    color: @color-core-gray-davys;
}

button.btn--secondary,
button.expand-btn--secondary {
    &[disabled],
    &[aria-disabled="true"] {
        background-color: fade(@color-interface-view-background, 50%);
        border-color: @color-text-disabled;
        color: @color-core-gray-davys;

        svg {
            color: @color-core-gray-davys;
        }

        &:hover,
        &:focus {
            background-color: fade(@color-interface-view-background, 50%);
            border-color: @color-text-disabled;
        }
    }
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    background-color: fade(@color-interface-view-background, 50%);
    border-color: @color-text-disabled;
    color: @color-core-gray-davys;

    svg {
        color: @color-core-gray-davys;
    }

    &:hover,
    &:focus {
        background-color: fade(@color-interface-view-background, 50%);
        border-color: @color-text-disabled;
    }
}

button.btn--medium,
button.expand-btn--medium,
a.fake-btn--medium {
    font-size: 14px;
    height: @height-control-medium;
    padding: 0 48px;
}

a.fake-btn--medium {
    line-height: @height-control-medium;
}

button.btn--small,
button.expand-btn--small,
a.fake-btn--small {
    font-size: 12px;
    height: @height-control-small;
    padding: 0 32px;
}

a.fake-btn--small {
    line-height: @height-control-small;
}

button.btn--large,
button.expand-btn--large,
a.fake-btn--large {
    font-size: 16px;
    height: @height-control-large;
    padding: 0 80px;
}

a.fake-btn--large {
    line-height: @height-control-large;
}

button.btn--extra-large,
button.expand-btn--extra-large,
a.fake-btn--extra-large {
    font-size: 18px;
    height: @height-control-extra-large;
    padding: 0 112px;
}

a.fake-btn--extra-large {
    line-height: @height-control-extra-large;
}

button.expand-btn--small,
button.expand-btn--large,
button.expand-btn--extra-large {
    padding: 0 16px;
}

// BEM elements

.btn__cell,
.expand-btn__cell,
.fake-btn__cell {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.expand-btn__cell {
    justify-content: space-between;
}

.btn__icon,
.fake-btn__icon,
.expand-btn__icon {
    align-self: center;
    line-height: normal;
}

svg.btn__icon,
svg.expand-btn__icon,
svg.fake-btn__icon {
    fill: currentColor;
    height: 8px;
    stroke: currentColor;
    stroke-width: 0;
    width: 8px;
}

svg.expand-btn__icon {
    height: 8px;
    width: 8px;
}

.btn__icon,
.expand-btn__icon,
.fake-btn__icon {
    &:first-child {
        margin-right: 8px;
    }

    &:last-child {
        margin-left: 8px;
    }
}

.expand-btn__icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M15.94%2025.294l-15.473-17.229h30.953l-7.742%208.616z%22%3E%3C/path%3E%3C/svg%3E');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8px;
    width: 8px;
}
