@import "../../tokens/@{ds}/tokens.less";
@import "../../mixins/utility/utility-mixins.less";

.signal {
    border: 1.5px solid;
    border-radius: @border-radius-100;
    box-sizing: border-box;
    display: inline-block;
    font-size: @font-size-small;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: @spacing-100 0;
    padding: 2px 12px 1px;
    text-align: center;
    text-transform: uppercase;
}

.signal--trustworthy {
    .color-token(signal-trustworthy-color, color-foreground-accent);
}

.signal--recent {
    .color-token(signal-recent-color, color-foreground-confirmation);
}

.signal--time-sensitive {
    .color-token(signal-time-sensitive-color, color-foreground-attention);
}

.signal--neutral {
    .color-token(signal-neutral-color, color-foreground-secondary);
}
