@import "../../mixins/utility/utility-mixins.less";

.signal {
    border: 1.5px solid;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    font-family: @font-family-market-sans;
    font-size: @font-size-small;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 8px 0;
    padding: 1px 12px;

    text-align: center;
    text-transform: uppercase;
}

.signal--trustworthy {
    .customColorProperty(signal-trustworthy-color);
    .customBorderColorProperty(signal-trustworthy-border-color);
}

.signal--recent {
    .customColorProperty(signal-recent-color);
    .customBorderColorProperty(signal-recent-border-color);
}

.signal--time-sensitive {
    .customColorProperty(signal-time-sensitive-color);
    .customBorderColorProperty(signal-time-sensitive-border-color);
}

.signal--neutral {
    .customColorProperty(signal-neutral-color);
    .customBorderColorProperty(signal-neutral-border-color);
}
