@import "../../mixins/utility/utility-mixins.less";

@signal-trustworthy-color: @color-b4;
@signal-neutral-color: @color-grey5;
@signal-time-sensitive-color: @color-r4;
@signal-recent-color: @color-g6;
@signal-border-radius: @border-radius-medium;

.signal {
    border: 1.5px solid;
    border-radius: @signal-border-radius;
    box-sizing: border-box;
    display: inline-block;
    font-size: @font-size-small;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 8px 0;
    padding: 2px 12px 1px;
    text-align: center;
    text-transform: uppercase;
}

.signal--trustworthy {
    .color(signal-trustworthy-color);
}

.signal--recent {
    .color(signal-recent-color);
}

.signal--time-sensitive {
    .color(signal-time-sensitive-color);
}

.signal--neutral {
    .color(signal-neutral-color);
}

@media (prefers-color-scheme: dark) {
    .signal--trustworthy {
        --signal-trustworthy-color: @color-b4-dark-mode;
    }

    .signal--neutral {
        --signal-neutral-color: @color-grey5-dark-mode;
    }

    .signal--time-sensitive {
        --signal-time-sensitive-color: @color-g6-dark-mode;
    }

    .signal--recent {
        --signal-recent-color: @color-r4-dark-mode;
    }
}
