@import "../../mixins/icon/base/icon-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

.radio {
    display: inline-flex;
    position: relative;
    vertical-align: text-bottom;
}

.radio__control[type="radio"] {
    height: @radio-dimensions;
    min-width: @radio-dimensions;
    width: @radio-dimensions;
}

.radio--large .radio__control[type="radio"] {
    height: @radio-large-dimensions;
    min-width: @radio-large-dimensions;
    width: @radio-large-dimensions;
}

span.radio__icon {
    display: inline-flex;
    height: @radio-dimensions;
    outline-offset: 1px;
}

.radio--large span.radio__icon {
    height: @radio-large-dimensions;
}

// progressive enhancement - override hidden SVG
span.radio__icon[hidden] {
    display: inline-flex;
}

svg.radio__checked {
    .customColorProperty("radio-checked-color");
}

svg.radio__unchecked {
    .customColorProperty("radio-unchecked-color");
}

input.radio__control[type="radio"] {
    font-size: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.radio svg {
    .foreground-icon-base-mixin();

    height: @radio-dimensions;
    width: @radio-dimensions;
}

.radio--large svg {
    height: @radio-large-dimensions;
    width: @radio-large-dimensions;
}

input.radio__control[type="radio"] + span.radio__icon svg.radio__checked {
    display: none;
}

input.radio__control[type="radio"] + span.radio__icon svg.radio__unchecked {
    display: inline-block;
}

input.radio__control[type="radio"]:checked + span.radio__icon svg.radio__checked {
    display: inline-block;
}

input.radio__control[type="radio"]:checked + span.radio__icon svg.radio__unchecked {
    display: none;
}

input.radio__control[type="radio"][disabled] + span.radio__icon {
    opacity: @radio-disabled-opacity;

    svg {
        fill: @radio-disabled-color;
    }
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
input.radio__control[type="radio"]:focus + span.radio__icon {
    outline: @radio-custom-outline;
    outline-offset: 2px;
}

input.radio__control[type="radio"]:focus:not(:focus-visible) + span.radio__icon {
    outline: none;
}
