.radio {
    display: inline-flex;
    font-size: @font-size-16;
    vertical-align: text-bottom;

    &__checked {
        color: @radio-checked-color;
    }
}

.radio__icon {
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;

    // progressive enhancement - over-ride hidden SVG
    &[hidden] {
        display: inline-flex;
    }

    &:not([hidden]) {
        .background-icon-base-mixin;
        .radio-icon-unchecked();
    }

    & svg {
        .foreground-icon-base-mixin;

        color: @radio-unchecked-color;
        height: 18px;
        width: 18px;
    }
}

.radio__control[type="radio"] {
    font-size: 100%;
    height: 18px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 18px;
    z-index: 1;

    &:not(:checked) {
        & + .radio__icon svg.radio__checked {
            color: @radio-checked-color;
            display: none;
        }

        & + .radio__icon svg.radio__unchecked {
            color: @radio-unchecked-color;
            display: inline-block;
        }
    }

    &:focus + .radio__icon {
        outline: 1px dotted #767676;
    }

    &[disabled] + .radio__icon {
        opacity: 0.5;
    }

    &:checked {
        & + .radio__icon:not([hidden]) {
            .background-icon-base-mixin;
            .radio-icon-checked();
        }

        & + .radio__icon svg.radio__checked {
            color: @radio-checked-color;
            display: inline-block;
        }

        & + .radio__icon svg.radio__unchecked {
            color: @radio-unchecked-color;
            display: none;
        }
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .radio__icon:not([hidden]) {
        .background-image-base64(@radio-unchecked-icon-base64-light);
    }

    .radio__control[type="radio"]:checked + .radio__icon:not([hidden]) {
        .background-image-base64(@radio-checked-icon-base64-light);
    }
}
