.radio {
    display: inline-flex;
    font-size: @font-size-16;
    vertical-align: text-bottom;
}

span.radio__icon {
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;
}

// progressive enhancement - override hidden SVG
span.radio__icon[hidden] {
    display: inline-flex;
}

svg.radio__checked,
svg.radio__unchecked {
    .foreground-icon-base-mixin();
}

svg.radio__checked {
    color: @radio-checked-color;
}

svg.radio__unchecked {
    color: @radio-unchecked-color;
}

input.radio__control[type="radio"] {
    font-size: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

input.radio__control[type="radio"] + span.radio__icon svg.radio__checked {
    display: none;
}

input.radio__control[type="radio"] + span.radio__icon svg.radio__unchecked {
    display: inline-block;
}

input.radio__control[type="radio"]:checked + span.radio__icon svg.radio__checked {
    display: inline-block;
}

input.radio__control[type="radio"]:checked + span.radio__icon svg.radio__unchecked {
    display: none;
}

input.radio__control[type="radio"]:focus + span.radio__icon {
    outline: 1px dotted @color-control-outline;
}

input.radio__control[type="radio"][disabled] + span.radio__icon {
    opacity: @radio-disabled-opacity;
}
