.eek {
    border: 0.5px solid #000;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    margin-right: 13px;
    padding-right: 5px;
    position: relative;
}

.eek--rating-1 {
    background: @eek-rating-color-1;
}

.eek--rating-2 {
    background: @eek-rating-color-2;
}

.eek--rating-3 {
    background: @eek-rating-color-3;
}

.eek--rating-4 {
    background: @eek-rating-color-4;
}

.eek--rating-5 {
    background: @eek-rating-color-5;
}

.eek--rating-6 {
    background: @eek-rating-color-6;
}

.eek--rating-7 {
    background: @eek-rating-color-7;
}

.eek__rating {
    display: inline-block;
}

.eek__rating-range {
    background-color: white;
    border-radius: 1px 0 0 1px;
    display: inline-block;
    margin: 1px;
}

.eek__arrow {
    background-color: inherit;
    border: inherit;
    border-radius: 2px;
    bottom: 0;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    display: block;
    height: 19px;
    position: absolute;
    right: 0;
    transform: rotate(-135deg) translate(-25%, 40%);
    width: 19px;
}
