@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

@breadcrumbs-item-color: @color-text-default;
@breadcrumbs-item-focus-hover-color: @color-link-default;
@breadcrumbs-item-current-color: @color-grey5;

@import "../base/breadcrumbs.less";
