@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

@breadcrumbs-item-color: @color-text-default;
@breadcrumbs-item-focus-hover-color: @color-link-default;
@breadcrumbs-item-current-color: @color-grey5;

// CSS Custom Properties for DS6 only

@media (prefers-color-scheme: dark) {
    .switch {
        --breadcrumbs-item-color: @color-text-default-dark-mode;
        // --breadcrumbs-item-current-color: TBD for dark mode
        --breadcrumbs-item-focus-hover-color: @color-link-default-dark-node;
    }
}

@import "../base/breadcrumbs.less";
