// DS6.v1.01

@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";
@import "../base/tab.less";

.tabs,
.fake-tabs {
    background-color: @ds6-color-white;
    border-bottom: 1px solid @ds6-color-white; // prevent margin-collapse on next element
}

// outer
div.tabs__item[role="tab"],
li.fake-tabs__item {
    -webkit-tap-highlight-color: @ds6-color-grey2;

    // hover outer
    &:hover {
        border-bottom: 2px solid @ds6-color-b4;
    }
}

// hover inner
div.tabs__item[role="tab"]:hover > span,
li.fake-tabs__item:hover > a {
    color: @ds6-color-b4;
}

// inner
div.tabs__item[role="tab"] > span,
li.fake-tabs__item > a {
    color: @ds6-color-text-default;
}

// selected outer
div.tabs__item[role="tab"][aria-selected="true"],
li.fake-tabs__item--current {
    border-bottom: 2px solid @ds6-color-b4;
}

// selected inner
div.tabs__item[role="tab"][aria-selected="true"] > span,
li.fake-tabs__item--current > a[aria-current="page"] {
    color: @ds6-color-b4;
    font-weight: bold;
}
