@import "../../mixins/button/ds4/button-mixins.less";
@import "../../mixins/icon/ds4/icon-mixins.less";
@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../base/success-message.less";

@success-message-background-color: @color-core-white;
@success-message-content-color: @color-core-green;
@success-message-button-color: @color-core-black;
@success-message-button-color-hover: @success-message-content-color;
@success-message-button-border-color: @color-core-black;
