.selection-list-item-base() {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-flex;
    font-family: inherit;
    justify-content: space-between;
    padding: 8px 15px;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 1px;
    }

    &:focus {
        outline-offset: -4px; // offset to accomodate hidden overflow
    }
}

.selection-list-item-status() {
    align-self: center;
    fill: currentColor;
    height: 10px;
    margin: 0 auto;
    opacity: 0;
    stroke: currentColor;
    stroke-width: 0;
    width: 14px;
}
