@import "../../mixins/utility/utility-mixins.less";

.signal {
    border: 1.5px solid;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: @font-family-market-sans;
    font-size: @font-size-small;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 8px 0;
    padding: 1px 12px;

    text-align: center;
    text-transform: uppercase;
}

span.signal {
    display: inline-block;
}

.signal--trustworthy {
    .customColorProperty(signals-trustworthy-color);
    .customBorderColorProperty(signals-trustworthy-border-color);
}

.signal--recent {
    .customColorProperty(signals-recent-color);
    .customBorderColorProperty(signals-recent-border-color);
}

.signal--time-sensitive {
    .customColorProperty(signals-time-sensitive-color);
    .customBorderColorProperty(signals-time-sensitive-border-color);
}

.signal--neutral {
    .customColorProperty(signals-neutral-color);
    .customBorderColorProperty(signals-neutral-border-color);
}
