@import "../../mixins/icon/base/icon-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

div.star-rating-select {
    cursor: pointer; // this ensures text selection cursor is not used between stars
    display: inline-block;
}

span.star-rating-select__radio {
    display: inline-flex;
    position: relative;
    vertical-align: text-top;
}

span.star-rating-select__radio svg {
    .icon-base-mixin();
}

span.star-rating-select__radio-icon {
    display: inline-flex;
    outline-offset: 1px;
}

span.star-rating-select__radio-icon svg {
    height: 12px;
    width: 12px;
}

span.star-rating-select__radio input.star-rating-select__control[type="radio"] {
    cursor: pointer;
    font-size: 100%;
    height: 12px;
    margin: 0;
    min-width: 12px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 12px;
    z-index: 1;
}

span.star-rating-select__radio
    input.star-rating-select__control[type="radio"]:focus
    + span.star-rating-select__radio-icon {
    outline: 1px auto;
    .outline-color-token(radio-outline, color-text-secondary);
    outline-offset: 2px;
}

span.star-rating-select__radio
    input.star-rating-select__control[type="radio"]:focus:not(:focus-visible)
    + span.star-rating-select__radio-icon {
    outline: none;
}

div.star-rating-select span.star-rating-select__radio-icon svg {
    --color-star-rating-full: var(
        --color-star-rating-unfilled,
        @color-star-rating-icon-unfilled-foreground
    );
}

div.star-rating-select
    input.star-rating-select__control[type="radio"]:checked
    + span.star-rating-select__radio-icon
    svg,
div.star-rating-select
    input.star-rating-select__control--filled
    + span.star-rating-select__radio-icon
    svg {
    --color-star-rating-full: var(
        --color-star-rating-filled,
        @color-star-rating-icon-filled-foreground
    );
}
