button.expand-btn {
    .btn-base();

    background-color: transparent;
    border: 1px solid;
    border-color: inherit;
    border-radius: @button-border-radius;
    color: inherit;
    display: inline-block;
    font-size: 1em;
    max-width: 100%;
    padding: @button-padding;
}

button.expand-btn svg.icon {
    .btn-icon-base();

    flex-shrink: 0;
}

button.expand-btn--fluid {
    width: 100%;
}

span.expand-btn__cell {
    .btn-cell-base();

    justify-content: space-between;
}

button.expand-btn--primary {
    background-color: @button-primary-background-color;
    border-color: @button-primary-border-color;
    color: @button-primary-color;
}

span.expand-btn__cell--fixed-height svg.icon {
    align-self: center;
    overflow: visible;
}

span.expand-btn__cell--center span {
    flex: 0 1 auto;
    left: 50%;
    padding: 0 20px;
    position: relative;
    transform: translateX(-50%);
}

span.expand-btn__cell--center svg.icon:last-child {
    flex: 0 1 auto;
    margin-left: auto;
}

button.expand-btn[disabled],
button.expand-btn[aria-disabled="true"] {
    border-color: @button-secondary-disabled-border-color;
    color: @button-secondary-disabled-color;
}

button.expand-btn--primary[disabled],
button.expand-btn--primary[aria-disabled="true"] {
    background-color: @button-primary-disabled-background-color;
    border-color: @button-primary-disabled-border-color;
    color: @button-primary-disabled-color;

    &:hover,
    &:focus {
        background-color: @button-primary-disabled-background-color;
        border-color: @button-primary-disabled-border-color;
    }
}

button.expand-btn--secondary {
    background-color: @button-secondary-background-color;
    border-color: @button-secondary-border-color;
    color: @button-secondary-color;
}

button.expand-btn--secondary[disabled],
button.expand-btn--secondary[aria-disabled="true"] {
    background-color: @button-secondary-disabled-background-color;
    border-color: @button-secondary-disabled-border-color;
    color: @button-secondary-disabled-color;

    &:hover,
    &:focus,
    &:active {
        background-color: @button-secondary-disabled-background-color;
        border-color: @expand-button-secondary-disabled-border-color;
    }
}

button.expand-btn svg.icon:only-child {
    display: flex;
    margin: 0;
}

button.expand-btn[aria-expanded="true"] svg.icon--dropdown {
    transform: rotate(180deg);
}

[dir="rtl"] button.expand-btn svg.icon {
    &:first-child {
        margin-left: 8px;
        margin-right: 0;
    }

    &:last-child {
        margin-left: 0;
        margin-right: 8px;
    }
}

[dir="rtl"] button.expand-btn span.expand-btn__cell--center {
    span {
        left: auto;
        right: 50%;
        transform: translateX(50%);
    }

    svg.icon:last-child {
        margin-left: 0;
        margin-right: auto;
    }
}

button.expand-btn--large {
    min-height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

button.expand-btn--large-fixed-height {
    height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

button.expand-btn--large-truncated {
    .btn-truncate();

    height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

// code smell (chained modifier)
button.expand-btn.expand-btn--no-text {
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

// code smell (chained modifier)
button.expand-btn--no-text.expand-btn--large {
    height: 48px;
}
