@import "../../mixins/utility/utility-mixins.less";

@expand-button-hover-foreground-color: @color-b6;
@expand-button-padding-vertical: 11px;
@expand-button-padding-horizontal: 16px;
@expand-button-wide-padding-horizontal: 48px;

button.expand-btn {
    .btn-base();

    background-color: transparent;
    border: 1px solid;
    border-color: inherit;
    .border-radius(expand-button-border-radius);
    color: inherit;
    display: inline-block;
    font-size: 1em;
    max-width: 100%;
    .padding(expand-button-padding-vertical, expand-button-padding-horizontal);

    &:hover,
    &:focus {
        .border-color(expand-button-hover-foreground-color);
        .color(expand-button-hover-foreground-color);
    }
}

button.expand-btn svg.icon {
    .btn-icon-base();

    flex-shrink: 0;
}

button.expand-button--wide {
    padding-left: @expand-button-wide-padding-horizontal;
    padding-right: @expand-button-wide-padding-horizontal;
}

button.expand-btn--fluid {
    width: 100%;
}

span.expand-btn__cell {
    .btn-cell-base();

    justify-content: space-between;
}

span.expand-btn__cell--fixed-height svg.icon {
    align-self: center;
    overflow: visible;
}

span.expand-btn__cell--center span {
    flex: 0 1 auto;
    left: 50%;
    padding: 0 20px;
    position: relative;
    transform: translateX(-50%);
}

span.expand-btn__cell--center svg.icon:last-child {
    flex: 0 1 auto;
    margin-left: auto;
}

button.expand-btn[disabled],
button.expand-btn[aria-disabled="true"] {
    border-color: @expand-button-disabled-border-color;
    color: @expand-button-disabled-foreground-color;
    opacity: @opacity-action-disabled;
}

button.expand-btn svg.icon:only-child {
    display: flex;
    margin: 0;
}

button.expand-btn[aria-expanded="true"] svg.icon--dropdown {
    transform: rotate(180deg);
}

[dir="rtl"] button.expand-btn svg.icon {
    &:first-child {
        margin-left: 8px;
        margin-right: 0;
    }

    &:last-child {
        margin-left: 0;
        margin-right: 8px;
    }
}

[dir="rtl"] button.expand-btn span.expand-btn__cell--center {
    span {
        left: auto;
        right: 50%;
        transform: translateX(50%);
    }

    svg.icon:last-child {
        margin-left: 0;
        margin-right: auto;
    }
}

button.expand-btn--large {
    min-height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

button.expand-btn--large-fixed-height {
    height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

button.expand-btn--large-truncated {
    .btn-truncate();

    height: 48px;
    padding-bottom: 12px;
    padding-top: 12px;
}

// code smell (chained modifier)
button.expand-btn.expand-btn--no-text,
button.expand-btn.expand-btn--icon-only {
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

// code smell (chained modifier)
button.expand-btn--no-text.expand-btn--large,
button.expand-btn--icon-only.expand-btn--large {
    height: 48px;
}

@media (prefers-color-scheme: dark) {
    button.expand-btn {
        --expand-button-hover-foreground-color: @color-b6-dark-mode;
    }
}
