@import "../../mixins/utility/utility-mixins.less";

.progress {
    .customColorProperty(progress-bar-color);

    border: none;
    height: 4px;
    margin: 8px 0;
    width: 363px;
}

.progress::-webkit-progress-bar {
    .customBackgroundColorProperty(progress-bar-background-color);

    border-radius: 8px;
}

.progress::-webkit-progress-value {
    .customBackgroundColorProperty(progress-bar-foreground-color);

    border-radius: 8px;
}

.progress::-moz-progress-bar {
    .customBackgroundColorProperty(progress-bar-foreground-color);

    border-radius: 8px;
}

@media (min-width: 601px) {
    .progress {
        margin: 16px 0;
    }
}
