progress[value] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    //for IE support
    color: #3665f3;
    height: 4px;
    width: 363px;
}

progress[value]::-webkit-progress-bar {
    background-color: #e5e5e5;
    border-radius: 8px;
}

progress[value]::-webkit-progress-value {
    background-color: #3665f3;
    border-radius: 8px;
}

progress[value]::-moz-progress-bar {
    background-color: #3665f3;
    border-radius: 8px;
}
