@import "../../less/ds6/variables.less";
@import "../../less/mixins-common.less";
@import "../../less/ds6/mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

.breadcrumb-icon-divider() {
    .background-icon-image-mixin('chevron-right', 6px, 8px);
}

@breadcrumb-item-color: @color-text-default;
@breadcrumb-item-focus-hover-color: @color-link-default;
@breadcrumb-item-current-color: @color-grey5;
@breadcrumb-icon-divider-base64-light: @icon-chevron-right-base64-light;

@import "../base/breadcrumb.less";
