.breadcrumb {
    margin: 16px 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;

        a {
            color: @ds6-color-text-default;
            font-size: @ds6-font-size-12;
            text-decoration: none;

            &:hover {
                color: @ds6-color-link-default;
            }
        }

        span[aria-current] {
            color: @ds6-color-g205-gray;
            cursor: text;
            font-size: @ds6-font-size-12;
        }

        &:not(:last-of-type) {
            &::after {
                .background-icon-base;
                .icon-chevron-right-light(8px,8px);

                content: '';
                margin: 0 5px 0 10px;
            }
        }
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .breadcrumb li:not(:last-of-type)::after {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-right-base64-high-contrast}');
    }
}
