@import "../../less/ds4/mixins.less";
@import "../../less/ds4/variables.less";

.icon {
    svg& {
        pointer-events: none;
        .foreground-icon-base;
    }

    span& {
        .background-icon-base;
    }
}

.icon-mixin(@icon-string, @icon-mixin) {
    svg& {
        height: ~"@{ds4-@{icon-string}-height}";
        width: ~"@{ds4-@{icon-string}-width}";
    }

    span& {
        @icon-mixin();
    }
}

.icon--alert {
    .icon-mixin('icon-alert', { .icon-alert() });
}

.icon--arrow-down {
    .icon-mixin('icon-arrow-down', { .icon-arrow-down() });
}

.icon--arrow-up {
    .icon-mixin('icon-arrow-up', { .icon-arrow-up() });
}

.icon--auction {
    .icon-mixin('icon-auction', { .icon-auction() });
}

.icon--autocomplete {
    .icon-mixin('icon-autocomplete', { .icon-autocomplete() });
}

.icon--best-offer {
    .icon-mixin('icon-best-offer', { .icon-best-offer() });
}

.icon--bold {
    .icon-mixin('icon-bold', { .icon-bold() });
}

.icon--box {
    .icon-mixin('icon-box', { .icon-box() });
}

.icon--bulleted-list {
    .icon-mixin('icon-bulleted-list', { .icon-bulleted-list() });
}

.icon--call {
    .icon-mixin('icon-call', { .icon-call() });
}

.icon--cart-null {
    .icon-mixin('icon-cart-null', { .icon-cart-null() });
}

.icon--caution-null {
    .icon-mixin('icon-caution-null', { .icon-caution-null() });
}

.icon--center-aligned {
    .icon-mixin('icon-center-aligned', { .icon-center-aligned() });
}

.icon--center-justified {
    .icon-mixin('icon-center-justified', { .icon-center-justified() });
}

.icon--chat {
    .icon-mixin('icon-chat', { .icon-chat() });
}

.icon--check {
    .icon-mixin('icon-check', { .icon-check() });
}

.icon--checkout-complete {
    .icon-mixin('icon-checkout-complete', { .icon-checkout-complete() });
}

.icon--chevron-down-disabled {
    .icon-mixin('icon-chevron-down-disabled', { .icon-chevron-down-disabled() });
}

.icon--chevron-left-disabled {
    .icon-mixin('icon-chevron-left-disabled', { .ds4-icon-chevron-left-disabled() });
}

.icon--chevron-light-left {
    .icon-mixin('icon-chevron-light-left', { .ds4-icon-chevron-light-left() });
}

.icon--chevron-light-left-disabled {
    .icon-mixin('icon-chevron-light-left-disabled', { .ds4-icon-chevron-light-left-disabled() });
}

.icon--chevron-light-right {
    .icon-mixin('icon-chevron-light-right', { .ds4-icon-chevron-light-right() });
}

.icon--chevron-light-right-disabled {
    .icon-mixin('icon-chevron-light-right-disabled', { .ds4-icon-chevron-light-right-disabled() });
}

.icon--chevron-right-disabled {
    .icon-mixin('icon-chevron-right-disabled', { .ds4-icon-chevron-right-disabled() });
}

.icon--chevron-up-disabled {
    .icon-mixin('icon-chevron-up-disabled', { .icon-chevron-up-disabled() });
}

.icon--classified-ad {
    .icon-mixin('icon-classified-ad', { .icon-classified-ad() });
}

.icon--clock {
    .icon-mixin('icon-clock', { .icon-clock() });
}

.icon--collections-null {
    .icon-mixin('icon-collections-null', { .icon-collections-null() });
}

.icon--comments {
    .icon-mixin('icon-comments', { .icon-comments() });
}

.icon--confirmation {
    .icon-mixin('icon-confirmation', { .icon-confirmation() });
}

.icon--feedback-negative {
    .icon-mixin('icon-feedback-negative', { .icon-feedback-negative() });
}

.icon--feedback-neutral {
    .icon-mixin('icon-feedback-neutral', { .icon-feedback-neutral() });
}

.icon--feedback-positive {
    .icon-mixin('icon-feedback-positive', { .icon-feedback-positive() });
}

.icon--fire {
    .icon-mixin('icon-fire', { .icon-fire() });
}

.icon--fixed-price {
    .icon-mixin('icon-fixed-price', { .icon-fixed-price() });
}

.icon--follow {
    .icon-mixin('icon-follow', { .icon-follow() });
}

.icon--glasses-null {
    .icon-mixin('icon-glasses-null', { .icon-glasses-null() });
}

.icon--information {
    .icon-mixin('icon-information', { .icon-information() });
}

.icon--italic {
    .icon-mixin('icon-italic', { .icon-italic() });
}

.icon--item-feedback {
    .icon-mixin('icon-item-feedback', { .icon-item-feedback() });
}

.icon--item-paid {
    .icon-mixin('icon-item-paid', { .icon-item-paid() });
}

.icon--item-shipped {
    .icon-mixin('icon-item-shipped', { .icon-item-shipped() });
}

.icon--justified {
    .icon-mixin('icon-justified', { .icon-justified() });
}

.icon--left-aligned {
    .icon-mixin('icon-left-aligned', { .icon-left-aligned() });
}

.icon--left-justified {
    .icon-mixin('icon-left-justified', { .icon-left-justified() });
}

.icon--link {
    .icon-mixin('icon-link', { .icon-link() });
}

.icon--magnify {
    .icon-mixin('icon-magnify', { .icon-magnify() });
}

.icon--mail {
    .icon-mixin('icon-mail', { .icon-mail() });
}

.icon--mail-open {
    .icon-mixin('icon-mail-open', { .icon-mail-open() });
}

.icon--minus {
    .icon-mixin('icon-minus', { .icon-minus() });
}

.icon--notifications {
    .icon-mixin('icon-notifications', { .icon-notifications() });
}

.icon--notifications-null {
    .icon-mixin('icon-notifications-null', { .icon-notifications-null() });
}

.icon--numbered-list {
    .icon-mixin('icon-numbered-list', { .icon-numbered-list() });
}

.icon--part-paid {
    .icon-mixin('icon-part-paid', { .icon-part-paid() });
}

.icon--pause {
    .icon-mixin('icon-pause', { .icon-pause() });
}

.icon--payment-refunded {
    .icon-mixin('icon-payment-refunded', { .icon-payment-refunded() });
}

.icon--pencil-null {
    .icon-mixin('icon-pencil-null', { .icon-pencil-null() });
}

.icon--pictures-null {
    .icon-mixin('icon-pictures-null', { .icon-pictures-null() });
}

.icon--play {
    .icon-mixin('icon-play', { .icon-play() });
}

.icon--priority {
    .icon-mixin('icon-priority', { .icon-priority() });
}

.icon--relisted {
    .icon-mixin('icon-relisted', { .icon-relisted() });
}

.icon--requested-total {
    .icon-mixin('icon-requested-total', { .icon-requested-total() });
}

.icon--right-aligned {
    .icon-mixin('icon-right-aligned', { .icon-right-aligned() });
}

.icon--right-justified {
    .icon-mixin('icon-right-justified', { .icon-right-justified() });
}

.icon--second-chance {
    .icon-mixin('icon-second-chance', { .icon-second-chance() });
}

.icon--sell {
    .icon-mixin('icon-sell', { .icon-sell() });
}

.icon--sell-null {
    .icon-mixin('icon-sell-null', { .icon-sell-null() });
}

.icon--seller-feedback {
    .icon-mixin('icon-seller-feedback', { .icon-seller-feedback() });
}

.icon--shopping-null {
    .icon-mixin('icon-shopping-null', { .icon-shopping-null() });
}

.icon--sort {
    .icon-mixin('icon-sort', { .icon-sort() });
}

.icon--star {
    .icon-mixin('icon-star', { .icon-star() });
}

.icon--strike-thru {
    .icon-mixin('icon-strike-thru', { .icon-strike-thru() });
}

.icon--success {
    .icon-mixin('icon-success', { .icon-success() });
}

.icon--tag {
    .icon-mixin('icon-tag', { .icon-tag() });
}

.icon--trash {
    .icon-mixin('icon-trash', { .icon-trash() });
}

.icon--underline {
    .icon-mixin('icon-underline', { .icon-underline() });
}

.icon--window {
    .icon-mixin('icon-window', { .icon-window() });
}

.icon--camera {
    .icon-mixin('icon-camera', { .icon-camera() });
}

.icon--cart {
    .icon-mixin('icon-cart', { .icon-cart() });
}

.icon--checkbox-checked {
    .icon-mixin('icon-checkbox-checked', { .ds4-icon-checkbox-checked() });
}

.icon--checkbox-unchecked {
    .icon-mixin('icon-checkbox-unchecked', { .ds4-icon-checkbox-unchecked() });
}

.icon--chevron-down {
    .icon-mixin('icon-chevron-down', { .icon-chevron-down() });
}

.icon--chevron-left {
    .icon-mixin('icon-chevron-left', { .ds4-icon-chevron-left() });
}

.icon--chevron-right {
    .icon-mixin('icon-chevron-right', { .ds4-icon-chevron-right() });
}

.icon--chevron-up {
    .icon-mixin('icon-chevron-up', { .icon-chevron-up() });
}

.icon--clear {
    .icon-mixin('icon-clear', { .icon-clear() });
}

.icon--close {
    .icon-mixin('icon-close', { .icon-close() });
}

.icon--help {
    .icon-mixin('icon-help', { .icon-help() });
}

.icon--menu {
    .icon-mixin('icon-menu', { .icon-menu() });
}

.icon--profile {
    .icon-mixin('icon-profile', { .icon-profile() });
}

.icon--radio-checked {
    .icon-mixin('icon-radio-checked', { .ds4-icon-radio-checked() });
}

.icon--radio-unchecked {
    .icon-mixin('icon-radio-unchecked', { .ds4-icon-radio-unchecked() });
}

.icon--save {
    .icon-mixin('icon-save', { .icon-save() });
}

.icon--search {
    .icon-mixin('icon-search', { .icon-search() });
}

.icon--settings {
    .icon-mixin('icon-settings', { .icon-settings() });
}

.icon--view-grid {
    .icon-mixin('icon-view-grid', { .icon-view-grid() });
}

.icon--view-list {
    .icon-mixin('icon-view-list', { .icon-view-list() });
}

.icon--view-detail {
    .icon-mixin('icon-view-detail', { .icon-view-detail() });
}
