@import "../../variables/ds4/color-variables.less";

:root {
    --color-background-default: @color-background-default;
    --color-text-default: @color-text-default;
    --color-text-secondary: @color-text-secondary;
    --color-link-default: @color-link-default;
}
