@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/layout-variables.less";

/* prettier-ignore */
:root {
    --color-background-default: @color-background-default;
    --color-text-default: @color-text-default;
    --color-text-secondary: @color-text-secondary;
    --color-link-default: @color-link-default;
    --color-link-visited: @color-link-visited;
    --page-grid-gutter-width-small: @page-grid-gutter-width-small;
    --page-grid-gutter-width-large: @page-grid-gutter-width-large;
    --page-grid-col-width-small: calc((100% / @page-grid-cols-small) - var(--page-grid-gutter-width-small) + 1px);
    --page-grid-col-width-large: calc((100% / @page-grid-cols-large) - var(--page-grid-gutter-width-large) + 1px);
}
