.page-notice {
    background-color: @ds6-color-white;
    border-style: solid;
    border-width: 4px;
    font-size: @ds6-font-size-14;
    margin: 8px 0;
}

.page-notice--confirmation {
    border-color: @ds6-color-g4;

    .page-notice__status {
        background-color: @ds6-color-g4;
    }
}

.page-notice--priority {
    border-color: @ds6-color-r4;

    .page-notice__status {
        background-color: @ds6-color-r4;
    }
}

.page-notice--information {
    border-color: @ds6-color-b4;

    .page-notice__status {
        background-color: @ds6-color-b4;
    }
}

.page-notice__status {
    align-items: center;
    color: @ds6-color-white;
    padding: 12px 16px 12px 12px;
}

.page-notice__content p {
    margin: 16px;
}

.page-notice__close {
    height: 48px;
    width: 50px;

    span {
        .icon-close(17px, 17px);
    }
}

span.page-notice__cta {
    .icon-arrow-right(16px, 16px);
}

span.page-notice__cta,
svg.page-notice__cta {
    align-self: center;
    margin: 0 16px;
}

.page-notice__status span {
    height: 28px;
    margin: 0;
    width: 28px;
}

.page-notice--confirmation .page-notice__status span {
    background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-confirmation-base64}');
}

.page-notice--priority .page-notice__status span {
    background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-priority-base64}');
}

.page-notice--information .page-notice__status span {
    background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-information-base64}');
}

@media screen and (-ms-high-contrast: white-on-black) {
    .page-notice__close span {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-close-base64-light}');
    }

    .page-notice--confirmation .page-notice__status span {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-confirmation-base64}');
    }

    .page-notice--priority .page-notice__status span {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-priority-base64}');
    }

    .page-notice--information .page-notice__status span {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-page-notice-information-base64}');
    }
}
