.flyout-notice--confirmation {
    a {
        color: @ds6-color-link-default;
    }
}

.flyout-notice--priority {
    color: @ds6-color-r4;

    a {
        color: @ds6-color-r4;
    }
}

.flyout-notice--information {
    a {
        color: @ds6-color-white;

        &:focus {
            outline: 1px dashed @ds6-color-white;
            outline-offset: 4px;
        }
    }

    .bubble__mask {
        background-color: @ds6-color-b4;
        color: @ds6-color-white;
    }

    .bubble__pointer {
        background-color: @ds6-color-b4;
    }

    button.bubble__close {
        color: @ds6-color-white;

        span {
            .background-icon-base;

            background-image: url('data:image/svg+xml;base64,@{ds6-icon-close-base64-light}');
        }

        &:focus {
            outline: 1px dashed @ds6-color-white;
            outline-offset: 4px;
        }
    }
}
