@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/bubble/ds6/bubble-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../base/notice.less";

// stylelint-disable no-descending-specificity
@page-notice-information-border-color: @color-b4;
@page-notice-information-background-color: #f1f8fe;
@page-notice-confirmation-border-color: @color-g4;
@page-notice-confirmation-background-color: #effef0;
@page-notice-attention-border-color: @color-r4;
@page-notice-attention-background-color: #fff5f8;
@page-notice-cta-button-color: @color-b4;
@page-notice-cta-border-color: @color-b4;

.page-notice {
    border-style: solid;
    border-width: 1px;
    flex-wrap: wrap;
    font-size: @font-size-14;
    margin: 8px 0;
}

.page-notice--confirmation {
    background-color: @page-notice-confirmation-background-color;
    border-color: @page-notice-confirmation-border-color;
}

.page-notice--attention {
    background-color: @page-notice-attention-background-color;
    border-color: @page-notice-attention-border-color;
}

.page-notice--information {
    background-color: @page-notice-information-background-color;
    border-color: @page-notice-information-border-color;
}

.page-notice__status {
    align-items: center;
    color: @color-white;
    padding: 12px 16px 12px 16px;
}

.page-notice__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px 16px 16px 0;
}

.page-notice__content p {
    margin: 0;
}

.page-notice__close {
    height: 48px;
    width: 50px;

    span {
        .background-icon-base-mixin;
        .background-icon-image-mixin('close', 17px, 17px);
    }
}

span.page-notice__cta {
    .background-icon-base-mixin;
    .background-icon-image-mixin('arrow-right', 16px, 16px);
}

svg.page-notice__cta {
    height: 16px;
    width: 16px;
}

a.page-notice__cta,
button.page-notice__cta {
    border-color: @page-notice-cta-button-color;
    color: @page-notice-cta-button-color;
    margin: 0 16px 16px;
    width: 100%;
}

span.page-notice__cta,
svg.page-notice__cta {
    align-self: center;
    margin: 0 16px;
}

.page-notice__status span {
    .background-icon-base-mixin;

    height: 24px;
    margin: 0;
    width: 24px;
}

.page-notice--confirmation .page-notice__status span {
    .background-image-base64(@icon-confirmation-filled-base64);
}

.page-notice--attention .page-notice__status span {
    .background-image-base64(@icon-attention-filled-base64);
}

.page-notice--information .page-notice__status span {
    .background-image-base64(@icon-information-filled-base64);
}

@media (min-width: 601px) {
    .page-notice {
        flex-wrap: nowrap;
    }

    a.page-notice__cta,
    button.page-notice__cta {
        margin: 16px;
        width: auto;
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .page-notice__close span {
        .background-image-base64(@icon-close-base64-light);
    }

    .page-notice--confirmation .page-notice__status span {
        .background-image-base64(@icon-confirmation-filled-base64);
    }

    .page-notice--attention .page-notice__status span {
        .background-image-base64(@icon-attention-filled-base64);
    }

    .page-notice--information .page-notice__status span {
        .background-image-base64(@icon-information-filled-base64);
    }
}

// todo: move inline notice to separate module OR fix stylelint no-descending-specificity violations

.inline-notice {
    margin: 8px 0;

    p {
        margin: 4px 0;

        &:first-of-type {
            font-weight: bold;
        }
    }
}

.inline-notice__status {
    align-items: center;
    display: flex;
}

.inline-notice__status span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    margin: 1px 8px 0 0;
    width: 24px;
}

.inline-notice--confirmation .inline-notice__status span {
    .background-image-base64(@icon-confirmation-filled-base64);
}

.inline-notice--attention .inline-notice__status span {
    .background-image-base64(@icon-attention-filled-base64);
}

.inline-notice--information .inline-notice__status span {
    .background-image-base64(@icon-information-filled-base64);
}

@media screen and (-ms-high-contrast: white-on-black) {
    .inline-notice--confirmation .inline-notice__status span {
        .background-image-base64(@icon-confirmation-filled-base64);
    }

    .inline-notice--attention .inline-notice__status span {
        .background-image-base64(@icon-attention-filled-base64);
    }

    .inline-notice--information .inline-notice__status span {
        .background-image-base64(@icon-information-filled-base64);
    }
}

// DEPRECATED in V7. SCHEDULED FOR REMOVAL.

.flyout-notice--confirmation {
    a {
        color: #0654ba;
    }
}

.flyout-notice--attention {
    color: @color-r4;

    a {
        color: @color-r4;
    }
}

.flyout-notice--information {
    background-color: @color-b4;
    color: @color-white;

    a {
        color: @color-white;

        &:focus {
            outline: 1px dashed @color-white;
            outline-offset: 4px;
        }
    }

    .flyout-notice__mask {
        background-color: @color-b4;
        color: @color-white;
    }

    .flyout-notice__pointer {
        background-color: @color-b4;
    }

    button.flyout-notice__close {
        color: @color-white;

        span {
            .background-image-base64(@icon-close-base64-light);
        }

        &:focus {
            outline: 1px dashed @color-white;
            outline-offset: 4px;
        }
    }
}
