.flyout-notice--confirmation {
    a {
        color: @ds6-color-link-default;
    }
}

.flyout-notice--priority {
    color: @ds6-color-r4;

    a {
        color: @ds6-color-r4;
    }
}

.flyout-notice--information {
    a {
        color: @ds6-color-white;
    }

    .flyout__mask {
        background-color: @ds6-color-b4;
        color: @ds6-color-white;
    }

    .flyout__pointer {
        background-color: @ds6-color-b4;
    }

    button.flyout-notice__close {
        color: @ds6-color-white;

        span {
            .background-icon-base;

            background-image: url('data:image/svg+xml;base64,@{ds6-icon-close-base64-light}');
        }
    }
}

button.flyout-notice__close {
    border: 0;
    color: @ds6-color-black;
    height: 32px;
    margin-top: -6px;
    padding: 0;
    white-space: nowrap;
    width: 32px;

    span {
        .background-icon-base;
        .icon-close(16px, 16px);
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
    }
}
