/* stylelint-disable no-descending-specificity */

.section-title {
    display: flex;
    margin: 30px 0 10px 16px;
}

.section-title__title {
    max-width: 75%;

    > h2 {
        margin: 0;
    }
}

.section-title__subtitle {
    color: @color-grey5;
}

.section-title__cta {
    margin: 0 16px;
    white-space: nowrap;

    > a {
        border-left: 2px solid @color-grey2;
        display: inline-block;
        padding-left: 16px;
    }
}

.section-title__cta--no-text {
    margin: 0;

    > a {
        border: 0;
        padding: 0;
    }

    > a > span:not(.section-title__cta-icon) {
        display: none;
    }
}

.section-title__cta > a,
.section-title__title > h2 > a {
    color: @color-black;
    text-decoration: none;

    &:hover {
        color: @color-black;
        text-decoration: underline;
    }

    &:visited {
        color: @color-black;
    }
}

.section-title__cta-icon {
    display: inline-block;
    margin-left: 8px;

    span& {
        .background-icon-image-mixin('arrow-right-bold', 14px, 14px);
    }

    svg& {
        height: 14px;
        width: 14px;
    }
}

.section-title__info {
    margin: 0 24px 0 8px;

    button.icon-btn.infotip__host {
        height: 28px;
        vertical-align: middle;
        width: 28px;
    }
}

.section-title__overflow {
    margin: 0 24px 0 auto;

    button.icon-btn {
        height: 28px;
        width: 28px;
    }
}

.section-title__cta,
.section-title__info,
.section-title__overflow {
    align-items: center;
    display: flex;
}

@media (max-width: 600px) {
    .section-title__title > h2 {
        .typography-medium-bold();
    }

    .section-title__subtitle {
        .typography-regular();
    }

    .section-title__cta {
        font-size: @font-size-medium;
        margin: 0;

        & > a {
            border: 0;
            padding: 0;
        }

        & > a > span:not(.section-title__cta-icon) {
            display: none;
        }
    }

    .section-title__cta,
    .section-title__info,
    .section-title__overflow {
        height: 24px;
    }

    .section-title__info button.icon-btn.infotip__host,
    .section-title__overflow button.icon-btn {
        height: 20px;
        width: 20px;
    }

    .section-title--giant {
        > .section-title__title > h2 {
            .typography-large-2-bold();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 32px;
        }
    }

    .section-title--large {
        > .section-title__title > h2 {
            .typography-large-1-bold();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 28px;
        }
    }

    .section-title--small {
        > .section-title__title > h2 {
            .typography-regular-bold();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 20px;
        }
    }
}

@media (min-width: 601px) {
    .section-title__title > h2 {
        .typography-large-1-bold();
    }

    .section-title__subtitle {
        .typography-medium();
    }

    .section-title__cta {
        font-size: @font-size-large-1;
    }

    .section-title__cta,
    .section-title__info,
    .section-title__overflow {
        height: 28px;
    }

    .section-title--giant {
        > .section-title__title > h2 {
            .typography-giant-1();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 40px;
        }
    }

    .section-title--large {
        > .section-title__title > h2 {
            .typography-large-2-bold();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 32px;
        }
    }

    .section-title--small {
        > .section-title__title > h2 {
            .typography-medium-bold();
        }

        > .section-title__cta,
        > .section-title__info,
        > .section-title__overflow {
            height: 24px;
        }
    }
}
