@import "../../../less/ds6/mixins.less";
@import "../../../less/ds6/variables.less";
@import "../../../variables/ds6/icon-variables.less";

.background-icon-mixin(@name) {
    background-image: url('data:image/svg+xml;base64,@{icon-@{name}-base64}');
    height: ~"@{icon-@{name}-height}"; // string resolves to a LESS variable
    width: ~"@{icon-@{name}-width}"; // string resolves to a LESS variable
}

// IMPORT COMMON ICONS
@import "../base/background.less";

// DS6 SPECIFIC ICONS
span {
    &.icon--arrow-left {
        .background-icon-mixin('arrow-left');
    }

    &.icon--arrow-right {
        .background-icon-mixin('arrow-right');
    }

    &.icon--arrow-right-bold {
        .background-icon-mixin('arrow-right-bold');
    }

    &.icon--arrow-move {
        .background-icon-mixin('arrow-move');
    }

    &.icon--bids {
        .background-icon-mixin('bids');
    }

    &.icon--categories {
        .background-icon-mixin('categories');
    }

    &.icon--chevron-up-bold {
        .background-icon-mixin('chevron-up-bold');
    }

    &.icon--chevron-down-bold {
        .background-icon-mixin('chevron-down-bold');
    }

    &.icon--deals {
        .background-icon-mixin('deals');
    }

    &.icon--delete {
        .background-icon-mixin('delete');
    }

    &.icon--event {
        .background-icon-mixin('event');
    }

    &.icon--fast-n-free {
        .background-icon-mixin('fast-n-free');
    }

    &.icon--flag {
        .background-icon-mixin('flag');
    }

    &.icon--following {
        .background-icon-mixin('following');
    }

    &.icon--home {
        .background-icon-mixin('home');
    }

    &.icon--mic {
        .background-icon-mixin('mic');
    }

    &.icon--overflow {
        .background-icon-mixin('overflow');
    }

    &.icon--photo-rotate {
        .background-icon-mixin('photo-rotate');
    }

    &.icon--photo-brightness {
        .background-icon-mixin('photo-brightness');
    }

    &.icon--photo-crop {
        .background-icon-mixin('photo-crop');
    }

    &.icon--photo-gallery {
        .background-icon-mixin('photo-gallery');
    }

    &.icon--photo-gallery-more {
        .background-icon-mixin('photo-gallery-more');
    }

    &.icon--photo-select-all {
        .background-icon-mixin('photo-select-all');
    }

    &.icon--photo-select-none {
        .background-icon-mixin('photo-select-none');
    }

    &.icon--purchases {
        .background-icon-mixin('purchases');
    }

    &.icon--red-laser {
        .background-icon-mixin('red-laser');
    }

    &.icon--refresh {
        .background-icon-mixin('refresh');
    }

    &.icon--save {
        .background-icon-mixin('save');
    }

    &.icon--save-bold {
        .background-icon-mixin('save-bold');
    }

    &.icon--save-selected {
        .background-icon-mixin('save-selected');
    }

    &.icon--search-bold {
        .background-icon-mixin('search-bold');
    }

    &.icon--send {
        .background-icon-mixin('send');
    }

    &.icon--sign-out {
        .background-icon-mixin('sign-out');
    }

    &.icon--star-empty {
        .background-icon-mixin('star-empty');
    }

    &.icon--star-filled {
        .background-icon-mixin('star-filled');
    }

    &.icon--star-half {
        .background-icon-mixin('star-half');
    }

    &.icon--star-undefined {
        .background-icon-mixin('star-undefined');
    }

    &.icon--thumbs-up {
        .background-icon-mixin('thumbs-up');
    }

    &.icon--thumbs-down {
        .background-icon-mixin('thumbs-down');
    }

    &.icon--thumbs-down-selected {
        .background-icon-mixin('thumbs-down-selected');
    }

    &.icon--thumbs-up-selected {
        .background-icon-mixin('thumbs-up-selected');
    }

    &.icon--top-seller {
        .background-icon-mixin('top-seller');
    }

    &.icon--user-profile {
        .background-icon-mixin('user-profile');
    }

    &.icon--watch {
        .background-icon-mixin('watch');
    }
}
