@import "../../mixins/utility/utility-mixins.less";

.confirm-dialog[role="dialog"] {
    .lightbox-dialog-base();
}

.confirm-dialog__window {
    .lightbox-dialog-window();

    margin-left: @spacing-small;
    margin-right: @spacing-small;
    padding: @spacing-small;
    text-align: center;
}

.confirm-dialog__title {
    .typography-large-1();

    font-weight: bold;
    margin: 0;
}

.confirm-dialog__main {
    margin: @spacing-small 0;
    min-height: @spacing-small;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

a.confirm-dialog__confirm,
button.confirm-dialog__confirm {
    margin-left: @spacing-extra-small;
}

.confirm-dialog--show,
.confirm-dialog--hide {
    &.confirm-dialog--mask-fade {
        transition: background-color 0.16s ease-out;
    }

    &.confirm-dialog--mask-fade-slow {
        transition: background-color 0.32s ease-out;
    }

    .confirm-dialog__window--fade {
        transition: opacity 0.16s ease-out;
    }
}

.confirm-dialog--hide,
.confirm-dialog--show-init {
    && {
        display: flex;
    }

    &.confirm-dialog--mask-fade,
    &.confirm-dialog--mask-fade-slow {
        background-color: fade(@dialog-mask-background-color, 0%);
    }

    .confirm-dialog__window--fade {
        opacity: 0;
    }
}

.confirm-dialog--show,
.confirm-dialog--hide-init {
    && {
        display: flex;
    }

    &.confirm-dialog--mask-fade,
    &.confirm-dialog--mask-fade-slow {
        background-color: fade(@dialog-mask-background-color, 70%);
    }

    .confirm-dialog__window--fade {
        opacity: 1;
    }
}

// In order to prevent the margins to meet the ege of the page at medium screen sizes
@media (min-width: calc(@screen-size-3 + 1px)) and (max-width: @screen-size-4) {
    .confirm-dialog__window {
        max-width: calc(88% - @spacing-large);
    }
}

@media (min-width: calc(@screen-size-4 + 1px)) {
    .confirm-dialog__window {
        max-width: @lightbox-dialog-max-width;
    }
}

@media (prefers-color-scheme: dark) {
    .confirm-dialog {
        --dialog-window-background-color: @color-grey1-dark-mode;
    }
}
