@import '../mixins-common.less';
@import "variables.less";

// DS6 type ramp alignment

.ds4-typography-giant-2() {
    font-size: @ds4-font-size-giant-2;
    font-weight: @ds4-font-weight-medium;
    line-height: 46px;
}

.ds4-typography-giant-1() {
    font-size: @ds4-font-size-giant-1;
    font-weight: @ds4-font-weight-medium;
    line-height: 40px;
}

.ds4-typography-large-2() {
    font-size: @ds4-font-size-large-2;
    line-height: 32px;
}

.ds4-typography-large-2-bold() {
    .ds4-typography-large-2;

    font-weight: @ds6-font-weight-bold;
}

.ds4-typography-large-2-secondary() {
    .ds4-typography-large-2;

    color: @ds4-color-core-black;
}

.ds4-typography-large-1() {
    font-size: @ds4-font-size-large-1;
    line-height: 28px;
}

.ds4-typography-large-1-bold() {
    .ds4-typography-large-1;

    font-weight: @ds4-font-weight-medium;
}

.ds4-typography-large-1-secondary() {
    .ds4-typography-large-1;

    color: @ds4-color-core-black;
}

.ds4-typography-medium() {
    font-size: @ds4-font-size-medium;
    line-height: 24px;
}

.ds4-typography-medium-bold() {
    .ds4-typography-medium;

    font-weight: @ds4-font-weight-medium;
}

.ds4-typography-medium-secondary() {
    .ds4-typography-medium;

    color: @ds4-color-core-black;
}

.ds4-typography-regular() {
    font-size: @ds4-font-size-regular;
    line-height: 20px;
}

.ds4-typography-regular-bold() {
    .ds4-typography-regular;

    font-weight: @ds4-font-weight-medium;
}

.ds4-typography-regular-secondary() {
    .ds4-typography-regular;

    color: @ds4-color-core-black;
}

.ds4-typography-small() {
    font-size: @ds4-font-size-small;
    line-height: 18px;
}

.ds4-typography-small-bold() {
    .ds4-typography-small;

    font-weight: @ds4-font-weight-medium;
}

.ds4-typography-small-secondary() {
    .ds4-typography-small;

    color: @ds4-color-core-gray-davys;
}

// Mobile Typography Hierarchy
// Officialy deprecated in v7 in favour of new type ramp above
//-----------------------------

.font-hierarchy-mobile-jumbo() {
    font-size: @ds4-font-size-mobile-jumbo;
    font-weight: @ds4-font-weight-thin;
}

.font-hierarchy-mobile-headline-1() {
    font-size: @ds4-font-size-mobile-headline-1;
    font-weight: @ds4-font-weight-thin;
}

.font-hierarchy-mobile-headline-2() {
    font-size: @ds4-font-size-mobile-headline-2;
    font-weight: @ds4-font-weight-light;
}

.font-hierarchy-mobile-title-1() {
    font-size: @ds4-font-size-mobile-title-1;
    font-weight: @ds4-font-weight-light;
}

.font-hierarchy-mobile-title-2() {
    font-size: @ds4-font-size-mobile-title-2;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-mobile-title-3() {
    font-size: @ds4-font-size-mobile-title-3;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-mobile-body-1() {
    font-size: @ds4-font-size-mobile-body-1;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-mobile-body-2() {
    font-size: @ds4-font-size-mobile-body-2;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-mobile-caption-1() {
    font-size: @ds4-font-size-mobile-caption-1;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-mobile-caption-2() {
    font-size: @ds4-font-size-mobile-caption-2;
    font-weight: @ds4-font-weight-regular;
}

// Desktop Typography Hierarchy
// Officially deprecated in v7 in favour of new type ramp above
//-----------------------------

.font-hierarchy-desktop-jumbo() {
    font-size: @ds4-font-size-desktop-jumbo;
    font-weight: @ds4-font-weight-thin;
}

.font-hierarchy-desktop-headline-1() {
    font-size: @ds4-font-size-desktop-headline-1;
    font-weight: @ds4-font-weight-thin;
}

.font-hierarchy-desktop-headline-2() {
    font-size: @ds4-font-size-desktop-headline-2;
    font-weight: @ds4-font-weight-light;
}

.font-hierarchy-desktop-title-1() {
    font-size: @ds4-font-size-desktop-title-1;
    font-weight: @ds4-font-weight-light;
}

.font-hierarchy-desktop-title-2() {
    font-size: @ds4-font-size-desktop-title-2;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-desktop-title-3() {
    font-size: @ds4-font-size-desktop-title-3;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-desktop-body-1() {
    font-size: @ds4-font-size-desktop-body-1;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-desktop-body-2() {
    font-size: @ds4-font-size-desktop-body-2;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-desktop-caption-1() {
    font-size: @ds4-font-size-desktop-caption-1;
    font-weight: @ds4-font-weight-regular;
}

.font-hierarchy-desktop-caption-2() {
    font-size: @ds4-font-size-desktop-caption-2;
    font-weight: @ds4-font-weight-regular;
}

// Utility
//-----------------------------

.clearfix() {
    &::before,
    &::after {
        content: " ";
        display: table;
        line-height: 0;
    }

    &::after {
        clear: both;
    }
}

.image-wrapper() {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.no-scroll() {
    overflow: hidden;
}

.responsive-image() {
    height: auto;
    max-width: 100%;
}

.fluid-image() {
    height: auto;
    width: 100%;
}

// Misc
//-----------------------------

.placeholder() {
    &::-webkit-input-placeholder {
        color: @ds4-color-core-gray-dim;
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: @ds4-color-core-gray-dim;
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        color: @ds4-color-core-gray-dim;
        font-weight: 200;
    }
}

.placeholder-disabled() {
    &::-webkit-input-placeholder {
        color: @ds4-color-core-gray-silver;
    }

    &::-moz-placeholder {
        color: @ds4-color-core-gray-silver;
    }

    &:-ms-input-placeholder {
        color: @ds4-color-core-gray-silver;
    }
}

.mixin-bounce-animation() {
    animation: bounce 0.35s;
    transform-origin: center;

    @keyframes bounce {
        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }
    }
}
