@import '../mixins-common.less';
@import "variables.less";

// Mobile Typography Hierarchy
//-----------------------------

.font-hierarchy-mobile-jumbo() {
    font-size: @font-size-mobile-jumbo;
    font-weight: @font-weight-thin;
}

.font-hierarchy-mobile-headline-1() {
    font-size: @font-size-mobile-headline-1;
    font-weight: @font-weight-thin;
}

.font-hierarchy-mobile-headline-2() {
    font-size: @font-size-mobile-headline-2;
    font-weight: @font-weight-light;
}

.font-hierarchy-mobile-title-1() {
    font-size: @font-size-mobile-title-1;
    font-weight: @font-weight-light;
}

.font-hierarchy-mobile-title-2() {
    font-size: @font-size-mobile-title-2;
    font-weight: @font-weight-regular;
}

.font-hierarchy-mobile-title-3() {
    font-size: @font-size-mobile-title-3;
    font-weight: @font-weight-regular;
}

.font-hierarchy-mobile-body-1() {
    font-size: @font-size-mobile-body-1;
    font-weight: @font-weight-regular;
}

.font-hierarchy-mobile-body-2() {
    font-size: @font-size-mobile-body-2;
    font-weight: @font-weight-regular;
}

.font-hierarchy-mobile-caption-1() {
    font-size: @font-size-mobile-caption-1;
    font-weight: @font-weight-regular;
}

.font-hierarchy-mobile-caption-2() {
    font-size: @font-size-mobile-caption-2;
    font-weight: @font-weight-regular;
}

// Desktop Typography Hierarchy
//-----------------------------

.font-hierarchy-desktop-jumbo() {
    font-size: @font-size-desktop-jumbo;
    font-weight: @font-weight-thin;
}

.font-hierarchy-desktop-headline-1() {
    font-size: @font-size-desktop-headline-1;
    font-weight: @font-weight-thin;
}

.font-hierarchy-desktop-headline-2() {
    font-size: @font-size-desktop-headline-2;
    font-weight: @font-weight-light;
}

.font-hierarchy-desktop-title-1() {
    font-size: @font-size-desktop-title-1;
    font-weight: @font-weight-light;
}

.font-hierarchy-desktop-title-2() {
    font-size: @font-size-desktop-title-2;
    font-weight: @font-weight-regular;
}

.font-hierarchy-desktop-title-3() {
    font-size: @font-size-desktop-title-3;
    font-weight: @font-weight-regular;
}

.font-hierarchy-desktop-body-1() {
    font-size: @font-size-desktop-body-1;
    font-weight: @font-weight-regular;
}

.font-hierarchy-desktop-body-2() {
    font-size: @font-size-desktop-body-2;
    font-weight: @font-weight-regular;
}

.font-hierarchy-desktop-caption-1() {
    font-size: @font-size-desktop-caption-1;
    font-weight: @font-weight-regular;
}

.font-hierarchy-desktop-caption-2() {
    font-size: @font-size-desktop-caption-2;
    font-weight: @font-weight-regular;
}

// Iconography
//-----------------------------

.dimensions(@width; @height) {
    height: @height;
    width: @width;
}

// base styles for BEM svg.icon block
.inline-icon-base(@width: 1rem; @height: 1rem) {
    display: inline-block;
    fill: currentColor;
    height: @height;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: middle;
    width: @width;
}

// base styles for BEM span.icon block
.background-icon-base() {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.background-icon-image(@width; @height; @base64) {
    background-image: url('data:image/svg+xml;base64,@{base64}');
    .dimensions(@width; @height);
}

// Iconography
//-----------------------------

.icon-alert(@width: @ds4-icon-alert-width; @height: @ds4-icon-alert-height) {
    .background-icon-image(@width; @height; @ds4-icon-alert-base64);
}

.icon-arrow-down(@width: @ds4-icon-arrow-down-width; @height: @ds4-icon-arrow-down-height) {
    .background-icon-image(@width; @height; @ds4-icon-arrow-down-base64);
}

.icon-arrow-up(@width: @ds4-icon-arrow-up-width; @height: @ds4-icon-arrow-up-height) {
    .background-icon-image(@width; @height; @ds4-icon-arrow-up-base64);
}

.icon-auction(@width: @ds4-icon-auction-width; @height: @ds4-icon-auction-height) {
    .background-icon-image(@width; @height; @ds4-icon-auction-base64);
}

.icon-autocomplete(@width: @ds4-icon-autocomplete-width; @height: @ds4-icon-autocomplete-height) {
    .background-icon-image(@width; @height; @ds4-icon-autocomplete-base64);
}

.icon-best-offer(@width: @ds4-icon-best-offer-width; @height: @ds4-icon-best-offer-height) {
    .background-icon-image(@width; @height; @ds4-icon-best-offer-base64);
}

.icon-bold(@width: @ds4-icon-bold-width; @height: @ds4-icon-bold-height) {
    .background-icon-image(@width; @height; @ds4-icon-bold-base64);
}

.icon-box(@width: @ds4-icon-box-width; @height: @ds4-icon-box-height) {
    .background-icon-image(@width; @height; @ds4-icon-box-base64);
}

.icon-bulleted-list(@width: @ds4-icon-bulleted-list-width; @height: @ds4-icon-bulleted-list-height) {
    .background-icon-image(@width; @height; @ds4-icon-bulleted-list-base64);
}

.icon-call(@width: @ds4-icon-call-width; @height: @ds4-icon-call-height) {
    .background-icon-image(@width; @height; @ds4-icon-call-base64);
}

.icon-cart-null(@width: @ds4-icon-cart-null-width; @height: @ds4-icon-cart-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-cart-null-base64);
}

.icon-caution-null(@width: @ds4-icon-caution-null-width; @height: @ds4-icon-caution-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-caution-null-base64);
}

.icon-center-aligned(@width: @ds4-icon-center-aligned-width; @height: @ds4-icon-center-aligned-height) {
    .background-icon-image(@width; @height; @ds4-icon-center-aligned-base64);
}

.icon-center-justified(@width: @ds4-icon-center-justified-width; @height: @ds4-icon-center-justified-height) {
    .background-icon-image(@width; @height; @ds4-icon-center-justified-base64);
}

.icon-chat(@width: @ds4-icon-chat-width; @height: @ds4-icon-chat-height) {
    .background-icon-image(@width; @height; @ds4-icon-chat-base64);
}

.icon-check(@width: @ds4-icon-check-width; @height: @ds4-icon-check-height) {
    .background-icon-image(@width; @height; @ds4-icon-check-base64);
}

.icon-checkout-complete(@width: @ds4-icon-checkout-complete-width; @height: @ds4-icon-checkout-complete-height) {
    .background-icon-image(@width; @height; @ds4-icon-checkout-complete-base64);
}

.icon-chevron-down-disabled(@width: @ds4-icon-chevron-down-disabled-width; @height: @ds4-icon-chevron-down-disabled-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-down-disabled-base64);
}

.icon-chevron-left-disabled(@width: @ds4-icon-chevron-left-disabled-width; @height: @ds4-icon-chevron-left-disabled-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-left-disabled-base64);
}

.icon-chevron-light-left(@width: @ds4-icon-chevron-light-left-width; @height: @ds4-icon-chevron-light-left-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-light-left-base64);
}

.icon-chevron-light-right(@width: @ds4-icon-chevron-light-right-width; @height: @ds4-icon-chevron-light-right-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-light-right-base64);
}

.icon-chevron-right-disabled(@width: @ds4-icon-chevron-right-disabled-width; @height: @ds4-icon-chevron-right-disabled-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-right-disabled-base64);
}

.icon-chevron-up-disabled(@width: @ds4-icon-chevron-up-disabled-width; @height: @ds4-icon-chevron-up-disabled-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-up-disabled-base64);
}

.icon-classified-ad(@width: @ds4-icon-classified-ad-width; @height: @ds4-icon-classified-ad-height) {
    .background-icon-image(@width; @height; @ds4-icon-classified-ad-base64);
}

.icon-clock(@width: @ds4-icon-clock-width; @height: @ds4-icon-clock-height) {
    .background-icon-image(@width; @height; @ds4-icon-clock-base64);
}

.icon-collections-null(@width: @ds4-icon-collections-null-width; @height: @ds4-icon-collections-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-collections-null-base64);
}

.icon-comments(@width: @ds4-icon-comments-width; @height: @ds4-icon-comments-height) {
    .background-icon-image(@width; @height; @ds4-icon-comments-base64);
}

.icon-confirmation(@width: @ds4-icon-confirmation-width; @height: @ds4-icon-confirmation-height) {
    .background-icon-image(@width; @height; @ds4-icon-confirmation-base64);
}

.icon-feedback-negative(@width: @ds4-icon-feedback-negative-width; @height: @ds4-icon-feedback-negative-height) {
    .background-icon-image(@width; @height; @ds4-icon-feedback-negative-base64);
}

.icon-feedback-neutral(@width: @ds4-icon-feedback-neutral-width; @height: @ds4-icon-feedback-neutral-height) {
    .background-icon-image(@width; @height; @ds4-icon-feedback-neutral-base64);
}

.icon-feedback-positive(@width: @ds4-icon-feedback-positive-width; @height: @ds4-icon-feedback-positive-height) {
    .background-icon-image(@width; @height; @ds4-icon-feedback-positive-base64);
}

.icon-fire(@width: @ds4-icon-fire-width; @height: @ds4-icon-fire-height) {
    .background-icon-image(@width; @height; @ds4-icon-fire-base64);
}

.icon-fixed-price(@width: @ds4-icon-fixed-price-width; @height: @ds4-icon-fixed-price-height) {
    .background-icon-image(@width; @height; @ds4-icon-fixed-price-base64);
}

.icon-follow(@width: @ds4-icon-follow-width; @height: @ds4-icon-follow-height) {
    .background-icon-image(@width; @height; @ds4-icon-follow-base64);
}

.icon-glasses-null(@width: @ds4-icon-glasses-null-width; @height: @ds4-icon-glasses-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-glasses-null-base64);
}

.icon-information(@width: @ds4-icon-information-width; @height: @ds4-icon-information-height) {
    .background-icon-image(@width; @height; @ds4-icon-information-base64);
}

.icon-italic(@width: @ds4-icon-italic-width; @height: @ds4-icon-italic-height) {
    .background-icon-image(@width; @height; @ds4-icon-italic-base64);
}

.icon-item-feedback(@width: @ds4-icon-item-feedback-width; @height: @ds4-icon-item-feedback-height) {
    .background-icon-image(@width; @height; @ds4-icon-item-feedback-base64);
}

.icon-item-paid(@width: @ds4-icon-item-paid-width; @height: @ds4-icon-item-paid-height) {
    .background-icon-image(@width; @height; @ds4-icon-item-paid-base64);
}

.icon-item-shipped(@width: @ds4-icon-item-shipped-width; @height: @ds4-icon-item-shipped-height) {
    .background-icon-image(@width; @height; @ds4-icon-item-shipped-base64);
}

.icon-justified(@width: @ds4-icon-justified-width; @height: @ds4-icon-justified-height) {
    .background-icon-image(@width; @height; @ds4-icon-justified-base64);
}

.icon-left-aligned(@width: @ds4-icon-left-aligned-width; @height: @ds4-icon-left-aligned-height) {
    .background-icon-image(@width; @height; @ds4-icon-left-aligned-base64);
}

.icon-left-justified(@width: @ds4-icon-left-justified-width; @height: @ds4-icon-left-justified-height) {
    .background-icon-image(@width; @height; @ds4-icon-left-justified-base64);
}

.icon-link(@width: @ds4-icon-link-width; @height: @ds4-icon-link-height) {
    .background-icon-image(@width; @height; @ds4-icon-link-base64);
}

.icon-magnify(@width: @ds4-icon-magnify-width; @height: @ds4-icon-magnify-height) {
    .background-icon-image(@width; @height; @ds4-icon-magnify-base64);
}

.icon-mail(@width: @ds4-icon-mail-width; @height: @ds4-icon-mail-height) {
    .background-icon-image(@width; @height; @ds4-icon-mail-base64);
}

.icon-mail-open(@width: @ds4-icon-mail-open-width; @height: @ds4-icon-mail-open-height) {
    .background-icon-image(@width; @height; @ds4-icon-mail-open-base64);
}

.icon-minus(@width: @ds4-icon-minus-width; @height: @ds4-icon-minus-height) {
    .background-icon-image(@width; @height; @ds4-icon-minus-base64);
}

.icon-notifications(@width: @ds4-icon-notifications-width; @height: @ds4-icon-notifications-height) {
    .background-icon-image(@width; @height; @ds4-icon-notifications-base64);
}

.icon-notifications-null(@width: @ds4-icon-notifications-null-width; @height: @ds4-icon-notifications-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-notifications-null-base64);
}

.icon-numbered-list(@width: @ds4-icon-numbered-list-width; @height: @ds4-icon-numbered-list-height) {
    .background-icon-image(@width; @height; @ds4-icon-numbered-list-base64);
}

.icon-part-paid(@width: @ds4-icon-part-paid-width; @height: @ds4-icon-part-paid-height) {
    .background-icon-image(@width; @height; @ds4-icon-part-paid-base64);
}

.icon-payment-refunded(@width: @ds4-icon-payment-refunded-width; @height: @ds4-icon-payment-refunded-height) {
    .background-icon-image(@width; @height; @ds4-icon-payment-refunded-base64);
}

.icon-pencil-null(@width: @ds4-icon-pencil-null-width; @height: @ds4-icon-pencil-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-pencil-null-base64);
}

.icon-pictures-null(@width: @ds4-icon-pictures-null-width; @height: @ds4-icon-pictures-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-pictures-null-base64);
}

.icon-priority(@width: @ds4-icon-priority-width; @height: @ds4-icon-priority-height) {
    .background-icon-image(@width; @height; @ds4-icon-priority-base64);
}

.icon-relisted(@width: @ds4-icon-relisted-width; @height: @ds4-icon-relisted-height) {
    .background-icon-image(@width; @height; @ds4-icon-relisted-base64);
}

.icon-requested-total(@width: @ds4-icon-requested-total-width; @height: @ds4-icon-requested-total-height) {
    .background-icon-image(@width; @height; @ds4-icon-requested-total-base64);
}

.icon-right-aligned(@width: @ds4-icon-right-aligned-width; @height: @ds4-icon-right-aligned-height) {
    .background-icon-image(@width; @height; @ds4-icon-right-aligned-base64);
}

.icon-right-justified(@width: @ds4-icon-right-justified-width; @height: @ds4-icon-right-justified-height) {
    .background-icon-image(@width; @height; @ds4-icon-right-justified-base64);
}

.icon-second-chance(@width: @ds4-icon-second-chance-width; @height: @ds4-icon-second-chance-height) {
    .background-icon-image(@width; @height; @ds4-icon-second-chance-base64);
}

.icon-sell(@width: @ds4-icon-sell-width; @height: @ds4-icon-sell-height) {
    .background-icon-image(@width; @height; @ds4-icon-sell-base64);
}

.icon-sell-null(@width: @ds4-icon-sell-null-width; @height: @ds4-icon-sell-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-sell-null-base64);
}

.icon-seller-feedback(@width: @ds4-icon-seller-feedback-width; @height: @ds4-icon-seller-feedback-height) {
    .background-icon-image(@width; @height; @ds4-icon-seller-feedback-base64);
}

.icon-shopping-null(@width: @ds4-icon-shopping-null-width; @height: @ds4-icon-shopping-null-height) {
    .background-icon-image(@width; @height; @ds4-icon-shopping-null-base64);
}

.icon-sort(@width: @ds4-icon-sort-width; @height: @ds4-icon-sort-height) {
    .background-icon-image(@width; @height; @ds4-icon-sort-base64);
}

.icon-star(@width: @ds4-icon-star-width; @height: @ds4-icon-star-height) {
    .background-icon-image(@width; @height; @ds4-icon-star-base64);
}

.icon-strike-thru(@width: @ds4-icon-strike-thru-width; @height: @ds4-icon-strike-thru-height) {
    .background-icon-image(@width; @height; @ds4-icon-strike-thru-base64);
}

.icon-success(@width: @ds4-icon-success-width; @height: @ds4-icon-success-height) {
    .background-icon-image(@width; @height; @ds4-icon-success-base64);
}

.icon-tag(@width: @ds4-icon-tag-width; @height: @ds4-icon-tag-height) {
    .background-icon-image(@width; @height; @ds4-icon-tag-base64);
}

.icon-trash(@width: @ds4-icon-trash-width; @height: @ds4-icon-trash-height) {
    .background-icon-image(@width; @height; @ds4-icon-trash-base64);
}

.icon-underline(@width: @ds4-icon-underline-width; @height: @ds4-icon-underline-height) {
    .background-icon-image(@width; @height; @ds4-icon-underline-base64);
}

.icon-window(@width: @ds4-icon-window-width; @height: @ds4-icon-window-height) {
    .background-icon-image(@width; @height; @ds4-icon-window-base64);
}

.icon-camera(@width: @ds4-icon-camera-width; @height: @ds4-icon-camera-height) {
    .background-icon-image(@width; @height; @ds4-icon-camera-base64);
}

.icon-cart(@width: @ds4-icon-cart-width; @height: @ds4-icon-cart-height) {
    .background-icon-image(@width; @height; @ds4-icon-cart-base64);
}

.ds4-icon-checkbox-checked(@width: @ds4-icon-checkbox-checked-width; @height: @ds4-icon-checkbox-checked-height) {
    .background-icon-image(@width; @height; @ds4-icon-checkbox-checked-base64);
}

.ds4-icon-checkbox-unchecked(@width: @ds4-icon-checkbox-unchecked-width; @height: @ds4-icon-checkbox-unchecked-height) {
    .background-icon-image(@width; @height; @ds4-icon-checkbox-unchecked-base64);
}

.icon-chevron-down(@width: @ds4-icon-chevron-down-width; @height: @ds4-icon-chevron-down-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-down-base64);
}

.icon-chevron-left(@width: @ds4-icon-chevron-left-width; @height: @ds4-icon-chevron-left-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-left-base64);
}

.icon-chevron-right(@width: @ds4-icon-chevron-right-width; @height: @ds4-icon-chevron-right-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-right-base64);
}

.icon-chevron-up(@width: @ds4-icon-chevron-up-width; @height: @ds4-icon-chevron-up-height) {
    .background-icon-image(@width; @height; @ds4-icon-chevron-up-base64);
}

.icon-clear(@width: @ds4-icon-clear-width; @height: @ds4-icon-clear-height) {
    .background-icon-image(@width; @height; @ds4-icon-clear-base64);
}

.icon-close(@width: @ds4-icon-close-width; @height: @ds4-icon-close-height) {
    .background-icon-image(@width; @height; @ds4-icon-close-base64);
}

.icon-help(@width: @ds4-icon-help-width; @height: @ds4-icon-help-height) {
    .background-icon-image(@width; @height; @ds4-icon-help-base64);
}

.icon-menu(@width: @ds4-icon-menu-width; @height: @ds4-icon-menu-height) {
    .background-icon-image(@width; @height; @ds4-icon-menu-base64);
}

.icon-profile(@width: @ds4-icon-profile-width; @height: @ds4-icon-profile-height) {
    .background-icon-image(@width; @height; @ds4-icon-profile-base64);
}

.ds4-icon-radio-checked(@width: @ds4-icon-radio-checked-width; @height: @ds4-icon-radio-checked-height) {
    .background-icon-image(@width; @height; @ds4-icon-radio-checked-base64);
}

.ds4-icon-radio-unchecked(@width: @ds4-icon-radio-unchecked-width; @height: @ds4-icon-radio-unchecked-height) {
    .background-icon-image(@width; @height; @ds4-icon-radio-unchecked-base64);
}

.icon-save(@width: @ds4-icon-save-width; @height: @ds4-icon-save-height) {
    .background-icon-image(@width; @height; @ds4-icon-save-base64);
}

.icon-search(@width: @ds4-icon-search-width; @height: @ds4-icon-search-height) {
    .background-icon-image(@width; @height; @ds4-icon-search-base64);
}

.icon-settings(@width: @ds4-icon-settings-width; @height: @ds4-icon-settings-height) {
    .background-icon-image(@width; @height; @ds4-icon-settings-base64);
}

.icon-view-grid(@width: @ds4-icon-view-grid-width; @height: @ds4-icon-view-grid-height) {
    .background-icon-image(@width; @height; @ds4-icon-view-grid-base64);
}

.icon-view-list(@width: @ds4-icon-view-list-width; @height: @ds4-icon-view-list-height) {
    .background-icon-image(@width; @height; @ds4-icon-view-list-base64);
}

.icon-view-detail(@width: @ds4-icon-view-detail-width; @height: @ds4-icon-view-detail-height) {
    .background-icon-image(@width; @height; @ds4-icon-view-detail-base64);
}

// Utility
//-----------------------------

.clearfix() {
    &::before,
    &::after {
        content: " ";
        display: table;
        line-height: 0;
    }

    &::after {
        clear: both;
    }
}

.image-wrapper() {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.no-scroll() {
    overflow: hidden;
}

.responsive-image() {
    height: auto;
    max-width: 100%;
}

.fluid-image() {
    height: auto;
    width: 100%;
}

// Misc
//-----------------------------

.opacity(@opacity: 0.5) {
    @opperc: @opacity * 100;

    filter: ~"alpha(opacity=@{opperc})";
    opacity: @opacity;
}

.placeholder() {
    &::-webkit-input-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }
}

.placeholder-disabled() {
    &::-webkit-input-placeholder {
        color: @color-core-gray-silver;
    }

    &::-moz-placeholder {
        color: @color-core-gray-silver;
    }

    &:-ms-input-placeholder {
        color: @color-core-gray-silver;
    }
}

.mixin-bounce-animation() {
    animation: bounce 0.35s;
    transform-origin: center;

    @keyframes bounce {
        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }
    }
}

// SVG
// the following 3 mixins are deprecated in favour of the newer mixins introduced in DS6
//-----------------------------

.svg-icon-base() {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.svg-icon-size() {
    height: 1em;
    width: 1em;
}

.svg-icon-default() {
    .svg-icon-base;
    .svg-icon-size;
}
