@import "../variables-common.less";

// Typography
//----------------------------

@ds4-font-family-osx: "Helvetica Neue", Helvetica;
@ds4-font-family-windows: Arial;
@ds4-font-family-android: Roboto;
@ds4-font-family-sans-serif: @ds4-font-family-osx, @ds4-font-family-windows, @ds4-font-family-android, sans-serif;
@ds4-font-family-base: @ds4-font-family-sans-serif;
@ds4-font-family-market-sans: @marketsans-fontname, @ds4-font-family-sans-serif;

// Borders
//------------------------------------

@ds4-border-grey: 1px solid @ds4-color-core-gray-light;
@ds4-border-invisible: 1px solid transparent;

// Font-sizes (1rem = 16px)
//----------------------

@ds4-font-size-12: 0.75rem;
@ds4-font-size-13: 0.8125rem;
@ds4-font-size-14: 0.875rem;
@ds4-font-size-15: 0.9375rem;
@ds4-font-size-16: 1rem;        // size currently forbidden in DSL
@ds4-font-size-17: 1.062rem;
@ds4-font-size-18: 1.125rem;    // size currently forbidden in DSL
@ds4-font-size-20: 1.25rem;
@ds4-font-size-24: 1.5rem;
@ds4-font-size-28: 1.75rem;
@ds4-font-size-30: 1.875rem;
@ds4-font-size-36: 2.25rem;
@ds4-font-size-44: 2.75rem;
@ds4-font-size-50: 3.125rem;
@ds4-font-size-56: 3.5rem;

// DS6 type ramp alignment

@ds4-font-size-giant-2: @ds4-font-size-36;
@ds4-font-size-giant-1: @ds4-font-size-30;
@ds4-font-size-large-2: @ds4-font-size-24;
@ds4-font-size-large-1: @ds4-font-size-20;
@ds4-font-size-medium: @ds4-font-size-16;
@ds4-font-size-regular: @ds4-font-size-14;
@ds4-font-size-small: @ds4-font-size-12;

// Hierarchy Variables
// Officially deprecated in v7 in favour of new type ramp above

@ds4-font-size-mobile-jumbo: @ds4-font-size-56;
@ds4-font-size-mobile-headline-1: @ds4-font-size-44;
@ds4-font-size-mobile-headline-2: @ds4-font-size-30;
@ds4-font-size-mobile-title-1: @ds4-font-size-24;
@ds4-font-size-mobile-title-2: @ds4-font-size-20;
@ds4-font-size-mobile-title-3: @ds4-font-size-17;
@ds4-font-size-mobile-body-1: @ds4-font-size-15;
@ds4-font-size-mobile-body-2: @ds4-font-size-14;
@ds4-font-size-mobile-caption-1: @ds4-font-size-13;
@ds4-font-size-mobile-caption-2: @ds4-font-size-12;

@ds4-font-size-desktop-jumbo: @ds4-font-size-56;
@ds4-font-size-desktop-headline-1: @ds4-font-size-50;
@ds4-font-size-desktop-headline-2: @ds4-font-size-36;
@ds4-font-size-desktop-title-1: @ds4-font-size-28;
@ds4-font-size-desktop-title-2: @ds4-font-size-24;
@ds4-font-size-desktop-title-3: @ds4-font-size-20;
@ds4-font-size-desktop-body-1: @ds4-font-size-17;
@ds4-font-size-desktop-body-2: @ds4-font-size-15;
@ds4-font-size-desktop-caption-1: @ds4-font-size-14;
@ds4-font-size-desktop-caption-2: @ds4-font-size-13;

// Font-weights
//-------------------------

@ds4-font-weight-thin: 100;
@ds4-font-weight-light: 200;
@ds4-font-weight-regular: 400;
@ds4-font-weight-medium: 500;

// Core Colours
//-----------------------------

@ds4-color-core-black: #000;
@ds4-color-core-gray-jet: #333;
@ds4-color-core-gray-davys: #555;
@ds4-color-core-gray-dim: #767676;
@ds4-color-core-gray-spanish: #999;
@ds4-color-core-gray-silver: #ccc;
@ds4-color-core-gray-gainsboro: #ddd;
@ds4-color-core-gray-light: #eee;
@ds4-color-core-white: #fff;

@ds4-color-core-orange: #f18e0c;
@ds4-color-core-red: #dd1e31;
@ds4-color-core-purple: #6a29b9;
@ds4-color-core-blue-dark: #00489f;
@ds4-color-core-blue: #0654ba;
@ds4-color-core-violet: #b1a9dc;
@ds4-color-core-green: #5ba71b;

@ds4-color-core-beige: #f0eeec;
@ds4-color-core-beige-light: #f5f5f5;

// Transparent Shades
//-----------------------------

@ds4-color-transparent-black: fade(#000, 100%);
@ds4-color-transparent-gray-dim: fade(#000, 50%);
@ds4-color-transparent-gray-spanish: fade(@ds4-color-core-gray-spanish, 90%);
@ds4-color-transparent-gray-silver: fade(#000, 30%);
@ds4-color-transparent-gray-gainsboro: fade(#000, 15%);
@ds4-color-transparent-white: fade(@ds4-color-core-white, 90%);

// Text Colours
//-----------------------------

@ds4-color-text-default: @ds4-color-core-gray-jet;
@ds4-color-text-subheader: @ds4-color-core-gray-dim;
@ds4-color-text-footnote: @ds4-color-core-gray-spanish;
@ds4-color-text-disabled: @ds4-color-core-gray-spanish;
@ds4-color-text-critical: @ds4-color-core-red;
@ds4-color-text-positive: #447d14;

// Interface Colours
//-----------------------------

@ds4-color-interface-hot: @ds4-color-core-red;
@ds4-color-interface-cta-dark: @ds4-color-core-blue-dark;
@ds4-color-interface-cta: @ds4-color-core-blue;
@ds4-color-interface-cta-light: #81a9dc;
@ds4-color-interface-positive: @ds4-color-core-green;

@ds4-color-interface-line-separator: @ds4-color-core-gray-gainsboro;
@ds4-color-interface-view-background: @ds4-color-core-beige;
@ds4-color-interface-base: @ds4-color-core-beige;
@ds4-color-interface-base-light: @ds4-color-core-beige-light;
@ds4-color-interface-card-visited: @ds4-color-core-beige-light;
@ds4-color-interface-card-background: @ds4-color-core-white;

@ds4-color-interface-modal-shadow: @ds4-color-transparent-gray-silver;
@ds4-color-interface-menu-shadow: @ds4-color-transparent-gray-gainsboro;
@ds4-color-interface-card-selection: @ds4-color-core-gray-gainsboro;
@ds4-color-interface-card-highlight: @ds4-color-core-beige-light;
@ds4-color-interface-inline-text-edit: #fdfbe8;

// Infographic Colours
//-----------------------------

@ds4-color-infographic-red-interaction: #ad1f3a;
@ds4-color-infographic-red: @ds4-color-core-red;
@ds4-color-infographic-red-light: fade(@ds4-color-infographic-red, 60%);
@ds4-color-infographic-red-lightest: fade(@ds4-color-infographic-red, 20%);

@ds4-color-infographic-green-interaction: #457016;
@ds4-color-infographic-green: @ds4-color-core-green;
@ds4-color-infographic-green-light: fade(@ds4-color-infographic-green, 60%);
@ds4-color-infographic-green-lightest: fade(@ds4-color-infographic-green, 20%);

@ds4-color-infographic-blue-interaction: #00407a;
@ds4-color-infographic-blue: @ds4-color-core-blue;
@ds4-color-infographic-blue-light: fade(@ds4-color-infographic-blue, 60%);
@ds4-color-infographic-blue-lightest: fade(@ds4-color-infographic-blue, 20%);

@ds4-color-infographic-orange-interaction: #d36c07;
@ds4-color-infographic-orange: @ds4-color-core-orange;
@ds4-color-infographic-orange-light: fade(@ds4-color-infographic-orange, 60%);
@ds4-color-infographic-orange-lightest: fade(@ds4-color-infographic-orange, 20%);

@ds4-color-infographic-purple-interaction: #3d1c7c;
@ds4-color-infographic-purple: @ds4-color-core-purple;
@ds4-color-infographic-purple-light: fade(@ds4-color-infographic-purple, 60%);
@ds4-color-infographic-purple-lightest: fade(@ds4-color-infographic-purple, 20%);

@ds4-color-infographic-gray-interaction: @ds4-color-core-gray-jet;
@ds4-color-infographic-gray: @ds4-color-core-gray-davys;
@ds4-color-infographic-gray-light: fade(@ds4-color-infographic-gray, 60%);
@ds4-color-infographic-gray-lightest: fade(@ds4-color-infographic-gray, 20%);

// Icon Colours
//-----------------------------

@ds4-color-icon: @ds4-color-core-gray-dim;
@ds4-color-icon-null: @ds4-color-core-gray-spanish;
@ds4-color-icon-disabled: @ds4-color-core-gray-silver;

@ds4-color-icon-actionable-default: @ds4-color-core-gray-davys;
@ds4-color-icon-actionable-hover: fadeout(@ds4-color-core-gray-spanish, 10%);
@ds4-color-icon-actionable-focus: @ds4-color-icon-actionable-hover;
@ds4-color-icon-actionable-active: @ds4-color-core-gray-jet;
@ds4-color-icon-actionable-disabled: @ds4-color-core-gray-silver;

// DS6 Aliases (enables us to normalize the "Color" module)
//-----------------------------

@ds4-color-text-secondary: @ds4-color-text-subheader;
@ds4-color-link-default: @ds4-color-core-blue;
@ds4-color-link-visited: @ds4-color-core-purple;
@ds4-color-information-background: @ds4-color-infographic-blue-lightest;
@ds4-color-warning-background: @ds4-color-infographic-orange-lightest;
@ds4-color-confirmation-background: @ds4-color-infographic-green-lightest;
@ds4-color-confirmation-text: @ds4-color-text-positive;
@ds4-color-critical-background: @ds4-color-infographic-red-lightest;
@ds4-color-critical-text: @ds4-color-text-critical;

// Fixed Height Values for Textbox, Combobox & Button
// (size are PX intentionally, and should not scale with root font size)
//-----------------------------

@ds4-height-control-small: 32px;
@ds4-height-control-medium: 40px;
@ds4-height-control-large: 48px;
@ds4-height-control-extra-large: 56px;
