/* Responsive Breakpoints */
/* The first breakpoint simply indicates minimum support level. It should not be used with media queries. */
/* Mobile-first means the default layout applies to mobile and there should be no mimimums even though */
/* most mobile devices would be higher in screen width than the smallest viewport width. */
/* The variables with underscores are to be considered constants. They can be read, but should not be modified. */
/* TODO: remove these in next major version */
/* secret size */
/* large screen titles */
/* small screen titles */
/* stylelint-disable */
/*! Wombat VIM theme */
figure .highlight, .highlight pre, .highlight table {
  background: #242424 !important;
  color: #f6f3e8 !important;
}

.highlight .hll {
  background-color: #ffffcc !important;
}

.highlight .c {
  color: #99968b !important;
  font-style: italic !important;
} /* Comment */
.highlight .err {
  color: #f6f3e8 !important;
} /* Error */
.highlight .g {
  color: #f6f3e8 !important;
} /* Generic */
.highlight .k {
  color: #8ac6f2 !important;
} /* Keyword */
.highlight .l {
  color: #f6f3e8 !important;
} /* Literal */
.highlight .n, .highlight .h {
  color: #f6f3e8 !important;
} /* Name */
.highlight .o {
  color: #f6f3e8 !important;
} /* Operator */
.highlight .x {
  color: #f6f3e8 !important;
} /* Other */
.highlight .p {
  color: #f6f3e8 !important;
} /* Punctuation */
.highlight .cm {
  color: #99968b !important;
  font-style: italic !important;
} /* Comment.Multiline */
.highlight .cp {
  color: #e5786d !important;
} /* Comment.Preproc */
.highlight .c1 {
  color: #99968b !important;
  font-style: italic !important;
} /* Comment.Single */
.highlight .cs {
  color: #99968b !important;
  font-style: italic !important;
} /* Comment.Special */
.highlight .gd {
  color: #f6f3e8 !important;
} /* Generic.Deleted */
.highlight .ge {
  color: #f6f3e8 !important;
} /* Generic.Emph */
.highlight .gr {
  color: #f6f3e8 !important;
} /* Generic.Error */
.highlight .gh {
  color: #f6f3e8 !important;
  font-weight: bold !important;
} /* Generic.Heading */
.highlight .gi {
  color: #f6f3e8 !important;
} /* Generic.Inserted */
.highlight .go {
  color: #808080 !important;
  background-color: #303030 !important;
} /* Generic.Output */
.highlight .gp {
  color: #f6f3e8 !important;
} /* Generic.Prompt */
.highlight .gs {
  color: #f6f3e8 !important;
} /* Generic.Strong */
.highlight .gu {
  color: #f6f3e8 !important;
  font-weight: bold !important;
} /* Generic.Subheading */
.highlight .gt {
  color: #f6f3e8 !important;
} /* Generic.Traceback */
.highlight .kc {
  color: #8ac6f2 !important;
} /* Keyword.Constant */
.highlight .kd {
  color: #8ac6f2 !important;
} /* Keyword.Declaration */
.highlight .kn {
  color: #8ac6f2 !important;
} /* Keyword.Namespace */
.highlight .kp {
  color: #8ac6f2 !important;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #8ac6f2 !important;
} /* Keyword.Reserved */
.highlight .kt {
  color: #cae682 !important;
} /* Keyword.Type */
.highlight .ld {
  color: #f6f3e8 !important;
} /* Literal.Date */
.highlight .m {
  color: #e5786d !important;
} /* Literal.Number */
.highlight .s {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String */
.highlight .na {
  color: #cae682 !important;
} /* Name.Attribute */
.highlight .nb {
  color: #f6f3e8 !important;
} /* Name.Builtin */
.highlight .nc {
  color: #f6f3e8 !important;
} /* Name.Class */
.highlight .no {
  color: #e5786d !important;
} /* Name.Constant */
.highlight .nd {
  color: #f6f3e8 !important;
} /* Name.Decorator */
.highlight .ni {
  color: #e7f6da !important;
} /* Name.Entity */
.highlight .ne {
  color: #f6f3e8 !important;
} /* Name.Exception */
.highlight .nf {
  color: #cae682 !important;
} /* Name.Function */
.highlight .nl {
  color: #f6f3e8 !important;
} /* Name.Label */
.highlight .nn {
  color: #f6f3e8 !important;
} /* Name.Namespace */
.highlight .nx {
  color: #f6f3e8 !important;
} /* Name.Other */
.highlight .py {
  color: #f6f3e8 !important;
} /* Name.Property */
.highlight .nt {
  color: #8ac6f2 !important;
} /* Name.Tag */
.highlight .nv {
  color: #cae682 !important;
} /* Name.Variable */
.highlight .ow {
  color: #f6f3e8 !important;
} /* Operator.Word */
.highlight .w {
  color: #f6f3e8 !important;
} /* Text.Whitespace */
.highlight .mf {
  color: #e5786d !important;
} /* Literal.Number.Float */
.highlight .mh {
  color: #e5786d !important;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #e5786d !important;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #e5786d !important;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Char */
.highlight .sd {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Double */
.highlight .se {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Escape */
.highlight .sh {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Other */
.highlight .sr {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Single */
.highlight .ss {
  color: #95e454 !important;
  font-style: italic !important;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f6f3e8 !important;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #cae682 !important;
} /* Name.Variable.Class */
.highlight .vg {
  color: #cae682 !important;
} /* Name.Variable.Global */
.highlight .vi {
  color: #cae682 !important;
} /* Name.Variable.Instance */
.highlight .il {
  color: #e5786d !important;
} /* Literal.Number.Integer.Long */
.demo-color-blue-100::before {
  background-color: var(--color-blue-100);
}

.demo-color-blue-200::before {
  background-color: var(--color-blue-200);
}

.demo-color-blue-300::before {
  background-color: var(--color-blue-300);
}

.demo-color-blue-400::before {
  background-color: var(--color-blue-400);
}

.demo-color-blue-500::before {
  background-color: var(--color-blue-500);
}

.demo-color-blue-600::before {
  background-color: var(--color-blue-600);
}

.demo-color-blue-700::before {
  background-color: var(--color-blue-700);
}

.demo-color-blue-800::before {
  background-color: var(--color-blue-800);
}

.demo-color-indigo-100::before {
  background-color: var(--color-indigo-100);
}

.demo-color-indigo-200::before {
  background-color: var(--color-indigo-200);
}

.demo-color-indigo-300::before {
  background-color: var(--color-indigo-300);
}

.demo-color-indigo-400::before {
  background-color: var(--color-indigo-400);
}

.demo-color-indigo-500::before {
  background-color: var(--color-indigo-500);
}

.demo-color-indigo-600::before {
  background-color: var(--color-indigo-600);
}

.demo-color-indigo-700::before {
  background-color: var(--color-indigo-700);
}

.demo-color-indigo-800::before {
  background-color: var(--color-indigo-800);
}

.demo-color-violet-100::before {
  background-color: var(--color-violet-100);
}

.demo-color-violet-200::before {
  background-color: var(--color-violet-200);
}

.demo-color-violet-300::before {
  background-color: var(--color-violet-300);
}

.demo-color-violet-400::before {
  background-color: var(--color-violet-400);
}

.demo-color-violet-500::before {
  background-color: var(--color-violet-500);
}

.demo-color-violet-600::before {
  background-color: var(--color-violet-600);
}

.demo-color-violet-700::before {
  background-color: var(--color-violet-700);
}

.demo-color-violet-800::before {
  background-color: var(--color-violet-800);
}

.demo-color-lilac-100::before {
  background-color: var(--color-lilac-100);
}

.demo-color-lilac-200::before {
  background-color: var(--color-lilac-200);
}

.demo-color-lilac-300::before {
  background-color: var(--color-lilac-300);
}

.demo-color-lilac-400::before {
  background-color: var(--color-lilac-400);
}

.demo-color-lilac-500::before {
  background-color: var(--color-lilac-500);
}

.demo-color-lilac-600::before {
  background-color: var(--color-lilac-600);
}

.demo-color-lilac-700::before {
  background-color: var(--color-lilac-700);
}

.demo-color-lilac-800::before {
  background-color: var(--color-lilac-800);
}

.demo-color-red-100::before {
  background-color: var(--color-red-100);
}

.demo-color-red-200::before {
  background-color: var(--color-red-200);
}

.demo-color-red-300::before {
  background-color: var(--color-red-300);
}

.demo-color-red-400::before {
  background-color: var(--color-red-400);
}

.demo-color-red-500::before {
  background-color: var(--color-red-500);
}

.demo-color-red-600::before {
  background-color: var(--color-red-600);
}

.demo-color-red-700::before {
  background-color: var(--color-red-700);
}

.demo-color-red-800::before {
  background-color: var(--color-red-800);
}

.demo-color-pink-100::before {
  background-color: var(--color-pink-100);
}

.demo-color-pink-200::before {
  background-color: var(--color-pink-200);
}

.demo-color-pink-300::before {
  background-color: var(--color-pink-300);
}

.demo-color-pink-400::before {
  background-color: var(--color-pink-400);
}

.demo-color-pink-500::before {
  background-color: var(--color-pink-500);
}

.demo-color-pink-600::before {
  background-color: var(--color-pink-600);
}

.demo-color-pink-700::before {
  background-color: var(--color-pink-700);
}

.demo-color-pink-800::before {
  background-color: var(--color-pink-800);
}

.demo-color-green-100::before {
  background-color: var(--color-green-100);
}

.demo-color-green-200::before {
  background-color: var(--color-green-200);
}

.demo-color-green-300::before {
  background-color: var(--color-green-300);
}

.demo-color-green-400::before {
  background-color: var(--color-green-400);
}

.demo-color-green-500::before {
  background-color: var(--color-green-500);
}

.demo-color-green-600::before {
  background-color: var(--color-green-600);
}

.demo-color-green-700::before {
  background-color: var(--color-green-700);
}

.demo-color-green-800::before {
  background-color: var(--color-green-800);
}

.demo-color-jade-100::before {
  background-color: var(--color-jade-100);
}

.demo-color-jade-200::before {
  background-color: var(--color-jade-200);
}

.demo-color-jade-300::before {
  background-color: var(--color-jade-300);
}

.demo-color-jade-400::before {
  background-color: var(--color-jade-400);
}

.demo-color-jade-500::before {
  background-color: var(--color-jade-500);
}

.demo-color-jade-600::before {
  background-color: var(--color-jade-600);
}

.demo-color-jade-700::before {
  background-color: var(--color-jade-700);
}

.demo-color-jade-800::before {
  background-color: var(--color-jade-800);
}

.demo-color-marigold-100::before {
  background-color: var(--color-marigold-100);
}

.demo-color-marigold-200::before {
  background-color: var(--color-marigold-200);
}

.demo-color-marigold-300::before {
  background-color: var(--color-marigold-300);
}

.demo-color-marigold-400::before {
  background-color: var(--color-marigold-400);
}

.demo-color-marigold-500::before {
  background-color: var(--color-marigold-500);
}

.demo-color-marigold-600::before {
  background-color: var(--color-marigold-600);
}

.demo-color-marigold-700::before {
  background-color: var(--color-marigold-700);
}

.demo-color-marigold-800::before {
  background-color: var(--color-marigold-800);
}

.demo-color-dijon-100::before {
  background-color: var(--color-dijon-100);
}

.demo-color-dijon-200::before {
  background-color: var(--color-dijon-200);
}

.demo-color-dijon-300::before {
  background-color: var(--color-dijon-300);
}

.demo-color-dijon-400::before {
  background-color: var(--color-dijon-400);
}

.demo-color-dijon-500::before {
  background-color: var(--color-dijon-500);
}

.demo-color-dijon-600::before {
  background-color: var(--color-dijon-600);
}

.demo-color-dijon-700::before {
  background-color: var(--color-dijon-700);
}

.demo-color-dijon-800::before {
  background-color: var(--color-dijon-800);
}

.demo-color-orange-100::before {
  background-color: var(--color-orange-100);
}

.demo-color-orange-200::before {
  background-color: var(--color-orange-200);
}

.demo-color-orange-300::before {
  background-color: var(--color-orange-300);
}

.demo-color-orange-400::before {
  background-color: var(--color-orange-400);
}

.demo-color-orange-500::before {
  background-color: var(--color-orange-500);
}

.demo-color-orange-600::before {
  background-color: var(--color-orange-600);
}

.demo-color-orange-700::before {
  background-color: var(--color-orange-700);
}

.demo-color-orange-800::before {
  background-color: var(--color-orange-800);
}

.demo-color-coral-100::before {
  background-color: var(--color-coral-100);
}

.demo-color-coral-200::before {
  background-color: var(--color-coral-200);
}

.demo-color-coral-300::before {
  background-color: var(--color-coral-300);
}

.demo-color-coral-400::before {
  background-color: var(--color-coral-400);
}

.demo-color-coral-500::before {
  background-color: var(--color-coral-500);
}

.demo-color-coral-600::before {
  background-color: var(--color-coral-600);
}

.demo-color-coral-700::before {
  background-color: var(--color-coral-700);
}

.demo-color-coral-800::before {
  background-color: var(--color-coral-800);
}

.demo-color-yellow-100::before {
  background-color: var(--color-yellow-100);
}

.demo-color-yellow-200::before {
  background-color: var(--color-yellow-200);
}

.demo-color-yellow-300::before {
  background-color: var(--color-yellow-300);
}

.demo-color-yellow-400::before {
  background-color: var(--color-yellow-400);
}

.demo-color-yellow-500::before {
  background-color: var(--color-yellow-500);
}

.demo-color-yellow-600::before {
  background-color: var(--color-yellow-600);
}

.demo-color-yellow-700::before {
  background-color: var(--color-marigold-700);
}

.demo-color-yellow-800::before {
  background-color: var(--color-marigold-800);
}

.demo-color-teal-100::before {
  background-color: var(--color-teal-100);
}

.demo-color-teal-200::before {
  background-color: var(--color-teal-200);
}

.demo-color-teal-300::before {
  background-color: var(--color-teal-300);
}

.demo-color-teal-400::before {
  background-color: var(--color-teal-400);
}

.demo-color-teal-500::before {
  background-color: var(--color-teal-500);
}

.demo-color-teal-600::before {
  background-color: var(--color-teal-600);
}

.demo-color-teal-700::before {
  background-color: var(--color-teal-700);
}

.demo-color-teal-800::before {
  background-color: var(--color-teal-800);
}

.demo-color-avocado-100::before {
  background-color: var(--color-avocado-100);
}

.demo-color-avocado-200::before {
  background-color: var(--color-avocado-200);
}

.demo-color-avocado-300::before {
  background-color: var(--color-avocado-300);
}

.demo-color-avocado-400::before {
  background-color: var(--color-avocado-400);
}

.demo-color-avocado-500::before {
  background-color: var(--color-avocado-500);
}

.demo-color-avocado-600::before {
  background-color: var(--color-avocado-600);
}

.demo-color-avocado-700::before {
  background-color: var(--color-avocado-700);
}

.demo-color-avocado-800::before {
  background-color: var(--color-avocado-800);
}

.demo-color-kiwi-100::before {
  background-color: var(--color-kiwi-100);
}

.demo-color-kiwi-200::before {
  background-color: var(--color-kiwi-200);
}

.demo-color-kiwi-300::before {
  background-color: var(--color-kiwi-300);
}

.demo-color-kiwi-400::before {
  background-color: var(--color-kiwi-400);
}

.demo-color-kiwi-500::before {
  background-color: var(--color-kiwi-500);
}

.demo-color-kiwi-600::before {
  background-color: var(--color-kiwi-600);
}

.demo-color-kiwi-700::before {
  background-color: var(--color-kiwi-700);
}

.demo-color-kiwi-800::before {
  background-color: var(--color-kiwi-800);
}

.demo-color-neutral-100::before {
  background-color: var(--color-neutral-100);
  outline: 1px dashed var(--color-neutral-400);
}

.demo-color-neutral-200::before {
  background-color: var(--color-neutral-200);
}

.demo-color-neutral-300::before {
  background-color: var(--color-neutral-300);
}

.demo-color-neutral-400::before {
  background-color: var(--color-neutral-400);
}

.demo-color-neutral-500::before {
  background-color: var(--color-neutral-500);
}

.demo-color-neutral-600::before {
  background-color: var(--color-neutral-600);
}

.demo-color-neutral-700::before {
  background-color: var(--color-neutral-700);
}

.demo-color-neutral-800::before {
  background-color: var(--color-neutral-800);
}

.demo-color-neutral-900::before {
  background-color: var(--color-neutral-900);
}

.demo-color-background-primary::before {
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-background-secondary::before {
  background-color: var(--color-background-secondary);
}

.demo-color-background-disabled::before {
  background-color: var(--color-background-disabled);
}

.demo-color-background-inverse::before {
  background-color: var(--color-background-inverse);
}

.demo-color-background-attention::before {
  background-color: var(--color-background-attention);
}

.demo-color-background-confirmation::before {
  background-color: var(--color-background-confirmation);
}

.demo-color-background-information::before {
  background-color: var(--color-background-information);
}

.demo-color-background-accent::before {
  background-color: var(--color-background-accent);
}

.demo-color-background-invalid::before {
  background-color: var(--color-background-invalid);
}

.demo-color-foreground-primary::before {
  background-color: var(--color-foreground-primary);
}

.demo-color-foreground-secondary::before {
  background-color: var(--color-foreground-secondary);
}

.demo-color-foreground-disabled::before {
  background-color: var(--color-foreground-disabled);
}

.demo-color-foreground-attention::before {
  background-color: var(--color-foreground-attention);
}

.demo-color-foreground-confirmation::before {
  background-color: var(--color-foreground-confirmation);
}

.demo-color-foreground-information::before {
  background-color: var(--color-foreground-information);
}

.demo-color-foreground-accent::before {
  background-color: var(--color-foreground-accent);
}

.demo-color-foreground-visited::before {
  background-color: var(--color-foreground-visited);
}

.demo-color-foreground-on-primary::before {
  background-color: var(--color-foreground-on-primary);
}

.demo-color-foreground-on-secondary::before {
  background-color: var(--color-foreground-on-secondary);
}

.demo-color-foreground-on-disabled::before {
  background-color: var(--color-foreground-on-disabled);
}

.demo-color-foreground-on-inverse::before {
  background-color: var(--color-foreground-on-inverse);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-attention::before {
  background-color: var(--color-foreground-on-attention);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-confirmation::before {
  background-color: var(--color-foreground-on-confirmation);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-information::before {
  background-color: var(--color-foreground-on-information);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-accent::before {
  background-color: var(--color-foreground-on-accent);
  border: 1px solid var(--color-stroke-default);
}

.demo-color-stroke-default::before {
  background-color: var(--color-stroke-default);
}

.demo-color-stroke-accent::before {
  background-color: var(--color-stroke-accent);
}

.demo-color-stroke-attention::before {
  background-color: var(--color-stroke-attention);
}

.demo-color-stroke-confirmation::before {
  background-color: var(--color-stroke-confirmation);
}

.demo-color-stroke-information::before {
  background-color: var(--color-stroke-information);
}

.demo-color-stroke-disabled::before {
  background-color: var(--color-stroke-disabled);
}

.demo-color-stroke-strong::before {
  background-color: var(--color-stroke-strong);
}

.demo-color-stroke-subtle::before {
  background-color: var(--color-stroke-subtle);
}

.demo-color-state-visited::before {
  background-color: var(--color-state-visited);
}

.demo-color-state-primary-hover::before {
  background-color: var(--color-state-primary-hover);
}

.demo-color-state-primary-active::before {
  background-color: var(--color-state-primary-active);
}

.demo-color-state-secondary-hover::before {
  background-color: var(--color-state-secondary-hover);
}

.demo-color-state-secondary-active::before {
  background-color: var(--color-state-secondary-active);
}

.demo-color-state-inverse-hover::before {
  background-color: var(--color-state-inverse-hover);
}

.demo-color-state-inverse-active::before {
  background-color: var(--color-state-inverse-active);
}

.demo-color-state-accent-hover::before {
  background-color: var(--color-state-accent-hover);
}

.demo-color-state-accent-active::before {
  background-color: var(--color-state-accent-active);
}

.demo-color-state-attention-hover::before {
  background-color: var(--color-state-attention-hover);
}

.demo-color-state-attention-active::before {
  background-color: var(--color-state-attention-active);
}

.demo-color-scrim-image::before {
  background-color: var(--color-scrim-image);
}

.demo-color-scrim-background::before {
  background-color: var(--color-scrim-background);
}

.demo-color-ai-gradient-full-spectrum::before {
  background: var(--color-ai-gradient-full-spectrum);
}

.demo-color-ai-gradient-green-strong::before {
  background: var(--color-ai-gradient-green-strong);
}

.demo-color-ai-gradient-blue-strong::before {
  background: var(--color-ai-gradient-blue-strong);
}

.demo-color-ai-gradient-purple-strong::before {
  background: var(--color-ai-gradient-purple-strong);
}

.demo-color-ai-gradient-green-subtle::before {
  background: var(--color-ai-gradient-green-subtle);
}

.demo-color-ai-gradient-blue-subtle::before {
  background: var(--color-ai-gradient-blue-subtle);
}

.demo-color-ai-gradient-purple-subtle::before {
  background: var(--color-ai-gradient-purple-subtle);
}

/* Mobile-first implies defaults, there is no "first" breakpoint,
   and we don't need a minimum viewport width to support. */
.content {
  grid-area: 1 / 1 / span 1 / span 8;
}

main {
  grid-area: 1 / 1 / span 1 / span 8;
}

footer {
  grid-area: 2 / 1 / span 1 / span 8;
}

@media screen and (min-width: 512px) {
  .site-nav {
    grid-area: 1/1/span 1/span 5;
  }
  .content {
    grid-area: 1/1/span 1/span 16;
  }
  main {
    grid-area: 1/6/span 1/span 11;
  }
  footer {
    grid-area: 2/1/span 1/span 16;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    grid-area: 1/1/span 1/span 3;
  }
  .content {
    grid-area: 1/1/span 1/span 16;
  }
  main {
    grid-area: 1/4/span 1/span 13;
  }
  footer {
    grid-area: 2/1/span 1/span 16;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav {
    grid-area: 1/1/span 1/span 2;
  }
  main {
    grid-area: 1/3/span 1/span 14;
  }
}
/* Responsive Breakpoints */
/* The first breakpoint simply indicates minimum support level. It should not be used with media queries. */
/* Mobile-first means the default layout applies to mobile and there should be no mimimums even though */
/* most mobile devices would be higher in screen width than the smallest viewport width. */
/* The variables with underscores are to be considered constants. They can be read, but should not be modified. */
/* TODO: remove these in next major version */
/* secret size */
.site-nav {
  display: none;
}

@media screen and (min-width: 512px) {
  .modules-expander {
    display: none;
  }
  .site-nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    height: 100vh;
    margin-bottom: var(--spacing-800);
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }
  .site-nav h2 {
    color: var(--color-neutral-600);
    font-size: var(--font-size-large-1);
    margin-bottom: var(--spacing-100);
    margin-top: var(--spacing-200);
    text-transform: uppercase;
  }
  .site-nav h2:first-of-type {
    margin-top: var(--spacing-400);
  }
  .site-nav ul {
    line-height: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .site-nav ul:last-child {
    padding-bottom: var(--spacing-400);
  }
  .site-nav a {
    text-decoration: none;
  }
  .site-nav a:visited {
    color: var(--color-foreground-primary);
  }
  .demo-color-primitve li::before,
  .demo-color-token li::before {
    display: inline-block;
    width: 50px;
  }
}
@media screen and (min-width: 1280px) {
  #about dl {
    column-count: 2;
  }
  .demo-color-primitive {
    column-count: 4;
  }
  .demo-color-swatches,
  .demo-color-token {
    column-count: 2;
  }
}
@media screen and (min-width: 1680px) {
  .app-bar {
    padding-left: 0;
    padding-right: 0;
  }
  .demo-color-primitive {
    column-count: 5;
  }
  .demo-color-swatches,
  .demo-color-token {
    column-count: 3;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    background-color: var(--color-foreground-accent);
  }
  a.demo-link-visited {
    color: var(--color-state-visited);
  }
  a.demo-link-visited:link, a.demo-link-visited:visited {
    color: var(--color-state-visited);
  }
  .section-header__version,
  span.highlight {
    background-color: var(--color-neutral-700);
  }
  .site-nav a,
  .site-nav a:visited {
    color: var(--color-foreground-primary);
  }
  .site-nav a:hover {
    color: var(--color-foreground-primary);
  }
}
:root {
  --color-menu-background: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-menu-background: #222;
  }
}
/* stylelint-disable no-descending-specificity */
body {
  margin: 0;
}

body > svg {
  height: 0;
  position: absolute;
  width: 0;
}

header {
  background-color: var(--color-background-accent);
}

footer {
  margin-top: var(--spacing-400);
}

main > div > h2 {
  font-size: var(--font-size-large-1);
  margin-bottom: var(--spacing-100);
  margin-top: var(--spacing-300);
  padding-top: var(--spacing-100);
}

main > div > h3 {
  font-size: var(--font-size-medium);
}

div.highlight {
  background-color: var(--color-background-tertiary);
  padding: var(--spacing-200);
}

span.highlight {
  background-color: #eee;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  /* fix for long attributes values that don't wrap right */
}
span.highlight .s {
  word-break: break-all;
  word-wrap: break-word;
}

figure.highlight {
  box-sizing: border-box;
  font-size: 12px;
  margin: var(--spacing-100) 0;
  width: 100%;
}
figure.highlight pre {
  font-family: monospace;
  margin: 0;
  padding: var(--spacing-100) var(--spacing-100) 0;
}
figure.highlight code {
  white-space: pre-wrap;
}

.skin-graphic {
  box-sizing: border-box;
  display: block;
  margin: var(--spacing-800) auto 0 auto;
  max-width: 600px;
  width: 100%;
}

.modules-expander {
  background: var(--color-menu-background);
  font-size: var(--font-size-medium);
  padding: 4px var(--spacing-200);
}

.modules-expander li {
  font-size: var(--font-size-default);
}

.modules-expander__tip {
  color: var(--color-foreground-primary);
  display: none;
  font-size: var(--font-size-default);
  font-style: italic;
  margin-left: var(--spacing-200);
}

.modules-expander__list {
  column-count: 3;
  line-height: 1.75em;
  list-style-type: none;
  margin: 16px 0 0;
  padding: 0;
  width: 100%;
}

.modules-expander[open] {
  padding-bottom: var(--spacing-100);
  position: absolute;
  z-index: 1;
}
.modules-expander[open] .modules-expander__tip {
  display: inline-block;
}

.modules-expander__list a {
  text-decoration: none;
}

.modules-expander .details__summary {
  cursor: default;
  padding: var(--spacing-100) 0;
}

.app-bar {
  align-items: center;
  box-sizing: border-box;
  color: var(--color-neutral-100);
  display: flex;
  grid-area: 1/1/span 1/span 8;
  justify-content: space-between;
  margin: 0 auto;
  padding: var(--spacing-200) 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .app-bar {
    grid-area: 1/1/span 1/span 16;
  }
}
.app-bar__title {
  font-size: var(--font-size-large-2);
  margin: 0;
}

.app-bar__links {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  list-style-type: none;
  margin-left: var(--spacing-100);
  padding: 0;
}

.app-bar__links li:not(:last-child)::after {
  content: "";
  margin: 0 var(--spacing-100);
}

.app-bar__links a {
  color: var(--color-neutral-100);
  text-decoration: none;
}

.modules-expander__list a,
.modules-expander__list a.nav-link:visited {
  color: var(--color-foreground-accent);
}

.app-bar__links a:hover {
  text-decoration: underline;
}

.app-bar__links a:focus {
  outline: 1px auto var(--color-neutral-100);
}

.app-bar__links a:visited {
  color: var(--color-neutral-100);
}

.section-header {
  display: flex;
  margin: var(--spacing-200) 0;
}

.section-header h2 {
  font-size: var(--font-size-large-1);
  margin: 0;
}

.section-header__version {
  align-self: flex-end;
  background-color: var(--color-neutral-200);
  margin-left: auto;
  padding: 2px 4px;
}

/* ABOUT SECTION */
#about dl {
  margin: 16px 0 32px;
}

#about dt {
  font-weight: bold;
  margin: 0 0 12px;
}

#about dd {
  margin: 0 0 12px;
}

/* DEMO SECTIONS */
.demo {
  border: 1px dashed var(--color-neutral-300);
}

.demo__inner {
  margin: var(--spacing-100);
}

span.demo,
span.demo__inner {
  display: inline-block;
}

/* COLOR SECTION */
.demo-color-primitive {
  column-count: 2;
}

.demo-icon-header {
  margin: 10px 5px 0;
}

.demo-icon-boxes,
.demo-flag-boxes,
.demo-color-swatches,
.demo-color-primitive,
.demo-color-token {
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-color-primitive li::before,
.demo-color-token li::before,
.color-swatch {
  border-radius: 4px;
  content: "";
  display: inline-block;
  height: 2em;
  margin-bottom: 4px;
  margin-right: 8px;
  vertical-align: middle;
  width: 50px;
}

.color-swatch {
  background-color: currentColor;
}

/* TYPOGRAPHY SECTION */
.demo-typography {
  list-style: none;
  margin: 0;
  padding: 0;
}

.demo-typography li {
  margin: 1rem 0;
}

/* CAROUSEL SECTION */
.carousel__list--default-demo li {
  background-color: var(--color-indigo-200);
  border-radius: var(--border-radius-50);
  color: var(--color-foreground-primary);
  font-size: var(--font-size-large-2);
  font-weight: bold;
  height: 120px;
  line-height: 120px;
  margin-right: var(--spacing-200);
  text-align: center;
  width: 200px;
}

.carousel__list--discrete-demo li {
  background-color: var(--color-indigo-200);
  border-radius: var(--border-radius-50);
  box-sizing: border-box;
  color: var(--color-foreground-primary);
  font-size: var(--font-size-large-2);
  font-weight: bold;
  height: 120px;
  line-height: 120px;
  margin-right: var(--spacing-200);
  text-align: center;
  width: calc(25% - 24px);
}

.carousel__list--slideshow-demo li {
  background-color: var(--color-indigo-200);
  border-radius: var(--border-radius-50);
  color: var(--color-foreground-primary);
  font-size: var(--font-size-giant-2);
  font-weight: bold;
  height: 300px;
  line-height: 300px;
  margin-right: var(--spacing-200);
  text-align: center;
  width: 100%;
}

.carousel__list--discrete-demo li:last-child,
.carousel__list--slideshow-demo li:last-child {
  margin-right: 0;
}

/* UTILITY & LESS SECTION */
.striped-table {
  border: 1px solid var(--color-stroke-subtle);
  border-spacing: 0;
  width: 100%;
}

.striped-table th {
  text-transform: uppercase;
}
.striped-table th:first-child {
  width: 175px;
}

.striped-table th,
.striped-table td {
  padding: var(--spacing-100);
  text-align: left;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: var(--color-background-secondary);
}

.striped-table td {
  border-top: 1px solid var(--color-stroke-subtle);
}

.demo-typography-giant-3 {
  font-size: var(--font-size-giant-3);
  font-weight: var(--font-weight-bold);
  line-height: 52px;
}

.demo-typography-giant-2 {
  font-size: var(--font-size-giant-2);
  font-weight: var(--font-weight-bold);
  line-height: 46px;
}

.demo-typography-giant-1 {
  font-size: var(--font-size-giant-1);
  font-weight: var(--font-weight-bold);
  line-height: 40px;
}

.demo-typography-large-2 {
  font-size: var(--font-size-large-2);
  font-weight: var(--font-weight-bold);
  line-height: 32px;
}

.demo-typography-large-2-secondary {
  font-size: var(--font-size-large-2);
  font-weight: var(--font-weight-bold);
  line-height: 32px;
  color: var(--color-foreground-secondary);
}

.demo-typography-large-1 {
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-bold);
  line-height: 28px;
}

.demo-typography-large-1-secondary {
  font-size: var(--font-size-large-1);
  font-weight: var(--font-weight-bold);
  line-height: 28px;
  color: var(--color-foreground-secondary);
}

.demo-typography-medium-bold {
  font-size: var(--font-size-medium);
  line-height: 24px;
  font-weight: var(--font-weight-bold);
}

.demo-typography-medium {
  font-size: var(--font-size-medium);
  line-height: 24px;
}

.demo-typography-medium-secondary {
  font-size: var(--font-size-medium);
  line-height: 24px;
  color: var(--color-foreground-secondary);
}

.demo-typography-regular-bold {
  font-size: var(--font-size-default);
  line-height: 20px;
  font-weight: var(--font-weight-bold);
}

.demo-typography-regular {
  font-size: var(--font-size-default);
  line-height: 20px;
}

.demo-typography-regular-secondary {
  font-size: var(--font-size-default);
  line-height: 20px;
  color: var(--color-foreground-secondary);
}

.demo-typography-small-bold {
  font-size: var(--font-size-small);
  line-height: 16px;
  font-weight: var(--font-weight-bold);
}

.demo-typography-small {
  font-size: var(--font-size-small);
  line-height: 16px;
}

.demo-typography-small-secondary {
  font-size: var(--font-size-small);
  line-height: 16px;
  color: var(--color-foreground-secondary);
}

/* ICON SECTION */
.demo-icon-boxes li,
.demo-flag-boxes li {
  align-items: center;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-neutral-400);
  display: inline-flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  height: 100px;
  justify-content: space-around;
  list-style-type: none;
  margin: 4px 2px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.demo-icon-boxes li.demo-icon-box--large {
  width: 218px;
}

.demo-flag-boxes li {
  height: 140px;
}

span.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

/* EEK, Skeleton SECTION */
.eek-table,
.skeleton-table,
.skeleton-table-colors {
  border-collapse: collapse;
  margin: var(--spacing-300) 0;
  width: 100%;
}

.eek-table th,
.eek-table td,
.skeleton-table th,
.skeleton-table td,
.skeleton-table-colors th,
.skeleton-table-colors td {
  padding: var(--spacing-100);
  text-align: left;
}

.eek-table th,
.skeleton-table th,
.skeleton-table-colors th {
  background-color: var(--color-background-tertiary);
}

.eek-table td,
.skeleton-table td,
.skeleton-table-colors td {
  border-bottom: 1px solid #eee;
}

.eek__rating-range {
  background-color: var(--color-background-primary);
  color: var(--color-foreground-primary);
}

/* stylelint-enable no-descending-specificity */

/*# sourceMappingURL=docs.css.map */
