:root {
    --color-neutral-0: #fff;
    --color-neutral-1: #eee;
    --color-neutral-2: #ddd;
    --color-neutral-3: #ccc;
    --color-neutral-4: #999;
    --color-neutral-5: #707070;
    --color-neutral-6: #333;
    --color-neutral-7: #111820;
    --color-neutral-8: #000;
    --color-orange-1: opacity(var(--color-orange-4), 20%);
    --color-orange-2: opacity(var(--color-orange-4), 40%);
    --color-orange-3: opacity(var(--color-orange-4), 60%);
    --color-orange-4: #f18e0c;
    --color-orange-5: #f18e0c;
    --color-orange-6: #d36c07;
    --color-orange-7: #d36c07;
    --color-red-1: opacity(var(--color-red-4), 20%);
    --color-red-2: opacity(var(--color-red-4), 40%);
    --color-red-3: opacity(var(--color-red-4), 60%);
    --color-red-4: #dd1e31;
    --color-red-5: #dd1e31;
    --color-red-6: #ad1f3a;
    --color-red-7: #ad1f3a;
    --color-magenta-1: opacity(var(--color-magenta-4), 20%);
    --color-magenta-2: opacity(var(--color-magenta-4), 40%);
    --color-magenta-3: opacity(var(--color-magenta-4), 60%);
    --color-magenta-4: #6a29b9;
    --color-magenta-5: #6a29b9;
    --color-magenta-6: #3d1c7c;
    --color-magenta-7: #3d1c7c;
    --color-blue-1: opacity(var(--color-blue-4), 20%);
    --color-blue-2: opacity(var(--color-blue-4), 40%);
    --color-blue-3: opacity(var(--color-blue-4), 60%);
    --color-blue-4: #0654ba;
    --color-blue-5: #0654ba;
    --color-blue-6: #00489f;
    --color-blue-7: #00489f;
    --color-green-1: opacity(var(--color-green-4), 20%);
    --color-green-2: opacity(var(--color-green-4), 40%);
    --color-green-3: opacity(var(--color-green-4), 60%);
    --color-green-4: #5ba71b;
    --color-green-5: #5ba71b;
    --color-green-6: #457016;
    --color-green-7: #457016;
    --color-yellow-1: #fcf2bd;
    --color-yellow-2: #f7e376;
    --color-yellow-3: #fbcd25;
    --color-yellow-4: #f7b100;
    --color-yellow-5: #e58c02;
    --color-yellow-6: #aa5404;
    --color-yellow-7: #592e13;
    --color-teal-1: #c2f2ef;
    --color-teal-2: #71e3e2;
    --color-teal-3: #1dcbca;
    --color-teal-4: #02a2ac;
    --color-teal-5: #01718f;
    --color-teal-6: #0e4a6c;
    --color-teal-7: #003147;
    --color-lime-1: #f4fabe;
    --color-lime-2: #e9f577;
    --color-lime-3: #c9e43b;
    --color-lime-4: #accf02;
    --color-lime-5: #86b300;
    --color-lime-6: #4b7d06;
    --color-lime-7: #364f03;
}
