@mobile: ~"only screen and (max-width: 600px)";

[hidden] {
    display: none;
}

body {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "header header"
        "nav mainContent"
        "footer footer";
    -ms-grid-rows: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 15rem 1fr;
    grid-template-columns: 15rem 1fr;
    height: 1vh;
    padding: 0;
    margin: 0;

    > header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        grid-column: ~"1/3";
        grid-row: 1;
        grid-area: header;
        grid-column-end: span 2;
    }

    > nav {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 4;
        grid-column: ~"1/2";
        grid-row: 2;
        grid-area: nav;
    }

    > #main {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
        grid-column: 2;
        grid-row: 2;
        grid-area: mainContent;
    }

    > footer {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
        grid-column: ~"1/3";
        grid-row: 5;
        grid-area: footer;
        grid-column-end: span 2;
    }

    @media @mobile {
        grid-template-areas: "header"
            "nav"
            "mainContent"
            "footer";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        > nav {
            border-bottom: 1px solid @ds6-color-g203-gray;
            border-right: 0;
        }

        > #main {
            border-left: 0;
        }
    }
}

body {
    > header,
    > nav,
    > #main,
    > footer {
        padding: 2rem;
    }
}

body > header {
    border-bottom: 1px solid @ds6-color-g203-gray;

    h1 {
        margin: 0;
    }

    .inline-svg {
        display: inline-block;
        height: 2.1875rem; // 35px
        margin-right: 1rem;
        position: relative;
        width: 6rem;

        svg {
            display: inline-block;
            height: 2.7rem;
            left: 0;
            position: absolute;
            top: 0;
        }

        @media @mobile {
            display: block;
            margin-bottom: 1rem;
        }
    }
}

body > nav {
    background-color: @ds6-color-background-default;
    border-right: 1px solid @ds6-color-g203-gray;
    padding: 2rem 0;

    h2:first-child {
        margin-top: 0;
    }

    h3 > a,
    h3 > a:active,
    h3 > a:visited {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .fixed-nav {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        overflow-y: scroll;
        padding: 0 2rem;
        width: 15rem;

        &.fixed {
            position: fixed;
            top: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding-bottom: 0.5rem;
        }

        a,
        a:active,
        a:visited {
            color: #006efc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

body > #main {
    > div:first-child h2 {
        margin-top: 0;
    }

    > main {
        max-width: calc(100vw ~"-" 19rem); // 19rem = 15rem nav + 2 rem margin (each side)

        @media @mobile {
            max-width: calc(100vw ~"-" 4rem); // 4rem = 2 rem margin (each side)
        }
    }
}

body > footer {
    border-top: 1px solid @ds6-color-g203-gray;
}

body > header > h1 {
    .ds6-typography-giant-2;

    .heading1__info {
        .ds6-typography-large-2;
    }
}

body > nav > div > h2,
#main > main > div > h2 {
    .ds6-typography-large-2-bold;
    margin-top: 3rem;
    padding-top: 1rem;
}

#main > main > div > h3 {
    .ds6-typography-medium-bold;
}

#skin-graphic {
    display: block;
    margin: 48px auto 64px auto;
    max-width: 738px;
    width: 100%;

    @media @mobile {
        margin: 32px auto 48px auto;
    }
}

.demo {
    background-color: @ds6-color-background-default;
    border: 1px solid @ds6-color-g203-gray;
}

.demo__inner {
    margin: .5rem;

    & > p:first-child,
    & > p:only-child {
        margin-top: 0;
    }

    & > p:last-child,
    & > p:only-child {
        margin-bottom: 0;
    }
}

.demo--tiles {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.demo__tile {
    margin: 8px;
    width: 180px;

    .highlight {
        color: @ds6-color-g205-gray;
        background: none;
        display: block;
        font-size: 12px;
    }

    &-lg {
        margin: 8px;
        width: 30%;
    }
}

.demo-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
        &:not(:first-child) {
            margin-left: 8px;
        }
    }
}

.demo-typography,
.demo-colors {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 1rem 0;
    }
}

.demo-colors li::before {
    content: '';
    display: inline-block;
    height: 1.25rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 10rem;

    @media @mobile {
        display: block;
        margin-bottom: 0.25rem;
        width: 100%;
    }
}

.demo-colors__info {
    color: @ds6-color-g204-gray;
    margin-left: 1rem;

    @media @mobile {
        display: block;
        margin-left: 0;
    }
}

.demo-color-g201-gray::before {
    background-color: @ds6-color-g201-gray;
    outline: 1px solid @ds6-color-g204-gray;
}

.demo-color-g202-gray::before {
    background-color: @ds6-color-g202-gray;
    outline: 1px solid @ds6-color-g204-gray;
}

.demo-color-g203-gray::before {
    background-color: @ds6-color-g203-gray;
}

.demo-color-g204-gray::before {
    background-color: @ds6-color-g204-gray;
}

.demo-color-g205-gray::before {
    background-color: @ds6-color-g205-gray;
}

.demo-color-g206-gray::before {
    background-color: @ds6-color-g206-gray;
}

.demo-color-p001-blue::before {
    background-color: @ds6-color-p001-blue;
}

.demo-cta-p002-blue,
.demo-color-p002-blue::before {
    background-color: @ds6-color-p002-blue;
}

.demo-color-p003-blue::before {
    background-color: @ds6-color-p003-blue;
}

.demo-color-p004-blue::before {
    background-color: @ds6-color-p004-blue;
}

.demo-color-p011-red::before {
    background-color: @ds6-color-p011-red;
}

.demo-cta-p012-red,
.demo-color-p012-red::before {
    background-color: @ds6-color-p012-red;
}

.demo-color-p013-red::before {
    background-color: @ds6-color-p013-red;
}

.demo-color-p021-yellow::before {
    background-color: @ds6-color-p021-yellow;
}

.demo-color-p022-yellow::before {
    background-color: @ds6-color-p022-yellow;
}

.demo-color-p031-green::before {
    background-color: @ds6-color-p031-green;
}

.demo-color-p032-green::before {
    background-color: @ds6-color-p032-green;
}

.demo-color-p033-green::before {
    background-color: @ds6-color-p033-green;
}

.demo-color-text-default::before {
    background-color: @ds6-color-text-default;
}

.demo-color-text-secondary::before {
    background-color: @ds6-color-text-secondary;
}

.demo-color-link-default::before {
    background-color: @ds6-color-link-default;
}

.demo-color-link-visited::before {
    background-color: @ds6-color-link-visited;
}

.demo-color-information-background::before {
    background-color: @ds6-color-information-background;
}

.demo-color-badge::before {
    background-color: @ds6-color-badge;
}

.demo-color-star::before {
    background-color: @ds6-color-star;
}

.demo-color-warning-background::before {
    background-color: @ds6-color-warning-background;
}

.demo-color-confirmation-text::before {
    background-color: @ds6-color-confirmation-text;
}

.demo-color-confirmation-background::before {
    background-color: @ds6-color-confirmation-background;
}

.demo-color-critical-text::before {
    background-color: @ds6-color-critical-text;
}

.demo-color-critical-background::before {
    background-color: @ds6-color-critical-background;
}

.demo-color-background-default::before {
    background-color: @ds6-color-background-default;
    outline: 1px solid @ds6-color-g204-gray;
}

.demo-cta-purple {
    background-color: #6a4fcc;
}

.demo-font-family-default {
    font-family: @ds6-font-family-default;
}

.demo-link-default:visited {
    color: @ds6-color-link-default;
}

.demo-link-visited {
    color: @ds6-color-link-visited;
}

@import "../highlight.less";
@import "../pygments.less";

/* HIGHLIGHT OVERRIDES */
/* fix for long strings that don't wrap right */
.highlight .s {
    word-break: break-all;
    word-wrap: break-word;
}

.module-list,
.module-toc {
    li {
        background-color: #eee;
        margin-bottom: 4px;
    }

    a {
        text-decoration: none;
    }
}

.cols {
    box-sizing: border-box;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        box-sizing: border-box;
        display: inline-block;
        padding: 8px;
        width: 100%;
    }
}

@media(min-width: 600px) {
    .cols {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
}
