@import "../base/index.less";

.demo-cta-b2 {
    background-color: @color-b2;
}

.demo-cta-r2 {
    background-color: @color-r2;
}

/* PALETTE */

.demo-color-b1::before {
    background-color: @color-b1;
}

.demo-color-b2::before {
    background-color: @color-b2;
}

.demo-color-b3::before {
    background-color: @color-b3;
}

.demo-color-b4::before {
    background-color: @color-b4;
}

.demo-color-b5::before {
    background-color: @color-b5;
}

.demo-color-b6::before {
    background-color: @color-b6;
}

.demo-color-b7::before {
    background-color: @color-b7;
}

.demo-color-r1::before {
    background-color: @color-r1;
}

.demo-color-r2::before {
    background-color: @color-r2;
}

.demo-color-r3::before {
    background-color: @color-r3;
}

.demo-color-r4::before {
    background-color: @color-r4;
}

.demo-color-r5::before {
    background-color: @color-r5;
}

.demo-color-r6::before {
    background-color: @color-r6;
}

.demo-color-r7::before {
    background-color: @color-r7;
}

.demo-color-y1::before {
    background-color: @color-y1;
}

.demo-color-y2::before {
    background-color: @color-y2;
}

.demo-color-y3::before {
    background-color: @color-y3;
}

.demo-color-y4::before {
    background-color: @color-y4;
}

.demo-color-y5::before {
    background-color: @color-y5;
}

.demo-color-y6::before {
    background-color: @color-y6;
}

.demo-color-y7::before {
    background-color: @color-y7;
}

.demo-color-g1::before {
    background-color: @color-g1;
}

.demo-color-g2::before {
    background-color: @color-g2;
}

.demo-color-g3::before {
    background-color: @color-g3;
}

.demo-color-g4::before {
    background-color: @color-g4;
}

.demo-color-g5::before {
    background-color: @color-g5;
}

.demo-color-g6::before {
    background-color: @color-g6;
}

.demo-color-g7::before {
    background-color: @color-g7;
}

.demo-color-o1::before {
    background-color: @color-o1;
}

.demo-color-o2::before {
    background-color: @color-o2;
}

.demo-color-o3::before {
    background-color: @color-o3;
}

.demo-color-o4::before {
    background-color: @color-o4;
}

.demo-color-o5::before {
    background-color: @color-o5;
}

.demo-color-o6::before {
    background-color: @color-o6;
}

.demo-color-o7::before {
    background-color: @color-o7;
}

.demo-color-m1::before {
    background-color: @color-m1;
}

.demo-color-m2::before {
    background-color: @color-m2;
}

.demo-color-m3::before {
    background-color: @color-m3;
}

.demo-color-m4::before {
    background-color: @color-m4;
}

.demo-color-m5::before {
    background-color: @color-m5;
}

.demo-color-m6::before {
    background-color: @color-m6;
}

.demo-color-m7::before {
    background-color: @color-m7;
}

.demo-color-t1::before {
    background-color: @color-t1;
}

.demo-color-t2::before {
    background-color: @color-t2;
}

.demo-color-t3::before {
    background-color: @color-t3;
}

.demo-color-t4::before {
    background-color: @color-t4;
}

.demo-color-t5::before {
    background-color: @color-t5;
}

.demo-color-t6::before {
    background-color: @color-t6;
}

.demo-color-t7::before {
    background-color: @color-t7;
}

.demo-color-l1::before {
    background-color: @color-l1;
}

.demo-color-l2::before {
    background-color: @color-l2;
}

.demo-color-l3::before {
    background-color: @color-l3;
}

.demo-color-l4::before {
    background-color: @color-l4;
}

.demo-color-l5::before {
    background-color: @color-l5;
}

.demo-color-l6::before {
    background-color: @color-l6;
}

.demo-color-l7::before {
    background-color: @color-l7;
}

/* ICON DEMOS */

span.icon--information {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJpY29uLWluZm8iIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzExMTgyMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAxMkMwIDUuMzczIDUuMzczIDAgMTIgMGM2LjYyNS4wMDYgMTEuOTk0IDUuMzc1IDEyIDEyIDAgNi42MjctNS4zNzMgMTItMTIgMTJTMCAxOC42MjcgMCAxMnptMiAwYzAgNS41MjMgNC40NzcgMTAgMTAgMTAgNS41Mi0uMDA2IDkuOTk0LTQuNDggMTAtMTAgMC01LjUyMy00LjQ3Ny0xMC0xMC0xMFMyIDYuNDc3IDIgMTJ6bTEwLTJhMSAxIDAgMCAxIDEgMXY2YTEgMSAwIDAgMS0yIDB2LTZhMSAxIDAgMCAxIDEtMXptMS0zYTEgMSAwIDEgMS0yIDAgMSAxIDAgMCAxIDIgMHoiLz48L3N2Zz4=');
    height: 24px;
    width: 24px;
}
