@mobile: ~"only screen and (max-width: 600px)";

[hidden] {
    display: none;
}

body {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "header header"
        "nav mainContent"
        "footer footer";
    -ms-grid-rows: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 15rem 1fr;
    grid-template-columns: 15rem 1fr;
    height: 1vh;
    padding: 0;
    margin: 0;

    > header {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;
        grid-column: ~"1/3";
        grid-row: 1;
        grid-area: header;
        grid-column-end: span 2;
    }

    > nav {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 4;
        grid-column: ~"1/2";
        grid-row: 2;
        grid-area: nav;
    }

    > #main {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
        grid-column: 2;
        grid-row: 2;
        grid-area: mainContent;
    }

    > footer {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
        grid-column: ~"1/3";
        grid-row: 5;
        grid-area: footer;
        grid-column-end: span 2;
    }

    @media @mobile {
        grid-template-areas: "header"
            "nav"
            "mainContent"
            "footer";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        > nav {
            border-bottom: 1px solid @ds6-color-grey1;
            border-right: 0;
        }

        > #main {
            border-left: 0;
        }
    }
}

body {
    > header,
    > nav,
    > #main,
    > footer {
        padding: 2rem;
    }
}

body > header {
    border-bottom: 1px solid @ds6-color-grey1;

    h1 {
        margin: 0;
    }

    .inline-svg {
        display: inline-block;
        height: 2.1875rem; // 35px
        margin-right: 1rem;
        position: relative;
        width: 6rem;

        svg {
            display: inline-block;
            height: 2.7rem;
            left: 0;
            position: absolute;
            top: 0;
        }

        @media @mobile {
            display: block;
            margin-bottom: 1rem;
        }
    }
}

body > nav {
    background-color: @ds6-color-background-default;
    border-right: 1px solid @ds6-color-grey1;
    padding: 2rem 0;

    h2:first-child {
        margin-top: 0;
    }

    h3 > a,
    h3 > a:active,
    h3 > a:visited {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .fixed-nav {
        box-sizing: border-box;
        position: relative;
        height: 100%;
        overflow-y: scroll;
        padding: 0 2rem;
        width: 15rem;

        &.fixed {
            position: fixed;
            top: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding-bottom: 0.5rem;
        }

        a,
        a:active,
        a:visited {
            color: @ds6-color-b4;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

body > #main {
    > div:first-child h2 {
        margin-top: 0;
    }

    > main {
        max-width: calc(100vw ~"-" 19rem); // 19rem = 15rem nav + 2 rem margin (each side)

        @media @mobile {
            max-width: calc(100vw ~"-" 4rem); // 4rem = 2 rem margin (each side)
        }
    }
}

body > footer {
    border-top: 1px solid @ds6-color-grey1;
}

body > header > h1 {
    .ds6-typography-giant-2;

    .heading1__info {
        .ds6-typography-large-2;
    }
}

body > nav > div > h2,
#main > main > div > h2 {
    .ds6-typography-large-2-bold;
    margin-top: 3rem;
    padding-top: 1rem;
}

#main > main > div > h3 {
    .ds6-typography-medium-bold;
}

#skin-graphic {
    display: block;
    margin: 48px auto 64px auto;
    max-width: 738px;
    width: 100%;

    @media @mobile {
        margin: 32px auto 48px auto;
    }
}

.demo {
    background-color: @ds6-color-background-default;
    border: 1px solid @ds6-color-grey1;
}

.demo__inner {
    margin: .5rem;

    & > p:first-child,
    & > p:only-child {
        margin-top: 0;
    }

    & > p:last-child,
    & > p:only-child {
        margin-bottom: 0;
    }
}

.demo--tiles {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.demo__tile {
    margin: 8px;
    width: 180px;

    .highlight {
        color: @ds6-color-grey4;
        background: none;
        display: block;
        font-size: 12px;
    }
}

.demo-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
        &:not(:first-child) {
            margin-left: 8px;
        }
    }
}

.tooltip {
    &__top-left {
        left: -6px;
        top: 12px;
    }

    &__top-center {
        left: -166px;
        top: 15px;
    }

    &__bottom-left {
        left: -6px;
        top: -123px;
    }

    &__bottom-center {
        bottom: 47px;
        left: -166px;
    }

    &__left-top {
        left: 40px;
        top: -37px;
    }

    &__left-bottom {
        left: 40px;
        top: -124px;
    }

    &__left-center {
        left: 40px;
        top: -72px;
    }
}

.demo-typography,
.demo-colors {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 1rem 0;
    }
}

.demo-colors li::before {
    content: '';
    display: inline-block;
    height: 1.25rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 10rem;

    @media @mobile {
        display: block;
        margin-bottom: 0.25rem;
        width: 100%;
    }
}

.demo-colors__info {
    color: @ds6-color-grey4;
    margin-left: 1rem;

    @media @mobile {
        display: block;
        margin-left: 0;
    }
}

.demo-color-white::before {
    background-color: @ds6-color-white;
    outline: 1px solid @ds6-color-grey4;
}

.demo-color-grey1::before {
    background-color: @ds6-color-grey1;
    outline: 1px solid @ds6-color-grey4;
}

.demo-color-grey2::before {
    background-color: @ds6-color-grey2;
    outline: 1px solid @ds6-color-grey4;
}

.demo-color-grey3::before {
    background-color: @ds6-color-grey3;
}

.demo-color-grey4::before {
    background-color: @ds6-color-grey4;
}

.demo-color-grey5::before {
    background-color: @ds6-color-grey5;
}

.demo-color-black::before {
    background-color: @ds6-color-black;
}

.demo-color-b1::before {
    background-color: @ds6-color-b1;
}

.demo-cta-b2,
.demo-color-b2::before {
    background-color: @ds6-color-b2;
}

.demo-color-b3::before {
    background-color: @ds6-color-b3;
}

.demo-color-b4::before {
    background-color: @ds6-color-b4;
}

.demo-color-b5::before {
    background-color: @ds6-color-b5;
}

.demo-color-b6::before {
    background-color: @ds6-color-b6;
}

.demo-color-b7::before {
    background-color: @ds6-color-b7;
}

.demo-color-r1::before {
    background-color: @ds6-color-r1;
}

.demo-cta-r2,
.demo-color-r2::before {
    background-color: @ds6-color-r2;
}

.demo-color-r3::before {
    background-color: @ds6-color-r3;
}

.demo-color-r4::before {
    background-color: @ds6-color-r4;
}

.demo-color-r5::before {
    background-color: @ds6-color-r5;
}

.demo-color-r6::before {
    background-color: @ds6-color-r6;
}

.demo-color-r7::before {
    background-color: @ds6-color-r7;
}

.demo-color-y1::before {
    background-color: @ds6-color-y1;
}

.demo-color-y2::before {
    background-color: @ds6-color-y2;
}

.demo-color-y3::before {
    background-color: @ds6-color-y3;
}

.demo-color-y4::before {
    background-color: @ds6-color-y4;
}

.demo-color-y5::before {
    background-color: @ds6-color-y5;
}

.demo-color-y6::before {
    background-color: @ds6-color-y6;
}

.demo-color-y7::before {
    background-color: @ds6-color-y7;
}

.demo-color-g1::before {
    background-color: @ds6-color-g1;
}

.demo-color-g2::before {
    background-color: @ds6-color-g2;
}

.demo-color-g3::before {
    background-color: @ds6-color-g3;
}

.demo-color-g4::before {
    background-color: @ds6-color-g4;
}

.demo-color-g5::before {
    background-color: @ds6-color-g5;
}

.demo-color-g6::before {
    background-color: @ds6-color-g6;
}

.demo-color-g7::before {
    background-color: @ds6-color-g7;
}

.demo-color-o1::before {
    background-color: @ds6-color-o1;
}

.demo-color-o2::before {
    background-color: @ds6-color-o2;
}

.demo-color-o3::before {
    background-color: @ds6-color-o3;
}

.demo-color-o4::before {
    background-color: @ds6-color-o4;
}

.demo-color-o5::before {
    background-color: @ds6-color-o5;
}

.demo-color-o6::before {
    background-color: @ds6-color-o6;
}

.demo-color-o7::before {
    background-color: @ds6-color-o7;
}

.demo-color-m1::before {
    background-color: @ds6-color-m1;
}

.demo-color-m2::before {
    background-color: @ds6-color-m2;
}

.demo-color-m3::before {
    background-color: @ds6-color-m3;
}

.demo-color-m4::before {
    background-color: @ds6-color-m4;
}

.demo-color-m5::before {
    background-color: @ds6-color-m5;
}

.demo-color-m6::before {
    background-color: @ds6-color-m6;
}

.demo-color-m7::before {
    background-color: @ds6-color-m7;
}

.demo-color-t1::before {
    background-color: @ds6-color-t1;
}

.demo-color-t2::before {
    background-color: @ds6-color-t2;
}

.demo-color-t3::before {
    background-color: @ds6-color-t3;
}

.demo-color-t4::before {
    background-color: @ds6-color-t4;
}

.demo-color-t5::before {
    background-color: @ds6-color-t5;
}

.demo-color-t6::before {
    background-color: @ds6-color-t6;
}

.demo-color-t7::before {
    background-color: @ds6-color-t7;
}

.demo-color-l1::before {
    background-color: @ds6-color-l1;
}

.demo-color-l2::before {
    background-color: @ds6-color-l2;
}

.demo-color-l3::before {
    background-color: @ds6-color-l3;
}

.demo-color-l4::before {
    background-color: @ds6-color-l4;
}

.demo-color-l5::before {
    background-color: @ds6-color-l5;
}

.demo-color-l6::before {
    background-color: @ds6-color-l6;
}

.demo-color-l7::before {
    background-color: @ds6-color-l7;
}

.demo-color-text-default::before {
    background-color: @ds6-color-text-default;
}

.demo-color-text-secondary::before {
    background-color: @ds6-color-text-secondary;
}

.demo-color-link-default::before {
    background-color: @ds6-color-link-default;
}

.demo-color-link-visited::before {
    background-color: @ds6-color-link-visited;
}

.demo-color-information-background::before {
    background-color: @ds6-color-information-background;
}

.demo-color-badge::before {
    background-color: @ds6-color-badge;
}

.demo-color-star::before {
    background-color: @ds6-color-star;
}

.demo-color-warning-background::before {
    background-color: @ds6-color-warning-background;
}

.demo-color-confirmation-text::before {
    background-color: @ds6-color-confirmation-text;
}

.demo-color-confirmation-background::before {
    background-color: @ds6-color-confirmation-background;
}

.demo-color-critical-text::before {
    background-color: @ds6-color-critical-text;
}

.demo-color-critical-background::before {
    background-color: @ds6-color-critical-background;
}

.demo-color-background-default::before {
    background-color: @ds6-color-background-default;
    outline: 1px solid @ds6-color-grey4;
}

.demo-cta-purple {
    background-color: lighten(#6a4fcc, 25%);
}

.demo-font-family-default {
    font-family: @ds6-font-family-default;
}

.demo-link-default:visited {
    color: @ds6-color-link-default;
}

.demo-link-visited {
    color: @ds6-color-link-visited;
}

@import "../highlight.less";
@import "../pygments.less";

/* HIGHLIGHT OVERRIDES */
/* fix for long strings that don't wrap right */
.highlight .s {
    word-break: break-all;
    word-wrap: break-word;
}

.module-list,
.module-toc {
    li {
        background-color: #eee;
        margin-bottom: 4px;
    }

    a {
        text-decoration: none;
    }
}

.cols {
    box-sizing: border-box;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        box-sizing: border-box;
        display: inline-block;
        padding: 8px;
        width: 100%;
    }
}

.icon-btn {
    background-color: transparent;
    border: 0 none;
    font-size: 16px;
    padding: 7px 6px;
    vertical-align: middle;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-15 {
    margin-left: 15px;
}

.table-stripe {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    thead {
        background-color: #fff;
        border-bottom: 1px solid #eeeeee;
        font-weight: bold;
    }

    td,
    th {
        padding: 8px;
    }

    tbody tr:nth-child(2n-1) {
        background-color: #f7f7f7;
    }

    /* first and third cols */
    tbody td:nth-child(2n - 1) {
        font-family: Courier, monospace;
        min-width: 90px;
    }
}

@media(min-width: 601px) {
    .cols {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }

    .tooltip {
        &__left-bottom {
            top: -106px;
        }
    }
}
