@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

/* stylelint-disable indentation, order/properties-alphabetical-order */
@import "../utility-common.less";

.svg-icon {
    .svg-icon-default;

    vertical-align: middle;
}

.image-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.responsive-image {
    height: auto;
    max-width: 100%;
}

.fluid-image {
    height: auto;
    width: 100%;
}

.emphasis {
    color: @color-core-red;
}

.positive {
    color: @color-text-positive;
}

.negative {
    color: @color-core-red;
}

.no-scroll {
    overflow: hidden;
}

.fluid {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

// FAUX-LINK (FAKE-LINK)
//-----------------------------

button.faux-link, // DEPRECATED in V2.10.0: use fake-link
button.fake-link {
    background-color: transparent;
    border: 0;
    color: @color-interface-cta;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;

    &[disabled] {
        cursor: default;
        .opacity(0.5);
    }
}
/* stylelint-enable */
