@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "../utility-common.less";

.image-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.responsive-image {
    height: auto;
    max-width: 100%;
}

.fluid-image {
    height: auto;
    width: 100%;
}

.emphasis {
    color: @ds4-color-core-red;
}

.positive {
    color: @ds4-color-text-positive;
}

.negative {
    color: @ds4-color-core-red;
}

.no-scroll {
    overflow: hidden;
}

.fluid {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

// FAKE-LINK
//-----------------------------

button.fake-link {
    background-color: transparent;
    border: 0;
    color: @ds4-color-interface-cta;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;

    &[disabled] {
        .opacity(0.5);
    }
}
