@import "../../../less/mixins-common.less";
@import "../../../less/ds4/mixins.less";
@import "../../../less/ds4/variables.less";

.background-icon-mixin(@name) {
    background-image: url('data:image/svg+xml;base64,@{ds4-icon-@{name}-base64}');
    height: ~"@{ds4-icon-@{name}-height}"; // string resolves to a LESS variable
    width: ~"@{ds4-icon-@{name}-width}"; // string resolves to a LESS variable
}

// IMPORT COMMON ICONS
@import "../base/background.less";

// DS4 SPECIFIC ICONS
span {
    &.icon--alert {
        .background-icon-mixin('alert');
    }

    &.icon--arrow-down {
        .background-icon-mixin('arrow-down');
    }

    &.icon--arrow-up {
        .background-icon-mixin('arrow-up');
    }

    &.icon--auction {
        .background-icon-mixin('auction');
    }

    &.icon--autocomplete {
        .background-icon-mixin('autocomplete');
    }

    &.icon--best-offer {
        .background-icon-mixin('best-offer');
    }

    &.icon--bold {
        .background-icon-mixin('bold');
    }

    &.icon--box {
        .background-icon-mixin('box');
    }

    &.icon--bulleted-list {
        .background-icon-mixin('bulleted-list');
    }

    &.icon--call {
        .background-icon-mixin('call');
    }

    &.icon--cart-null {
        .background-icon-mixin('cart-null');
    }

    &.icon--caution-null {
        .background-icon-mixin('caution-null');
    }

    &.icon--center-aligned {
        .background-icon-mixin('center-aligned');
    }

    &.icon--center-justified {
        .background-icon-mixin('center-justified');
    }

    &.icon--chat {
        .background-icon-mixin('chat');
    }

    &.icon--checkout-complete {
        .background-icon-mixin('checkout-complete');
    }

    &.icon--chevron-down-disabled {
        .background-icon-mixin('chevron-down-disabled');
    }

    &.icon--chevron-left-disabled {
        .background-icon-mixin('chevron-left-disabled');
    }

    &.icon--chevron-light-left {
        .background-icon-mixin('chevron-light-left');
    }

    &.icon--chevron-light-left-disabled {
        .background-icon-mixin('chevron-light-left');
    }

    &.icon--chevron-light-right {
        .background-icon-mixin('chevron-light-right');
    }

    &.icon--chevron-light-right-disabled {
        .background-icon-mixin('chevron-light-right-disabled');
    }

    &.icon--chevron-right-disabled {
        .background-icon-mixin('chevron-right-disabled');
    }

    &.icon--chevron-up-disabled {
        .background-icon-mixin('chevron-up-disabled');
    }

    &.icon--classified-ad {
        .background-icon-mixin('classified-ad');
    }

    &.icon--clock {
        .background-icon-mixin('clock');
    }

    &.icon--collections-null {
        .background-icon-mixin('collections-null');
    }

    &.icon--comments {
        .background-icon-mixin('comments');
    }

    &.icon--feedback-negative {
        .background-icon-mixin('feedback-negative');
    }

    &.icon--feedback-neutral {
        .background-icon-mixin('feedback-neutral');
    }

    &.icon--feedback-positive {
        .background-icon-mixin('feedback-positive');
    }

    &.icon--fire {
        .background-icon-mixin('fire');
    }

    &.icon--fixed-price {
        .background-icon-mixin('fixed-price');
    }

    &.icon--glasses-null {
        .background-icon-mixin('glasses-null');
    }

    &.icon--italic {
        .background-icon-mixin('italic');
    }

    &.icon--item-feedback {
        .background-icon-mixin('item-feedback');
    }

    &.icon--item-paid {
        .background-icon-mixin('item-paid');
    }

    &.icon--item-shipped {
        .background-icon-mixin('item-shipped');
    }

    &.icon--justified {
        .background-icon-mixin('justified');
    }

    &.icon--left-aligned {
        .background-icon-mixin('left-aligned');
    }

    &.icon--left-justified {
        .background-icon-mixin('left-justified');
    }

    &.icon--link {
        .background-icon-mixin('link');
    }

    &.icon--magnify {
        .background-icon-mixin('magnify');
    }

    &.icon--messages-open {
        .background-icon-mixin('messages-open');
    }

    &.icon--minus {
        .background-icon-mixin('minus');
    }

    &.icon--notification-null {
        .background-icon-mixin('notification-null');
    }

    &.icon--numbered-list {
        .background-icon-mixin('numbered-list');
    }

    &.icon--part-paid {
        .background-icon-mixin('part-paid');
    }

    &.icon--payment-refunded {
        .background-icon-mixin('payment-refunded');
    }

    &.icon--pencil-null {
        .background-icon-mixin('pencil-null');
    }

    &.icon--pictures-null {
        .background-icon-mixin('pictures-null');
    }

    &.icon--relisted {
        .background-icon-mixin('relisted');
    }

    &.icon--requested-total {
        .background-icon-mixin('requested-total');
    }

    &.icon--right-aligned {
        .background-icon-mixin('right-aligned');
    }

    &.icon--right-justified {
        .background-icon-mixin('right-justified');
    }

    &.icon--second-chance {
        .background-icon-mixin('second-chance');
    }

    &.icon--seller-feedback {
        .background-icon-mixin('seller-feedback');
    }

    &.icon--selling-null {
        .background-icon-mixin('selling-null');
    }

    &.icon--shopping-null {
        .background-icon-mixin('shopping-null');
    }

    &.icon--sort {
        .background-icon-mixin('sort');
    }

    &.icon--star {
        .background-icon-mixin('star');
    }

    &.icon--strike-thru {
        .background-icon-mixin('strike-thru');
    }

    &.icon--success {
        .background-icon-mixin('success');
    }

    &.icon--tag {
        .background-icon-mixin('tag');
    }

    &.icon--trash {
        .background-icon-mixin('trash');
    }

    &.icon--underline {
        .background-icon-mixin('underline');
    }
}
