@import "../../tokens/ds4/tokens.less";

@pagination-item-foreground-color: @color-icon-actionable-default;
@pagination-item-hover-foreground-color: @color-text-default;
@pagination-item-current-background-color: @color-grey1;
@pagination-item-current-border-color: transparent;
@pagination-item-current-border-radius: @border-radius-none;
@pagination-item-current-foreground-color: @color-text-default;

@import "../base/pagination.less";
