@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "../base/pagination.less";

.pagination {
    font-family: @font-family-base;
}

.pagination a {
    color: @color-icon-actionable-default;
}

.pagination__item {
    color: @color-text-default;
    font-size: @font-size-14;
    padding: 8px 12px;

    &:active,
    &:link,
    &:visited {
        color: @color-text-default;
    }

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &[aria-current="page"] {
        background-color: @color-core-gray-light;
        color: @color-core-gray-jet;
        font-weight: @font-weight-medium;
        line-height: 16px;
    }
}

.pagination__next {
    padding: 8px 0 8px 8px;

    span {
        .ds4-icon-chevron-light-right(17px, 17px);
    }

    &:focus,
    &:hover {
        span {
            .ds4-icon-chevron-light-right(17px, 17px);
        }
    }

    &[aria-disabled="true"] {
        span {
            .ds4-icon-chevron-light-right-disabled(17px, 17px);
        }
    }
}

.pagination__previous {
    padding: 8px 8px 8px 0;

    span {
        .ds4-icon-chevron-light-left(17px, 17px);
    }

    &:focus,
    &:hover {
        span {
            .ds4-icon-chevron-light-left(17px, 17px);
        }
    }

    &[aria-disabled="true"] {
        span {
            .ds4-icon-chevron-light-left-disabled(17px, 17px);
        }
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .pagination__next {
        span {
            background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-right-base64-light}');
        }

        &:focus,
        &:hover {
            span {
                background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-right-base64-light}');
            }
        }

        &[aria-disabled="true"] {
            span {
                background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-right-disabled-base64}');
            }
        }
    }

    .pagination__previous {
        span {
            background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-left-base64-light}');
        }

        &:focus,
        &:hover {
            span {
                background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-left-base64-light}');
            }
        }

        &[aria-disabled="true"] {
            span {
                background-image: url('data:image/svg+xml;base64,@{ds4-icon-chevron-left-disabled-base64}');
            }
        }
    }
}
