@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/button-variables.less";
@import "../../variables/ds6/cta-button-variables.less";
@import "../../mixins/button/ds6/button-mixins.less";
@import "../base/cta-button.less";

a.cta-btn--b4 {
    background-color: @color-b4;
    border-color: @color-b1;
    color: @color-b1;

    &:visited {
        color: @color-b1;
    }

    &:focus,
    &:hover {
        background-color: @color-b1;
        border-color: @color-b1;
        color: @color-b4;
    }

    &:active {
        background-color: @color-b4;
        border-color: @color-b4;
        color: @color-white;
    }

    &:not([href]),
    &[aria-disabled="true"] {
        background-color: @color-disabled;
        border-color: @color-disabled;
        color: @color-grey1;
    }
}

a.cta-btn--r4 {
    background-color: @color-r4;
    border-color: @color-r1;
    color: @color-r1;

    &:visited {
        color: @color-r1;
    }

    &:focus,
    &:hover {
        background-color: @color-r1;
        border-color: @color-r1;
        color: @color-r4;
    }

    &:active {
        background-color: @color-r4;
        border-color: @color-r4;
        color: @color-r1;
    }

    &:not([href]),
    &[aria-disabled="true"] {
        background-color: @color-disabled;
        border-color: @color-disabled;
        color: @color-grey1;
    }
}

a.cta-btn svg.icon {
    height: 10px;
    width: 9.75px;
}

a.cta-btn {
    padding-bottom: 10px;
    padding-top: 10px;
}

a.cta-btn--large {
    font-size: @font-size-18;
    padding-bottom: 12px;
    padding-top: 12px;
}

a.cta-btn--large-fixed-height {
    padding-bottom: 12px;
    padding-top: 12px;
}

a.cta-btn--large-truncated {
    padding-bottom: 12px;
    padding-top: 12px;
}
