aside,
main,
.page-grid {
    outline: 0;
}
.demo-skeleton:empty {
    background: var(--color-loading-fill);
    border-radius: 8px;
    height: 150px;
}
nav .demo-skeleton:empty {
    height: 50px;
}
article .demo-skeleton:empty {
    height: 200px;
}
#hero .demo-skeleton:empty {
    background-color: #343a40;
    height: 150px;
}
main .demo-skeleton:empty {
    height: 800px;
}
aside .demo-skeleton:empty {
    height: 400px;
    margin-bottom: 16px;
}
