@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

@import "../base/select.less";

.select::after {
    .icon-chevron-down-bold(9px, 40px);
}

@media screen and (-ms-high-contrast: white-on-black) {
    .select::after {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-down-base64-light}');
    }
}

.select > select {
    background-color: @ds6-color-g201-gray;
    border-color: @ds6-color-g204-gray;
    border-radius: 0;
    font-family: @ds6-font-family-custom;
    font-size: @font-size-16;
    padding: 0 30px 0 16px;

    &:focus {
        border-color: @ds6-color-p004-blue;
    }

    &[disabled] {
        background-color: @ds6-color-g203-gray;
        color: @ds6-color-g204-gray;
    }
}

.select.select--borderless > select {
    &:focus {
        border-color: @ds6-color-p004-blue;
    }

    &[disabled] {
        background-color: @ds6-color-g201-gray;
        color: @ds6-color-g204-gray;
    }
}
