// DS6.v1.01

@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

.select-icon-down() {
    .icon-chevron-down-bold(9px, 5.2px);

    top: calc(50% - 2.6px);
}

@select-icon-down-base64-light: @ds6-icon-chevron-down-bold-base64-light;

@select-select-background-color: @ds6-color-white;
@select-select-border-color: @ds6-color-grey4;
@select-select-border-radius: initial;
@select-select-color: @ds6-font-family-custom;
@select-select-font-family: @ds6-font-family-custom;
@select-select-font-size: @ds6-font-size-14;
@select-select-padding: 0 32px 0 16px;

@select-select-focus-border-color: @ds6-color-b4;
@select-select-disabled-background-color: @ds6-color-grey1;
@select-select-disabled-color: @ds6-color-grey2;

@select-select-rtl-padding-left: 30px;
@select-select-rtl-padding-right: 16px;

@select-borderless-focus-border-color: @ds6-color-b7;
@select-borderless-disabled-background-color: @ds6-color-white;
@select-borderless-disabled-color: @ds6-color-grey2;

@select-aria-invalid-border-color: @ds6-color-r4;

@import "../base/select.less";

.select.select--borderless > select {
    &:focus {
        border-color: @select-borderless-focus-border-color;
    }

    &[disabled] {
        background-color: @select-borderless-disabled-background-color;
        color: @select-borderless-disabled-color;
    }
}

.select.select--large {
    > select {
        font-size: @ds6-font-size-18;
        height: @ds6-height-control-large;
    }
}

.select.select--extra-large {
    > select {
        font-size: @ds6-font-size-18;
        height: @ds6-height-control-extra-large;
    }
}
