.select {
    display: inline-block;
    height: 40px;
    position: relative;

    &::after {
        .background-icon-base;
        .icon-chevron-down-bold(9px, 40px);

        background-position: right center;
        content: "";
        margin-left: 8px;
        pointer-events: none;
        position: absolute;
        right: 16px;
        top: 0;
    }
}

.select > select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 0;
    font-size: 16px;
    height: 40px;
    padding: 8px 30px 8px 16px;
    vertical-align: top;

    &:focus {
        border-color: @ds6-color-p004-blue;
        outline: none;
    }

    // custom IE pseudo selector for the arrow
    &::-ms-expand {
        display: none;
    }
}

.select.select--borderless > select {
    background-color: transparent;
    border-color: transparent;

    &:focus {
        border: 1px solid @ds6-color-p004-blue;
    }
}

.select.select--small > select {
    font-size: 14px;
}
