@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

@import "../../dropdown/ds6/dropdown.less";

@ds6-select-height: 40px;

.select__control > input {
    border-color: @ds6-color-g204-gray;
    font-size: @ds6-font-size-14;
    height: @ds6-select-height;
    padding: 0 32px 0 16px;

    &:focus {
        border-color: @ds6-color-p004-blue;
    }

    &[disabled],
    &[aria-disabled="true"] {
        border-color: @ds6-color-disabled;

        & + span.select__icon {
            .icon-chevron-down-disabled(9px, @ds6-select-height);
        }
    }

    &::-moz-selection,
    &::selection {
        background: @ds6-color-g201-gray;
    }
}

.select--large,
.select--extra-large {
    .select__control > input {
        font-size: @ds6-font-size-18;
        height: @ds6-select-height + 8px;
    }

    span.select__icon {
        .icon-chevron-down-bold(9px, @ds6-select-height + 8px);
    }
}
