// lesshint spaceAroundComma: { enabled: false }

@import "../less/ds4/variables.less";

@font-face {
    font-family: @marketsans-name;
    src: url('@{marketsans-url}@{marketsans-filename-regular}.eot'); // IE9 Compat Modes
    src: url('@{marketsans-url}@{marketsans-filename-regular}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('@{marketsans-url}@{marketsans-filename-regular}.woff2') format('woff2'), // Super Modern Browsers
    url('@{marketsans-url}@{marketsans-filename-regular}.woff') format('woff'), // Pretty Modern Browsers
    url('@{marketsans-url}@{marketsans-filename-regular}.ttf') format('truetype'), // Safari, Android, iOS
    url('@{marketsans-url}@{marketsans-filename-regular}.svg#@{marketsans-filename-regular}') format('svg'); // Legacy iOS
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: @marketsans-name;
    src: url('@{marketsans-url}@{marketsans-filename-bold}.eot'); // IE9 Compat Modes
    src: url('@{marketsans-url}@{marketsans-filename-bold}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('@{marketsans-url}@{marketsans-filename-bold}.woff2') format('woff2'), // Super Modern Browsers
    url('@{marketsans-url}@{marketsans-filename-bold}.woff') format('woff'), // Pretty Modern Browsers
    url('@{marketsans-url}@{marketsans-filename-bold}.ttf') format('truetype'), // Safari, Android, iOS
    url('@{marketsans-url}@{marketsans-filename-bold}.svg#@{marketsans-filename-bold}') format('svg'); // Legacy iOS
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}
