.btn-base() {
    border: 1px solid;
    box-sizing: border-box;
    font-family: inherit;
    margin: 0; // Remove the button margin in Firefox and Safari
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;

    &--fixed-height {
        height: 40px;
    }

    &--truncated {
        .btn-truncate();

        height: 40px;
    }

    // https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
    &:focus:not(:focus-visible) {
        outline: none;
    }
}

.btn-icon-base() {
    align-self: center;

    &:first-child {
        margin-right: 8px; // when icon is placed before button text
    }

    &:last-child {
        margin-left: 8px; // when icon is placed after button text
    }

    &:only-child {
        margin: 0;
    }
}

.btn-fixed-height() {
    display: inline-flex;

    > svg {
        align-self: baseline;
        max-width: calc(100% - 32px);
    }
}

.btn-truncate() {
    &,
    & span {
        line-height: 1.4em; // fixes fake and cta buttons
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.btn-cell-base() {
    align-items: center;
    display: flex;
    width: 100%;

    &--fixed-height {
        .btn-fixed-height();
    }

    &--truncated {
        .btn-fixed-height();
    }
}
