@import "../../../less/variables-common.less";
@import "../../../less/mixins-common.less";

.btn-base() {
    border: 1px solid;
    box-sizing: border-box;
    font-family: inherit;
    font-size: @btn-font-size;
    margin: 0; // Remove the button margin in Firefox and Safari
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;

    &--fixed-height {
        height: 40px;
    }

    &--truncated {
        .btn-truncate();

        height: 40px;
    }
}

.btn-icon-base() {
    align-self: center;

    &:first-child {
        margin-right: 8px;
    }

    &:last-child {
        margin-left: 8px;
    }
}

.btn-fluid-base() {
    width: 100%;
}

.btn-fake-visited() {
    color: inherit;
}

.btn-fixed-height() {
    display: inline-flex;

    > span,
    > svg {
        align-self: baseline;
        max-width: calc(100% - 32px);
    }
}

.btn-truncate() {
    &,
    & span {
        line-height: 1.4em; // fixes fake and cta buttons
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.btn-cell-base() {
    align-items: center;
    display: flex;
    width: 100%;

    &--fixed-height {
        .btn-fixed-height();
    }

    &--truncated {
        .btn-fixed-height();
    }
}

.btn-cell-content-center() {
    justify-content: center;
}

.btn-icon-svg-base() {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.btn-fixed-height-icon-alignment() {
    align-self: center;
}

.btn-fixed-height-icon-dimensions() {
    height: 1rem;
    width: 1rem;
}
