@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/dropdown/ds6/dropdown-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

@combobox-height: 40px;

@combobox-input-background-color: @color-white;
@combobox-input-border-color: @color-grey4;
@combobox-input-border-radius: 0;
@combobox-input-font-size: @font-size-14;
@combobox-input-height: @combobox-height;
@combobox-input-padding: 0 32px 0 16px;

@combobox-input-readonly-text-shadow-color: @color-black;
@combobox-input-readonly-selection-background: @color-white;

@combobox-input-disabled-border-color: @color-disabled;
@combobox-input-disabled-readonly-text-shadow-color: @color-disabled;
@combobox-input-invalid-color: @color-r4;
@combobox-input-focus-border-color: @color-b4;

@import "../base/combobox.less";

.combobox__option--active[role="option"] {
    font-weight: bold;
}

.combobox--large .combobox__control > input {
    font-size: @font-size-18;
    height: @combobox-height + 8px;
}
