@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../../mixins/dropdown/ds6/dropdown-mixins.less";

@combobox-height: 40px;

@combobox-input-background-color: @ds6-color-white;
@combobox-input-border-color: @ds6-color-grey4;
@combobox-input-border-radius: 0;
@combobox-input-font-size: @font-size-14;
@combobox-input-height: @combobox-height;
@combobox-input-padding: 0 32px 0 16px;

@combobox-input-readonly-text-shadow-color: @ds6-color-black;
@combobox-input-readonly-selection-background: @ds6-color-white;

@combobox-input-disabled-border-color: @ds6-color-disabled;
@combobox-input-disabled-readonly-text-shadow-color: @ds6-color-disabled;
@combobox-input-invalid-color: @ds6-color-r4;
@combobox-input-focus-border-color: @ds6-color-b4;

@combobox-icon-base64-light: @icon-chevron-down-bold-base64-light;

.combobox-icon() {
    .background-icon-image-mixin('chevron-down-bold', 9px, @combobox-height);

    background-size: 9px 5px;
}

.combobox-input-disabled-icon() {
    .background-icon-image-mixin('chevron-down-disabled', 9px, @combobox-height);

    background-size: 9px 5px;
}

@import "../base/combobox.less";

.combobox__option--active[role^="option"] {
    font-weight: bold;
}

.combobox--large,
.combobox--extra-large {
    .combobox__control > input {
        font-size: @font-size-18;
        height: @combobox-height + 8px;
    }

    span.combobox__icon {
        .background-icon-image-mixin('chevron-down-bold', 9px, @combobox-height + 8px);

        background-size: 9px 5px;
    }
}
