@combobox-height: 40px;

.combobox {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.combobox__control > input {
    appearance: none;
    background-color: @ds6-color-g201-gray;
    border: 1px solid @ds6-color-g204-gray;
    border-radius: 0;
    box-sizing: border-box;
    // fixes the cursor in firefox (1 of 2)
    color: transparent;
    cursor: default;
    font-family: inherit;
    font-size: 14px;
    height: @combobox-height;
    padding: 0 16px;
    // fixes the cursor in firefox (2 of 2)
    text-shadow: 0 0 0 @ds6-color-g206-gray;
    vertical-align: middle;
    width: 100%;

    &:focus {
        border-color: @ds6-color-p004-blue;
    }

    &[disabled],
    &[aria-disabled="true"] {
        border-color: @ds6-color-disabled;
        // fixes the cursor in firefox
        color: transparent;
        text-shadow: 0 0 0 @ds6-color-disabled;

        & + span.combobox__icon {
            .icon-chevron-down-disabled(9px, @combobox-height);
        }
    }

    &[aria-expanded="true"] {
        border-bottom: 0;
        padding-bottom: 1px; // fix for movement when border is removed
    }

    &::-moz-selection {
        background: @ds6-color-g201-gray;
    }

    &::selection {
        background: @ds6-color-g201-gray;
    }
}

span.combobox__icon {
    .background-icon-base;
    .icon-chevron-down-bold(9px, @combobox-height);

    background-position: right center;
    margin-left: 8px;
    pointer-events: none;
    position: absolute;
    right: 17px; // +1 px for the border on the input box
    top: 0;
}

.combobox__control--expanded span.combobox__icon {
    transform: rotate(180deg);
}

.combobox__control--borderless > input {
    background-color: transparent;
    border-color: transparent;
}

@media screen and (-ms-high-contrast: white-on-black) {
    span.combobox__icon {
        background-color: transparent;
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-down-bold-base64-light}');
    }
}
