@screen-size-1: 320px;
@screen-size-2: 480px;
@screen-size-3: 600px;
@screen-size-4: 768px;
@screen-size-5: 960px;
@screen-size-6: 1280px;

@page-grid-cols-small: 8;
@page-grid-cols-large: 16;
@page-grid-gutter-width-small: @spacing-100;
@page-grid-gutter-width-large: @spacing-200;

@marketsans-url: "https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/";
@marketsans-fontname: "Market Sans";
@marketsans-filename-regular: "MarketSans-Regular-WebS";
@marketsans-filename-bold: "MarketSans-SemiBold-WebS";

@font-family-default: @marketsans-fontname, Arial, sans-serif;

@font-weight-regular: 500;
@font-weight-bold: 700;

@font-size-12: 0.75rem;
@font-size-14: 0.875rem;
@font-size-16: 1rem;
@font-size-18: 1.125rem; // secret size
@font-size-20: 1.25rem;
@font-size-24: 1.5rem;
@font-size-30: 1.875rem;
@font-size-36: 2.25rem;
@font-size-46: 2.875rem;

@spacing-25: @spacing-100 * 0.25;
@spacing-50: @spacing-100 * 0.5;
@spacing-100: 8px;
@spacing-200: @spacing-100 * 2;
@spacing-300: @spacing-100 * 3;
@spacing-400: @spacing-100 * 4;
@spacing-600: @spacing-100 * 6;
@spacing-800: @spacing-100 * 8;

@border-radius-50: 8px;
@border-radius-100: 16px;

@color-yellow-1: #fcf2bd;
@color-yellow-2: #f7e376;
@color-yellow-3: #fbcd25;
@color-yellow-4: #f7b100;
@color-yellow-5: #e58c02;
@color-yellow-6: #aa5404;
@color-yellow-7: #592e13;

@color-teal-1: #c2f2ef;
@color-teal-2: #71e3e2;
@color-teal-3: #1dcbca;
@color-teal-4: #02a2ac;
@color-teal-5: #01718f;
@color-teal-6: #0e4a6c;
@color-teal-7: #003147;

@color-lime-1: #f4fabe;
@color-lime-2: #e9f577;
@color-lime-3: #c9e43b;
@color-lime-4: #accf02;
@color-lime-5: #86b300;
@color-lime-6: #4b7d06;
@color-lime-7: #364f03;

@color-red-4: #e0103a;
@color-red-5: #c4003a;
@color-red-6: #a00739;

@url-image-progress-spinner: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-small.svg");
@url-image-progress-spinner-large: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-large.svg");

// DEPRECATED
@border-radius-none: 0;
@spacing-extra-small: @spacing-100;
@border-radius-small: @border-radius-50;
@border-radius-medium: @border-radius-100;
@spacing-small: @spacing-200;
@spacing-medium: @spacing-300;
@spacing-large: @spacing-400;
@spacing-extra-large: @spacing-800;
@color-y1: @color-yellow-1;
@color-y2: @color-yellow-2;
@color-y3: @color-yellow-3;
@color-y4: @color-yellow-4;
@color-y5: @color-yellow-5;
@color-y6: @color-yellow-6;
@color-y7: @color-yellow-7;
@color-t1: @color-teal-1;
@color-t2: @color-teal-2;
@color-t3: @color-teal-3;
@color-t4: @color-teal-4;
@color-t5: @color-teal-5;
@color-t6: @color-teal-6;
@color-t7: @color-teal-7;
@color-l1: @color-lime-1;
@color-l2: @color-lime-2;
@color-l3: @color-lime-3;
@color-l4: @color-lime-4;
@color-l5: @color-lime-5;
@color-l6: @color-lime-6;
@color-l7: @color-lime-7;
@color-r4: @color-red-4;
@color-r5: @color-red-5;
@color-r6: @color-red-6;
