@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";

.placeholder() {
    &::-webkit-input-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        color: @color-core-gray-dim;
        font-weight: 200;
    }
}

.placeholder-disabled() {
    &::-webkit-input-placeholder {
        color: @color-core-gray-silver;
    }

    &::-moz-placeholder {
        color: @color-core-gray-silver;
    }

    &:-ms-input-placeholder {
        color: @color-core-gray-silver;
    }
}

.placeholder-floated() {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }

    &::placeholder {
        color: transparent;
    }
}

.placeholder-floated--focus() {
    &:focus::-webkit-input-placeholder {
        color: @color-core-gray-dim;
    }

    &:focus::-moz-placeholder {
        color: @color-core-gray-dim;
    }

    &:focus:-ms-input-placeholder {
        color: @color-core-gray-dim;
    }

    &:focus::placeholder {
        color: @color-core-gray-dim;
    }
}

@textbox-control-background: @color-core-white;
@textbox-control-border-color: @color-core-gray-silver;
@textbox-control-border-radius: 3px;
@textbox-control-color: @color-core-gray-davys;
@textbox-control-font-family: @font-family-base;
@textbox-control-font-size: inherit;
@textbox-control-height: @ds4-height-control-medium;

@textbox-control-disabled-color: @color-core-gray-silver;
@textbox-control-readonly-color: @color-core-gray-silver;
@textbox-control-invalid-color: @color-interface-hot;
@textbox-control-focus-border-color: @color-core-blue;

@textbox-control-underline-border-bottom-color: @color-core-gray-silver;

@textbox-icon-color: @color-core-gray-spanish;
@textbox-icon-fill: @color-core-gray-spanish;
@textbox-icon-width: 1em;
@textbox-actionable-icon-width: 1.274em;

// Fixed Height Values for Textbox, Combobox & Button
// (size are PX intentionally, and should not scale with root font size)
//-----------------------------

@ds4-height-control-small: 32px;
@ds4-height-control-medium: 40px;
@ds4-height-control-large: 48px;
@ds4-height-control-extra-large: 56px;

@import "../base/textbox.less";

input.textbox__control,
textarea.textbox__control {
    &[disabled] {
        background-color: @color-core-gray-light;
        border: 0;
    }

    &[readonly] {
        background-color: @color-core-gray-light;
        color: @color-core-gray-dim;
    }
}

input.textbox__control--underline {
    border-radius: 0;
}

.textbox svg {
    stroke-width: 0.5;
}

// BLOCK MODIFIERS

.textbox--large {
    font-size: @font-size-16;

    input.textbox__control,
    textarea.textbox__control {
        height: @ds4-height-control-large;
    }
}

// DEPRECATED IN V10 (remove in v11)
.textbox--small {
    input.textbox__control,
    textarea.textbox__control {
        font-size: @font-size-12;
        height: @ds4-height-control-small;
    }
}

// DEPRECATED IN V10 (remove in v11)
.textbox--extra-large {
    font-size: @font-size-18;

    input.textbox__control,
    textarea.textbox__control {
        height: @ds4-height-control-extra-large;
    }
}
