 // Textbox text should NOT scale with root font-size. All font-size defined with px.

.textbox {
    position: relative;
}

span.textbox {
    display: inline-block;
}

input.textbox__control,
textarea.textbox__control {
    .placeholder;
    appearance: none;
    border: 1px solid @color-core-gray-silver;
    border-radius: 3px;
    background: @color-core-white;
    box-sizing: border-box;
    color: @color-core-gray-davys;
    font-family: @font-family-base;
    font-size: inherit;
    height: @height-control-medium;
    line-height: 1.15; // normalized line-height
    margin: 0; // Remove the margin in Firefox and Safari.
    padding: 0 16px 0 16px;

    &[disabled] {
        .placeholder-disabled;
        background-color: @color-core-gray-light;
        border: 0;
        color: @color-core-gray-silver;
    }

    &[readonly] {
        background-color: @color-core-gray-light;
        color: @color-core-gray-dim;
        border-color: @color-core-gray-silver;
    }

    &[aria-invalid="true"] {
        border-color: @color-interface-hot;
    }

    &:focus {
        border-color: @color-core-blue;
        outline: 0;
    }
}

textarea.textbox__control {
    min-height: 200px;
    overflow: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    resize: vertical;
    vertical-align: middle;
}

span.textbox__icon,
.textbox__icon {
    display: inline-flex;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;

    &::before {
        align-self: center;
    }
}

span.textbox__icon {
    color: @color-core-gray-spanish;
    font-size: 14px; // icon shouldn't scale with font-size cascade

    &::before {
        font-family: @iconfont-name;
    }
}

.textbox__icon {
    width: 1em;
    fill: @color-core-gray-spanish;
    stroke-width: 0.5;
}

// BLOCK MODIFIERS

span.textbox__icon:first-child,
.textbox__icon:first-child {
    left: 16px;

    + input.textbox__control,
    + textarea.textbox__control {
        padding-left: 40px;
    }
}

.textbox--icon-end {
    input.textbox__control,
    textarea.textbox__control {
        padding-right: 40px;
    }

    span.textbox__icon:last-child,
    .textbox__icon:last-child {
        right: 16px;
    }
}

.textbox--small {
    font-size: 12px;

    input.textbox__control,
    textarea.textbox__control {
        height: @height-control-small;
    }
}

.textbox--large {
    font-size: 16px;

    input.textbox__control,
    textarea.textbox__control {
        height: @height-control-large;
    }
}

.textbox--extra-large {
    font-size: 18px;

    input.textbox__control,
    textarea.textbox__control {
        height: @height-control-extra-large;
    }
}

// ELEMENT MODIFIERS

.textbox__control--fluid {
    width: 100%;
}

// RTL

[dir="rtl"] {
    span.textbox__icon:first-child::before,
    .textbox__icon:first-child {
        left: auto;
        right: 16px;

        + input.textbox__control,
        + textarea.textbox__control {
            padding-left: 16px;
            padding-right: 40px;
        }
    }

    .textbox--icon-end {
        input.textbox__control,
        textarea.textbox__control {
            padding-left: 40px;
            padding-right: 16px;
        }

        span.textbox__icon:last-child::before,
        .textbox__icon:last-child {
            left: 16px;
            right: auto;
        }
    }
}
