@import "../variables/variables";
@import "../mixins/private/token-mixins";

.badge {
    align-items: center;
    border-radius: 16px;
    display: inline-flex;
    font-size: 10px;
    height: 16px;
    justify-content: center;
    min-width: 8px;
    padding: 2px 6px;
    white-space: nowrap;
    @include background-color-token(
        badge-background-color,
        color-background-attention
    );
    @include color-token(badge-foreground-color, color-foreground-on-attention);
}
