{
  "presets": [
    [
      "@babel/preset-env",{
        "useBuiltIns": "false",
        "corejs": 3,
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": ["transform-object-assign"]
}
