{
  "extends": "ebay",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "max-len": 0,
    "no-unused-vars": ["error", { "args": "none" }],
    "prefer-arrow-callback": 0
  }
}
