{
    "extends": ["ebay", "prettier"],
    "env": {
        "browser": true
    },
    "rules": {
        "arrow-body-style": 0,
        "prefer-arrow-callback": 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
