_cdn
_site
docs/.jekyll-metadata
node_modules
npm-debug.log*
yarn-error.log*
.DS_Store
.history
yarn.lock
docs/_babel
lint.log
docs/static/*.min.css
!docs/static/docs.min.css
.storybook/preview-head.html
.idea
.storybook-percy
