{
  "extends": "stylelint-config-standard",
  "ignoreFiles": "src/less/bundles/skin/ds4/skin-full.less",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-name-space-after": null,
    "at-rule-no-unknown": [ true, {
        ignoreAtRules: ["icon-mixin"]}
    ],
    "color-hex-length": null,
    "comment-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "font-family-no-missing-generic-family-keyword": null,
    "indentation": null,
    "max-empty-lines": null,
    "media-feature-colon-space-after": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "number-no-trailing-zeros": null,
    "order/properties-alphabetical-order": null,
    "rule-empty-line-before": null,
    "selector-list-comma-newline-after": null,
    "selector-pseudo-element-colon-notation": null
  }
}
