@import "../../variables/ds6/color-variables.less";

@stepper-confirmation-color: @color-g4;
@stepper-information-color: @color-b4;
@stepper-attention-color: @color-r4;
@stepper-upcoming-color: @color-grey3;
@stepper-text-dark-color: @color-black;
@stepper-text-light-color: @color-grey5;
@stepper-icon-size: 24px;

@import "../base/stepper.less";
