@import "../../mixins/utility/utility-mixins.less";

@program-badge-color: @color-b4;
@program-badge-default-width: 48px;
@program-badge-default-height: 48px;
@program-badge-money-back-guarantee-us-width: 48px;
@program-badge-money-back-guarantee-us-height: 50px;
@program-badge-ebay-plus-width: 58px;
@program-badge-ebay-plus-height: 16px;

svg {
    &.program-badge {
        .program-badge-base-mixin();
    }

    &.program-badge--authenticity-guaranteed,
    &.program-badge--click-to-call,
    &.program-badge--escrow,
    &.program-badge--free-warranty,
    &.program-badge--money-back-guarantee-chf,
    &.program-badge--money-back-guarantee-eu,
    &.program-badge--money-back-guarantee-uk,
    &.program-badge--money-back-guarantee-zl,
    &.program-badge--top-rated-seller {
        .program-badge-image-mixin("default");
    }

    &.program-badge--money-back-guarantee-us {
        .program-badge-image-mixin("money-back-guarantee-us");
    }

    &.program-badge--ebay-plus {
        .program-badge-image-mixin("ebay-plus");
        color: #23804f;
    }
}
