@program-badge-color: @color-b4;
@program-badge-authenticity-guaranteed-width: 48px;
@program-badge-authenticity-guaranteed-height: 48px;
@program-badge-click-to-call-width: 48px;
@program-badge-click-to-call-height: 48px;
@program-badge-escrow-width: 48px;
@program-badge-escrow-height: 48px;
@program-badge-free-warranty-width: 48px;
@program-badge-free-warranty-height: 48px;
@program-badge-money-back-guarantee-chf-width: 48px;
@program-badge-money-back-guarantee-chf-height: 48px;
@program-badge-money-back-guarantee-eu-width: 48px;
@program-badge-money-back-guarantee-eu-height: 48px;
@program-badge-money-back-guarantee-uk-width: 48px;
@program-badge-money-back-guarantee-uk-height: 48px;
@program-badge-money-back-guarantee-us-width: 48px;
@program-badge-money-back-guarantee-us-height: 50px;
@program-badge-money-back-guarantee-zl-width: 48px;
@program-badge-money-back-guarantee-zl-height: 48px;
@program-badge-top-rated-seller-width: 48px;
@program-badge-top-rated-seller-height: 48px;
@program-badge-ebay-plus-width: 58px;
@program-badge-ebay-plus-height: 16px;

svg {
    &.program-badge {
        .foreground-program-badge-base-mixin();
    }

    &.program-badge--authenticity-guaranteed {
        .foreground-program-badge-image-mixin("authenticity-guaranteed");
    }

    &.program-badge--click-to-call {
        .foreground-program-badge-image-mixin("click-to-call");
    }

    &.program-badge--escrow {
        .foreground-program-badge-image-mixin("escrow");
    }

    &.program-badge--free-warranty {
        .foreground-program-badge-image-mixin("free-warranty");
    }

    &.program-badge--money-back-guarantee-chf {
        .foreground-program-badge-image-mixin("money-back-guarantee-chf");
    }

    &.program-badge--money-back-guarantee-eu {
        .foreground-program-badge-image-mixin("money-back-guarantee-eu");
    }

    &.program-badge--money-back-guarantee-uk {
        .foreground-program-badge-image-mixin("money-back-guarantee-uk");
    }

    &.program-badge--money-back-guarantee-us {
        .foreground-program-badge-image-mixin("money-back-guarantee-us");
    }

    &.program-badge--money-back-guarantee-zl {
        .foreground-program-badge-image-mixin("money-back-guarantee-zl");
    }
    &.program-badge--top-rated-seller {
        .foreground-program-badge-image-mixin("top-rated-seller");
    }
    &.program-badge--ebay-plus {
        .foreground-program-badge-image-mixin("ebay-plus");
        color: #23804f;
    }
}
