.listbox__status {
    &:first-child {
        margin-left: 0;
        margin-right: 8px;
    }

    &:last-child {
        margin-left: 8px;
    }
}

span.listbox__status {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 8px 5.7px;
    height: 5.7px;
    width: 8px;
}
