div.listbox {
    margin: 16px 0; // margin collapse sensible default
}

span.listbox {
    display: inline-block;
    vertical-align: bottom;
}

div.listbox__options[role="listbox"] {
    background-color: #fff;
    cursor: default; // needed to override text cursor
}

span.listbox__options[role="listbox"] {
    display: inline-block;
}

div.listbox__options--fix-width[role="listbox"] {
    width: 100%;
}

div.listbox__options--reverse[role="listbox"] {
    right: 0;
}

div.listbox__option[role="option"] {
    .dropdown-option-base;
}

span.listbox__value {
    .truncate;

    flex: 1;
}

div.listbox__option svg.icon {
    .dropdown-status;
}

div.listbox__options[role="listbox"]:focus .listbox__option--active[role="option"] {
    background-color: @dropdown-item-hover-background-color;
}

div.listbox__option[aria-selected="true"] svg.icon {
    opacity: 1;
}

div.listbox__option[role="option"]:active svg.icon {
    color: @dropdown-item-active-status-color;
}
