@import "../../mixins/utility/utility-mixins.less";

div.listbox {
    margin: 16px 0; // margin collapse sensible default
}

span.listbox {
    display: inline-block;
    vertical-align: bottom;
}

div.listbox__options[role="listbox"] {
    .background-color-token(listbox-background-color, color-background-default);
    cursor: default; // needed to override text cursor
}

span.listbox__options[role="listbox"] {
    display: inline-block;
}

div.listbox__options--fix-width[role="listbox"] {
    width: 100%;
}

div.listbox__options--reverse[role="listbox"] {
    right: 0;
}

div.listbox__option[role="option"] {
    .listbox-option-base();
}

span.listbox__value {
    .truncate();

    flex: 1;
}

div.listbox__option svg.icon {
    .listbox-option-status();

    margin-left: 8px;
}

[dir="rtl"] div.listbox__option svg.icon {
    margin-left: 0;
    margin-right: 8px;
}

div.listbox__options[role="listbox"]:focus .listbox__option--active[role="option"] {
    .background-color-token(listbox-option-hover-background-color, color-selection-list-item-hover-background);
    .color-token(listbox-option-hover-foreground-color, color-text-default);
}

div.listbox__option[aria-selected="true"] svg.icon {
    opacity: 1;
}

div.listbox__option[role="option"]:active svg.icon {
    .color(listbox-option-active-status-color);
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
.listbox__options:focus:not(:focus-visible) {
    outline: none;
}
