@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

.checked-icon-unchecked() {
    .ds4-icon-checkbox-unchecked(18px, 18px);
}

.checked-icon-checked() {
    .ds4-icon-checkbox-checked(18px, 18px);
}

@checkbox-checked-color: @ds4-color-core-blue;
@checkbox-unchecked-icon-base64-light: @ds4-icon-checkbox-unchecked-base64-light;
@checkbox-checked-icon-base64-light: @ds4-icon-checkbox-checked-base64-light;

@import "../base/checkbox.less";
