@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/icon/ds4/icon-mixins.less";

.checked-icon-unchecked() {
    .background-icon-image-mixin('checkbox-unchecked', 18px, 18px);
}

.checked-icon-checked() {
    .background-icon-image-mixin('checkbox-checked', 18px, 18px);
}

@checkbox-checked-color: @color-core-blue;
@checkbox-unchecked-color: @color-core-gray-dim;
@checkbox-unchecked-icon-base64-light: @icon-checkbox-unchecked-base64-light;
@checkbox-checked-icon-base64-light: @icon-checkbox-checked-base64-light;

@import "../base/checkbox.less";
