.checkbox {
    display: inline-flex;
    font-size: 1rem;
    margin-right: -4px;
    vertical-align: text-bottom;
}

.checkbox__control[type="checkbox"],
.checkbox__custom-control[type="checkbox"] {
    font-size: 100%;
    height: 1em;
    opacity: 0;
    position: absolute;
    width: 1em;
    z-index: 1;
}

.checkbox__custom-control[type="checkbox"]:not([disabled]) {
    cursor: pointer;
}

.checkbox__control[type="checkbox"] {
    &:checked + .checkbox__icon use {
        .mixin-bounce-animation;
        fill: @color-core-blue;
    }

    + .checkbox__icon--inherit {
        color: inherit;
    }

    &:checked + .checkbox__icon--inherit use {
        fill: inherit;
    }

    &:focus + .checkbox__icon {
        outline: @outline-dotted;
    }

    &[disabled] + .checkbox__icon {
        .opacity(0.5);
    }
}

.checkbox__custom-control[type="checkbox"] {
    & + .checkbox__icon[hidden] {
        color: currentColor;
    }

    &:not(:checked) {
        & + .checkbox__icon .checkbox__checked {
            display: none;
        }

        & + .checkbox__icon .checkbox__unchecked {
            display: inline-block;
        }
    }

    &:checked {
        & + .checkbox__icon .checkbox__checked {
            .mixin-bounce-animation;
            display: inline-block;
        }

        & + .checkbox__icon .checkbox__unchecked {
            display: none;
        }
    }

    &:focus + .checkbox__icon {
        outline: @outline-dotted;
    }

    &[disabled] + .checkbox__icon {
        .opacity(0.5);
    }
}

.checkbox__icon {
    color: @color-core-gray-silver;
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;
}

// progressive enhancement - over-ride hidden SVG
.checkbox__icon[hidden] {
    display: inline-flex;
}

.checkbox__icon svg[aria-hidden="true"] {
    .svg-icon-default;
}

.checkbox__control + .checkbox__icon use {
    /* csslint ignore:start */
    fill: transparent;
    /* csslint ignore:end */
}

.checkbox__icon:not([hidden]) {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20%20fill%3D%22%23cccccc%22%20d%3D%22M25.107%2032.030h-18.214c-3.456%200-6.268-2.81-6.268-6.264v-19.529c0-3.456%202.812-6.268%206.268-6.268h18.214c3.456%200%206.268%202.812%206.268%206.268v19.529c0%203.452-2.812%206.264-6.268%206.264zM6.893%201.85c-2.419%200-4.386%201.967-4.386%204.386v19.529c0%202.417%201.967%204.382%204.386%204.382h18.214c2.419%200%204.386-1.965%204.386-4.382v-19.529c0-2.419-1.967-4.386-4.386-4.386h-18.214z%22%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1em;
    height: 1em;
}

.checkbox__control[type="checkbox"] {
    &:checked + .checkbox__icon:not([hidden]) {
        .mixin-bounce-animation;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M0.543%205.647c0-3.119%202.531-5.647%205.65-5.647h19.309c3.12%200%205.65%202.511%205.65%205.647v20.705c0%203.119-2.531%205.647-5.65%205.647h-19.309c-3.12%200-5.65-2.511-5.65-5.647v-20.705zM5.313%2017.587l7.039%206.839%2013.831-13.439-2.636-2.561-10.929%2010.62-4.442-4.317-2.862%202.858z%22%3E%3C/path%3E%3C/svg%3E');
    }
}
