import path from "path";
import flags from "./flags.json"
import icons from "./icons.json"

static const modules = import.meta.glob("../modules/*.marko", { eager: true });

export { modules, flags, icons };
