@import "../../primitives/ds4/primitives.less";
@import "../base/tokens.less";

// semantic: foreground (make same as DS6 in v14)
@color-foreground-primary: @color-neutral-6;
@color-foreground-disabled: @color-neutral-3;

// actions (make same as DS6 in v14)
@opacity-action-disabled: 0.5;
@font-weight-action-primary: normal;

// buttons (make same as DS6 in v14)
@border-radius-button: @border-radius-extra-small;
@border-radius-button-icon-only: @border-radius-extra-small;
@border-radius-dropdown-button: 4px;

// dropdowns (make same as DS6 in v14)
@color-dropdown-border-radius-border: @color-neutral-3;
@color-dropdown-border: @color-neutral-3;
@border-radius-dropdown: @border-radius-none;
@box-shadow-dropdown: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
@box-shadow-dropdown-border-radius: 0 2px 4px 0 rgba(199, 199, 199, 0.5);

// flyouts (make same as DS6 in v14)
@color-flyout-box-shadow: rgba(0, 0, 0, 0.15);

// dialogs (make same as DS6 in v14)
@border-radius-dialog: 0;

// labels (make same as DS6 in v14)
@color-label: @color-text-secondary;
@color-label-focus: @color-text-secondary;
@color-label-invalid: @color-text-secondary;
@color-label-disabled: #555;

// form controls (make same as DS6 in v14)
@border-radius-form-control: @border-radius-extra-small;
@font-size-form-control-large: @font-size-medium;

// selection lists (make same as DS6 in v14)
@color-selection-list-item-hover-background: @color-neutral-1;

// DEPRECATED (remove in v14)
@color-status-confirmation: @color-g4;
@color-status-description: @color-background-secondary;
@color-status-general: @color-neutral-4;
@color-text-primary: @color-foreground-primary;
@color-text-default: @color-foreground-primary;
@color-text-disabled: @color-foreground-disabled;
@color-action-primary-disabled: @color-background-accent;
@color-status-attention-light: @color-r1;
@color-status-confirmation-light: @color-g1;
@color-status-information-light: @color-b1;
@color-separator: @color-neutral-1;
@color-image-border: @color-neutral-1;
