@import "../../primitives/ds4/primitives.less";
@import "../base/tokens.less";

// DEPRECATED (remove in v14)
@color-status-confirmation: @color-green-4;
@color-status-description: @color-background-secondary;
@color-status-general: @color-neutral-4;
@color-text-primary: @color-foreground-primary;
@color-text-default: @color-foreground-primary;
@color-text-disabled: @color-foreground-disabled;
@color-action-primary-disabled: @color-background-accent;
@color-status-attention-light: @color-red-1;
@color-status-confirmation-light: @color-green-1;
@color-status-information-light: @color-blue-1;
@color-separator: @color-neutral-1;
@color-image-border: @color-neutral-1;
@border-radius-dropdown-button: 4px;
@border-radius-button-icon-only: 4px;
@color-selection-list-item-hover-background: @color-neutral-1;
