@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/icon/ds4/icon-mixins.less";

@dialog-background-color: @color-text-default;
@dialog-window-before-background-color: @color-interface-view-background;
@dialog-window-before-modifiers-background-color: @color-interface-view-background;

@dialog-back-close-background-color: @color-core-white;
@dialog-back-close-color: @color-text-default;

@dialog-back-close-hover-focus-color: @color-core-blue;

@dialog-transitions-hide-mask-fade-background-color: @color-text-default;
@dialog-transitions-show-mask-fade-background-color: @color-text-default;
@dialog-large-gutter-size: 16px;

@import "../base/dialog.less";

.dialog__back,
.dialog__close {
    font-size: @font-size-14;
    height: 38px;
    padding: 0;
    width: 50px;

    svg {
        height: 16px;
        width: 16px;
    }
}

.dialog__heading {
    background-color: white;
    margin: 0;
}

.dialog__heading > h2 {
    border-bottom: 1px solid @color-core-gray-light;
    box-sizing: border-box;
    font-size: @font-size-18;
    font-weight: 400;
    left: 0;
    overflow: hidden;
    padding: 8px 50px;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}

.dialog__heading > .dialog__close {
    position: absolute;
}

.dialog__body {
    font-size: @font-size-14;
    padding-top: calc(1.125rem ~"+" 14px);

    h2:first-of-type {
        background-color: @color-core-white;
        border-bottom: 1px solid @color-core-gray-light;
        box-sizing: border-box;
        font-size: @font-size-18;
        font-weight: 400;
        left: 0;
        margin: -16px -16px 16px;
        overflow: hidden;
        padding: 8px 50px 8px;
        position: absolute;
        text-align: center;
        text-overflow: ellipsis;
        top: 0;
        white-space: nowrap;
        width: calc(100% ~"+" 32px);
    }
}

.dialog--hide-close-button .dialog__close {
    display: none;
}

@media (min-width: 601px) {
    .dialog__window {
        &:not(&--full) {
            max-width: 980px;
            min-width: auto;
            width: calc(100% ~"-" 32px);
        }
    }

    .dialog__body h2:first-of-type {
        padding-left: 16px;
        padding-right: 16px;
    }
}
