@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";

@textbox-underline-color: @color-form-control-underline;
@textbox-focus-placeholder-color: @color-grey5;
@floating-label-color: @color-text-secondary;
@floating-label-inline-font-size: @font-size-regular;
@floating-label-disabled-color: @color-form-control-label-disabled;

@import "../base/legacy-textbox.less";
