@import "../variables/variables";

div.file-upload {
    border-radius: var(--radius-large, 16px);

    &__assets {
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax($card-size-default, max-content)
        );
        grid-column-gap: var(--spacing-400, 32px);
        grid-row-gap: var(--spacing-100, 8px);

        &--compact {
            grid-template-columns: repeat(
                auto-fill,
                minmax($card-size-large, max-content)
            );
            grid-column-gap: var(--spacing-100, 8px);
        }

        &--list {
            grid-template-columns: 1fr;
            grid-column-gap: var(--spacing-100, 8px);
        }
    }
}

div.file-uploader {
    border-radius: var(--border-radius-100, 16px);

    &__container {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background: var(--color-background-secondary, #f7f7f7);
        border: 1px dashed var(--color-neutral-500, #8f8f8f);
        border-radius: var(--border-radius-100, 16px);
        margin-bottom: var(--spacing-200, 16px);
        padding: var(--spacing-300, 24px);
        min-width: fit-content;

        &--compact {
            padding: var(--spacing-200, 16px);
        }
    }

    &__upload-icon-button {
        background: var(--color-background-on-secondary, #fff);
        border-radius: 99px;
        margin-right: var(--spacing-300, 24px);
        padding: var(--spacing-300, 24px);
        max-height: 24px;
        align-self: center;

        svg {
            fill: var(--color-foreground-primary, #191919);
            width: 24px;
            height: 24px;
        }

        &--compact {
            margin-right: var(--spacing-100, 8px);
            padding: var(--spacing-200, 12px);
            max-height: 16px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-grow: 1;

        &-header {
            color: var(--color-foreground-primary, #191919);
            font-size: var(--font-size-16);
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 4px;

            &--compact {
                font-size: var(--font-size-14);
                line-height: 20px;
            }
        }

        &-subheader {
            color: var(--color-foreground-secondary, #707070);
            font-size: var(--font-size-14);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: var(--spacing-100, 8px);

            &--compact {
                font-size: var(--font-size-12);
                line-height: 16px;
            }
        }
    }

    input.file-uploader-input {
        display: none;
    }
}
