@import "../variables/variables";

div.file-upload {
    border-radius: var(--radius-large, 16px);

    &__assets {
        display: grid;
        grid-template-columns: repeat(auto-fill, 132px);
        grid-column-gap: 32px;
        grid-row-gap: 8px;
    }
}

div.file-uploader {
    border-radius: var(--radius-large, 16px);

    &__container {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background: var(--color-background-secondary, #f7f7f7);
        border: var(--dimension-core-0, 1px) dashed
            var(--border-default, #8f8f8f);
        border-radius: var(--radius-large, 16px);
        margin-bottom: 16px;
        padding: 24px;
        min-width: fit-content;

        &--compact {
            padding: 16px;
        }
    }

    &__upload-icon-button {
        background: var(--color-background-on-secondary, #fff);
        border-radius: 99px;
        margin-right: 24px;
        padding: 24px;
        max-height: 24px;
        align-self: center;

        svg {
            fill: var(--color-foreground-primary, #191919);
            width: 24px;
            height: 24px;
        }

        &--compact {
            margin-right: 8px;
            padding: 12px;
            max-height: 16px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-grow: 1;

        &-header {
            color: var(--color-foreground-primary, #191919);
            font-size: var(--font-size-16);
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 4px;

            &--compact {
                font-size: var(--font-size-14);
                line-height: 20px;
            }
        }

        &-subheader {
            color: var(--color-foreground-secondary, #707070);
            font-size: var(--font-size-14);
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 8px;

            &--compact {
                font-size: var(--font-size-12);
                line-height: 16px;
            }
        }
    }

    input.file-uploader-input {
        display: none;
    }
}

.tile {
    width: 132px;
    height: 132px;
    justify-content: center;
    align-items: center;
    gap: var(--padding-xsmall, 4px);
    background-color: lightgreen;
}
