@import "../variables/variables";
@import "../mixins/private/token-mixins";

div.file-upload-input {
    display: grid;
    grid-template-areas: "center";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

div.file-upload-input label[for="file-upload-input-1"] {
    grid-area: center;
}

input.file-upload-input__input[type="file"] {
    @include border-radius-token(
        file-upload-input-border-radius,
        border-radius-100
    );

    grid-area: center;
}

div.file-upload-input__container {
    @include background-color-token(
        file-upload-input-background-color,
        color-background-secondary
    );

    @include border-radius-token(
        file-upload-input-border-radius,
        border-radius-100
    );

    @include border-color-token(
        file-upload-input-border-color,
        color-neutral-500
    );

    border: 1px dashed;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100, 8px);
    min-width: fit-content;
    padding: var(--spacing-200, 16px);
}

div.file-upload-input__upload-icon {
    @include background-color-token(
        file-upload-input-upload-icon-background-color,
        color-background-primary
    );

    align-self: center;
    border-radius: 99px;
    max-height: 16px;
    padding: var(--spacing-200, 12px);
}

div.file-upload-input__upload-icon svg {
    @include fill-token(
        file-upload-input-upload-icon-fill,
        color-foreground-primary
    );

    height: 16px;
    width: 16px;
}

div.file-upload-input__content {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

span.file-upload-input__content-header {
    @include color-token(
        file-upload-input-content-header-color,
        color-foreground-primary
    );

    font-size: var(--font-size-14);
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 4px;
}

span.file-upload-input__content-subheader {
    @include color-token(
        file-upload-input-content-subheader-color,
        color-foreground-secondary
    );

    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: 16px;
    margin-bottom: var(--spacing-100, 8px);
}

span.file-upload-input__content-cta {
    text-decoration-line: underline;
}

@media screen and (min-width: $_screen-size-MD) {
    div.file-upload-input__container {
        gap: var(--spacing-300, 24px);
        padding: var(--spacing-300, 24px);
    }

    div.file-upload-input__upload-icon {
        max-height: 24px;
        padding: var(--spacing-300, 24px);
    }

    div.file-upload-input__upload-icon svg {
        height: 24px;
        width: 24px;
    }

    span.file-upload-input__content-header {
        font-size: var(--font-size-16);
        line-height: 24px;
    }

    span.file-upload-input__content-subheader {
        font-size: var(--font-size-14);
        line-height: 20px;
    }
}
