@import "../variables/variables";
@import "../mixins/private/token-mixins";

div.file-upload-input {
    display: grid;
    grid-template-areas: "center";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

input.file-upload-input__input[type="file"] {
    @include border-radius-token(
        file-upload-input-border-radius,
        border-radius-100
    );

    grid-area: center;
}

div.file-upload-input__container {
    @include background-color-token(
        file-upload-input-background-color,
        color-background-secondary
    );

    @include border-radius-token(
        file-upload-input-border-radius,
        border-radius-100
    );

    @include border-color-token(
        file-upload-input-border-color,
        color-neutral-500
    );

    border: 1px dashed;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    grid-area: center;
    min-width: fit-content;
    padding: var(--spacing-200);
    pointer-events: none;
}

div.file-upload-input___container--dragged-over {
    @include background-color-token(
        file-upload-input-dragged-over-background-color,
        color-background-tertiary
    );
}

div.file-upload-input__upload-icon {
    @include background-color-token(
        file-upload-input-upload-icon-background-color,
        color-background-primary
    );

    align-self: center;
    border-radius: 99px;
    max-height: var(--spacing-200);
    padding: var(--spacing-200);
}

div.file-upload-input__upload-icon svg {
    @include fill-token(
        file-upload-input-upload-icon-fill,
        color-foreground-primary
    );

    height: var(--spacing-200);
    width: var(--spacing-200);
}

div.file-upload-input__content {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

span.file-upload-input__content-header {
    @include color-token(
        file-upload-input-content-header-color,
        color-foreground-primary
    );

    font-size: var(--font-size-14);
    font-weight: bold;
    line-height: var(--spacing-250);
    margin-block-end: var(--spacing-50);
}

span.file-upload-input__content-subheader {
    @include color-token(
        file-upload-input-content-subheader-color,
        color-foreground-secondary
    );

    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--spacing-200);
    margin-block-end: var(--spacing-100);
}

span.file-upload-input__content-cta {
    text-decoration-line: underline;
}

@media screen and (min-width: $_screen-size-MD) {
    div.file-upload-input__container {
        gap: var(--spacing-300);
        padding: var(--spacing-300);
    }

    div.file-upload-input__upload-icon {
        max-height: var(--spacing-300);
        padding: var(--spacing-300);
    }

    div.file-upload-input__upload-icon svg {
        height: var(--spacing-300);
        width: var(--spacing-300);
    }

    span.file-upload-input__content-header {
        font-size: var(--font-size-16);
        line-height: var(--spacing-300);
    }

    span.file-upload-input__content-subheader {
        font-size: var(--font-size-14);
        line-height: var(--spacing-250);
    }
}
