@media (prefers-color-scheme: dark) {
    :root {
        --color-background-default: @color-background-default-dark-mode;
        --color-text-primary: @color-text-primary-dark-mode;
        --color-text-default: --color-text-primary;
        --color-text-secondary: @color-text-secondary-dark-mode;
        --color-link-default: @color-link-default-dark-mode;
        --color-link-hover: @color-link-hover-dark-mode;
        --color-link-visited: @color-link-visited-dark-mode;
        --color-action-primary: @color-action-primary-dark-mode;
        --color-action-secondary: @color-action-secondary-dark-mode;
        --color-action-disabled: @color-action-disabled-dark-mode;
        --color-selection-list-item-hover-foreground: @color-selection-list-item-hover-foreground-dark-mode;
    }
}
