@media (prefers-color-scheme: dark) {
    :root {
        --color-action-primary: @color-action-primary-dark-mode;
        --color-action-secondary: @color-action-secondary-dark-mode;
        --color-action-tertiary: @color-action-tertiary-dark-mode;
        --color-action-destroy: @color-action-destroy-dark-mode;
        --color-action-active: @color-action-active-dark-mode;
        --color-action-hover: @color-action-hover-dark-mode;
        --color-action-disabled: @color-action-disabled-dark-mode;
        --color-background-default: @color-background-default-dark-mode;
        --color-form-control-background: @color-form-control-background-dark-mode;
        --color-form-control-disabled-background: @color-form-control-disabled-background-dark-mode;
        --color-link-default: @color-link-default-dark-mode;
        --color-link-hover: @color-link-hover-dark-mode;
        --color-link-visited: @color-link-visited-dark-mode;
        --color-selection-list-background: @color-selection-list-background-dark-mode;
        --color-selection-list-item-border: @color-selection-list-background-dark-mode;
        --color-selection-list-item-foreground: @color-selection-list-item-foreground-dark-mode;
        --color-selection-list-item-hover-foreground: @color-selection-list-item-hover-foreground-dark-mode;
        --color-text-primary: @color-text-primary-dark-mode;
        --color-text-default: @color-text-primary-dark-mode;
        --color-text-secondary: @color-text-secondary-dark-mode;
        --color-text-disabled: @color-text-disabled-dark-mode;
        --color-text-confirmation: @color-text-confirmation-dark-mode;
        --color-status-attention: @color-status-attention-dark-mode;
        --color-status-confirmation: @color-status-confirmation-dark-mode;
        --color-status-information: @color-status-information-dark-mode;
        --color-status-general: @color-status-general-dark-mode;
        --color-separator: @color-separator-dark-mode;
        --color-icons-background: @color-white;
        --color-icons-foreground: @color-black;
        --color-social-icons-background: @color-white;
        --color-social-icons-foreground: @color-black;
        --color-image-border: @color-image-border-dark-mode;
        --color-checkbox-mixed-foreground: @color-black;
        --url-image-progress-spinner: @url-image-progress-spinner-dark-mode;
        --url-image-progress-spinner-large: @url-image-progress-spinner-large-dark-mode;
        --color-spinner-icon-foreground: @color-grey2-dark-mode;
        --color-spinner-icon-background: @color-b4-dark-mode;
        --color-destructive-primary-text: @color-destructive-primary-text-dark-mode;
        --color-destructive-secondary-text: @color-destructive-secondary-text-dark-mode;
        --color-destructive-secondary-hover-text: @color-destructive-secondary-hover-text-dark-mode;
        --color-destructive-secondary-active-text: @color-destructive-secondary-active-text-dark-mode;
        --color-destructive: @color-destructive-dark-mode;
        --color-destructive-hover: @color-destructive-hover-dark-mode;
        --color-destructive-active: @color-destructive-active-dark-mode;
        --color-destructive-primary-disabled-background: @color-destructive-primary-disabled-background-dark-mode;
        // these need refactoring to use existing or new product aliases
        --color-white: @color-white-dark-mode;
        --color-b4: @color-b4-dark-mode;
        --color-b5: @color-b5-dark-mode;
        --color-b6: @color-b6-dark-mode;
        --color-grey1: @color-grey1-dark-mode;
        --color-grey2: @color-grey2-dark-mode;
        --color-grey3: @color-grey3-dark-mode;
        --color-grey4: @color-grey4-dark-mode;
        --color-grey5: @color-grey5-dark-mode;
        --color-grey6: @color-grey6-dark-mode;
    }

    button.btn--primary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: @color-destructive-primary-spinner-background-dark-mode;
        --color-spinner-icon-foreground: @color-destructive-primary-spinner-foreground-dark-mode;
    }

    button.btn--secondary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: @color-destructive-secondary-spinner-background-dark-mode;
        --color-spinner-icon-foreground: @color-destructive-secondary-spinner-foreground-dark-mode;
    }

    button.btn--tertiary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: @color-destructive-tertiary-spinner-background-dark-mode;
        --color-spinner-icon-foreground: @color-destructive-tertiary-spinner-foreground-dark-mode;
    }
}
