.color-text-default {
    color: @ds4-color-text-default;
}

.color-text-secondary {
    color: @ds4-color-text-subheader;
}

.color-link-default {
    color: @ds4-color-core-blue;
}

.color-link-visited {
    color: @ds4-color-core-purple;
}

.color-information-background {
    background-color: @ds4-color-infographic-blue-lightest;
}

.color-warning-background {
    background-color: @ds4-color-infographic-orange-lightest;
}

.color-confirmation-text {
    color: @ds4-color-text-positive;
}

.color-confirmation-background {
    background-color: @ds4-color-infographic-green-lightest;
}

.color-critical-text {
    color: @ds4-color-text-critical;
}

.color-critical-background {
    background-color: @ds4-color-infographic-red-lightest;
}
