@import "../../mixins/utility/utility-mixins.less";

.inline-notice {
    margin: 8px 0;
}

div.inline-notice {
    display: flex;
}

span.inline-notice {
    display: inline-flex;
}

.inline-notice__header {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.inline-notice p {
    margin: 4px 0;
}

.inline-notice a {
    .customColorProperty(color-text-default);
}

[dir="rtl"] {
    .inline-notice__header .icon.icon--confirmation-filled {
        margin-left: 8px;
    }
}
