@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

svg.image-placeholder {
    .color-token(color-foreground-primary);
    fill: currentColor;
    height: inherit;
    width: inherit;
}
