aside,
main,
.page-grid {
    outline: 0;
}
.demo-skeleton:empty {
    background: var(--color-loading-fill);
    border-radius: 8px;
    height: 400px;
}

@media screen and (min-width: 512px) {
    main {
        grid-area: 5 / 1 / span 1 / span 16;
    }
}
