@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";

@switch-button-background-color: @color-core-gray-silver;
@switch-button-background-color-after: @color-core-white;
@switch-button-input-checked-background-color: @color-interface-cta;

@import "../base/switch.less";
