@import "../../mixins/utility/utility-mixins.less";

.section-notice {
    .customBackgroundColorProperty(section-notice-default-background-color);
    .customBorderRadiusProperty(section-notice-border-radius);

    font-size: @font-size-14;
    justify-content: flex-start;
    margin: 8px 0;
    padding: 16px;
}

div[role="region"].section-notice,
section.section-notice {
    display: flex;
}

span[role="region"].section-notice {
    display: inline-flex;
}

.section-notice .fake-link {
    .customColorProperty(section-notice-color);
    font-weight: bold;
}

.section-notice .fake-link:hover {
    .customColorProperty(section-notice-color);
}

.section-notice a {
    .customColorProperty(section-notice-color);
    font-weight: bold;
}

.section-notice a:hover {
    .customColorProperty(section-notice-color);
}

.section-notice__header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

.section-notice__main,
.section-notice__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-notice__title {
    font-size: @font-size-14;
    margin: 0 0 4px 0;
}

.section-notice__footer {
    margin-left: auto;
    padding-left: 0;
    width: auto;
}

.section-notice__main p {
    margin: 0;
}

/* LARGE SCREEN ADJUSTMENTS */

@media (min-width: 601px) {
    section.section-notice,
    div[role="region"].section-notice {
        flex-wrap: nowrap;
        font-size: @font-size-16;
        margin: 16px 0;
    }

    .section-notice__title {
        font-size: @font-size-16;
    }

    .section-notice__footer {
        margin-top: 0;
        padding-left: 16px;
    }
}

[dir="rtl"] {
    .section-notice__header {
        padding-left: 16px;
        padding-right: 0;
    }

    .section-notice__footer {
        margin-left: initial;
        margin-right: auto;
        padding-left: initial;
        padding-right: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .section-notice {
            --section-notice-color: @color-grey7-dark-mode;
            --section-notice-default-background-color: @color-grey1-dark-mode;
            --section-notice-attention-background-color: @color-grey1-dark-mode;
            --section-notice-confirmation-background-color: @color-grey1-dark-mode;
            --section-notice-information-background-color: @color-grey1-dark-mode;
        }
    }
}
