@import "../../mixins/utility/utility-mixins.less";

.section-notice {
    font-size: @font-size-14;
    margin: 8px 0;
    padding: 16px;
}

div[role="region"].section-notice,
section.section-notice {
    display: flex;
}

span[role="region"].section-notice {
    display: inline-flex;
}

.section-notice--attention {
    .customBackgroundColorProperty(section-notice-attention-background-color);
}

.section-notice--confirmation {
    .customBackgroundColorProperty(section-notice-confirmation-background-color);
}

.section-notice--information {
    .customBackgroundColorProperty(section-notice-information-background-color);
}

.section-notice__header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

.section-notice__main,
.section-notice__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-notice__main {
    width: 100%;
}

.section-notice__title {
    font-size: @font-size-14;
    margin: 0 0 4px 0;
}

.section-notice__footer {
    padding-left: 16px;
}

.section-notice__main p {
    margin: 0;
}

/* LARGE SCREEN ADJUSTMENTS */

@media (min-width: 601px) {
    section.section-notice,
    div[role="region"].section-notice {
        font-size: @font-size-16;
        margin: 16px 0;
    }

    .section-notice__title {
        font-size: @font-size-16;
    }
}
