@import "../../mixins/utility/utility-mixins.less";

:root {
    /* There is an issue with CSS variables here.
        There's a bug where we cannot use a CDN url and we have to hardcode the image SVG.
        By using the token mixin it inlines the SVG which renders incorrectly.
        However, we need to use CSS variables because it breaks dark mode
        So the solution is to use different CSS variables for dark mode and for normal mode and only use
        dark mode variables when it's set, and fallback to the light mode version. */
    --image-progress-spinner: @image-progress-spinner;
    --image-progress-spinner-large: @image-progress-spinner-large;
}

.progress-spinner {
    animation: spin 600ms linear infinite;
    background-image: var(--image-progress-spinner-dark-mode, var(--image-progress-spinner));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.progress-spinner--large {
    background-image: var(
        --image-progress-spinner-large-dark-mode,
        var(--image-progress-spinner-large)
    );
    height: 60px;
    width: 60px;
}
