@import "../../mixins/utility/utility-mixins.less";

@progress-spinner-image-url-dark-mode: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-dark-mode.svg");
@progress-spinner-large-image-url-dark-mode: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-large-dark-mode.svg");

.progress-spinner {
    animation: spin 600ms linear infinite;
    .background-image(progress-spinner-image-url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.progress-spinner--large {
    .background-image(progress-spinner-large-image-url);
    height: 60px;
    width: 60px;
}

@media (prefers-color-scheme: dark) {
    .progress-spinner {
        --progress-spinner-image-url: @progress-spinner-image-url-dark-mode;
    }

    .progress-spinner--large {
        --progress-spinner-large-image-url: @progress-spinner-large-image-url-dark-mode;
    }
}
