@import "../../mixins/utility/utility-mixins.less";

.progress-spinner {
    animation: spin 600ms linear infinite;
    /* We should use a token here, but because of issues processing the url, need to revert to just use backgorund-image */
    background-image: @url-image-progress-spinner;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.progress-spinner--large {
    background-image: @url-image-progress-spinner-large;
    height: 60px;
    width: 60px;
}
