@import "./grid-base.less";

/*
 *If its less then or equal to 600px
 */
@media(max-width:@screen-sm-min) {
  //.generate-grid(sm);

  .create-columns(@number-columns / 2, sm);

  .@{item-name}--sm-hidden {
    display: none;
  }

  .grid--gutters {
    padding-left: @small-grid-gutter;
  }

  .grid {
    .grid {
      margin-right: -@small-grid-gutter;
    }

    .grid--ignore-nesting {
      & > .@{group-name} {
        padding-left: @small-grid-gutter;
      }
    }
  }

  .@{group-name} {
    padding-left: @small-grid-gutter;
    margin-right: -@small-grid-gutter;
  }

  .@{item-name} {
    padding-right: @small-grid-gutter;
  }
}
