//Grid variables
@screen-sm-min: 600px;
@screen-sm-max: (@screen-md-min - 1px);

@screen-md-min: 768px;
@screen-md-max: (@screen-lg-min - 1px);

@screen-lg-min: 960px;
@screen-lg-max: (@screen-xl-min - 1px);

@screen-xl-min: 1280px;

@number-columns: 16;
@grid-gutter: 16px;
@small-grid-gutter: @grid-gutter / 2;
@group-name: grid__group;
@item-name: grid__cell;
