@import "../../mixins/utility/utility-mixins.less";

.toast-dialog-outline() {
    .customOutlineColorProperty(toast-dialog-foreground-color);

    outline-style: auto;
    outline-width: 1px;
}

.toast-dialog {
    .customBackgroundColorProperty(toast-dialog-background-color);
    .customColorProperty(toast-dialog-foreground-color);
    .customBorderRadiusProperty(toast-dialog-border-radius);

    bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
    left: 0;
    max-height: 40vh;
    min-width: 320px;
    position: fixed;
    // Setting translateY to 0 to fix a bug in safari which does a double transform
    transform: translateY(0);
    width: 100vw;
    will-change: opacity, transform;
    z-index: 2;
}

.toast-dialog a {
    .customColorProperty(toast-dialog-foreground-color);
}

.toast-dialog a:focus {
    .toast-dialog-outline();
}

.toast-dialog--transition {
    transition:
        opacity 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s,
        transform 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s;
}

.toast-dialog--show,
.toast-dialog--hide-init {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.toast-dialog--show-init,
.toast-dialog--hide {
    display: block;
    opacity: 0;
    transform: translateY(110%);
}

.toast-dialog__window {
    margin: 8px 16px 16px;
}

.toast-dialog__header {
    align-items: center;
    display: flex;
}

// Can remove h2 selector after API change in ebayui
.toast-dialog__header h2,
.toast-dialog__title {
    margin: 0;
}

// inherits from .icon-btn
button.toast-dialog__close {
    align-self: center;
    border: 0;
    margin: 0 0 0 auto;
    padding: 0;

    > svg,
    &:hover > svg,
    &:focus > svg {
        .customFillProperty(toast-dialog-foreground-color);
    }

    &:focus {
        .toast-dialog-outline();

        outline-offset: -8px;
    }
}

.toast-dialog__footer {
    display: flex;
    justify-content: flex-end;

    button::first-letter {
        text-decoration: underline;
    }

    .btn--primary,
    .btn--secondary {
        border: 1px solid @toast-dialog-foreground-color;
    }

    .btn--primary {
        background-color: @toast-dialog-foreground-color;
        color: @toast-dialog-background-color;
    }

    .btn--secondary {
        background-color: transparent;
        color: @toast-dialog-foreground-color;
        font-weight: 700;
        margin-right: 8px;
    }

    .btn--primary:focus,
    .btn--secondary:focus {
        .toast-dialog-outline();
    }

    .btn--primary:focus,
    .btn--primary:hover {
        background-color: @toast-dialog-foreground-color;
        border: 1px solid @toast-dialog-foreground-color;
    }

    .btn--secondary:focus,
    .btn--secondary:hover {
        border: 1px solid @toast-dialog-foreground-color;
        color: @toast-dialog-foreground-color;
    }
}

@media (min-width: 601px) {
    .toast-dialog {
        .customBorderRadiusProperty(toast-dialog-large-border-radius);

        bottom: 16px;
        left: 16px;
        max-width: 480px;
        width: auto;
    }

    .toast-dialog__window {
        margin: 16px 24px 24px;
    }
}

[dir="rtl"] {
    .toast-dialog__footer .btn--primary {
        margin-right: 7px;
    }
}
