@import "../tokens/@{ds}/tokens.less";
@import "../mixins/utility-mixins.less";

a.icon-link {
    align-items: center;
    display: inline-flex;

    > svg {
        margin: 0 auto; // horizontal centering
    }
}

button.icon-btn,
a.icon-link {
    .background-color-token(icon-button-background-color, color-background-secondary);
    border: 2px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: inherit;
    height: 40px;
    margin: 0;
    min-width: 40px;
    padding: 0;
    vertical-align: text-bottom;
    width: 40px;

    > svg {
        .fill-token(icon-button-icon-foreground-color, color-foreground-primary);

        max-width: 100%; // helps when width & height HTML attrs not set
        position: relative; // Safari centering
    }

    &:focus,
    &:hover {
        background-color: var(--color-state-secondary-hover, @color-state-secondary-hover);
    }

    &:active {
        background-color: var(--color-state-secondary-active, @color-state-secondary-active);
    }

    &:not(:focus-visible) {
        outline: none;
    }
}

button.icon-btn--transparent,
a.icon-link--transparent {
    background-color: transparent;
    outline-offset: -10px;

    &:active,
    &:focus,
    &:hover {
        background-color: transparent;
    }
}

a.icon-link:visited > svg {
    .fill-token(icon-button-icon-foreground-color, color-foreground-primary);
}

button[disabled].icon-btn,
button[aria-disabled="true"].icon-btn,
a:not([href]).icon-link,
a[aria-disabled="true"].icon-link {
    > svg {
        background-color: transparent;
        .fill-token(color-background-disabled);
    }

    &:focus > svg,
    &:hover > svg {
        .fill-token(color-background-disabled);
    }
}

a.icon-link:visited {
    &:hover > svg,
    &:focus > svg {
        .fill-token(icon-button-icon-hover-foreground-color, color-foreground-primary);
    }
}

button.icon-btn--badged,
a.icon-link--badged {
    overflow: visible;
    position: relative;

    .badge {
        left: 24px;
        pointer-events: none;
        position: absolute;
        top: -12px;
        z-index: 1;
    }
}

// color-filled icons need to be filled with their color at this specificity level, because of other fill rules above
button.icon-btn > svg.icon--confirmation-filled,
button.icon-btn > svg.icon--confirmation-filled-small,
a.icon-link > svg.icon--confirmation-filled,
a.icon-link > svg.icon--confirmation-filled-small {
    .fill-token(color-foreground-confirmation);
    &:hover {
        .fill-token(color-foreground-confirmation);
    }
}

button.icon-btn > svg.icon--attention-filled,
button.icon-btn > svg.icon--attention-filled-small,
a.icon-link > svg.icon--attention-filled,
a.icon-link > svg.icon--attention-filled-small {
    .fill-token(color-foreground-attention);
    &:hover {
        .fill-token(color-foreground-attention);
    }
}

button.icon-btn > svg.icon--information-filled,
button.icon-btn > svg.icon--information-filled-small,
a.icon-link > svg.icon--information-filled,
a.icon-link > svg.icon--information-filled-small {
    .fill-token(color-foreground-information);
    &:hover {
        .fill-token(color-foreground-information);
    }
}
