@import "../../mixins/icon/base/icon-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

.checkbox {
    display: inline-flex;
    position: relative;
    vertical-align: text-bottom;
}

.checkbox__control[type="checkbox"] {
    height: @dimensions-checkbox;
    min-width: @dimensions-checkbox;
    width: @dimensions-checkbox;
}

.checkbox--large .checkbox__control[type="checkbox"] {
    height: @dimensions-checkbox-large;
    min-width: @dimensions-checkbox-large;
    width: @dimensions-checkbox-large;
}

span.checkbox__icon {
    display: inline-flex;
    height: @dimensions-checkbox;
    outline-offset: 1px;
}

.checkbox--large span.checkbox__icon {
    height: @dimensions-checkbox-large;
}

// progressive enhancement - override hidden SVG
span.checkbox__icon[hidden] {
    display: inline-flex;
}

svg.checkbox__checked {
    .color-token(checkbox-checked-color, color-action-primary);
}

svg.checkbox__unchecked {
    .color-token(checkbox-unchecked-color, color-text-default);
}

input.checkbox__control[type="checkbox"] {
    font-size: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.checkbox svg {
    .foreground-icon-base-mixin();

    height: @dimensions-checkbox;
    width: @dimensions-checkbox;
}

.checkbox--large svg {
    height: @dimensions-checkbox-large;
    width: @dimensions-checkbox-large;
}

input.checkbox__control[type="checkbox"] + span.checkbox__icon svg.checkbox__checked {
    display: none;
}

input.checkbox__control[type="checkbox"] + span.checkbox__icon svg.checkbox__unchecked {
    display: inline-block;
}

input.checkbox__control[type="checkbox"]:checked + span.checkbox__icon svg.checkbox__checked {
    display: inline-block;
}

input.checkbox__control[type="checkbox"]:checked + span.checkbox__icon svg.checkbox__unchecked {
    display: none;
}

input.checkbox__control[type="checkbox"][disabled] + span.checkbox__icon {
    opacity: 1;

    svg {
        .fill-token(checkbox-disabled-color, color-action-disabled);
    }
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
input.checkbox__control[type="checkbox"]:focus + span.checkbox__icon {
    outline: 1px auto;
    .outline-color-token(checkbox-outline, color-text-secondary);
    outline-offset: 2px;
}

input.checkbox__control[type="checkbox"]:focus:not(:focus-visible) + span.checkbox__icon {
    outline: none;
}
