@import "../../mixins/icon/base/icon-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

.checkbox {
    display: inline-flex;
    position: relative;
    vertical-align: text-bottom;
}

.checkbox__control[type="checkbox"] {
    height: @checkbox-dimensions;
    min-width: @checkbox-dimensions;
    width: @checkbox-dimensions;
}

.checkbox--large .checkbox__control[type="checkbox"] {
    height: @checkbox-large-dimensions;
    min-width: @checkbox-large-dimensions;
    width: @checkbox-large-dimensions;
}

span.checkbox__icon {
    display: inline-flex;
    height: @checkbox-dimensions;
    outline-offset: 1px;
}

.checkbox--large span.checkbox__icon {
    height: @checkbox-large-dimensions;
}

// progressive enhancement - override hidden SVG
span.checkbox__icon[hidden] {
    display: inline-flex;
}

svg.checkbox__checked {
    .customColorProperty(checkbox-checked-color);
}

svg.checkbox__unchecked {
    .customColorProperty(checkbox-unchecked-color);
}

input.checkbox__control[type="checkbox"] {
    font-size: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.checkbox svg {
    .foreground-icon-base-mixin();

    height: @checkbox-dimensions;
    width: @checkbox-dimensions;
}

.checkbox--large svg {
    height: @checkbox-large-dimensions;
    width: @checkbox-large-dimensions;
}

input.checkbox__control[type="checkbox"] + span.checkbox__icon svg.checkbox__checked {
    display: none;
}

input.checkbox__control[type="checkbox"] + span.checkbox__icon svg.checkbox__unchecked {
    display: inline-block;
}

input.checkbox__control[type="checkbox"]:checked + span.checkbox__icon svg.checkbox__checked {
    display: inline-block;
}

input.checkbox__control[type="checkbox"]:checked + span.checkbox__icon svg.checkbox__unchecked {
    display: none;
}

input.checkbox__control[type="checkbox"][disabled] + span.checkbox__icon {
    opacity: @checkbox-disabled-opacity;

    svg {
        fill: @checkbox-disabled-color;
    }
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
input.checkbox__control[type="checkbox"]:focus + span.checkbox__icon {
    outline: @checkbox-custom-outline;
    outline-offset: 2px;
}

input.checkbox__control[type="checkbox"]:focus:not(:focus-visible) + span.checkbox__icon {
    outline: none;
}
