@import "../../less/ds6/variables.less";

details.details:not([open]) {
    .details__summary--showless {
        display: none;
    }
}

details.details[open],
details.details[data-makeup-open] {
    .expand-btn__icon {
        transform: rotate(180deg);
    }

    .details__summary--showmore {
        display: none;
    }

    summary.details__summary::before {
        content: none;
    }
}

summary.details__summary {
    color: @ds6-color-b4;

    span.expand-btn__icon {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-down-blue-base64}');
    }

    &::before {
        content: none;
    }

    &:hover {
        color: @ds6-color-b7;

        span.expand-btn__icon {
            background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-down-blue-dark-base64}');
        }
    }
}

@import '../base/details.less';
