@import "../../icon/ds6/icon-mixins.less";

.checked-icon-unchecked() {
    .background-icon-image-mixin('checkbox-unchecked', 18px, 18px);

    @media (max-width: 600px) {
        height: 24px;
        width: 24px;
    }
}

.checked-icon-checked() {
    .background-icon-image-mixin('checkbox-checked', 18px, 18px);

    @media (max-width: 600px) {
        height: 24px;
        width: 24px;
    }
}
