// this mixin is used by infotip, tooltip, tourtip, date-textbox

:root {
    --bubble-filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.15))
        drop-shadow(0 5px 17px rgba(0, 0, 0, 0.2));
}

.bubble(@border-radius-value: border-radius-50) {
    .border-radius-token(bubble-border-radius, @border-radius-value);

    filter: var(--bubble-filter);
    font-size: 14px;
    max-width: 344px;
    // kick in hardware acceleration for GPU processing - fixes issues with filter/display reflow/repaint
    transform: scale3d(1, 1, 1);
    width: max-content;
    z-index: 1;
}

.bubble-mask(@border-radius-value: border-radius-50) {
    .border-radius-token(bubble-border-radius, @border-radius-value);
    position: relative;
    z-index: 1;
}

.bubble-large-screen() {
    max-width: 400px;
}

// creates basic layout
.bubble-cell(@tourtip-spacing: @spacing-100 @spacing-200) {
    display: flex;
    padding: @tourtip-spacing;
    word-break: break-word;
}

.bubble-content() {
    flex-grow: 1;

    p {
        margin: 0;
    }

    p:not(:first-of-type) {
        margin-top: @spacing-50;
    }
}

.bubble-close() {
    align-self: flex-start;
    background: none;
    border: 0;
    flex-shrink: 0;
    height: @spacing-400;
    margin: -@spacing-100 -@spacing-100 0 @spacing-100;
    padding: 0;
    white-space: nowrap;
    width: 32px;
}

// styles common to all pointers
.pointer-base() {
    height: 8px;
    position: absolute;
    transform: rotate(45deg);
    width: 8px;
    z-index: 0;
}

.pointer-bottom() {
    bottom: -4px;
    top: auto;
}

.pointer-side-middle() {
    top: calc(50% - 4px);
}

.pointer-top() {
    top: -4px;
}

.pointer-center() {
    left: calc(50% - 4px);
}

.pointer-top-center() {
    .pointer-top();
    .pointer-center();
}

.pointer-top-left() {
    .pointer-top();

    left: 12px;
}

.pointer-top-right() {
    .pointer-top();

    left: auto;
    right: 12px;
}

.pointer-bottom-center() {
    .pointer-bottom();
    .pointer-center();
}

.pointer-bottom-left() {
    .pointer-bottom();

    left: 12px;
}

.pointer-bottom-right() {
    .pointer-bottom();

    left: auto;
    right: 12px;
}

.pointer-left() {
    .pointer-side-middle();

    left: -4px;
}

.pointer-left-top() {
    left: -4px;
    top: 12px;
}

.pointer-left-bottom() {
    bottom: 12px;
    left: -4px;
    top: auto;
}

.pointer-right() {
    .pointer-side-middle();
    left: auto;
    right: -4px;
}

.pointer-right-top() {
    left: auto;
    right: -4px;
    top: 12px;
}

.pointer-right-bottom() {
    bottom: 12px;
    left: auto;
    right: -4px;
    top: auto;
}
