@import "../public/utility-mixins.less";

@dialog-scrim-color-hide: rgba(17, 24, 32, 0);
@dialog-scrim-color-show: rgba(17, 24, 32, 0.7);
@dialog-lightbox-max-width: 616px;
@dialog-lightbox-wide-max-width: 896px;

.dialog-base() {
    background-color: @dialog-scrim-color-show;
    inset: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    will-change: background-color;
    z-index: 100000; // because global header has an element with 99999

    &:not([hidden]) {
        display: flex;
    }
}

.lightbox-dialog-base() {
    .dialog-base();

    align-items: flex-start;
    justify-content: center;
}

.dialog-window() {
    .background-color-token(dialog-window-background-color, color-background-primary);

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 55px;
    will-change: opacity, transform;
}

.lightbox-dialog-window() {
    .dialog-window();
    .border-radius-token(lightbox-border-radius, border-radius-100);

    margin: auto;
    max-height: 90%;
    max-width: calc(100% - 32px);
    min-width: 208px;
}

.dialog-header-content(@top-margin: @spacing-200) {
    display: flex;
    // Fix for Safari not honoring min-height
    flex-shrink: 0;
    margin: @top-margin @spacing-200 0;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        align-self: center;
        flex: 1 1 auto;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & > :last-child:not(:only-child) {
        margin-left: @spacing-200;
    }
}

.dialog-body-content() {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: @spacing-200;
    position: relative;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.dialog-footer-content() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: @spacing-200;
    position: relative;

    & > :not(:first-child) {
        margin-top: @spacing-200;
    }
}

// Unused, small and large are the same now
.dialog-header-content-large() {
    margin: @spacing-200 @spacing-200 0;
}

// Unused, small and large are the same now
.dialog-body-content-large() {
    margin: @spacing-200;
}

.dialog-footer-content-large() {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 @spacing-200 @spacing-200;

    & > :not(:first-child) {
        margin-left: @spacing-100;
        margin-top: initial;
    }
}
