@import "./bubble-mixins.less";

.dropdown-base(@component) {
    .background-color-token(~"@{component}-background-color", color-background-elevated);
    .border-radius-token(~"@{component}-border-radius", border-radius-50);
    box-sizing: border-box;
    display: none;
    filter: var(--bubble-filter);
    left: 0;
    max-height: 400px;
    min-width: 100%;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 4px);
    width: auto;
    z-index: 2;

    [dir="rtl"] & {
        left: unset;
        right: 0;
    }
}

.dropdown-reverse() {
    left: unset;
    right: 0;

    [dir="rtl"] & {
        left: 0;
        right: unset;
    }
}

.dropdown-item-border-radius(@component) {
    &:first-child {
        .border-top-left-radius-token(~"@{component}-border-radius", border-radius-50);
        .border-top-right-radius-token(~"@{component}-border-radius", border-radius-50);
    }

    &:last-child {
        .border-bottom-left-radius-token(~"@{component}-border-radius", border-radius-50);
        .border-bottom-right-radius-token(~"@{component}-border-radius", border-radius-50);
    }
}
