@dropdown-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);

.dropdown-base(@component) {
    .background-color-token(~"@{component}-background-color", color-background-primary);
    .border-color-token(~"@{component}-border-color", color-stroke-default);
    .border-radius-token(~"@{component}-border-radius", border-radius-50);
    border-style: solid;
    border-width: 1px;
    .box-shadow-token(~"@{component}-box-shadow", dropdown-box-shadow);
    box-sizing: border-box;
    display: none;
    left: 0;
    max-height: 400px;
    min-width: 100%;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 4px);
    width: auto;
    z-index: 2;

    [dir="rtl"] & {
        left: unset;
        right: 0;
    }
}

.dropdown-reverse(@component) {
    left: unset;
    right: 0;

    [dir="rtl"] & {
        left: 0;
        right: unset;
    }
}

.dropdown-item-border-radius(@component) {
    &:first-child {
        .border-top-left-radius-token(~"@{component}-border-radius", border-radius-50);
        .border-top-right-radius-token(~"@{component}-border-radius", border-radius-50);
    }

    &:last-child {
        .border-bottom-left-radius-token(~"@{component}-border-radius", border-radius-50);
        .border-bottom-right-radius-token(~"@{component}-border-radius", border-radius-50);
    }
}
