.filter-button-base() {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    .color-token(filter-button-foreground-color, color-foreground-primary);
    display: inline-flex;
    flex: 0 1 auto;
    flex-direction: column;
    font-family: inherit;
    font-size: @font-size-14;
    height: 32px;
    justify-content: center;
    margin: 0;
    max-width: 280px;
    min-width: 56px;
    padding: 0 @spacing-200;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;

    & + & {
        margin-left: 8px;
    }
}
