.filter-menu-item-base() {
    .background-color-token(filter-menu-item-background-color, color-background-primary);
    box-sizing: border-box;
    .color-token(filter-menu-item-foreground-color, color-foreground-primary);
    display: flex;
    font-size: @font-size-14;
    justify-content: space-between;
    line-height: 1.4em;
    margin: 0;
    width: 100%;

    &:hover {
        background-color: var(--color-state-primary-hover, color-state-primary-hover);
    }

    &:disabled,
    &[aria-disabled="true"] {
        .color-token(filter-menu-item-foreground-color-disabled, color-foreground-disabled);

        span > svg {
            .color-token(filter-menu-item-icon-color-disabled, color-foreground-disabled);
        }

        &:hover {
            background-color: inherit;
        }
    }
}
