:root {
    --skeleton-border-radius: 0;
    --skeleton-height: 48px;
    --skeleton-tile-width-max: 224px;
    --skeleton-tile-width-min: 121px;
    --skeleton-width: 100%;
}

.skeleton-base(@border-radius: var(--skeleton-border-radius), @height: var(--skeleton-height), @width: var(--skeleton-width) ) {
    background: var(--color-loading-fill);
    border-radius: @border-radius;
    cursor: progress;
    height: @height;
    min-height: 12px;
    width: @width;
}
