@import "../../primitives/ds6/primitives.less";
@import "../base/tokens.less";

// text
@color-text-default: @color-grey7;
@color-text-disabled: @color-grey3;

// dividers
@color-separator: @color-grey2;
@color-image-border: @color-grey2;

// status
@color-status-confirmation: @color-g6;
@color-status-description: @color-grey6;
@color-status-general: @color-grey6;

// secret colours
@color-status-attention-light: #fff5f8;
@color-status-confirmation-light: #effef0;
@color-status-information-light: #f1f8fe;
@color-status-invalid: #fef5f6;

// actions
@color-action-primary-disabled: @color-action-disabled;
@opacity-action-disabled: 1;
@font-weight-action-primary: bold;

// buttons
@border-radius-button: 48px;
@border-radius-button-icon-only: @border-radius-small;
@border-radius-dropdown-button: 8px;

// dropdowns
@color-dropdown-border-radius-border: @color-grey1;
@color-dropdown-border: @color-grey1;
@border-radius-dropdown: @border-radius-small;
@box-shadow-dropdown: 0 5px 15px rgba(0, 0, 0, 0.07);
@box-shadow-dropdown-border-radius: 0 5px 15px rgba(0, 0, 0, 0.07);

// flyouts
@color-flyout-box-shadow: rgba(199, 199, 199, 0.5);

// dialogs
@border-radius-dialog: @border-radius-medium;

// labels
@color-label: @color-form-control-label;
@color-label-focus: @color-action-primary;
@color-label-invalid: @color-r4;
@color-label-disabled: @color-grey4;

// form controls
@border-radius-form-control: @border-radius-small;
@font-size-form-control-large: @font-size-18;

// selection lists
@color-selection-list-item-hover-background: @color-grey2;
@color-selection-list-item-active-background: @color-background-default;
@font-weight-selection-list-item-active: bold;
