@import "../../primitives/ds6/primitives.less";
@import "../base/tokens.less";

// DEPRECATED (remove in v14)
@color-status-description: @color-background-secondary;
@color-status-confirmation: @color-green-6;
@color-status-general: @color-neutral-6;
@color-text-primary: @color-foreground-primary;
@color-text-default: @color-foreground-primary;
@color-text-disabled: @color-foreground-disabled;
@color-action-primary-disabled: @color-background-disabled;
@color-status-attention-light: #fff5f8;
@color-status-confirmation-light: #effef0;
@color-status-information-light: #f1f8fe;
@color-separator: @color-neutral-2;
@color-image-border: @color-neutral-2;
@color-label-focus: @color-foreground-primary;
@color-label-invalid: @color-foreground-attention;
@color-label-disabled: @color-foreground-disabled;
@border-radius-dropdown-button: 8px;
@border-radius-button-icon-only: @border-radius-50;
@color-selection-list-item-hover-background: @color-neutral-2;
