@import "../../primitives/ds6/primitives.less";
@import "../base/tokens.less";

// semantic: foreground (move to base in v14)
@color-foreground-primary: @color-neutral-7;
@color-foreground-disabled: @color-neutral-3;

// actions
@font-weight-action-primary: bold;

// dropdowns
@color-dropdown-border-radius-border: @color-neutral-1;
@color-dropdown-border: @color-neutral-1;
@border-radius-dropdown: @border-radius-small;
@box-shadow-dropdown: 0 5px 15px rgba(0, 0, 0, 0.07);
@box-shadow-dropdown-border-radius: 0 5px 15px rgba(0, 0, 0, 0.07);

// flyouts
@color-flyout-box-shadow: rgba(199, 199, 199, 0.5);

// dialogs
@border-radius-dialog: @border-radius-medium;

// form controls
@border-radius-form-control: @border-radius-small;
@font-size-form-control-large: @font-size-18;

// DEPRECATED (remove in v14)
@color-status-description: @color-background-secondary;
@color-status-confirmation: @color-g6;
@color-status-general: @color-neutral-6;
@color-text-primary: @color-foreground-primary;
@color-text-default: @color-foreground-primary;
@color-text-disabled: @color-foreground-disabled;
@color-action-primary-disabled: @color-background-disabled;
@color-status-attention-light: #fff5f8;
@color-status-confirmation-light: #effef0;
@color-status-information-light: #f1f8fe;
@color-separator: @color-neutral-2;
@color-image-border: @color-neutral-2;
@color-label: @color-form-control-label;
@color-label-focus: @color-foreground-primary;
@color-label-invalid: @color-foreground-attention;
@color-label-disabled: @color-foreground-disabled;
@border-radius-dropdown-button: 8px;
@border-radius-button-icon-only: @border-radius-small;
@color-selection-list-item-hover-background: @color-neutral-2;
