@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "tooltip-mixins.less";
@import "../base/tooltip.less";

// BEM blocks
.flyout-notice {
    background-color: @ds4-color-core-white;
    border-bottom: 1px solid @ds4-color-core-gray-silver;
    border-top: 1px solid @ds4-color-core-gray-silver;
    box-shadow: 0 3px 7px @ds4-color-transparent-gray-gainsboro;
    display: flex;
    font-size: @ds4-font-size-14;
    min-height: 32px;
    min-width: 320px;
    padding: 8px 8px 8px 0;
    position: absolute;
    z-index: 1;

    &__content {
        margin: 8px 0;
        padding-left: 8px;

        p {
            margin: 0;

            &:not(:first-of-type) {
                margin-top: 4px;
            }
        }
    }

    &__close {
        margin-top: 1px;
    }

    &__pointer-top-left {
        .flyout-notice-arrow-top;

        left: 12px;
    }

    &__pointer-top-center {
        .flyout-notice-arrow-top;

        left: calc(50% - 8px);
    }

    &__pointer-top-right {
        .flyout-notice-arrow-top;

        right: 12px;
    }

    &__pointer-bottom-left {
        .flyout-notice-arrow-bottom;

        left: 16px;
    }

    &__pointer-bottom-center {
        .flyout-notice-arrow-bottom;

        left: calc(50% - 8px);
    }

    &__pointer-bottom-right {
        .flyout-notice-arrow-bottom;

        right: 16px;
    }

    &--confirmation {
        border-top: 2px solid @ds4-color-interface-positive;
    }

    &--confirmation &__status {
        color: @ds4-color-core-green;
    }

    &--information {
        border-top: 2px solid @ds4-color-interface-cta;
    }

    &--information &__status {
        color: @ds4-color-core-blue;
    }

    &--priority {
        border-top: 2px solid @ds4-color-text-critical;
        color: @ds4-color-text-critical;
    }

    &--confirmation &__pointer-top-left,
    &--confirmation &__pointer-top-center,
    &--confirmation &__pointer-top-right {
        border-bottom-color: @ds4-color-core-green;
    }

    &--information &__pointer-top-left,
    &--information &__pointer-top-center,
    &--information &__pointer-top-right {
        border-bottom-color: @ds4-color-interface-cta;
    }

    &--priority &__pointer-top-left,
    &--priority &__pointer-top-center,
    &--priority &__pointer-top-right {
        border-bottom-color: @ds4-color-text-critical;
    }

    &__cta {
        color: @ds4-color-icon-actionable-default;
    }

    &__pointer-left {
        .flyout-notice-arrow-side;

        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        left: -6px;
    }

    &__pointer-right {
        .flyout-notice-arrow-side;

        box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1);
        right: -6px;
    }
}

button.flyout-notice__close {
    background: none;
    border: 0;
    color: @ds4-color-icon-actionable-default;
    height: 32px;
    margin-left: 8px;
    padding: 0;
    white-space: nowrap;
    width: 32px;

    svg {
        .foreground-icon-base(12px,12px);
    }

    span {
        .icon-close(12px, 12px);
    }

    &:focus,
    &:hover {
        color: @ds4-color-icon-actionable-hover;

        span {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PHBhdGggZmlsbD0iIzk5OSIgZD0iTTMxLjQyNyAyLjg0NkwyOS4wNC40NTkgMTUuOTU2IDEzLjU0MSAyLjg3NC40NTkuNDg4IDIuODQ2IDEzLjU3IDE1LjkyOC40ODggMjkuMDEybDIuMzg2IDIuMzg2IDEzLjA4Mi0xMy4wODJMMjkuMDQgMzEuMzk4bDIuMzg2LTIuMzg2LTEzLjA4NC0xMy4wODR6Ii8+PC9zdmc+');
        }
    }

    &:active {
        color: @ds4-color-icon-actionable-active;
    }
}

@media (min-width: 601px) {
    .flyout-notice {
        padding-right: 16px;

        &__content {
            padding-left: 16px;
        }
    }
}
