@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "tooltip-mixins.less";
@import "tooltip-base.less";

.tooltip__overlay,
.bubblehelp__overlay {
    display: none;
    position: relative;
}

.tooltip--expanded .tooltip__overlay,
.bubblehelp__host[aria-expanded="true"] ~ .bubblehelp__overlay,
.bubblehelp__host[aria-expanded="true"] ~ .bubblehelp__live-region .bubblehelp__overlay {
    display: block;
}
