@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "../base/bubble.less";

.bubble {
    box-shadow: 0 3px 7px @ds4-color-transparent-gray-gainsboro;
}

.bubble__mask {
    border-top: 2px solid @ds4-color-core-gray-silver;
}

.bubble__pointer,
.bubble__pointer--top-left,
.bubble__pointer--top,
.bubble__pointer--top-right {
    background-color: @ds4-color-core-gray-silver;
}

.bubble__pointer--left,
.bubble__pointer--right,
.bubble__pointer--bottom-right,
.bubble__pointer--bottom,
.bubble__pointer--bottom-left {
    background-color: white;
}

.bubble__pointer--bottom,
.bubble__pointer--bottom-left,
.bubble__pointer--bottom-right {
    box-shadow: 2px 2px 2px @ds4-color-transparent-gray-gainsboro;
}

.bubble__pointer--left {
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
}

.bubble__pointer--right {
    box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.1);
}

button.bubble__close {
    border: 0;
    color: @ds4-color-icon-actionable-default;
    padding: 0;
    white-space: nowrap;

    &:focus,
    &:hover {
        color: @ds4-color-icon-actionable-hover;

        span {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PHBhdGggZmlsbD0iIzk5OSIgZD0iTTMxLjQyNyAyLjg0NkwyOS4wNC40NTkgMTUuOTU2IDEzLjU0MSAyLjg3NC40NTkuNDg4IDIuODQ2IDEzLjU3IDE1LjkyOC40ODggMjkuMDEybDIuMzg2IDIuMzg2IDEzLjA4Mi0xMy4wODJMMjkuMDQgMzEuMzk4bDIuMzg2LTIuMzg2LTEzLjA4NC0xMy4wODR6Ii8+PC9zdmc+');
        }
    }

    &:active {
        color: @ds4-color-icon-actionable-active;
    }

    svg {
        .foreground-icon-base(12px,12px);
    }

    span {
        .icon-close(12px, 12px);

        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
    }
}
