:root {
  --spacing-large: 16px;
}

body {
  color: #212529;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin: 0;
}

a {
  color: currentColor;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-large) 0;
}

header > p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}

nav li {
  margin: 0 8px; 
}

#hero {
  background-color: #343a40;
  color: white;
  padding: var(--spacing-large);
}

aside,
main {
  padding: var(--spacing-large);
}

footer {
  background-color: #eee;
  padding: var(--spacing-large);
  text-align: center;
}

.featured__article,
.featured__thumbnail {
  padding: var(--spacing-large);
}

.featured__thumbnail {
  display: none; 
}

header {
  /* syntax: row-start / col-start / row-span / col-span */
  grid-area: 1 / 1 / span 1 / span 8;
}

nav {
  grid-area: 2 / 1 / span 1 / span 8;
}

#hero {
  grid-area: 3 / 1 / span 1 / span 8;
}

#featured-1 {
  grid-area: 4 / 1 / span 1 / span 8;
}

#featured-2 {
  grid-area: 5 / 1 / span 1 / span 8;
}

main {
  grid-area: 6 / 1 / span 1 / span 8;
}

aside {
  grid-area: 7 / 1 / span 1 / span 8;
}
/* end small page grid layout */


.subgrid {
  display: grid;
}

@supports (grid-template-columns: subgrid) {
  .subgrid {
      grid-template-columns: subgrid;
  }
}

@media (min-width: 600px) { 
  header {
    grid-area: 1 / 1 / span 1 / span 16;
  }

  nav {
    grid-area: 2 / 1 / span 1 / span 16;
  }

  #hero {
    grid-area: 3 / 1 / span 1 / span 16;
  }

  #featured-1 {
    grid-area: 4 / 1 / span 1 / span 8;
  }

  #featured-2 {
    grid-area: 4 / 9 / span 1 / span 8;
  }

  main {
    grid-area: 5 / 1 / span 1 / span 10;
  }

  aside {
    grid-area: 5 / 11 / span 1 / span 6;
  }
  /* end large page grid layout */
    
  /* begin nested grid layout */ 
  @supports not (grid-template-columns: subgrid) {
    .featured {
      column-gap: 16px;
      grid-template-columns: repeat(8, 1fr);
    } 
  }
    
  .featured__article {
    grid-column: 1 / span 5;
  }
  
    .featured__thumbnail {
    grid-column: 6 / span 3;
  }
  /* end nested grid layout */  
  
  .featured__thumbnail {
    align-items: center;
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: center;
  }
}