
.show-control() {
    opacity: 0.92;

    &[aria-disabled="true"] {
        opacity: 0.3;
    }
}

.carousel-control-mixin-base() {
    background-color: @carousel-control-background-color;
    border: 1px solid @carousel-control-border-color;
    font-size: 18px;
    opacity: 0;
    padding: 0; // override browser default
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity @ebay-carousel-transition-time @ebay-carousel-transition-function;
    z-index: 2;

    svg {
        color: @carousel-control-svg-color;
    }

    // progressive enhancement for browsers with support
    // :focus-within and :hover cannot be combined as
    // IE/Edge will discard the entire rule
    @media (min-width: 601px) {
        .carousel:focus-within & {
            .show-control();
        }

        .carousel:hover & {
            .show-control();
        }
    }

    &--show,
    &:focus {
        .show-control();
    }

    &:hover {
        background-color: @carousel-dots-hover-background-color;
        border-color: @carousel-dots-hover-background-color;

        svg {
            color: @carousel-dots-hover-svg-color;
        }
    }

    &:active {
        background-color: @carousel-dots-hover-active-background-color;

        svg {
            color: @carousel-dots-hover-active-svg-color;
        }
    }
}

.fade-mask-mixin(@direction) {
    /*
    For firefox, the mask-image works. However, when the carousel list is
    transitioned in ebayui, it does not move the mask, but rather it stays
    at the end of the first page. For firefox, we implemented a gradient, but we
    should move to the mask implementation once firefox fixes it's issues
     */
    @supports (not /*!Y */(-moz-appearance:none)) {
        .carousel__list {
            mask-image: linear-gradient(to right, @carousel-control-background-color 85%, rgba(0, 0, 0, 0) 100%);
        }
    }

    @supports (/*!Y */(-moz-appearance:none)) {
        &::after {
            @{direction}: 0;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(245, 245, 245, 0.8) 100%);
            bottom: 0;
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 55px;
            z-index: 1;
        }
    }
}
