@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

.date-picker {
    .background-color-token(date-picker-background-color, color-background-primary);
    .border-color-token(date-picker-border-color, color-stroke-default);
    border: 1px solid;
    border-radius: @spacing-200;
    box-shadow: 0 0 @spacing-200 0 rgba(0, 0, 0, 0.35);
    display: flex;
    gap: @spacing-200;
    padding: @spacing-200;
    position: absolute;
}

.date-picker[hidden] {
    display: none;
}

.calendar-month__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.calendar-month__header h3 {
    margin: 0;
}

.calendar-month__body > caption {
    display: none;
}

.calendar-month:not(:first-child) .date-picker__month-button--left,
.calendar-month:not(:last-child) .date-picker__month-button--right {
    visibility: hidden;
}

.date-picker__month-button.icon-btn svg {
    width: @spacing-200;
}

.calendar-month__body {
    border-spacing: 0 @spacing-150;
}

.calendar-month__body th {
    .color-token(date-picker-day-label-color, color-foreground-secondary);
    font-weight: normal;
    line-height: @spacing-125;
}

.calendar-month__body td {
    padding: 0;
}

.calendar-month__day > * {
    background: none;
    border: 1px solid transparent;
    border-radius: @spacing-200;
    color: inherit;
    font: inherit;
    height: @spacing-400;
    margin: 0 @spacing-100;
    text-align: center;
    width: @spacing-400;
}

.calendar-month__day--range {
    .background-color-token(date-picker-day-range-background-color, color-state-secondary-active);
}

.calendar-month__day--start {
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        transparent 50%,
        var(--color-state-secondary-active) 50%
    );
}

.calendar-month__day--end {
    background-color: transparent;
    background-image: linear-gradient(
        to left,
        transparent 50%,
        var(--color-state-secondary-active) 50%
    );
}

.calendar-month__day--start.calendar-month__day--end {
    background: transparent;
}

.calendar-month__day--start > :not(:disabled, [aria-disabled="true"], [aria-selected="true"]),
.calendar-month__day--end > :not(:disabled, [aria-disabled="true"], [aria-selected="true"]) {
    .background-color-token(date-picker-day-hover, color-state-secondary-active);
}

.calendar-month__day--today > :not(:disabled, [aria-disabled="true"], [aria-selected="true"]) {
    .border-color-token(date-picker-day-today-border-color, color-foreground-primary);
}

.calendar-month__day > :disabled,
.calendar-month__day > [aria-disabled="true"] {
    .color-token(date-picker-day-disabled-color, color-foreground-disabled);
}

.calendar-month__day:not(.calendar-month__day--range)
    > :not(:disabled, [aria-disabled="true"], [aria-selected="true"]):hover {
    .background-color-token(date-picker-day-hover-background-color, color-state-primary-hover);
}

.calendar-month__day > [aria-selected="true"] {
    .background-color-token(date-picker-day-selected-background-color, color-background-inverse);
    .color-token(date-picker-day-selected-color, color-foreground-on-inverse);
    font-weight: bold;
}
