@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

.date-picker {
    .background-color-token(date-picker-background-color, color-background-primary);
    .border-color-token(date-picker-border-color, color-stroke-default);
    border: 1px solid;
    border-radius: @spacing-200;
    box-shadow: 0 0 @spacing-200 0 rgba(0, 0, 0, 0.35);
    padding: @spacing-200;
    position: absolute;
}

.date-picker[hidden] {
    display: none;
}

.date-picker__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.date-picker__header h3 {
    flex-grow: 1;
    margin: 0;
    text-align: center;
    width: 0; // In conjunction with `flex-grow: 1`, this forces all headers to be an equal size
}

.date-picker__header h3:nth-child(2) {
    margin-right: 40px; // total width of icon-btn--small
}

.date-picker__header h3:nth-last-child(2) {
    margin-left: 40px; // total width of icon-btn--small
}

.date-picker__header h3:nth-child(2):nth-last-child(2) {
    margin: 0;
}

.date-picker__header .icon-btn svg {
    width: @spacing-200;
}

.date-picker__body {
    display: flex;
    gap: @spacing-200;
}
