@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

// custom properties (ds6 only)
.switch {
    --badge-background-color: @color-badge-background;
    --badge-foreground-color: @color-badge-text;
}

@media (prefers-color-scheme: dark) {
    .switch {
        --badge-background-color: @color-badge-background;
        --badge-foreground-color: @color-badge-text;
    }
}

@badge-font-family: @font-family-custom;
@badge-background-color: @color-badge-background;
@badge-foreground-color: @color-badge-text;

@import '../base/badge.less';
