@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";

// Custom properties
.switch {
    --badge-background-color: @color-badge-background;
    --badge-foreground-color: @color-badge-text;
}

// Dark-mode (ds6 only)
@media (prefers-color-scheme: dark) {
    .switch {
        --badge-background-color: @color-badge-background;
        --badge-foreground-color: @color-badge-text;
    }
}

// IE11 fallbacks
@badge-font-family: @font-family-custom;
@badge-background-color: @color-badge-background;
@badge-foreground-color: @color-badge-text;

@import '../base/badge.less';
