@import '../base/badge.less';
@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

.badge {
    background-color: @ds6-color-badge-background;
    color: @ds6-color-badge-text;
    &-container .badge {
        border: 2px solid @ds6-color-badge-text;
    }
}
