@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

@link-nav-color: @color-black;
@link-nav-color-visited: @color-black;
@link-nav-color-hover: @color-link-default;
@link-action-color: @color-link-default;
@link-action-color-visited: @color-link-visited;
@link-fake-color: @color-link-default;
@link-fake-font-size: @font-size-14;

@import "../base/link.less";
