a {
    &.nav-link,
    &.action-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &.nav-link {
        color: @ds6-color-g206-gray;

        &:visited {
            color: @ds6-color-g206-gray;
        }

        &:hover {
            color: @ds6-color-link-default;
        }
    }

    &.action-link {
        color: @ds6-color-link-default;

        &:visited {
            color: @ds6-color-link-visited;
        }
    }
}
