// DS6.v1.01

@import "../../less/ds6/variables.less";

@link-nav-color: @ds6-color-black;
@link-nav-color-visited: @ds6-color-black;
@link-nav-color-hover: @ds6-color-link-default;
@link-action-color: @ds6-color-link-default;
@link-action-color-visited: @ds6-color-link-visited;
@link-fake-color: @ds6-color-link-default;
@link-fake-font-size: @ds6-font-size-14;

@import "../base/link.less";
