@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/button/ds6/button-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../base/expand-button.less";

/* stylelint-disable  no-descending-specificity, no-duplicate-selectors */

button.expand-btn--primary {
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        background-color: @color-b7;
        border-color: @color-b7;
    }
}

button.expand-btn--secondary[disabled] {
    &:focus,
    &:hover,
    &:active {
        background-color: @color-white;
        border-color: @color-disabled;
        color: @color-disabled;
    }
}

button.expand-btn--secondary {
    &:focus,
    &:hover,
    &:active {
        border-color: @color-b7;
        color: @color-b7;
    }
}

button.expand-btn {
    .button-size-rules(10px, 10px);
}

span.expand-btn__cell--fixed-height svg {
    align-self: center;
}

button.expand-btn--small {
    .button-size-rules(6px, 6px);

    min-height: 32px;
}

button.expand-btn--small-fixed-height {
    .button-size-rules(6px, 6px);

    height: 32px;
}

button.expand-btn--small-truncated {
    .button-size-rules(6px, 6px);
    .btn-truncate;

    height: 32px;
}

button.expand-btn--large {
    .button-size-rules(12px, 12px);

    min-height: 48px;
}

button.expand-btn--large-fixed-height {
    .button-size-rules(12px, 12px);

    height: 48px;
}

button.expand-btn--large-truncated {
    .button-size-rules(12px, 12px);
    .btn-truncate;

    height: 48px;
}

button.expand-btn--large {
    font-size: @font-size-18;
}

// code smell (chained modifiers)
button.expand-btn.expand-btn--no-text {
    height: 40px;
}

// code smell (chained modifier)
button.expand-btn.expand-btn--no-text.expand-btn--small {
    height: 32px;
}

// code smell (chained modifier)
button.expand-btn.expand-btn--no-text.expand-btn--large {
    height: 40px;
}
