@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/expand-button-variables.less";
@import "../../variables/ds6/button-variables.less";
@import "../../mixins/button/ds6/button-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../base/expand-button.less";

button.expand-btn {
    padding-bottom: 10px;
    padding-top: 10px;
}

button.expand-btn--large {
    font-size: @font-size-18;
}

button.expand-btn--primary {
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        background-color: @color-b7;
        border-color: @color-b7;
    }
}

button.expand-btn--secondary[disabled] {
    &:focus,
    &:hover,
    &:active {
        background-color: @color-white;
        border-color: @color-disabled;
        color: @color-disabled;
    }
}

button.expand-btn--secondary {
    &:focus,
    &:hover,
    &:active {
        border-color: @color-b7;
        color: @color-b7;
    }
}
