import {components} from '../../../components/components.marko';
import path from 'path';

<h1>All CSS Components</h1>

<ul>
<for|key, folder| in=components>
    <li>
        <anchor href=`component/${path.basename(folder)}/` class="module-link">${path.basename(folder)}</anchor>
    </li>
</for>
</ul>
