@import "../base/index.less";

/* COLOUR MODULE */

/* PLEASE DON'T USE THIS LESS FORMATTING "TRICK" IN OUR MODULE SOURCE CODE ;-) */

.demo-color- {
    &core-orange::before {
        background-color: @color-core-orange;
    }

    &core-red::before {
        background-color: @color-core-red;
    }

    &core-purple::before {
        background-color: @color-core-purple;
    }

    &core-blue-dark::before {
        background-color: @color-core-blue-dark;
    }

    &core-blue::before {
        background-color: @color-core-blue;
    }

    &core-violet::before {
        background-color: @color-core-violet;
    }

    &core-green::before {
        background-color: @color-core-green;
    }

    &core-beige::before {
        background-color: @color-core-beige;
    }

    &core-beige-light::before {
        background-color: @color-core-beige-light;
    }
}
