@import "../base/index.less";

body {
    background-color: #fff;
}

/* COLOUR MODULE */
/* PLEASE DON'T USE THIS LESS FORMATTING "TRICK" IN OUR MODULE SOURCE CODE ;-) */

.demo-color- {
    &core-orange::before {
        background-color: @color-core-orange;
    }

    &core-red::before {
        background-color: @color-core-red;
    }

    &core-purple::before {
        background-color: @color-core-purple;
    }

    &core-blue-dark::before {
        background-color: @color-core-blue-dark;
    }

    &core-blue::before {
        background-color: @color-core-blue;
    }

    &core-violet::before {
        background-color: @color-core-violet;
    }

    &core-green::before {
        background-color: @color-core-green;
    }

    &core-beige::before {
        background-color: @color-core-beige;
    }

    &core-beige-light::before {
        background-color: @color-core-beige-light;
    }
}

/* ICON DEMOS */

span.icon--information {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzA2NTRiYSIgZD0iTTEyLjAwNyA5Ljc1M2EuODQ5Ljg0OSAwIDAgMC0uODQ5Ljg0OXY2LjU1M2EuODUuODUgMCAwIDAgMS42ODMuMDA0di02LjU1N2EuODQ5Ljg0OSAwIDAgMC0uODM0LS44NDl6bTEuMDU3LTIuODhhMS4wMTYgMS4wMTYgMCAxIDEtMi4wMzIgMCAxLjAxNiAxLjAxNiAwIDAgMSAyLjAzMiAwem0tMS4wNTcgMTcuMTQxQzUuMzc2IDI0LjAxNCAwIDE4LjYzOCAwIDEyLjAwNyAwIDUuMzc2IDUuMzc2IDAgMTIuMDA3IDBjNi42MzEgMCAxMi4wMDcgNS4zNzYgMTIuMDA3IDEyLjAwN3YuMDE1Yy0uMDA4IDYuNjI1LTUuMzgxIDExLjk5Mi0xMi4wMDcgMTEuOTkyem0wLTIyLjI2MWMtNS42NzEgMC0xMC4yNjggNC41OTctMTAuMjY4IDEwLjI2OHM0LjU5NyAxMC4yNjggMTAuMjY4IDEwLjI2OCAxMC4yNjgtNC41OTcgMTAuMjY4LTEwLjI2OFMxNy42NzggMS43NTMgMTIuMDA3IDEuNzUzeiIvPjwvc3ZnPg==');
    height: 24px;
    width: 24px;
}
