#header-small {
    display: none;
}

#header-large {
    box-sizing: border-box;
    display: block;
    border-right: 1px solid #ececec;
    height: 100%;
    overflow-y: scroll;
    padding: 0 16px 64px 16px;
    width: 200px;

    h1 {
        margin-top: 34px;
        margin-bottom: 38px;

        a {
            display: block;
        }

        span[role="img"] {
            display: inline-block;
        }
    }

    h2 {
        .font-hierarchy-desktop-body-1;
        margin-bottom: 8px;
        margin-top: 24px;
    }

    ul {
        list-style-type: none;
        margin: 0 16px;
        padding: 0;
        width: 100%;
    }

    li {
        margin: 6px 0;
    }

    a {
        .font-hierarchy-desktop-body-2;
        color: @color-core-gray-davys;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;

        &:hover {
            color: @color-core-gray-jet;
            text-decoration: underline;
        }
    }
}

#main {
    margin-right: 16px;
    margin-left: 210px;
    padding-top: 0;

    > div {

        &:first-child {
            h2 {
                .font-hierarchy-desktop-jumbo;
                margin-bottom: 8px;
                margin-top: 16px;
                padding: 0;
            }

            h3 {
                .font-hierarchy-desktop-body-1;
            }
        }

        &:not(:first-child) {
            > h2 {
                .font-hierarchy-desktop-headline-1;
                padding-top: 20px;
                margin-top: 44px;
            }

            > h3 {
                .font-hierarchy-desktop-title-2;
            }

            > .grid h3 {
                .font-hierarchy-desktop-body-1;
            }

            > h4 {
                .font-hierarchy-desktop-title-3;
            }

            > h5 {
                .font-hierarchy-desktop-caption-1;
            }
        }
    }
}

footer[role="contentinfo"] {
    text-align: left;
    width: 200px;
}

figure.highlight pre {
    padding: 16px 16px 0;
}

.demo__inner {
    margin: 16px;
}

.demo--grid {
    padding-bottom: 16px;
}

.cols {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
