@import "../base/index.less";

//CAROUSEL SECTION
.carousel__list--default-demo li {
    border-radius: 3px;
}

.carousel__list--discrete-demo li {
    border-radius: 3px;
}

.carousel__list--slideshow-demo li {
    border-radius: 3px;
}
