@import "../../less/ds6/variables.less";

body {
    background-color: @color-background-default;
    color: @color-text-default;
    font-family: @font-family-default;
    font-size: @font-size-14;
    -webkit-text-size-adjust: 100%;
}

a {
    color: @color-link-default;

    &:visited {
        color: @color-link-visited;
    }
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}
