@import "../../less/variables-common.less";
@import "../../less/ds6/variables.less";

body {
    background-color: @ds6-color-background-default;
    color: @ds6-color-text-default;
    font-family: @ds6-font-family-default;
    font-size: @ds6-font-size-14;
}

a {
    color: @ds6-color-link-default;

    &:visited {
        color: @ds6-color-link-visited;
    }
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}

// Hack to make the label align correctly when using MarketSans
.radio + .field__label--end,
.checkbox + .field__label--end {
    vertical-align: middle;
}

.field__control.radio,
.field__control.checkbox {
    margin-right: -4px;
}
