@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/utility/utility-mixins.less";

// CSS Custom properties
a.icon-link,
button.icon-btn {
    --actionable-badge-border-color: @color-background-default;
    --actionable-icon-foreground-color: @color-icon-actionable-default;
    --actionable-icon-foreground-color-active: @color-icon-actionable-default;
    --actionable-icon-foreground-color-hover: @color-core-gray-dim;
    --actionable-image-border-color-hover: @color-core-gray-spanish;
}

a.img-link,
button.img-btn {
    --actionable-image-background-color-visited: @color-grey2;
    --actionable-image-border-color-active: @color-text-secondary;
    --actionable-image-border-color-hover: @color-grey5;
}

// IE11 fallbacks
@actionable-badge-border-color: @color-background-default;
@actionable-badge-font-size: @font-size-12;
@actionable-icon-foreground-color: @color-icon-actionable-default;
@actionable-icon-foreground-color-active: @color-icon-actionable-default;
@actionable-icon-foreground-color-hover: @color-text-default;
@actionable-image-background-color-visited: @color-core-gray-light;
@actionable-image-border-color-hover: @color-core-gray-spanish;
@actionable-image-border-color-active: @color-core-gray-dim;

@import "../base/actionable.less";
