// icons
//-----------------------------

button.icon-btn,
a.icon-link {
    background-color: transparent;
    border: 0 none;
    font-size: 16px;
    padding: 7px 6px;
    vertical-align: middle;

    svg {
        .foreground-icon-base;

        color: @ds4-color-icon-actionable-default;
    }

    &:focus,
    &:hover {
        svg {
            .opacity(0.65);
        }
    }

    &:active svg {
        color: @ds4-color-icon-actionable-active;
    }
}

a.icon-link {
    display: inline-block; // parity with button tag
}

// disabled & partially disabled states
button[disabled].icon-btn,
button[aria-disabled="true"].icon-btn,
a:not([href]).icon-link,
a[aria-disabled="true"].icon-link {
    svg {
        background-color: transparent;
        .opacity(0.5);
    }
}

// images
//-----------------------------

a.img-link,
button.img-btn {
    border: 1px solid transparent;
}

a.img-link {
    display: inline-block;

    &[href] {
        &:hover,
        &:focus {
            border-color: @ds4-color-core-gray-spanish;
        }

        &:active {
            border-color: @ds4-color-core-gray-dim;
        }
    }
}

a.img-link--visit:visited {
    background-color: @ds4-color-core-gray-light;
}

button.img-btn {
    background-color: transparent;
    padding: 0;

    &:not([disabled]) {
        &:hover,
        &:focus {
            border-color: @ds4-color-core-gray-spanish;
        }

        &:active {
            border-color: @ds4-color-core-gray-dim;
        }
    }
}

.icon-btn--badged {
    position: relative;

    .badge {
        border: 2px solid;
        border-color: @ds4-color-core-white;
        font-size: @ds4-font-size-12;
        height: 24px;
        left: 12px;
        margin: auto;
        min-width: 24px;
        position: absolute;
        top: -8px;
        z-index: 1;
    }
}
