@import "../variables/variables";
@import "../mixins/private/token-mixins";

svg.image-placeholder {
    @include color-token(color-foreground-primary);

    fill: currentColor;
    height: inherit;
    width: inherit;
}
