button.filter-button,
a.filter-link {
    .filter-button-base;

    background-color: @filter-button-background-color;

    &:focus,
    &:hover,
    &:active {
        background-color: @filter-button-hover-background-color;
    }
}

.filter-button__cell,
.filter-link__cell {
    .filter-button-cell;
}

a.filter-link:visited {
    .filter-link-visited;

    color: @filter-button-color;
}

button.filter-button--selected,
a.filter-link--selected {
    .filter-button-selected;

    background-color: @filter-button-selected-background-color; // should we just lighten @color-b4;
    color: @filter-button-selected-color;

    &:focus,
    &:hover,
    &:active {
        background-color: @filter-button-selected-hover-background-color; // should we just lighten @color-b4;
    }
}


button.filter-button[disabled],
button.filter-button[aria-disabled="true"],
button.filter-button--selected[disabled],
button.filter-button--selected[aria-disabled="true"] {
    .filter-button-disabled;

    color: @filter-button-disabled-color;

    &:hover,
    &:focus {
        background-color: @filter-button-background-color;
        color: @filter-button-disabled-color;
    }
}

a.filter-link:not([href]),
a.filter-link[aria-disabled="true"],
a.filter-link--selected:not([href]),
a.filter-link--selected[aria-disabled="true"] {
    .filter-button-disabled;

    color: @filter-button-disabled-color;

    &:hover,
    &:focus {
        background-color: @filter-button-background-color;
        color: @filter-button-disabled-color;
    }
}
