@import "../../../less/ds4/mixins.less";
@import "../../../less/ds4/variables.less";

// we need the span & svg specificty to override dimensions set in span.icon & svg.icon by base mixins
// todo refactor foreground-icon-base to not contain default width & height
.icon-size-mixin(@icon-string) {
    height: ~"@{ds4-@{icon-string}-height}"; // string resolves to a LESS variable
    width: ~"@{ds4-@{icon-string}-width}"; // string resolves to a LESS variable
}

span.icon {
    .background-icon-base;
}

svg.icon {
    .foreground-icon-base;

    pointer-events: none;
}

.icon--alert {
    .icon-size-mixin('icon-alert');
}

.icon--arrow-down {
    .icon-size-mixin('icon-arrow-down');
}

.icon--arrow-up {
    .icon-size-mixin('icon-arrow-up');
}

.icon--auction {
    .icon-size-mixin('icon-auction');
}

.icon--autocomplete {
    .icon-size-mixin('icon-autocomplete');
}

.icon--best-offer {
    .icon-size-mixin('icon-best-offer');
}

.icon--bold {
    .icon-size-mixin('icon-bold');
}

.icon--box {
    .icon-size-mixin('icon-box');
}

.icon--bulleted-list {
    .icon-size-mixin('icon-bulleted-list');
}

.icon--call {
    .icon-size-mixin('icon-call');
}

.icon--cart-null {
    .icon-size-mixin('icon-cart-null');
}

.icon--caution-null {
    .icon-size-mixin('icon-caution-null');
}

.icon--center-aligned {
    .icon-size-mixin('icon-center-aligned');
}

.icon--center-justified {
    .icon-size-mixin('icon-center-justified');
}

.icon--chat {
    .icon-size-mixin('icon-chat');
}

.icon--tick {
    .icon-size-mixin('icon-tick');
}

.icon--checkout-complete {
    .icon-size-mixin('icon-checkout-complete');
}

.icon--chevron-down-disabled {
    .icon-size-mixin('icon-chevron-down-disabled');
}

.icon--chevron-left-disabled {
    .icon-size-mixin('icon-chevron-left-disabled');
}

.icon--chevron-light-left {
    .icon-size-mixin('icon-chevron-light-left');
}

.icon--chevron-light-left-disabled {
    .icon-size-mixin('icon-chevron-light-left-disabled');
}

.icon--chevron-light-right {
    .icon-size-mixin('icon-chevron-light-right');
}

.icon--chevron-light-right-disabled {
    .icon-size-mixin('icon-chevron-light-right-disabled');
}

.icon--chevron-right-disabled {
    .icon-size-mixin('icon-chevron-right-disabled');
}

.icon--chevron-up-disabled {
    .icon-size-mixin('icon-chevron-up-disabled');
}

.icon--classified-ad {
    .icon-size-mixin('icon-classified-ad');
}

.icon--clock {
    .icon-size-mixin('icon-clock');
}

.icon--collections-null {
    .icon-size-mixin('icon-collections-null');
}

.icon--comments {
    .icon-size-mixin('icon-comments');
}

.icon--confirmation {
    .icon-size-mixin('icon-confirmation');
}

.icon--feedback-negative {
    .icon-size-mixin('icon-feedback-negative');
}

.icon--feedback-neutral {
    .icon-size-mixin('icon-feedback-neutral');
}

.icon--feedback-positive {
    .icon-size-mixin('icon-feedback-positive');
}

.icon--fire {
    .icon-size-mixin('icon-fire');
}

.icon--fixed-price {
    .icon-size-mixin('icon-fixed-price');
}

.icon--add {
    .icon-size-mixin('icon-add');
}

.icon--glasses-null {
    .icon-size-mixin('icon-glasses-null');
}

.icon--info {
    .icon-size-mixin('icon-info');
}

.icon--information {
    .icon-size-mixin('icon-information');
}

.icon--italic {
    .icon-size-mixin('icon-italic');
}

.icon--item-feedback {
    .icon-size-mixin('icon-item-feedback');
}

.icon--item-paid {
    .icon-size-mixin('icon-item-paid');
}

.icon--item-shipped {
    .icon-size-mixin('icon-item-shipped');
}

.icon--justified {
    .icon-size-mixin('icon-justified');
}

.icon--left-aligned {
    .icon-size-mixin('icon-left-aligned');
}

.icon--left-justified {
    .icon-size-mixin('icon-left-justified');
}

.icon--link {
    .icon-size-mixin('icon-link');
}

.icon--magnify {
    .icon-size-mixin('icon-magnify');
}

.icon--messages {
    .icon-size-mixin('icon-messages');
}

.icon--messages-open {
    .icon-size-mixin('icon-messages-open');
}

.icon--minus {
    .icon-size-mixin('icon-minus');
}

.icon--notification {
    .icon-size-mixin('icon-notification');
}

.icon--notification-null {
    .icon-size-mixin('icon-notification-null');
}

.icon--numbered-list {
    .icon-size-mixin('icon-numbered-list');
}

.icon--part-paid {
    .icon-size-mixin('icon-part-paid');
}

.icon--pause {
    .icon-size-mixin('icon-pause');
}

.icon--payment-refunded {
    .icon-size-mixin('icon-payment-refunded');
}

.icon--pencil-null {
    .icon-size-mixin('icon-pencil-null');
}

.icon--pictures-null {
    .icon-size-mixin('icon-pictures-null');
}

.icon--play {
    .icon-size-mixin('icon-play');
}

.icon--priority {
    .icon-size-mixin('icon-priority');
}

.icon--relisted {
    .icon-size-mixin('icon-relisted');
}

.icon--requested-total {
    .icon-size-mixin('icon-requested-total');
}

.icon--right-aligned {
    .icon-size-mixin('icon-right-aligned');
}

.icon--right-justified {
    .icon-size-mixin('icon-right-justified');
}

.icon--second-chance {
    .icon-size-mixin('icon-second-chance');
}

.icon--selling {
    .icon-size-mixin('icon-selling');
}

.icon--selling-null {
    .icon-size-mixin('icon-selling-null');
}

.icon--seller-feedback {
    .icon-size-mixin('icon-seller-feedback');
}

.icon--shopping-null {
    .icon-size-mixin('icon-shopping-null');
}

.icon--sort {
    .icon-size-mixin('icon-sort');
}

.icon--star {
    .icon-size-mixin('icon-star');
}

.icon--strike-thru {
    .icon-size-mixin('icon-strike-thru');
}

.icon--success {
    .icon-size-mixin('icon-success');
}

.icon--tag {
    .icon-size-mixin('icon-tag');
}

.icon--trash {
    .icon-size-mixin('icon-trash');
}

.icon--underline {
    .icon-size-mixin('icon-underline');
}

.icon--window {
    .icon-size-mixin('icon-window');
}

.icon--camera {
    .icon-size-mixin('icon-camera');
}

.icon--cart {
    .icon-size-mixin('icon-cart');
}

.icon--checkbox-checked {
    .icon-size-mixin('icon-checkbox-checked');
}

.icon--checkbox-unchecked {
    .icon-size-mixin('icon-checkbox-unchecked');
}

.icon--chevron-down {
    .icon-size-mixin('icon-chevron-down');
}

.icon--chevron-left {
    .icon-size-mixin('icon-chevron-left');
}

.icon--chevron-right {
    .icon-size-mixin('icon-chevron-right');
}

.icon--chevron-up {
    .icon-size-mixin('icon-chevron-up');
}

.icon--clear {
    .icon-size-mixin('icon-clear');
}

.icon--close {
    .icon-size-mixin('icon-close');
}

.icon--help {
    .icon-size-mixin('icon-help');
}

.icon--menu {
    .icon-size-mixin('icon-menu');
}

.icon--profile {
    .icon-size-mixin('icon-profile');
}

.icon--radio-checked {
    .icon-size-mixin('icon-radio-checked');
}

.icon--radio-unchecked {
    .icon-size-mixin('icon-radio-unchecked');
}

.icon--download {
    .icon-size-mixin('icon-download');
}

.icon--search {
    .icon-size-mixin('icon-search');
}

.icon--settings {
    .icon-size-mixin('icon-settings');
}

.icon--filter-gallery {
    .icon-size-mixin('icon-filter-gallery');
}

.icon--filter-list {
    .icon-size-mixin('icon-filter-list');
}

.icon--filter-single {
    .icon-size-mixin('icon-filter-single');
}
