.tooltip__overlay,
.bubblehelp__overlay {
    display: none;
    position: relative;
}

.tooltip--expanded .tooltip__overlay,
.tooltip__host[aria-expanded="true"] ~ .tooltip__overlay,
.bubblehelp__host[aria-expanded="true"] ~ .bubblehelp__overlay,
.bubblehelp__host[aria-expanded="true"] ~ .bubblehelp__live-region .bubblehelp__overlay {
    display: block;
}
