.flyout-notice {
    .bubble {
        border-bottom: 1px solid @ds4-color-core-gray-silver;
    }
}

.flyout-notice--confirmation {
    // additional level of specificity needed over ".tooltip .bubble__mask"
    .bubble {
        .bubble__mask {
            border-top: 2px solid @ds4-color-interface-positive;
        }

        .bubble__pointer--top-left,
        .bubble__pointer--top,
        .bubble__pointer--top-right {
            background-color: @ds4-color-interface-positive;
        }
    }
}

.flyout-notice--information {
    // additional level of specificity needed over ".tooltip .bubble__mask"
    .bubble {
        .bubble__mask {
            border-top: 2px solid @ds4-color-interface-cta;
        }

        .bubble__pointer--top-left,
        .bubble__pointer--top,
        .bubble__pointer--top-right {
            background-color: @ds4-color-interface-cta;
        }
    }
}

.flyout-notice--priority {
    color: @ds4-color-text-critical;

    // additional level of specificity needed over ".tooltip .bubble__mask"
    .bubble {
        .bubble__mask {
            border-top: 2px solid @ds4-color-text-critical;
        }

        .bubble__pointer--top-left,
        .bubble__pointer--top,
        .bubble__pointer--top-right {
            background-color: @ds4-color-text-critical;
        }
    }
}
