.inline-notice {
    font-size: @ds4-font-size-14;
    line-height: 1.15;  // helps vertical-alignment when font-weight bold
    min-height: 16px;
}

.inline-notice--priority {
    color: @ds4-color-text-critical;
    font-weight: 500;
}

.inline-notice--information .inline-notice__status {
    color: @ds4-color-core-blue;
}

.inline-notice--confirmation .inline-notice__status {
    color: @ds4-color-core-green;
}

.inline-notice--priority .inline-notice__status span {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%23dd1e31%22%20d%3D%22M15.991%2018.996c0%200%200%200%200%200-0.625%200-1.132-0.507-1.132-1.132%200%200%200%200%200%200v-8.737c-0.006-0.043-0.009-0.094-0.009-0.145%200-0.625%200.507-1.132%201.132-1.132s1.132%200.507%201.132%201.132c0%200.051-0.003%200.101-0.010%200.15l0.001%208.732c0%200%200%200%200%200%200%200.618-0.496%201.121-1.112%201.131z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23dd1e31%22%20d%3D%22M17.401%2022.855c0%200.748-0.606%201.354-1.354%201.354s-1.354-0.606-1.354-1.354c0-0.748%200.606-1.354%201.354-1.354s1.354%200.606%201.354%201.354z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%23dd1e31%22%20d%3D%22M15.991%2032c-8.842%200-16.009-7.168-16.009-16.009s7.168-16.009%2016.009-16.009c8.842%200%2016.009%207.168%2016.009%2016.009%200%200.007%200%200.013%200%200.020-0.011%208.833-7.174%2015.99-16.009%2015.99%200%200%200%200%200%200zM15.991%202.319c0%200%200%200%200%200-7.561%200-13.69%206.129-13.69%2013.69s6.129%2013.69%2013.69%2013.69c7.561%200%2013.69-6.129%2013.69-13.69s-6.129-13.69-13.69-13.69z%22%3E%3C/path%3E%3C/svg%3E');
}

.inline-notice--confirmation .inline-notice__status span {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%235ba71b%22%20d%3D%22M16.009%2032c-8.842%200-16.009-7.168-16.009-16.009s7.168-16.009%2016.009-16.009c8.842%200%2016.009%207.168%2016.009%2016.009%200%200.007%200%200.013%200%200.020-0.011%208.833-7.174%2015.99-16.009%2015.99%200%200%200%200%200%200zM16.009%202.319c0%200%200%200%200%200-7.561%200-13.69%206.129-13.69%2013.69s6.129%2013.69%2013.69%2013.69c7.561%200%2013.69-6.129%2013.69-13.69s-6.129-13.69-13.69-13.69z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%235ba71b%22%20d%3D%22M14.841%2023.448c-0.001%200-0.003%200-0.004%200-0.247%200-0.473-0.091-0.646-0.242l-6.232-5.305c-0.213-0.182-0.347-0.451-0.347-0.751%200-0.545%200.442-0.987%200.987-0.987%200.245%200%200.469%200.089%200.641%200.237l5.434%204.637%208.181-10.741c0.183-0.238%200.468-0.39%200.788-0.39%200.548%200%200.992%200.444%200.992%200.992%200%200.228-0.077%200.438-0.206%200.605l-8.81%2011.573c-0.137%200.199-0.39%200.358-0.682%200.389l-0.116%200z%22%3E%3C/path%3E%3C/svg%3E');
}

.inline-notice--information .inline-notice__status span {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M15.991%2012.986c0%200%200%200%200%200-0.625%200-1.132%200.507-1.132%201.132%200%200%200%200%200%200v8.737c0.074%200.56%200.548%200.987%201.122%200.987s1.048-0.427%201.122-0.981l0.001-8.743c0-0%200-0%200-0%200-0.618-0.496-1.121-1.112-1.131z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M17.401%209.146c0%200.748-0.606%201.354-1.354%201.354s-1.354-0.606-1.354-1.354c0-0.748%200.606-1.354%201.354-1.354s1.354%200.606%201.354%201.354z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M15.991%2032c-8.842%200-16.009-7.168-16.009-16.009s7.168-16.009%2016.009-16.009c8.842%200%2016.009%207.168%2016.009%2016.009%200%200.007%200%200.013%200%200.020-0.011%208.833-7.174%2015.99-16.009%2015.99%200%200%200%200%200%200zM15.991%202.319c0%200%200%200%200%200-7.561%200-13.69%206.129-13.69%2013.69s6.129%2013.69%2013.69%2013.69c7.561%200%2013.69-6.129%2013.69-13.69s-6.129-13.69-13.69-13.69z%22%3E%3C/path%3E%3C/svg%3E');
}

.inline-notice__content {
    padding-left: 8px;
}

.inline-notice__content p {
    margin: 0;

    &:not(:first-of-type) {
        margin-top: 4px;
    }
}

.inline-notice__status span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    width: 16px;
}

.inline-notice__status svg {
    .foreground-icon-base;

    height: 16px;
    width: 16px;
}

@media (min-width: 601px) {
    div.inline-notice {
        margin: 16px 0;
    }
}
