@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../variables/ds4/notice-variables.less";
@import "../../variables/ds4/button-variables.less";
@import "../../mixins/bubble/ds4/bubble-mixins.less";
@import "../../mixins/icon/ds4/icon-mixins.less";
@import "../../mixins/button/ds4/button-mixins.less";
@import "../base/notice.less";

.page-notice--information,
.page-notice--confirmation,
.page-notice--attention,
.page-notice--celebration {
    background-color: @color-core-white;
    border-bottom: 1px solid @color-core-gray-silver;
    border-top: 1px solid @color-core-gray-silver;
}

.section-notice--information,
.section-notice--confirmation,
.section-notice--attention {
    background-color: @color-core-white;
    border: 1px solid @color-core-gray-silver;
}

.page-notice--attention,
.section-notice--attention,
a.page-notice--attention,
a.section-notice--attention {
    color: @color-text-critical;
}

.page-notice__status,
.section-notice__status {
    color: @color-white;
}

.page-notice--information .page-notice__status,
.section-notice--information .section-notice__status {
    color: @color-core-blue;
}

.page-notice--confirmation .page-notice__status,
.page-notice--celebration .page-notice__status,
.section-notice--confirmation .section-notice__status {
    color: @color-core-green;
}

@media (min-width: 601px) {
    .page-notice {
        border: 1px solid @color-core-gray-silver;
    }

    .page-notice--information {
        border-top: 2px solid @color-interface-cta;
    }

    .page-notice--confirmation,
    .page-notice--celebration {
        border-top: 2px solid @color-interface-positive;
    }

    .page-notice--attention {
        border-top: 2px solid @color-text-critical;
    }
}
