@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/typography-variables.less";

// CSS Custom Properties
.breadcrumbs {
    --breadcrumbs-item-color: @color-text-default;
    --breadcrumbs-item-current-color: @color-core-gray-dim;
    --breadcrumbs-item-focus-hover-color: @color-core-blue;
}

// IE11 fallbacks
@breadcrumbs-item-color: @color-text-default;
@breadcrumbs-item-current-color: @color-core-gray-dim;
@breadcrumbs-item-focus-hover-color: @color-core-blue;

@import "../base/breadcrumbs.less";
