@import "../../../tokens/ds6/tokens.less";

@dropdown-border-color: @color-grey1;
@dropdown-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@dropdown-border-radius: @border-radius-small;
@dropdown-border-radius-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@dropdown-border-radius-border-color: @color-grey1;

@import "../base/dropdown-mixins.less";
