.item-tile {
    display: grid;
    gap: var(--spacing-200);
    grid-area: body;
    grid-template-areas:
        "header"
        "body";
    grid-template-rows: auto 1fr;
}

.item-tile--list-view {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.item-tile__header {
    grid-area: header;
}

.item-tile--list-view .item-tile__header {
    max-width: 200px;
}

.item-tile__body {
    display: grid;
    grid-area: body;
    grid-template-areas:
        "aligned-section-1"
        "aligned-section-2"
        "aligned-section-3";
    grid-template-rows: 25px 1fr 1fr;
}

.item-tile__aligned-section-1 {
    display: inline-block;
    grid-area: aligned-section-1;
    margin-block-end: var(--spacing-50);
}

.item-tile__aligned-section-1 .signal {
    margin: 0;
}

.item-tile__aligned-section-2 {
    grid-area: aligned-section-2;
}

.item-tile__aligned-section-3 {
    grid-area: aligned-section-3;
}

/* Each of the attributes is expected to be in its own <p> */
.item-tile__aligned-section-3 p {
    margin-block-end: 0.2143em; /* 3px / 14px (base font) */
    margin-block-start: 0;
}

.item-tile__title {
    -webkit-box-orient: vertical;
    color: var(--color-foreground-link-primary);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-decoration: none;
}

.item-tile__title:hover {
    color: var(--color-foreground-link-primary);
    text-decoration: underline;
}

.item-tile__title:visited {
    color: var(--color-foreground-link-visited);
}

.item-tile__subtitle {
    color: var(--color-foreground-secondary);
}
