@screen-size-1: 320px;
@screen-size-2: 480px;
@screen-size-3: 600px;
@screen-size-4: 768px;
@screen-size-5: 960px;
@screen-size-6: 1280px;

@page-grid-cols-small: 8;
@page-grid-cols-large: 16;
@page-grid-gutter-width-small: @spacing-100;
@page-grid-gutter-width-large: @spacing-200;

@marketsans-url: "https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/";
@marketsans-fontname: "Market Sans";
@marketsans-filename-regular: "MarketSans-Regular-WebS";
@marketsans-filename-bold: "MarketSans-SemiBold-WebS";

@font-family-default: @marketsans-fontname, Arial, sans-serif;

@font-weight-regular: 500;
@font-weight-bold: 700;

@font-size-12: 0.75rem;
@font-size-14: 0.875rem;
@font-size-16: 1rem;
@font-size-18: 1.125rem; // secret size
@font-size-20: 1.25rem;
@font-size-24: 1.5rem;
@font-size-30: 1.875rem;
@font-size-36: 2.25rem;
@font-size-46: 2.875rem;

@spacing-25: @spacing-100 * 0.25;
@spacing-50: @spacing-100 * 0.5;
@spacing-100: 8px;
@spacing-200: @spacing-100 * 2;
@spacing-300: @spacing-100 * 3;
@spacing-400: @spacing-100 * 4;
@spacing-600: @spacing-100 * 6;
@spacing-800: @spacing-100 * 8;

@border-radius-50: 8px;
@border-radius-100: 16px;

@url-image-progress-spinner: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-small.svg");
@url-image-progress-spinner-large: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-large.svg");

@breakpoint-1: ~"only screen and (min-width: @{screen-size-1})";
@breakpoint-2: ~"only screen and (min-width: @{screen-size-2})";
@breakpoint-3: ~"only screen and (min-width: @{screen-size-3})";
@breakpoint-4: ~"only screen and (min-width: @{screen-size-4})";
@breakpoint-5: ~"only screen and (min-width: @{screen-size-5})";
@breakpoint-6: ~"only screen and (min-width: @{screen-size-6})";

@font-size-giant-3: @font-size-46;
@font-size-giant-2: @font-size-36;
@font-size-giant-1: @font-size-30;
@font-size-large-2: @font-size-24;
@font-size-large-1: @font-size-20;
@font-size-medium: @font-size-16;
@font-size-regular: @font-size-14;
@font-size-small: @font-size-12;
