@import "../../mixins/utility/utility-mixins.less";

/* stylelint-disable no-descending-specificity, comment-empty-line-before */

@ebay-carousel-transition-time: 0.45s;
@ebay-carousel-transition-function: ease-in-out;

.carousel {
    position: relative;

    &__container {
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 100%;

        &--controls-disabled .carousel__control.carousel__control {
            // When controls are disabled, should hide them
            // If we set opacity to 0, this is removed when we :hover

            display: none;
        }
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        transform: translate3d(0, 0, 0); // Same as above, but for backward compatibility to (ie10).
        transition: transform @ebay-carousel-transition-time @ebay-carousel-transition-function;
        width: 100%;
        will-change: transform; // Ensures that the list is on a new layer for better scrolling perf.

        > li {
            display: inline-block;
            flex-shrink: 0;
            list-style: none;
        }
    }

    &__playback {
        .customBackgroundColorProperty(carousel-playback-background-color);
        .customColorProperty(carousel-playback-foreground-color);

        border: 0;
        border-radius: 50%;
        bottom: 16px; // accounts for padding.
        box-sizing: border-box;
        height: 40px;
        margin-bottom: 19px;
        margin-right: 19px;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: center;
        width: 40px;
        z-index: 2;

        svg {
            opacity: 0.75;
        }
    }

    // slight adjustment needed for play icon
    &__playback .icon--play {
        padding-left: 1px;
    }
}

.carousel__container--image-treatment {
    .carousel__list img {
        display: inline-block;
        object-fit: contain;
        max-width: 100%;
    }

    .carousel__list li {
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
    }
}

div.carousel {
    margin: 16px 0;
}

.carousel__control {
    .carousel-paddle-mixin-base();
}

span.carousel,
span.carousel__container {
    display: inline-block;
}

.carousel__viewport--mask {
    mask-image: linear-gradient(to right, @carousel-paddle-background-color 85%, rgba(0, 0, 0, 0) 100%);
}

/* autoprefixer: ignore next */
@supports not /*!Y */(
    /*!Y */(-webkit-scroll-snap-coordinate: 0 0) or
    /*!Y */(-ms-scroll-snap-coordinate: 0 0) or
    /*!Y */(scroll-snap-coordinate: 0 0) or
    /*!Y */(scroll-snap-align: start)
) {
    // always show paddles when scroll snapping and hover is not supported.
    .carousel:not(.carousel__autoplay) .carousel__control {
        .show-control();
    }
}

/**
 * In browsers that support a compatible version of the css scroll snap api we use native scrolling.
 * Otherwise we fall back to using css transforms.
 *
 * Not all browsers that have implemented scroll snapping have done so in a way that we can leverage.
 * Currently the below media query ensures that the browser supports exactly what we need.
 *
 */

/* autoprefixer: ignore next */
@supports (
    /*!Y */(-webkit-scroll-snap-coordinate: 0 0) or
    /*!Y */(-ms-scroll-snap-coordinate: 0 0) or
    /*!Y */(scroll-snap-coordinate: 0 0) or
    /*!Y */(scroll-snap-align: start)
) {
    /* autoprefixer: off */
    .carousel:not(.carousel__autoplay) {
        overflow: visible;

        .carousel__control {
            margin-top: -5px;
        }

        .carousel__list {
            // Add transition on border-color in order to support fade in/out of scrollbar
            border-color: rgba(0, 0, 0, 0);
            -webkit-overflow-scrolling: touch;
            overflow-x: auto; // also used in js to determine scroll behavior
            padding-bottom: 10px;
            scroll-behavior: smooth;
            -webkit-scroll-snap-type: mandatory;
            -webkit-scroll-snap-type: x mandatory;
            -ms-scroll-snap-type: mandatory;
            -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: mandatory;
            scroll-snap-type: x mandatory;
            scrollbar-width: thin; // Firefox scrollbar
            transition: border-color 0.5s, transform @ebay-carousel-transition-time @ebay-carousel-transition-function;

            &:hover {
                border-color: rgba(0, 0, 0, 0.4);
            }

            &::-webkit-scrollbar {
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                // This creates a scrollbar to be colored by border
                border-color: inherit;
                border-radius: 4px;
                border-right-style: inset;
                border-right-width: calc(100vw + 100vh);
            }
        }
    }

    .carousel__snap-point {
        scroll-snap-align: start;
        -webkit-scroll-snap-coordinate: 0 0;
        -ms-scroll-snap-coordinate: 0 0;
        scroll-snap-coordinate: 0 0;
    }
    /* autoprefixer: on */
    @media (min-width: 601px) {
        div.carousel {
            margin: 16px 0;
        }
    }
}
