.breadcrumb {
    height: fit-content;
    min-height: 16px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        min-width: 100%;
        padding: 0;
        position: absolute;
        right: 0;
        top: -2px;
    }

    // slightly odd measurements below, but matches what's in production
    li svg {
        margin-left: 5px;
        margin-right: 7px;
    }

    button {
        background: none;
        border: none;
        font-family: inherit;
        margin: 0;
        padding: 0;
    }

    a,
    button {
        color: @breadcrumb-item-color;
        font-size: @font-size-12;
        text-decoration: none;

        &:focus,
        &:hover {
            color: @breadcrumb-item-focus-hover-color;
            text-decoration: underline;
        }

        &[aria-current] {
            color: @breadcrumb-item-current-color;
            text-decoration: none;
        }
    }

    a:visited {
        color: @breadcrumb-item-color;
    }
}

@media screen and (-ms-high-contrast: white-on-black) {
    .breadcrumb li:not(:last-of-type)::after {
        .background-image-base64(@breadcrumb-icon-divider-base64-light);
    }
}
