.success-message__button,
.success-message__fake-button {
    .btn-base-no-font-size();

    background-color: @success-message-button-color;
    border-color: @success-message-button-border-color;
    font-size: @font-size-16;
    margin-top: 28px;
    min-height: 48px;
    padding: 15px 16px 13px;

    &:hover {
        background-color: @success-message-button-color-hover;
        border-color: @success-message-button-color-hover;
        color: @success-message-button-border-color;
        text-decoration: none;
    }
}

.success-message--full {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;

    .success-message__button,
    .success-message__fake-button {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.success-message {
    background-color: @success-message-background-color;
    box-sizing: border-box;
    padding: 0 9%;
    text-align: center;
    width: 100%;
}

.success-message__status {
    .background-image-base64(@icon-confirmation-filled-base64);

    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.success-message__title {
    margin: 0;

    span {
        display: block;
        font-size: 0;
    }

    span:not([role]) {
        font-size: @font-size-30;
        font-weight: bold;
        margin-top: 20px;
    }
}

.success-message__content {
    color: @success-message-content-color;
    margin: 20px 0 0;
}
