@import "../../mixins/utility/utility-mixins.less";

nav.pagination {
    .inline-flex-items-centered();

    .color-token(pagination-item-foreground-color, color-text-secondary);
    font-family: inherit;
    font-size: 1rem;
    margin: 8px 0;
    max-width: 100%;
}

nav.pagination a,
nav.pagination button {
    color: inherit;
    font-size: 1em;
}

ol.pagination__items {
    .inline-flex-items-centered();

    box-sizing: border-box;
    height: 44px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li:not([hidden]) {
        .flex-items-centered();
    }
}

a.pagination__next,
a.pagination__previous,
button.pagination__next,
button.pagination__previous {
    .inline-flex-items-centered();
}

a.pagination__next,
button.pagination__next {
    margin-left: 8px;
}

a.pagination__previous,
button.pagination__previous {
    margin-right: 8px;
}

.pagination__item {
    .inline-flex-items-centered();

    box-sizing: border-box;
    font-weight: @font-weight-regular;
    height: 44px;
    width: 44px;
}

a.pagination__item,
button.pagination__item {
    position: relative;

    &::after {
        background-color: transparent;
        border-radius: 4px;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: calc(50% - 10px);
        position: absolute;
        width: 20px;
    }
}

button.pagination__item {
    background: none;
    border: none;
    font-family: inherit;
}

a.pagination__item {
    text-decoration: none;
}

a.pagination__item[aria-current="page"],
button.pagination__item[aria-current="page"] {
    .color-token(pagination-item-current-foreground-color, color-text-default);
    font-weight: @font-weight-bold;

    &::after {
        background-color: currentColor;
    }
}

a.pagination__item:not([aria-current="page"]),
button.pagination__item:not([aria-current="page"]) {
    &:active {
        .color-token(pagination-item-active-foreground-color, color-text-default);
    }

    &:focus,
    &:hover {
        .color-token(pagination-item-hover-foreground-color, color-action-hover);

        &::after {
            background-color: currentColor;
        }
    }
}

span.pagination__item svg.icon--overflow {
    transform: rotate(90deg);
}

span.pagination__item button.icon-btn--transparent {
    &:focus,
    &:hover {
        .background-color-token(pagination-overflow-hover-background-color, color-grey2);
    }

    &:active {
        .background-color-token(pagination-overflow-active-background-color, color-grey3);
    }
}

nav.pagination--fluid {
    width: 100%;
}

nav.pagination--fluid ol.pagination__items {
    flex-grow: 1;
    max-width: none;
}

nav.pagination--fluid ol.pagination__items li {
    flex: 1 0 48px;
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
/* stylelint-disable no-descending-specificity */
a.pagination__item:focus,
button.pagination__item:focus {
    &:not(:focus-visible) {
        outline: none;
    }
}
/* stylelint-enable no-descending-specificity */

[dir="rtl"] {
    a.pagination__next,
    button.pagination__next {
        margin-left: 0;
        margin-right: 8px;
    }

    a.pagination__previous,
    button.pagination__previous {
        margin-left: 8px;
        margin-right: 0;
    }
}

@media (min-width: @screen-size-3) {
    nav.pagination {
        margin: 16px 0;
    }
}
