@font-face {
    font-family: "vq-icon-font";
    font-style: normal;
    font-weight: normal;
    src: url('vq-icon-font.eot');
    src: url('vq-icon-font.eot?#iefix') format('embedded-opentype'),
        url('vq-icon-font.woff') format('woff'),
        url('vq-icon-font.ttf') format('truetype'),
        url('vq-icon-font.svg#vq-icon-font') format('svg');
}
