// Textbox text should NOT scale with root font-size. All font-size defined with px.

/* stylelint-disable  no-descending-specificity */

.textbox {
    color: @textbox-control-color;
    font-size: @textbox-control-font-size;
    position: relative;

    button.icon-btn {
        padding: 0;
        position: absolute;
        right: 0;

        svg.icon {
            left: 0;
            right: 0;
            width: @textbox-actionable-icon-width;
        }
    }
}

span.textbox {
    display: inline-block;
}

textarea.textbox__control {
    min-height: 200px;
    overflow: auto;
    padding: 16px;
    resize: vertical;
    vertical-align: middle;
}

input.textbox__control {
    padding: 0 16px 0 16px;
}

input.textbox__control,
textarea.textbox__control {
    .placeholder;

    appearance: none;
    background: @textbox-control-background;
    border: 1px solid @textbox-control-border-color;
    border-radius: @textbox-control-border-radius;
    box-sizing: border-box;
    color: inherit;
    font-family: @textbox-control-font-family;
    font-size: 1em;
    height: @textbox-control-height;
    margin: 0; // Remove the margin in Firefox and Safari.

    &[disabled] {
        .placeholder-disabled;

        color: @textbox-control-disabled-color;
    }

    &[readonly] {
        border-color: @textbox-control-readonly-color;
    }

    &[aria-invalid="true"] {
        border-color: @textbox-control-invalid-color;
    }

    &:focus {
        border-color: @textbox-control-focus-border-color;
        outline: 0;
    }
}

input.textbox__control--underline {
    .placeholder-floated;
    .placeholder-floated--focus;

    &[disabled] {
        .placeholder-floated;
    }

    border: none;
    border-bottom: 1px solid @textbox-control-underline-border-bottom-color;
    height: 1.875rem; // a11y: has to be relative to the text zoom level;
    padding: 0;
}

.textbox svg {
    color: @textbox-icon-color;
    display: inline-flex;
    fill: @textbox-icon-fill;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: @textbox-icon-width;
}

// BLOCK MODIFIERS

.textbox svg:first-child {
    left: 16px;

    + input.textbox__control,
    + textarea.textbox__control {
        padding-left: 40px;
    }
}

.textbox--icon-end {
    input.textbox__control,
    textarea.textbox__control {
        padding-right: 40px;
    }

    svg:last-child {
        right: 16px;
    }
}

// ELEMENT MODIFIERS

.textbox__control--fluid {
    width: 100%;
}

// RTL

[dir="rtl"] {
    .textbox svg:first-child {
        right: 16px;

        & + input.textbox__control,
        & + textarea.textbox__control {
            padding-right: 40px;
        }
    }

    .textbox--icon-end {
        input.textbox__control,
        textarea.textbox__control {
            padding-left: 40px;
        }

        > svg:last-child {
            left: 16px;
            right: auto;
        }
    }
}
