@import "../../mixins/utility/utility-mixins.less";

/* stylelint-disable no-descending-specificity */

.textbox {
    .color-token(textbox-foreground-color, color-form-control-foreground);
    font-size: @font-size-14; // to align with buttons and select, it needs same font-size
    position: relative;

    button.icon-btn {
        display: inline-flex;
        height: 100%;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

span.textbox {
    display: inline-block;
}

textarea.textbox__control {
    font-family: inherit;
    min-height: 200px;
    overflow: auto;
    padding: 16px;
    resize: vertical;
    vertical-align: middle;
}

input.textbox__control {
    font-family: inherit;
    padding: 0 16px;
    vertical-align: middle;
}

input.textbox__control,
textarea.textbox__control {
    appearance: none;
    .background-color-token(textbox-background-color, color-form-control-background);
    .border-color-token(textbox-border-color, color-form-control-border);
    .border-radius-token(textbox-border-radius, border-radius-small);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    .color-token(textbox-foreground-color, color-form-control-foreground);
    font-size: 1em;
    height: 40px;
    margin: 0; // Remove the margin in Firefox and Safari.

    &[disabled] {
        .background-color-token(textbox-disabled-background-color, color-form-control-disabled-background);
        .border-color-token(textbox-disabled-border-color, color-form-control-border);
        .color-token(textbox-disabled-foreground-color, color-grey4);

        &::-webkit-input-placeholder {
            .color-token(textbox-disabled-placeholder-color, color-form-control-disabled-placeholder);
        }

        &::-moz-placeholder {
            .color-token(textbox-disabled-placeholder-color, color-form-control-disabled-placeholder);
        }

        &:-ms-input-placeholder {
            .color-token(textbox-disabled-placeholder-color, color-form-control-disabled-placeholder);
        }
    }

    &[readonly] {
        .color-token(textbox-readonly-foreground-color, color-form-control-readonly-foreground);
    }

    &[aria-invalid="true"] {
        .background-color-token(textbox-invalid-background-color, color-status-invalid);
        .border-color-token(textbox-invalid-foreground-color, color-status-attention);
    }

    &:focus {
        .border-color-token(textbox-focus-border-color, color-action-primary);
        .background-color-token(textbox-focus-background-color, color-background-default);
        outline: 0;
    }

    &::-webkit-input-placeholder {
        .color-token(textbox-placeholder-color, color-grey5);
        font-weight: 200;
    }

    &::-moz-placeholder {
        .color-token(textbox-placeholder-color, color-grey5);
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        .color-token(textbox-placeholder-color, color-grey5);
        font-weight: 200;
    }

    &::placeholder {
        .color-token(textbox-placeholder-color, color-grey5);
        font-weight: 200;
    }
}

input.textbox__control--large {
    height: 48px;
}

.textbox > svg,
.textbox .icon-btn > svg {
    .color-token(textbox-icon-color, color-grey5);
    display: inline-flex;
    .fill-token(textbox-icon-color, color-grey5);
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 14px;
}

.textbox > svg:first-child {
    left: 16px;

    + input.textbox__control,
    + textarea.textbox__control {
        padding-left: 40px;
    }
}

.textbox--icon-end {
    input.textbox__control,
    textarea.textbox__control {
        padding-right: 40px;
    }

    > svg:last-child {
        right: 16px;
    }
}

.textbox__control--fluid {
    width: 100%;
}

[dir="rtl"] {
    .textbox > svg:first-child {
        right: 16px;

        & + input.textbox__control,
        & + textarea.textbox__control {
            padding-right: 40px;
        }
    }

    .textbox--icon-end {
        input.textbox__control,
        textarea.textbox__control {
            padding-left: 40px;
        }

        button.icon-btn {
            left: 0;
            right: auto;
        }

        > svg:last-child {
            left: 16px;
            right: auto;
        }
    }
}
