@import "../../mixins/utility/utility-mixins.less";

/* stylelint-disable no-descending-specificity */

.textbox {
    .customColorProperty(textbox-foreground-color);

    font-size: @textbox-font-size;
    position: relative;

    button.icon-btn {
        display: inline-flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

span.textbox {
    display: inline-block;
}

textarea.textbox__control {
    min-height: 200px;
    overflow: auto;
    padding: 16px;
    resize: vertical;
    vertical-align: middle;
}

input.textbox__control {
    padding: 0 16px 0 16px;
}

input.textbox__control,
textarea.textbox__control {
    .customBackgroundColorProperty(textbox-background-color);
    .customBorderColorProperty(textbox-border-color);
    .customColorProperty(textbox-foreground-color);

    appearance: none;
    border-radius: @textbox-border-radius;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-family: @textbox-font-family;
    font-size: 1em;
    height: @textbox-height;
    margin: 0; // Remove the margin in Firefox and Safari.

    &[disabled] {
        .customBackgroundColorProperty(textbox-disabled-background-color);
        .customColorProperty(textbox-disabled-foreground-color);

        border-color: @textbox-disabled-border-color;
        border-width: @textbox-disabled-border-width;

        &::-webkit-input-placeholder {
            color: @textbox-disabled-placeholder-color;
        }

        &::-moz-placeholder {
            color: @textbox-disabled-placeholder-color;
        }

        &:-ms-input-placeholder {
            color: @textbox-disabled-placeholder-color;
        }
    }

    &[readonly] {
        background-color: @textbox-readonly-background-color;
        border-color: @textbox-readonly-border-color;
        color: @textbox-readonly-foreground-color;
    }

    &[aria-invalid="true"] {
        border-color: @textbox-invalid-foreground-color;
    }

    &:focus {
        .customBorderColorProperty(textbox-focus-border-color);

        outline: 0;
    }

    &::-webkit-input-placeholder {
        color: @textbox-placeholder-color;
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: @textbox-placeholder-color;
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        color: @textbox-placeholder-color;
        font-weight: 200;
    }

    &::placeholder {
        color: @textbox-placeholder-color;
        font-weight: 200;
    }
}

input.textbox__control--underline {
    border: none;
    border-bottom: 1px solid @textbox-underline-border-bottom-color;
    border-radius: 0;
    font-weight: bold;
    height: 1.875rem; // a11y: has to be relative to the text size
    padding: 0 0 1px 0;

    &::-webkit-input-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }

    &::placeholder {
        color: transparent;
    }

    &[disabled] {
        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &::placeholder {
            color: transparent;
        }
    }

    &:focus {
        &::-webkit-input-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &::-moz-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &:-ms-input-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &::placeholder {
            color: @textbox-focus-placeholder-color;
        }
    }
}

.textbox > svg,
.textbox .icon-btn > svg {
    color: @textbox-icon-color;
    display: inline-flex;
    fill: @textbox-icon-fill;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: @textbox-icon-width;
}

.textbox > svg:first-child {
    left: 16px;

    + input.textbox__control,
    + textarea.textbox__control {
        padding-left: 40px;
    }
}

.textbox--icon-end {
    input.textbox__control,
    textarea.textbox__control {
        padding-right: 40px;
    }

    > svg:last-child {
        right: 16px;
    }
}

.textbox--large {
    input.textbox__control,
    textarea.textbox__control {
        font-size: @textbox-large-font-size; // for Market Sans to align with buttons and select, it needs same font-size
        height: 48px;
    }
}

.textbox__control--fluid {
    width: 100%;
}

[dir="rtl"] {
    .textbox > svg:first-child {
        right: 16px;

        & + input.textbox__control,
        & + textarea.textbox__control {
            padding-right: 40px;
        }
    }

    .textbox--icon-end {
        input.textbox__control,
        textarea.textbox__control {
            padding-left: 40px;
        }

        button.icon-btn {
            left: 0;
            right: auto;
        }

        > svg:last-child {
            left: 16px;
            right: auto;
        }
    }
}
