@import "../../tokens/@{ds}/tokens.less";
@import "../../mixins/typography/base/typography-mixins.less";
@import "../../mixins/utility/utility-mixins.less";

.giant-text-3 {
    .typography-giant-3();
}

.giant-text-2 {
    .typography-giant-2();
}

.giant-text-1 {
    .typography-giant-1();
}

.large-text-2 {
    .typography-large-2();
}

.large-text-1 {
    .typography-large-1();
}

.medium-text {
    .typography-medium();
}

.regular-text {
    .typography-regular();
}

.small-text {
    .typography-small();
}

.bold-text {
    font-weight: @font-weight-bold;
}

.secondary-text {
    .color-token(typography-secondary-text-color, color-foreground-secondary);
}

.emphasis-text {
    color: @color-foreground-attention;
}

.negative-text {
    color: @color-foreground-attention;
}

.positive-text {
    color: @color-foreground-confirmation;
}

.disabled-text {
    color: @color-foreground-disabled;
}

.giant-product-title,
.giant-section-title {
    .title-giant-screen-small();
}

.large-product-title,
.large-section-title {
    .title-large-screen-small();
}

.medium-product-title,
.medium-section-title {
    .title-medium-screen-small();
}

.small-product-title,
.small-section-title {
    .title-small-screen-small();
}

.giant-section-title,
.large-section-title,
.medium-section-title,
.small-section-title {
    font-weight: @font-weight-bold;
}

@media (min-width: 601px) {
    .giant-product-title,
    .giant-section-title {
        .title-giant-screen-large();
    }

    .large-product-title,
    .large-section-title {
        .title-large-screen-large();
    }

    .medium-product-title,
    .medium-section-title {
        .title-medium-screen-large();
    }

    .small-product-title,
    .small-section-title {
        .title-small-screen-large();
    }
}
