@import "../tokens/tokens.less";

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-primary: @color-neutral-7;
        --color-background-secondary: @color-neutral-6;
        --color-background-disabled: @color-neutral-4;
        --color-background-inverse: @color-neutral-1;
        --color-background-attention: @color-red-3;
        --color-background-confirmation: @color-green-4;
        --color-background-information: @color-blue-4;
        --color-background-accent: @color-blue-3;
        --color-background-invalid: @color-red-1;
        --color-foreground-primary: @color-neutral-1;
        --color-foreground-secondary: @color-neutral-3;
        --color-foreground-disabled: @color-neutral-4;
        --color-foreground-attention: @color-red-3;
        --color-foreground-confirmation: @color-green-4;
        --color-foreground-information: @color-blue-3;
        --color-foreground-accent: @color-blue-3;
        --color-foreground-visited: @color-magenta-5;
        --color-foreground-on-primary: @color-neutral-1;
        --color-foreground-on-secondary: @color-neutral-1;
        --color-foreground-on-disabled: @color-neutral-5;
        --color-foreground-on-inverse: @color-neutral-7;
        --color-foreground-on-accent: @color-neutral-7;
        --color-foreground-on-attention: @color-neutral-7;
        --color-foreground-on-confirmation: @color-neutral-7;
        --color-foreground-on-information: @color-neutral-7;
        --color-stroke-default: @color-neutral-4;
        --color-stroke-accent: @color-blue-3;
        --color-stroke-attention: @color-red-3;
        --color-stroke-confirmation: @color-green-5;
        --color-stroke-information: @color-blue-3;
        --color-state-visited: @color-magenta-3;
        // stylelint-disable function-no-unknown
        --color-state-primary-hover: tint(@color-neutral-7, 4%);
        --color-state-primary-active: tint(@color-neutral-7, 8%);
        --color-state-secondary-hover: tint(@color-neutral-6, 4%);
        --color-state-secondary-active: tint(@color-neutral-6, 8%);
        --color-state-inverse-hover: shade(@color-neutral-1, 4%);
        --color-state-inverse-active: shade(@color-neutral-1, 8%);
        --color-state-accent-hover: tint(@color-blue-3, 4%);
        --color-state-accent-active: tint(@color-blue-3, 8%);
        --color-state-attention-hover: tint(@color-red-3, 4%);
        --color-state-attention-active: tint(@color-red-3, 8%);
        // stylelint-enable function-no-unknown
        // temporary (until all primitive referecences removed from components)
        --color-neutral-1: @color-neutral-7;
        --color-neutral-2: @color-neutral-6;
        --color-neutral-3: @color-neutral-5;
        --color-neutral-4: @color-neutral-4;
        --color-neutral-5: @color-neutral-3;
        --color-neutral-6: @color-neutral-2;
        --color-neutral-7: @color-neutral-1;
        // no semantic token in system
        --color-star-rating-icon-unfilled-foreground: #484848;
        --color-star-rating-icon-filled-foreground: @color-neutral-8;
        --url-image-progress-spinner: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-dark-mode.svg");
        --url-image-progress-spinner-large: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v2/spinner-large-dark-mode.svg");
        // svg path
        --color-icons-background: @color-neutral-0;
        --color-icons-foreground: @color-neutral-8;
        --color-social-icons-background: @color-neutral-0;
        --color-social-icons-foreground: @color-neutral-8;
        --color-spinner-icon-foreground: @color-neutral-6;
        --color-spinner-icon-background: @color-blue-3;
    }

    button.btn--primary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: #953b47;
        --color-spinner-icon-foreground: @color-neutral-7;
    }

    button.btn--secondary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: #f6bac2;
        --color-spinner-icon-foreground: #e95367;
    }

    button.btn--tertiary.btn--destructive .progress-spinner {
        --color-spinner-icon-background: #71353d;
        --color-spinner-icon-foreground: #e95367;
    }
}
