.radio-icon-unchecked() {
    .background-icon-image-mixin('radio-unchecked', 18px, 18px);

    @media (max-width: 600px) {
        height: 24px;
        width: 24px;
    }
}

.radio-icon-checked() {
    .background-icon-image-mixin('radio-checked', 18px, 18px);

    @media (max-width: 600px) {
        height: 24px;
        width: 24px;
    }
}
