@import "../../mixins/utility/utility-mixins.less";

.badge {
    .background-color-token(badge-background-color, color-status-attention);
    border-radius: 16px;
    box-sizing: border-box;
    .color-token(badge-foreground-color, color-background-default);
    display: inline-block;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    padding: 1px 4px 1px 5px;
    text-align: center;
    white-space: nowrap;
}
