@import "../../mixins/utility/utility-mixins.less";

.badge {
    .customBackgroundColorProperty(badge-background-color);
    .customColorProperty(badge-foreground-color);

    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: @font-size-12;
    font-weight: @font-weight-bold;
    height: 20px;
    justify-content: center;
    min-width: 20px;
    padding: 1px 7px 0;
    position: relative;
    top: calc(50% - 18px);
    white-space: nowrap;
}
