// BASE CLASS

span.field {
    display: inline-block;
}

span.field + span.field {
    margin-left: 8px;
}

div.field {
    margin: 16px 0;
}

.field-group {
    display: flex;
    margin: 16px 0;

    > div.field {
        margin: 0;
    }
}

// BASE CLASS MODS

span.field--table {
    display: inline-table;
}

div.field--table {
    display: table;
}

// ELEMENT CLASSES

.field__label {
    margin-right: 8px;
}

.field__description {
    color: @field-description-color;
    font-size: @field-description-font-size;
}

.field__description--confirmation {
    color: @field-description-confirmation-color;
}

.field__description--information {
    color: @field-description-information-color;
}

.field__description--attention {
    color: @field-description-attention-color;
}

.field__group > .field__description,
.field__group > .field__label {
    align-self: center;
}

span.field__group {
    display: inline-flex;
}

div.field__group {
    display: flex;
}

.field__control + span.field__description {
    margin-left: 8px;
}

// if using a div for description, it implies it's always at bottom of field
div.field__description {
    margin: 2px 16px 0;
}

.field__row {
    display: table-row;

    > .field__control,
    > .field__label,
    > .field__description {
        display: table-cell;
    }

    .field__label {
        margin-right: auto;
        padding-right: 8px;
    }

    .field__control + span.field__description {
        margin-left: 0;
        padding-left: 8px;
    }

    &:first-child {
        > .field__description {
            padding-bottom: 8px;
        }
    }

    &:last-child {
        > .field__description {
            padding-top: 8px;
        }
    }
}

// ELEMENT CLASS MODS

.field__label--end {
    margin-left: 4px;
    margin-right: auto;
}

.field__label--stacked {
    display: block;
    margin-bottom: 8px;
}

.field__label--disabled {
    color: @field-label-color-disabled;
}

.field--fluid,
.field__group--fluid,
.field__control--fluid {
    width: 100%;
}

// textarea alignment

.field--align-top .field__label {
    display: inline-block;
    margin-top: 16px;
}

.field--align-top .textbox {
    vertical-align: top;
}

.field__group--align-top > .field__label {
    align-self: start;
    margin-top: 16px;
}
