.items:not([hidden]) {
    display: flex;
    margin: 0 auto;
    max-width: 320px;
}
.items > div {
    margin: 5px;
    width: 150px;
}
.image {
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    text-align: center;
    margin-top: 16px;
}
