aside,
main,
.page-grid {
    outline: 0;
}
.demo-skeleton:empty {
    background: linear-gradient(
        to right,
        var(--color-loading-fill) 0%,
        var(--color-loading-fill) 60%,
        white 60%,
        white 64%,
        var(--color-loading-fill) 64%,
        var(--color-loading-fill) 100%
    );
    border-radius: 8px;
    grid-area: 5 / 1 / span 1 / span 16;
    height: 400px;
}
