@import '../base/badge.less';
@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

.badge {
    background: @ds4-color-core-red;
    color: @ds4-color-core-white;
    &-container .badge {
        border: 2px solid @ds4-color-core-white;
    }
}
