@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

@dialog-background-color: @color-text-default;
@dialog-window-before-background-color: @color-white;
@dialog-window-before-modifiers-background-color: @color-white;

@dialog-back-close-background-color: @color-white;
@dialog-back-close-color: @color-text-default;

@dialog-back-close-hover-focus-color: @color-link-default;

@dialog-transitions-hide-mask-fade-background-color: @color-text-default;
@dialog-transitions-show-mask-fade-background-color: @color-text-default;

@dialog-large-gutter-size: 24px;

@import "../base/dialog.less";
