@import "../base/primitives.less";

// FONT (make same as DS6 in v14)
@font-weight-regular: 500;
@font-weight-bold: 700;

// Neutral (Grey) (make same as DS6 in v14)
@color-neutral-0: #fff;
@color-neutral-1: #f7f7f7;
@color-neutral-2: #e5e5e5;
@color-neutral-3: #c7c7c7;
@color-neutral-4: #8f8f8f;
@color-neutral-5: #707070;
@color-neutral-6: #363636;
@color-neutral-7: #111820;
@color-neutral-8: #000;

// Orange
@color-o1: #ffdec7;
@color-o2: #feb786;
@color-o3: #ff8559;
@color-o4: #ff6932;
@color-o5: #db3c07;
@color-o6: #b03005;
@color-o7: #5c1b05;

// Red
@color-r1: #ffd1dd;
@color-r2: #ffa2b6;
@color-r3: #ff6383;
@color-r4: #e0103a;
@color-r5: #c4003a;
@color-r6: #a00739;
@color-r7: #680226;

// Magenta
@color-m1: #fad8f0;
@color-m2: #f5a0d9;
@color-m3: #ea5fbc;
@color-m4: #82187c;
@color-m5: #a60d8a;
@color-m6: #82187c;
@color-m7: #500750;

// Blue
@color-b1: #c5e5fb;
@color-b2: #93c9ff;
@color-b3: #659eff;
@color-b4: #3665f3;
@color-b5: #382aef;
@color-b6: #2b0eaf;
@color-b7: #121258;

// Green
@color-g1: #ccfdce;
@color-g2: #9ef4a6;
@color-g3: #5ee471;
@color-g4: #28a443;
@color-g5: #1bab49;
@color-g6: #05823f;
@color-g7: #07522c;

// DEPRECATED

@color-white: @color-neutral-0;
@color-grey1: @color-neutral-1;
@color-grey2: @color-neutral-2;
@color-grey3: @color-neutral-3;
@color-grey4: @color-neutral-4;
@color-grey5: @color-neutral-5;
@color-grey6: @color-neutral-6;
@color-grey7: @color-neutral-7;
@color-black: @color-neutral-8;
