.pointer-base() {
    background-color: white;
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 16px;
    z-index: 0;
}

.pointer-top() {
    top: -7px;
}

.pointer-bottom() {
    bottom: -7px;
    top: auto;
}

.pointer-side() {
    top: calc(50% - 8px);
}
