.pointer-base() {
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    height: 16px;
    left: calc(50% - 8px);
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 16px;
    z-index: 0;
}

.pointer-top() {
    top: -7px;
}

.pointer-bottom() {
    bottom: -7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    top: auto;
}

.pointer-side() {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
    top: calc(50% - 8px);
}
