.tab-outer() {
    -webkit-tap-highlight-color: @color-transparent-gray-gainsboro;
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    line-height: 40px;
    margin: 0 2px;
    white-space: nowrap;
}

.tab-inner() {
    color: @color-core-gray-dim;
    display: block;
    font-size: 14px; // font-size should not scale with REM
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.selected-tab-outer() {
    border-bottom: 2px solid @color-text-default;
}

.selected-tab-inner() {
    color: @color-text-default;
}
