// BEM blocks

.tabs,
.fake-tabs,
.hijax-tabs {
    background-color: @color-core-white;
    border-bottom: 1px solid @color-core-white; // prevent margin-collapse on next element
}

span.tabs,
span.fake-tabs,
span.hijax-tabs {
    display: inline-block;
}

// BEM elements

div.tabs__items[role="tablist"],
ul.fake-tabs__items,
ul.hijax-tabs__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

div.tabs__item[role="tab"],
li.hijax-tabs__item[role="tab"] {
    .tab-outer;

    cursor: default; // needed to override text cursor
}

div.tabs__item[role="tab"] {
    > span {
        .tab-inner;
    }

    &[aria-selected="true"] {
        .selected-tab-outer;

        > span {
            .selected-tab-inner;
        }
    }
}

li.fake-tabs__item {
    .tab-outer;

    > a {
        .tab-inner;
    }
}

li.hijax-tabs__item[role="tab"] {
    > a[role="presentation"] {
        .tab-inner;
    }

    &[aria-selected="true"] {
        .selected-tab-outer;

        > a {
            .selected-tab-inner;
        }
    }
}

.tabs__cell,
.fake-tabs__cell,
.hijax-tabs__cell {
    margin: 16px;
}

// BEM element mods

li.fake-tabs__item--current {
    .selected-tab-outer;

    > a[aria-current="page"] {
        .selected-tab-inner;
    }
}

// POLYFILL THE HIDDEN ATTRIBUTE
[hidden] {
    display: none;
}
