.tab-outer() {
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    flex: 1;
    margin: 0 2px;
    min-height: 40px;
    -webkit-tap-highlight-color: @ds4-color-transparent-gray-gainsboro;
}

.tab-inner() {
    align-items: center;
    color: @ds4-color-core-gray-dim;
    display: flex;
    font-size: 14px; // font-size should not scale with REM
    height: 100%;
    justify-content: center;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
}

.selected-tab-outer() {
    border-bottom: 2px solid @ds4-color-text-default;
}

.selected-tab-inner() {
    color: @ds4-color-text-default;
}
