@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

.section-notice {
    .background-color-token(section-notice-default-background-color, color-background-secondary);
    .border-radius-token(section-notice-border-radius, border-radius-50);
    font-size: @font-size-14;
    justify-content: flex-start;
    margin: 8px 0;
    padding: 16px;
}

div[role="region"].section-notice,
section.section-notice {
    display: flex;
}

span[role="region"].section-notice {
    display: inline-flex;
}

.section-notice__title {
    font-size: @font-size-regular;
    font-weight: normal;
    margin: 0;
}

/* legacy version with separate bold heading */
.section-notice__title:not(:only-child) {
    font-weight: bold;
}

.section-notice button.fake-link {
    .color-token(section-notice-foreground-color, color-foreground-primary);
    font-size: @font-size-regular;
    font-weight: bold;
}

.section-notice button.fake-link:hover {
    .color-token(section-notice-foreground-color, color-foreground-primary);
}

.section-notice a {
    .color-token(section-notice-foreground-color, color-foreground-primary);
    font-size: @font-size-regular;
    font-weight: bold;
}

.section-notice a:hover {
    .color-token(section-notice-foreground-color, color-foreground-primary);
}

.section-notice__header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: @spacing-150;
}

.section-notice__main,
.section-notice__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-notice__footer {
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 0;
    width: auto;
}

.section-notice__main p {
    font-size: @font-size-regular;
    margin: 0;
}

/* support legacy 6.5 notice with heading + paragaphs */
.section-notice__main .section-notice__title + p {
    margin: @spacing-50 0 0;
}

/* LARGE SCREEN ADJUSTMENTS */

@media (min-width: 601px) {
    section.section-notice,
    div[role="region"].section-notice {
        flex-wrap: nowrap;
        margin: @spacing-200 0;
    }

    .section-notice__footer {
        margin-top: 0;
        padding-left: @spacing-200;
    }
}

[dir="rtl"] {
    .section-notice__header {
        padding-left: @spacing-200;
        padding-right: 0;
    }

    .section-notice__footer {
        margin-left: initial;
        margin-right: auto;
        padding-left: initial;
        padding-right: 0;
    }
}
