@import "../../../variables/ds4/typography-variables.less";

@font-size-giant-2: @ds4-font-size-giant-2;
@font-size-giant-1: @ds4-font-size-giant-1;
@font-size-large-2: @ds4-font-size-large-2;
@font-size-large-1: @ds4-font-size-large-1;
@font-size-medium: @ds4-font-size-medium;
@font-size-regular: @ds4-font-size-regular;
@font-size-small: @ds4-font-size-small;

@font-weight-bold: @ds4-font-weight-medium;

@color-text-secondary: @ds4-color-core-black;
@color-text-secondary-small: @ds4-color-core-gray-davys;

@import "../base/typography-mixins.less";
