@import "../../../variables/ds4/typography-variables.less";

@font-weight-bold: @font-weight-medium;

@color-text-secondary: @ds4-color-core-black;
@color-text-secondary-small: @ds4-color-core-gray-davys;

@import "../base/typography-mixins.less";
