@import "../../less/ds6/mixins.less";
// Common for inline and background svg's
//-----------------------------
.icon--close-size() {
    height: 17px;
    width: 17px;
}
.icon--arrow-left-size {
    width: 21px;
    height: 20px;
}
.icon--arrow-right-size() {
    width: 21px;
    height: 20px;
}
.icon--arrow-move-size() {
    width: 18px;
    height: 18px;
}
.icon--arrow-right-bold-size() {
    width: 22px;
    height: 20px;
}

// Inline SVG Icons
//-----------------------------
svg.icon {
    .svg-icon-base;
    vertical-align: middle;
}

svg.icon--chevron-dropdown {
    height: 5px;
    width: 8px;
}

svg.icon--arrow-cta {
    height: 10px;
    width: 9.75px;
}

svg.icon--hamburger {
    height: 14px;
    width: 12px;
}

svg.icon--close {
    .icon--close-size;
}

// Background SVG(span) icons.
//-----------------------------

span.icon {
    .background-icon-base;
    .span-icon-size-default;
}

span.icon--close {
    .icon--close-size;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2717%27%20height%3D%2717%27%3E%3Cpath%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20stroke-width=%222%22%20d=%22M1.11%201.78l14.15%2014.15m-14.09-.07L15.32%201.72%22%3E%3C/path%3E%3C/svg%3E');
}

span.icon--arrow-left {
    .icon--arrow-left-size;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTUiIGhlaWdodD0iMTQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNC4xMjIgNi4yMTJsNC42MDEtNC4zOThhLjc3My43NzMgMCAwIDAgMC0xLjFjLS4yODctLjI3NS0uODQ2LS4yOTUtMS4xNSAwQzcuMjY4IDEuMDA5IDEgNi45OTcgMSA2Ljk5N3M2LjE5NSA1LjkwMyA2LjU3MyA2LjI4MmMuMzc4LjM4Ljg1Ny4yODIgMS4xNSAwIC4yOTQtLjI4LjM3Mi0uNzI4IDAtMS4wOTktLjM3Mi0uMzctNC42LTQuMzk3LTQuNi00LjM5N2gxMC4wMjNjLjU3OCAwIC44NTQtLjM5My44NTQtLjc4NnMtLjI3My0uNzg1LS44NTQtLjc4NUg0LjEyMnoiLz48L2RlZnM+PHVzZSBmaWxsPSIjMDAwIiB4bGluazpocmVmPSIjYSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
}

span.icon--arrow-right {
    .icon--arrow-right-size;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTAuODc4IDcuODE3bC00LjYgNC4zOThhLjc3MS43NzEgMCAwIDAgMCAxLjFjLjI4Ni4yNzUuODQ1LjI5NSAxLjE0OSAwQzcuNzMyIDEzLjAyIDE0IDcuMDMyIDE0IDcuMDMyUzcuODA2IDEuMTI4IDcuNDI3Ljc1Yy0uMzc4LS4zOC0uODU2LS4yODEtMS4xNSAwLS4yOTQuMjgxLS4zNzIuNzI5IDAgMS4xLjM3Mi4zNyA0LjYgNC4zOTcgNC42IDQuMzk3SC44NTZjLS41OCAwLS44NTUuMzkzLS44NTUuNzg2cy4yNzMuNzg1Ljg1NS43ODVoMTAuMDIzeiIvPjwvZGVmcz48dXNlIGZpbGw9IiMwMDAiIHhsaW5rOmhyZWY9IiNhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
}

span.icon--arrow-move {
    .icon--arrow-move-size;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMy4yOTcgMS45MjRoNy42OWMuNTQ2LS4wMDEuOTYyLS40ODEuOTYyLS45NjFzLS40NDgtLjk2Ni0uOTYxLS45NjNDMTAuNDc1LjAwNCAwIDAgMCAwcy4wMTcgMTAuMzQgMCAxMC45ODljLS4wMTUuNjQ3LjQ3Ljk2MS45NjMuOTYxLjQ5IDAgLjk0Ny0uMzI1Ljk2MS0uOTYxLjAxNC0uNjM1IDAtNy42OTIgMC03LjY5Mmw4LjM3NyA4LjM3OWMuNDgzLjQ4MiAxLjA1OC4zNyAxLjQwMS4wMjcuMzQ0LS4zNDMuNDU4LS45MTYtLjAyNy0xLjQwMUwzLjI5NyAxLjkyNHoiLz48L2RlZnM+PHVzZSBmaWxsPSIjMDAwIiB4bGluazpocmVmPSIjYSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
}

span.icon--arrow-right-bold {
    .icon--arrow-right-bold-size;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTQiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNNy44MDMgMTMuNzMyYS45ODcuOTg3IDAgMCAxLS42OC0uMjU3LjkyLjkyIDAgMCAxLS4yNzYtLjY2NGMwLS4yNS4wOTgtLjQ4MS4yNzctLjY1Mi4yNzQtLjI2NSAzLjM4NS0zLjIzOCA0LjMyOS00LjE0SDEuODA0QzEuMTE0IDguMDE5LjggNy41MzUuOCA3LjA4NWMwLS40NTIuMzE0LS45MzcgMS4wMDQtLjkzN2g5LjY0OGE5MzIuOTA2IDkzMi45MDYgMCAwIDEtNC4zMzEtNC4xNDIuOTIuOTIgMCAwIDEtLjI5NS0uNjY0LjkxNS45MTUgMCAwIDEgLjI5OC0uNjVjLjMzNC0uMzIuOTAzLS40NTQgMS4zNTguMDAyLjM3NC4zNzQgNi41MSA2LjIyMyA2LjU3MSA2LjI4MmwuMTE1LjEwOS0uMTE1LjEwOGMtLjA2Mi4wNi02LjI3MSA1Ljk5LTYuNTczIDYuMjhhLjk2OS45NjkgMCAwIDEtLjY3Ny4yNTkiLz48L2RlZnM+PHVzZSBmaWxsPSIjMDAwIiB4bGluazpocmVmPSIjYSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
}
