@import "../../less/ds6/mixins.less";

// SVG Icons
//-----------------------------
svg.icon {
    .svg-icon-base;
    vertical-align: middle;
}

svg.icon--chevron-dropdown {
    height: 5px;
    width: 8px;
}

svg.icon--arrow-cta {
    height: 10px;
    width: 9.75px;
}

svg.icon--hamburger {
    height: 14px;
    width: 12px;
}

svg.icon--close {
    height: 17px;
    width: 17px;
}

// Inline (span) icons.
//-----------------------------

span.icon {
    .background-icon-base;
}

span.icon--close {
    .icon-close;
}
