@import "../../../variables/ds6/icon-variables.less";

.background-icon-image-mixin(@name) {
    background-image: url('data:image/svg+xml;base64,@{icon-@{name}-base64}');
    height: ~"@{icon-@{name}-height}"; // string resolves to a LESS variable
    width: ~"@{icon-@{name}-width}"; // string resolves to a LESS variable
}

.background-icon-image-mixin(@name, @width, @height) {
    background-image: url('data:image/svg+xml;base64,@{icon-@{name}-base64}');
    height: ~"@{height}"; // string resolves to a LESS variable
    width: ~"@{width}"; // string resolves to a LESS variable
}

.foreground-icon-image-mixin(@name) {
    height: ~"@{icon-@{name}-height}"; // string resolves to a LESS variable
    width: ~"@{icon-@{name}-width}"; // string resolves to a LESS variable
}

@import '../base/icon-mixins.less';
