@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";

body {
    background-color: @color-interface-base-light;
    color: @color-text-default;
    font-family: @font-family-base;
    font-size: @font-size-regular;
    -webkit-text-size-adjust: 100%;
}

// old, deprecated type ramp

h1 {
    font-size: @font-size-24;
    font-weight: @font-weight-light;
    margin: 0.6668em 0; // ~16px
}

h2 {
    font-size: @font-size-20;
    font-weight: @font-weight-regular;
    margin: 0.8em 0; // ~16px
}

h3 {
    font-size: @font-size-15;
    font-weight: @font-weight-regular;
    margin: 1.067em 0; // ~16px
}

h4 {
    font-size: @font-size-14;
    font-weight: @font-weight-regular;
    margin: 1.286em 0; // ~18px
}

h5 {
    font-size: @font-size-13;
    font-weight: @font-weight-regular;
    margin: 1.692em 0; // ~22px
}

h6 {
    font-size: @font-size-12;
    font-weight: @font-weight-regular;
    margin: 2.333em 0; // ~28px
}

a,
a:focus,
a:visited {
    color: @color-interface-cta;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}

@media (min-width: 600px) {
    h1 {
        font-size: @font-size-28;
        font-weight: @font-weight-light;
        margin: 0.643em 0; // ~18px
    }

    h2 {
        font-size: @font-size-24;
        font-weight: @font-weight-regular;
        margin: 0.8332em 0; // ~20px
    }

    h3 {
        font-size: @font-size-17;
        font-weight: @font-weight-regular;
        margin: 0.9414em 0; // ~16px
    }

    h4 {
        font-size: @font-size-15;
        font-weight: @font-weight-regular;
        margin: 1.333em 0; // ~20px
    }

    h5 {
        font-size: @font-size-14;
        font-weight: @font-weight-regular;
        margin: 1.714em 0; // ~24px
    }

    h6 {
        font-size: @font-size-13;
        font-weight: @font-weight-regular;
        margin: 2.308em 0; // ~30px
    }
}
