@import "../../less/ds4/mixins.less";

body {
    background-color: @color-interface-base-light;
    color: @color-text-default;
    font-family: @font-family-base;
    font-size: @font-size-mobile-body-2;
}

h1 {
    .font-hierarchy-mobile-title-1;
    margin: 0.6668em 0; // ~16px
}

h2 {
    .font-hierarchy-mobile-title-2;
    margin: 0.800em 0; // ~16px
}

h3 {
    .font-hierarchy-mobile-body-1;
    margin: 1.067em 0; // ~16px
}

h4 {
    .font-hierarchy-mobile-body-2;
    margin: 1.286em 0; // ~18px
}

h5 {
    .font-hierarchy-mobile-caption-1;
    margin: 1.692em 0; // ~22px
}

h6 {
    .font-hierarchy-mobile-caption-2;
    margin: 2.333em 0; // ~28px
}

a,
a:focus,
a:visited {
    color: @color-interface-cta;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}
