@import "../../../less/ds6/variables.less";
@import "../../../less/ds6/mixins.less";

@box-shadow-color: rgba(199, 199, 199, 0.5);

.bubble() {
    box-shadow: 0 -2px 2px @box-shadow-color, 2px 0 2px @box-shadow-color, 0 2px 2px @box-shadow-color, -2px 0 2px @box-shadow-color,;
}

.bubble-close() {
    color: @ds6-color-black;
    height: 32px;
    margin: -8px -6px 0 16px;
    width: 32px;

    span {
        .background-icon-base;
        .icon-close(16px, 16px);
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
    }
}

.pointer-top() {
    background-color: white;
    box-shadow: -2px -2px 2px @box-shadow-color;
}

.pointer-bottom() {
    box-shadow: 2px 2px 2px @box-shadow-color;
}

.pointer-left() {
    box-shadow: -2px 2px 2px @box-shadow-color;
}

.pointer-right() {
    box-shadow: 2px -2px 2px @box-shadow-color;
}
