@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

.date-input {
    // 343px - (2 * @spacing-200) [not autmatically compiled by LESS]
    --calendar-month-width: 311px;
}

.date-input__popover {
    .background-color-token(calendar-background-color, color-background-primary);
    border-radius: @spacing-200;
    box-shadow: 0 0 @spacing-200 0 rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    margin-left: -@spacing-125;
    padding: @spacing-200;
    position: absolute;
    z-index: 1;
}

.date-input__popover[hidden] {
    display: none;
}

@media only screen and (max-width: 600px) {
    .date-input__popover {
        left: 0;
        margin-left: 0;
    }
}
