@import "../tokens/@{ds}/tokens.less";
@import "../mixins/dialog-mixins.less";
@import "../mixins/typography-mixins.less";
@import "../mixins/utility-mixins.less";

.alert-dialog[role="alertdialog"] {
    .lightbox-dialog-base();
}

.alert-dialog__window {
    .lightbox-dialog-window();

    margin-left: @spacing-200;
    margin-right: @spacing-200;
    padding: @spacing-200;
    text-align: center;
}

.alert-dialog__title {
    .typography-large-1();

    font-weight: bold;
    margin: 0;
}

.alert-dialog__main {
    margin: @spacing-200 0;
    min-height: @spacing-200;

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.alert-dialog--show,
.alert-dialog--hide {
    &.alert-dialog--mask-fade {
        transition: background-color 0.16s ease-out;
    }

    &.alert-dialog--mask-fade-slow {
        transition: background-color 0.32s ease-out;
    }

    .alert-dialog__window--fade {
        transition: opacity 0.16s ease-out;
    }
}

.alert-dialog--hide,
.alert-dialog--show-init {
    && {
        display: flex;
    }

    &.alert-dialog--mask-fade,
    &.alert-dialog--mask-fade-slow {
        background-color: @dialog-scrim-color-hide;
    }

    .alert-dialog__window--fade {
        opacity: 0;
    }
}

.alert-dialog--show,
.alert-dialog--hide-init {
    && {
        display: flex;
    }

    &.alert-dialog--mask-fade,
    &.alert-dialog--mask-fade-slow {
        background-color: @dialog-scrim-color-show;
    }

    .alert-dialog__window--fade {
        opacity: 1;
    }
}

// In order to prevent the margins to meet the ege of the page at medium screen sizes
@media (min-width: calc(@screen-size-3 + 1px)) and (max-width: @screen-size-4) {
    .alert-dialog__window {
        max-width: calc(88% - @spacing-400;);
    }
}

@media (min-width: calc(@screen-size-4 + 1px)) {
    .alert-dialog__window {
        max-width: @dialog-lightbox-max-width;
    }
}
