a.cta-btn {
    .btn-base;

    background-color: @btn-cta-background-color;
    border-color: currentColor;
    border-radius: @btn-border-radius;
    color: @btn-cta-color;
    display: inline-block;
    max-width: 100%;
    padding: @btn-padding;
}

a.cta-btn:visited {
    color: @btn-cta-visited-color;
}

a.cta-btn:focus,
a.cta-btn:hover {
    background-color: @btn-cta-focus-hover-background-color;
    border-color: @btn-cta-focus-hover-border-color;
    color: @btn-cta-focus-hover-color;
}

a.cta-btn:not([href]),
a.cta-btn[aria-disabled="true"] {
    background-color: @btn-cta-no-href-background-color;
    border-color: @btn-cta-no-href-border-color;
    color: @btn-cta-no-href-color;
}

a.cta-btn--fluid {
    .btn-fluid-base;
}

span.cta-btn__cell {
    .btn-cell-base;
    .btn-cell-content-center;
}

a.cta-btn svg {
    .btn-icon-base;
    .btn-icon-svg-base;
}

span.cta-btn__cell--fixed-height > svg {
    .btn-fixed-height-icon-alignment;
}
