@import "../../mixins/utility/utility-mixins.less";

a.cta-btn {
    .btn-base();
    .customBackgroundColorProperty(cta-button-background-color);
    .customBorderRadiusProperty(button-border-radius);
    .customColorProperty(cta-button-foreground-color);

    border-color: currentColor;
    display: inline-block;
    font-size: @button-font-size;
    max-width: 100%;
    padding: @button-padding;
}

a.cta-btn:visited {
    .customColorProperty(cta-button-visited-foreground-color);
}

a.cta-btn:focus,
a.cta-btn:hover {
    .customBackgroundColorProperty(cta-button-hover-background-color);
    .customBorderColorProperty(cta-button-hover-border-color);
    .customColorProperty(cta-button-hover-foreground-color);
}

a.cta-btn:not([href]),
a.cta-btn[aria-disabled="true"] {
    .customBackgroundColorProperty(cta-button-disabled-background-color);
    .customBorderColorProperty(cta-button-disabled-border-color);
    .customColorProperty(cta-button-disabled-foreground-color);
}

a.cta-button--fluid {
    width: 100%;
}

span.cta-btn__cell {
    .btn-cell-base();

    justify-content: center;
}

a.cta-btn svg.icon {
    .btn-icon-base();

    flex-shrink: 0;
}

span.cta-btn__cell--fixed-height svg.icon {
    align-self: center;
    height: 1rem;
    overflow: visible; // needed?
    width: 1rem;
}

a.cta-button--large {
    min-height: 48px;
}

a.cta-button--large-truncated {
    .btn-truncate();

    height: 48px;
}

a.cta-button--large-fixed-height {
    height: 48px;
}
