.icon {
    padding-left: 15px;

    &:hover,
    &:focus {
        color: @ds6-color-p002-blue;
        cursor: pointer;
    }
}

svg.icon--close {
    height: 18px;
    width: 18px;
}

.label-line-hgt {
    line-height: 24px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-150 {
    margin-left: 150px;
}
