.tooltip-arrow-top() {
    background-color: inherit;
    height: 16px;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 16px;
}

.tooltip-arrow-bottom() {
    background-color: inherit;
    bottom: -7px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    width: 16px;
}

.tooltip-arrow-left() {
    background: inherit;
    height: 16px;
    left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 16px;
}

.tooltip-arrow-right() {
    background: inherit;
    height: 16px;
    position: absolute;
    right: -7px;
    transform: rotate(45deg);
    width: 16px;
}
