.icon-btn {
    background-color: transparent;
    border: 0 none;
    font-size: 16px;
    padding: 7px 6px;
    vertical-align: middle;
}

.width-100 {
    width: 100%;
}

div.tooltip__body {
    p {
        width: 90%;
    }
}

.div--link-callout {
    margin: 0 auto;
    width: 100%;
}

.margin-8 {
    margin: 8px;
}

.margin-btm-16 {
    margin-bottom: 16px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-top-40 {
    margin-top: 40px;
}
