@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

.tooltip {
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translate3d(0, 0, 0);
        visibility: hidden;
    }

    /* tooltip directional arrow */
    &::before {
        background: transparent;
        border: 6px solid transparent;
        content: "";
        z-index: 1001;
    }

    /* tooltip content area */
    &::after {
        background-color: @ds6-color-p002-blue;
        color: #fff;
        content: attr(data-tooltip);
        padding: 8px;
        text-align: center;
        width: 250px;
        z-index: 1000;
    }

    /* show tooltip on hover and focus */
    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        opacity: 1;
        visibility: visible;
    }
}

/* Top (default) */
.tooltip-top {
    &::before,
    &::after {
        bottom: 100%;
        left: 50%;
    }

    &::before {
        border-top-color: @ds6-color-p002-blue;
        margin-bottom: -12px;
        margin-left: -6px;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        transform: translateY(-12px);
    }

    /* Horizontally align top/bottom tooltips */
    &::after {
        margin-left: -125px;
    }
}

/* Bottom */
.tooltip-bottom {
    &::before,
    &::after {
        bottom: auto;
        left: 30%;
        top: 100%;
    }

    &::after {
        margin-left: -125px;
    }

    &::before {
        border-bottom-color: @ds6-color-p002-blue;
        border-top-color: transparent;
        margin-bottom: 0;
        margin-top: -12px;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        transform: translateY(12px);
    }
}

/* Left */
.tooltip-left {
    &::before,
    &::after {
        bottom: 20%;
        left: auto;
        right: 100%;
    }

    &::before {
        border-left-color: @ds6-color-p002-blue;
        border-top-color: transparent;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: -12px;
        top: 3px;
    }

    &::after {
        margin-bottom: -16px;
        margin-left: 0;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        transform: translateX(-12px);
    }
}

/* Right */
.tooltip-right {
    &::before,
    &::after {
        bottom: 20%;
        left: 100%;
    }

    &::before {
        border-right-color: @ds6-color-p002-blue;
        border-top-color: transparent;
        margin-bottom: 0;
        margin-left: -12px;
        top: 3px;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        transform: translateX(12px);
    }

    /* Vertically center tooltip content for left/right tooltips */
    &::after {
        margin-bottom: -16px;
        margin-left: 0;
    }
}

