.tooltip-arrow-top() {
    border-bottom-style: solid;
    border-bottom-width: 12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: 100%;
    height: 0;
    position: absolute;
    width: 0;
}

.tooltip-arrow-bottom() {
    background-color: inherit;
    bottom: -7px;
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    width: 16px;
}

.tooltip-arrow-side() {
    background: inherit;
    height: 12px;
    position: absolute;
    transform: rotate(45deg);
    width: 12px;
}
