.icon {
    padding-left: 15px;

    &:hover,
    &:focus {
        color: @ds6-color-p002-blue;
        cursor: pointer;
    }
}

svg.icon--close {
    height: 18px;
    width: 18px;
}

#tourtip-icon {
    .icon--close {
        color: @ds6-color-g201-gray;
    }
}

.label-tourtip {
    border: 1px solid #ccc;
    color: @ds6-color-p002-blue;
    display: inline-block;
    padding: 15px 50px 15px 50px;

    &:hover {
        cursor: pointer;
    }
}

.margin-left-20 {
    margin-left: 20px;
}

.div-tourtip-margin {
    margin: 160px 150px 5px 105px;
}
