@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

@import "tooltip-base.less";

/* Default style */
.tooltip,
.infotip,
.tourtip {
    display: inline-block;
    position: relative;

    &__window {
        position: absolute;
        z-index: 1;

        &::after {
            border-style: solid;
            border-width: 8px;
            content: "";
            position: absolute;
        }
    }
}

/* display tooltip on-hover */
.tooltip {
    &__body {
        padding-left: 10px;
        width: 90%;
    }

    &__close {
        background-color: inherit;
        border: 0;
        margin: 0;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        span {
            .background-icon-base;

            background-image: url('data:image/svg+xml;base64,@{ds6-icon-close-base64-light}');
            height: 16px;
            width: 16px;
        }

        &:hover,
        &:focus {
            color: @ds6-color-link-default;
        }
    }

    &:hover {
        .tooltip__top,
        .tooltip__bottom,
        .tooltip__left,
        .tooltip__right {
            visibility: visible;
        }
    }

    &__bottom {
        bottom: 150%;

        &::after {
            border-color: @ds6-color-p002-blue transparent transparent transparent;
            top: 100%;
        }
    }

    &__left {
        left: 110%;
        margin-left: 15px;

        &::after {
            border-color: transparent @ds6-color-p002-blue transparent transparent;
            right: 100%;
        }
    }

    &__right {
        right: 110%;

        &::after {
            border-color: transparent transparent transparent @ds6-color-p002-blue;
            left: 100%;
        }
    }

    &__top {
        top: 150%;

        &::after {
            border-color: transparent transparent @ds6-color-p002-blue transparent;
            bottom: 100%;
        }
    }

    &__left,
    &__right {
        top: -13px;

        &::after {
            margin-top: -6px;
            top: 48%;
        }
    }

    &__bottom,
    &__top {
        left: 50%;
        margin-left: -171px;

        &::after {
            left: 50%;
            margin-left: -5px;
        }
    }

    &__window {
        background-color: @ds6-color-p002-blue;
        color: @ds6-color-g201-gray;
        padding: 5px 0;
        text-align: center;
        visibility: hidden;
        width: 350px;
    }
}

.infotip {
    &__top {
        margin-left: -162px;
    }

    &__window {
        background-color: @ds6-color-g201-gray;
        box-shadow: 0 1px 5px 1px @ds6-color-g205-gray;
        color: @ds6-color-g206-gray;
        width: 350px;

        &::after {
            border-color: #fff;
            box-shadow: -2px 2px 2px 0 #767676;
            box-sizing: border-box;
        }
    }
}

.tourtip {
    &__content {
        display: inline-block;
        margin: 10px 0 10px 10px;

        ul {
            padding-left: 18px;
        }
    }

    &__body {
        margin: 0 15px 0 15px;
    }

    &__bottom {
        width: 275px;
    }

    &__window {
        background-color: @ds6-color-p002-blue;
        color: @ds6-color-g201-gray;

        &::after {
            border-color: @ds6-color-p002-blue;
        }
    }

    &__top {
        width: 350px;
    }

    &__top,
    &__bottom {
        margin-left: -172px;
    }
}

/* The actual popup (appears on top) */
.infotip,
.tourtip {
    &__top {
        bottom: 125%;
        left: 50%;

        &::after {
            left: 45%;
            top: 100%;
        }
    }

    &__bottom {
        left: 0%;
        margin-left: 50px;
        margin-top: 10px;

        &::after {
            left: 85%;
            top: 0%;
        }
    }

    &__window {
        margin-bottom: 10px;

        &::after {
            transform: rotate(-45deg);
            transform-origin: 0 0;
        }
    }
}
