@import "../mixins/private/token-mixins";
@import "../variables/variables";

.file-preview-card {
    @include background-color-token(
        file-preview-card-background-color,
        color-background-secondary
    );

    @include border-radius-token(
        file-preview-card-border-radius,
        border-radius-100
    );

    // Safari support in v15+ reviewed with team
    aspect-ratio: 1/1;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: " . . menu-action " " . center-action . " " label . . ";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    max-width: 396px;
    min-width: 120px;
    width: 100%;
}

.file-preview-card__center {
    align-items: center;
    display: flex;
    grid-area: 1 / 1 / 4 / 4;
    justify-content: center;
}

.file-preview-card__center img {
    @include border-radius-token(
        file-preview-card-border-radius,
        border-radius-100
    );

    height: 100%;
    object-fit: contain;
    width: 100%;
}

.file-preview-card__center--overflow {
    opacity: 0.5;
}

.file-preview-card__general-icon.icon {
    height: 40%;
    width: 40%;
}

.file-preview-card .file-preview-card__menu-action {
    grid-area: menu-action;
    justify-self: end;
}

.file-preview-card .file-preview-card__menu-action .icon-btn {
    @include background-color-token(
        file-preview-card-menu-action-background-color,
        color-background-primary
    );

    height: 32px;
    margin: var(--spacing-100, 8px);
    width: 32px;
}

.file-preview-card__label {
    align-self: end;
    grid-area: label;
}

.file-preview-card__label .icon-btn {
    @include background-color-token(
        file-preview-card-label-background-color,
        color-background-primary
    );

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-50, 4px);
    height: 20px;
    margin: var(--spacing-100, 8px);
    padding: var(--spacing-25, 2px) var(--spacing-100, 8px);
    width: fit-content;
}

.file-preview-card__label-text {
    @include color-token(
        file-preview-card-label-text-color,
        color-foreground-primary
    );

    font-size: var(--font-size-12);
    font-weight: 400;
}

.file-preview-card__video-icon.icon {
    height: 12px;
    width: 12px;
}

.file-preview-card .file-preview-card__center-action {
    align-self: center;
    grid-area: center-action;
    justify-self: center;
    z-index: 1;
}

.file-preview-card .file-preview-card__center-action .icon-btn {
    @include color-token(
        file-preview-card-center-action-color,
        color-foreground-on-strong
    );

    @include background-color-rgba-token(
        0.5,
        file-preview-card-center-action-background-color-rgb,
        color-background-strong-rgb
    );

    aspect-ratio: 1/1;
    font-size: var(--font-size-14);
    font-weight: 700;
    height: fit-content;
    line-height: 20px;
    padding: var(--spacing-100, 8px);
    width: fit-content;
}

.file-preview-card .file-preview-card__center-action .icon-btn:active,
.file-preview-card .file-preview-card__center-action .icon-btn:focus,
.file-preview-card .file-preview-card__center-action .icon-btn:hover {
    @include color-token(
        file-preview-card-center-action-interactive-color,
        color-foreground-primary
    );
}

.file-preview-card .file-preview-card__center-action .icon-btn:focus,
.file-preview-card .file-preview-card__center-action .icon-btn:hover {
    @include background-color-rgba-token(
        0.5,
        file-preview-card-center-action-interactive-background-color-rgb,
        color-state-secondary-hover-rgb
    );
}

.file-preview-card .file-preview-card__center-action .icon-btn:active {
    @include background-color-rgba-token(
        0.5,
        file-preview-card-center-action-interactive-active-background-color-rgb,
        color-state-secondary-active-rgb
    );
}
