@import "../mixins/private/token-mixins";
@import "../variables/variables";

.file-preview-card {
    @include background-color-token(
        file-preview-card-background-color,
        color-background-secondary
    );

    @include border-radius-token(
        file-preview-card-border-radius,
        border-radius-100
    );

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: " . . menu-action " " . center-action . " " label . . ";
    min-width: 120px;
    max-width: 396px;
    box-sizing: border-box;

    // Safari support in v15+ reviewed with team
    aspect-ratio: 1/1;

    // needed for safari
    width: 100%;
    height: 100%;
}

.file-preview-card__center {
    grid-area: 1 / 1 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-preview-card__center img {
    @include border-radius-token(
        file-preview-card-border-radius,
        border-radius-100
    );

    height: 100%;
    width: 100%;
    object-fit: contain;
}

.file-preview-card__center .inline-notice--attention {
    @include color-token(
        file-preview-card-attention-color,
        color-foreground-attention
    );

    font-size: var(--font-size-12);
    line-height: var(--spacing-200, 16px);
}

.file-preview-card__center--overflow {
    opacity: 0.5;
}

.file-preview-card .file-preview-card__menu-action {
    grid-area: menu-action;
    justify-self: end;
}

.file-preview-card .file-preview-card__menu-action .icon-btn {
    @include background-color-token(
        file-preview-card-menu-action-background-color,
        color-background-primary
    );

    margin: var(--spacing-100, 8px);
    height: 32px;
    width: 32px;
}

.file-preview-card__label {
    grid-area: label;
    align-self: end;
}

.file-preview-card__label .icon-btn {
    @include background-color-token(
        file-preview-card-label-background-color,
        color-background-primary
    );

    display: flex;
    flex-direction: row;
    width: 55px;
    height: 20px;
    margin: var(--spacing-100, 8px);
    align-items: center;
    gap: var(--spacing-50, 4px);
}

.file-preview-card__label-text {
    @include color-token(
        file-preview-card-label-text-color,
        color-foreground-primary
    );

    font-size: var(--font-size-12);
    font-weight: 400;
}

.file-preview-card .file-preview-card__center-action {
    grid-area: center-action;
    justify-self: center;
    align-self: center;
    z-index: 1;
}

.file-preview-card .file-preview-card__center-action .icon-btn {
    @include color-token(
        file-preview-card-center-action-color,
        color-foreground-on-strong
    );

    height: 40px;
    width: 40px;
    background-color: rgba(var(--color-background-strong-rgb), 0.5);
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: 20px;
}

.file-preview-card .file-preview-card__center-action .icon-btn:active,
.file-preview-card .file-preview-card__center-action .icon-btn:focus,
.file-preview-card .file-preview-card__center-action .icon-btn:hover {
    @include color-token(
        file-preview-card-center-action-interactive-color,
        color-foreground-primary
    );
}

.file-preview-card .file-preview-card__center-action .icon-btn:focus,
.file-preview-card .file-preview-card__center-action .icon-btn:hover {
    background-color: rgba(var(--color-state-secondary-hover-rgb), 0.5);
}

.file-preview-card .file-preview-card__center-action .icon-btn:active {
    background-color: rgba(var(--color-state-secondary-active-rgb), 0.5);
}
