@import "../mixins/private/bubble-mixins";
@import "../mixins/private/token-mixins";
@import "../variables/variables";

.file-preview-card {
    display: flex;
    flex-direction: column;
}

.file-preview-card__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: " . . action " " center center center " " label . . ";
    height: inherit;
    width: inherit;
    box-sizing: border-box;
    background-color: var(--color-background-secondary, #f7f7f7);
    border-radius: var(--border-radius-100, 16px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.file-preview-card__progress {
    grid-area: center;
    justify-self: center;
    align-self: center;
}

.file-preview-card__content--overflow {
    opacity: 0.5;
}

.file-preview-card .file-preview-card__action-menu {
    grid-area: action;
    justify-self: end;
    background: var(--color-background-on-secondary, #fff);
    margin: var(--spacing-100, 8px);
    height: 32px;
    width: 32px;
}

.file-preview-card__label.icon-btn {
    grid-area: label;
    align-self: end;
    display: flex;
    flex-direction: row;
    width: 55px;
    height: 20px;
    margin: var(--spacing-100, 8px);
    background: var(--color-background-on-secondary, #fff);
    align-items: center;
    gap: var(--spacing-50, 4px);
}

.file-preview-card__label-text {
    color: var(--color-foreground-primary, #191919);
    font-size: var(--font-size-12);
    font-weight: 400;
}

.file-preview-card .file-preview-card__overflow-action {
    grid-area: center;
    justify-self: center;
    align-self: center;
    height: 40px;
    width: 40px;
    background-color: rgba(var(--color-background-strong-rgb), 0.5);
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: 20px;
    color: var(--color-foreground-on-strong, #fff);

    &:active,
    &:focus,
    &:hover {
        color: var(--color-foreground-primary, #191919);
    }

    &:focus,
    &:hover {
        background-color: rgba(var(--color-state-secondary-hover-rgb), 0.5);
    }

    &:active {
        background-color: rgba(var(--color-state-secondary-active-rgb), 0.5);
    }
}

.file-preview-card__details {
    display: flex;
    flex-direction: column;
}

.file-preview-card__details-title {
    color: var(--color-foreground-primary, #191919);
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: var(--spacing-250, 20px);
    margin-top: var(--spacing-100, 8px);
}

.file-preview-card__details-subtitle {
    color: var(--color-foreground-secondary, #707070);
    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--spacing-200, 16px);
    margin-top: var(--spacing-50, 4px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
