@checkbox-dimensions: 18px;
@checkbox-large-dimensions: 24px;
@checkbox-checked-color: @color-action-primary;
@checkbox-unchecked-color: @color-text-default;
@checkbox-disabled-opacity: 1;
@checkbox-disabled-color: @color-action-disabled;
@checkbox-custom-outline: 1px auto @color-text-secondary;
