@spacing-extra-small: 8px;
@spacing-small: 16px;
@spacing-medium: 24px;
@spacing-large: 32px;
@spacing-extra-large: 64px;

@page-grid-cols-small: 8;
@page-grid-cols-large: 16;
@page-grid-gutter-width-small: @spacing-extra-small;
@page-grid-gutter-width-large: @spacing-small;
