@breakpoint-1: ~"only screen and (min-width: 320px)";
@breakpoint-2: ~"only screen and (min-width: 480px)";
@breakpoint-3: ~"only screen and (min-width: 600px)";
@breakpoint-4: ~"only screen and (min-width: 768px)";
@breakpoint-5: ~"only screen and (min-width: 960px)";
@breakpoint-6: ~"only screen and (min-width: 1280px)";

@spacing-extra-small: 8px;
@spacing-small: 16px;
@spacing-medium: 24px;
@spacing-large: 32px;
@spacing-extra-large: 64px;

@page-grid-cols-small: 8;
@page-grid-cols-large: 16;
@page-grid-gutter-width-small: @spacing-extra-small;
@page-grid-gutter-width-large: @spacing-small;
