@page-notice-attention-border-color: @color-status-attention;
@page-notice-confirmation-border-color: @color-status-confirmation;
@page-notice-information-border-color: @color-status-information;
@page-notice-general-background-color: @color-status-general;
