@selection-list-background-color: @color-background-default;
@selection-list-separator-color: @color-separator;

@selection-list-item-foreground-color: @color-text-default;
@selection-list-item-background-color: @selection-list-background-color;
@selection-list-item-border-color: @selection-list-background-color;
@selection-list-item-padding: 8px 15px;
@selection-list-item-hover-background-color: @color-selection-list-item-hover-background;
@selection-list-item-hover-foreground-color: @color-text-default;
@selection-list-item-active-status-color: @color-selection-list-item-active-background;
@selection-list-item-active-font-weight: @font-weight-selection-list-item-active;

@selection-list-anchor-color: @color-text-default;
@selection-list-button-background-color: @color-background-default;
@selection-list-button-foreground-color: @color-text-default;
