// typography common to ds4 & ds6

@marketsans-url: "https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/";
@marketsans-fontname: "Market Sans";
@marketsans-filename-regular: "MarketSans-Regular-WebS";
@marketsans-filename-bold: "MarketSans-SemiBold-WebS";

@font-size-12: 0.75rem;
@font-size-16: 1rem;

@font-size-12: 0.75rem;
@font-size-13: 0.8125rem;
@font-size-14: 0.875rem;
@font-size-16: 1rem;
@font-size-18: 1.125rem;
@font-size-20: 1.25rem;
@font-size-24: 1.5rem;
@font-size-30: 1.875rem;
@font-size-36: 2.25rem;

@font-size-giant-2: @font-size-36;
@font-size-giant-1: @font-size-30;
@font-size-large-2: @font-size-24;
@font-size-large-1: @font-size-20;
@font-size-medium: @font-size-16;
@font-size-regular: @font-size-14;
@font-size-small: @font-size-12;
