@import "../../mixins/utility/utility-mixins.less";

.filter-menu,
.filter-menu-form {
    .customBackgroundColorProperty(filter-menu-item-background-color);

    min-width: 144px;
    overflow: hidden;
}

span.filter-menu,
span.filter-menu-form {
    display: inline-block;
}

.filter-menu__items,
.filter-menu-form__items {
    margin-top: 8px;
    min-width: 100%;
    position: relative;
}

span.filter-menu__items[role="menu"],
span.filter-menu-form__items {
    display: inline-block;
}

span.filter-menu__checkbox,
span.filter-menu__radio {
    display: block;
    flex-shrink: 1;
    height: 18px;
    min-width: 18px;
    width: 18px;
}

span.filter-menu__checkbox {
    svg.icon--checkbox-unchecked {
        .customColorProperty(filter-menu-checkbox-unchecked-color);

        display: block;
        height: 18px;
        width: 18px;
    }

    svg.icon--checkbox-checked {
        .customColorProperty(filter-menu-checkbox-checked-color);

        display: none;
        height: 18px;
        width: 18px;
    }
}

span.filter-menu__radio {
    svg.icon--radio-unchecked {
        .customColorProperty(filter-menu-radio-unchecked-color);

        display: block;
        height: 18px;
        width: 18px;
    }

    svg.icon--radio-checked {
        .customColorProperty(filter-menu-radio-checked-color);

        display: none;
        height: 18px;
        width: 18px;
    }
}

.filter-menu-form__item span.checkbox {
    align-items: flex-start;
    display: flex;
    flex-shrink: 1;
    justify-content: center;

    svg.checkbox__unchecked {
        .customColorProperty(filter-menu-checkbox-unchecked-color);
    }

    svg.checkbox__checked {
        .customColorProperty(filter-menu-checkbox-checked-color);
    }
}

.filter-menu-form__item span.radio {
    align-items: flex-start;
    display: flex;
    flex-shrink: 1;
    justify-content: center;

    svg.radio__unchecked {
        .customColorProperty(filter-menu-radio-unchecked-color);
    }

    svg.radio__checked {
        .customColorProperty(filter-menu-radio-checked-color);
    }
}

span.filter-menu__item[role="menuitemcheckbox"],
span.filter-menu__item[role="menuitemradio"],
span.filter-menu-form__item {
    display: block;
}

.filter-menu__item[role="menuitemcheckbox"],
.filter-menu__item[role="menuitemradio"],
.filter-menu-form__item {
    .filter-menu-item-base();

    padding: 8px 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        .customBackgroundColorProperty(filter-menu-item-hover-background-color);
    }

    &:last-child {
        margin-bottom: 8px;
    }
}

button.filter-menu__footer,
button.filter-menu-form__footer[type="submit"] {
    .filter-menu-item-base();
    .customBorderColorProperty(filter-menu-border-color);

    border: none;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    padding: 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        .customBackgroundColorProperty(filter-menu-item-hover-background-color);
    }
}

.filter-menu__text,
.filter-menu-form__text {
    flex-grow: 1;
    margin-left: 8px;
}

.filter-menu__item[role="menuitemcheckbox"][aria-checked="true"] svg.icon--checkbox-unchecked,
.filter-menu__item[role="menuitemradio"][aria-checked="true"] svg.icon--radio-unchecked {
    display: none;
}

.filter-menu__item[role="menuitemcheckbox"][aria-checked="true"] svg.icon--checkbox-checked,
.filter-menu__item[role="menuitemradio"][aria-checked="true"] svg.icon--radio-checked {
    display: block;
}
