.filter-menu,
.filter-menu-form {
    background-color: @filter-menu-item-background-color;
    border: 1px solid @filter-menu-border-color;
    border-radius: 16px;
    display: inline-block;
    max-width: 288px; // TODO move max-width restriction to filter-menu-button styles
    min-width: 144px;
    overflow: hidden;
}

span.filter-menu,
span.filter-menu-form {
    display: inline-block;
}

.filter-menu__items,
.filter-menu-form__items {
    margin-top: 8px;
    max-height: calc(50vh - 40px); // half of the viewport height || TODO move max-height restriction to filter-menu-button styles
    min-width: 100%;
    overflow-y: auto;
    position: relative;
}

span.filter-menu__items[role="menu"],
span.filter-menu-form__items {
    display: inline-block;
}

span.filter-menu__status,
span.filter-menu__status--inline {
    align-items: flex-start;
    display: block;
    flex-shrink: 1;
    height: 18px;
    justify-content: center;
    min-width: 18px;
    width: 18px;
}

span.filter-menu__status {
    .background-icon-image-mixin('checkbox-unchecked', 18px, 18px);
}

span.filter-menu__status--inline {
    svg {
        &.icon.icon--checkbox-unchecked {
            color: @filter-menu-checkbox-color;
            display: block;
            height: 18px;
            width: 18px;
        }

        &.icon.icon--checkbox-checked {
            color: @filter-menu-checkbox-checked-color;
            display: none;
            height: 18px;
            width: 18px;
        }
    }
}

.filter-menu-form__item {
    & > span:not(.checkbox) {
        flex-grow: 1;
        margin-left: 8px;
    }

    span.checkbox {
        align-items: flex-start;
        display: flex;
        flex-shrink: 1;
        justify-content: center;

        svg {
            &.checkbox__unchecked {
                color: @filter-menu-checkbox-color;
            }

            &.checkbox__checked {
                color: @filter-menu-checkbox-checked-color;
            }
        }
    }
}

span.filter-menu__item[role="menuitemcheckbox"],
span.filter-menu-form__item {
    display: block;
}

.filter-menu__item[role="menuitemcheckbox"],
.filter-menu-form__item {
    .filter-menu-item-base();

    padding: 8px 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background-color: @filter-menu-item-focus-background-color;
    }

    &:last-child {
        margin-bottom: 8px;
    }
}

button.filter-menu__footer,
button.filter-menu-form__footer[type="submit"] {
    .filter-menu-item-base();

    border: none;
    border-top: 1px solid @filter-menu-border-color;
    bottom: 0;
    padding: 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background-color: @filter-menu-item-focus-background-color;
    }
}

.filter-menu__text,
.filter-menu-form__text {
    flex-grow: 1;
    margin-left: 8px;
}

.filter-menu__item[role="menuitemcheckbox"][aria-checked="true"] > span.filter-menu__status {
    .background-icon-image-mixin('checkbox-checked', 18px, 18px);
}

.filter-menu__item[role="menuitemcheckbox"][aria-checked="true"] > span.filter-menu__status--inline > svg.icon.icon--checkbox-unchecked {
    display: none;
}

.filter-menu__item[role="menuitemcheckbox"][aria-checked="true"] > span.filter-menu__status--inline > svg.icon.icon--checkbox-checked {
    display: block;
}
