@import "../../mixins/utility/utility-mixins.less";

.page-notice {
    .customBorderRadiusProperty(page-notice-border-radius);

    border-style: solid;
    border-width: 1px;
    color: white;
    display: flex;
    font-size: @font-size-14;
    margin: 8px 0;
    padding: 24px 16px;
}

.page-notice a {
    color: white;
    font-weight: bold;
}

.page-notice svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0) brightness(102%) contrast(300%);
}

.page-notice .fake-link {
    color: white;
    font-weight: bold;
}

.page-notice--attention {
    .customBackgroundColorProperty(page-notice-attention-background-color);
    .customBorderColorProperty(page-notice-attention-border-color);
}

.page-notice--confirmation {
    .customBackgroundColorProperty(page-notice-confirmation-background-color);
    .customBorderColorProperty(page-notice-confirmation-border-color);
}

.page-notice--information {
    .customBackgroundColorProperty(page-notice-information-background-color);
    .customBorderColorProperty(page-notice-information-border-color);
}

.page-notice--general {
    .customBackgroundColorProperty(page-notice-general-background-color);
}

.page-notice__header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

// .page-notice__footer is no longer deprecated
.page-notice__main,
.page-notice__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-notice__title {
    font-size: @font-size-14;
    margin: 0 0 4px 0;
}

.page-notice__footer {
    margin-left: auto;
    padding-left: 0;
    width: auto;
}

.page-notice__main p {
    margin: 0;
}

/* LARGE SCREEN ADJUSTMENTS */

@media (min-width: 601px) {
    section.page-notice,
    div[role="region"].page-notice {
        flex-wrap: nowrap;
        font-size: @font-size-16;
        margin: 16px 0;
    }

    .page-notice__title {
        font-size: @font-size-16;
    }

    .page-notice__footer {
        margin-top: 0;
    }
}

[dir="rtl"] {
    .page-notice__header {
        padding-left: 16px;
        padding-right: 0;
    }

    .page-notice__footer {
        margin-left: initial;
        margin-right: auto;
        padding-left: initial;
        padding-right: 0;
        width: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .page-notice {
            --page-notice-attention-background-color: #191f1b;
            --page-notice-confirmation-background-color: #1b2027;
            --page-notice-information-background-color: #2a191c;
        }
    }
}
