@import "../../mixins/utility/utility-mixins.less";

.page-notice {
    .background-color(page-notice-general-background-color);
    .border-color(page-notice-general-border-color);
    border-style: solid;
    border-width: 1px;
    .color(page-notice-color);
    font-size: @font-size-14;
    margin: 8px 0;
    padding: 24px 16px;
}

div[role="region"].page-notice,
section.page-notice {
    display: flex;
}

span[role="region"].page-notice {
    display: inline-flex;
}

.page-notice__title {
    font-size: @font-size-14;
    font-weight: normal;
    margin: 0;
}

/* legacy version with separate bold heading */
.page-notice__title:not(:only-child) {
    font-weight: bold;
}

.page-notice a {
    .color(page-notice-color);
    font-size: @font-size-14;
    font-weight: bold;
}

.page-notice a:hover {
    .color(page-notice-color);
}

.page-notice button.fake-link {
    .color(page-notice-color);
    font-size: @font-size-14;
    font-weight: bold;
}

.page-notice button.fake-link:hover {
    .color(page-notice-color);
}

.page-notice--attention {
    .background-color(page-notice-attention-background-color);
    .border-color(page-notice-attention-border-color);
}

.page-notice--confirmation {
    .background-color(page-notice-confirmation-background-color);
    .border-color(page-notice-confirmation-border-color);
}

.page-notice--information {
    .background-color(page-notice-information-background-color);
    .border-color(page-notice-information-border-color);
}

.page-notice--general {
    .background-color(page-notice-general-background-color);
}

.page-notice__header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 16px;
}

.page-notice__header svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0) brightness(102%) contrast(500%);
}

.page-notice__main,
.page-notice__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-notice__footer {
    margin-left: auto;
    padding-left: 16px;
    width: auto;
}

/* support legacy 6.5 notice with heading + paragaphs */
.page-notice__main p {
    font-size: @font-size-14;
    margin: 4px 0 0 0;
}

/* LARGE SCREEN ADJUSTMENTS */

@media (min-width: 601px) {
    section.page-notice,
    div[role="region"].page-notice {
        flex-wrap: nowrap;
        margin: 16px 0;
    }

    .page-notice__footer {
        margin-top: 0;
    }
}

[dir="rtl"] {
    .page-notice__header {
        padding-left: 16px;
        padding-right: 0;
    }

    .page-notice__footer {
        margin-left: initial;
        margin-right: auto;
        padding-left: initial;
        padding-right: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    .page-notice {
        --page-notice-color: @color-text-default-dark-mode;
        --page-notice-general-background-color: @color-grey1-dark-mode;
        --page-notice-general-border-color: @color-grey1-dark-mode;
        --page-notice-attention-background-color: #191f1b;
        --page-notice-attention-border-color: #191f1b;
        --page-notice-confirmation-background-color: #1b2027;
        --page-notice-confirmation-border-color: #1b2027;
        --page-notice-information-background-color: #2a191c;
        --page-notice-information-border-color: #2a191c;
    }

    .page-notice svg {
        filter: none;
    }
}
