.donut-chart {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.donut-chart svg {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.donut-chart__segment {
    opacity: 1;
    transition: opacity 0.3s;
    &--primary {
        fill: var(--data-viz-primary, var(--color-data-viz-primary));
    }
    &--secondary {
        fill: var(--data-viz-secondary, var(--color-data-viz-secondary));
    }
    &--tertiary {
        fill: var(--data-viz-tertiary, var(--color-data-viz-tertiary));
    }
    &--quaternary {
        fill: var(--data-viz-quaternary, var(--color-data-viz-quaternary));
    }
    &--quinary {
        fill: var(--data-viz-quinary, var(--color-data-viz-quinary));
    }
    &--senary {
        fill: var(--data-viz-senary, var(--color-data-viz-senary));
    }
    &--septenary {
        fill: var(--data-viz-septenary, var(--color-data-viz-septenary));
    }
    &--octanary {
        fill: var(--data-viz-octanary, var(--color-data-viz-octanary));
    }
    &--pattern-0 {
        fill: url("#dataVizPattern0");
    }
    &--pattern-1 {
        fill: url("#dataVizPattern1");
    }
    &--pattern-2 {
        fill: url("#dataVizPattern2");
    }
    &--pattern-3 {
        fill: url("#dataVizPattern3");
    }
    &--pattern-4 {
        fill: url("#dataVizPattern4");
    }
    &--pattern-5 {
        fill: url("#dataVizPattern5");
    }
    &--pattern-6 {
        fill: url("#dataVizPattern6");
    }
    &--pattern-7 {
        fill: url("#dataVizPattern7");
    }
}
.donut-chart--inactive {
    opacity: 0.2;
}
