.donut-chart {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.donut-chart svg {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.donut-chart__segment {
    opacity: 1;
    transition: opacity 0.3s;
}
.donut-chart__segment--primary {
    fill: var(--data-viz-primary, var(--color-data-viz-primary));
}
.donut-chart__segment--secondary {
    fill: var(--data-viz-secondary, var(--color-data-viz-secondary));
}
.donut-chart__segment--tertiary {
    fill: var(--data-viz-tertiary, var(--color-data-viz-tertiary));
}
.donut-chart__segment--quaternary {
    fill: var(--data-viz-quaternary, var(--color-data-viz-quaternary));
}
.donut-chart__segment--quinary {
    fill: var(--data-viz-quinary, var(--color-data-viz-quinary));
}
.donut-chart__segment--senary {
    fill: var(--data-viz-senary, var(--color-data-viz-senary));
}
.donut-chart__segment--septenary {
    fill: var(--data-viz-septenary, var(--color-data-viz-septenary));
}
.donut-chart__segment--octanary {
    fill: var(--data-viz-octanary, var(--color-data-viz-octanary));
}
.donut-chart__segment--pattern-0 {
    fill: url("#dataVizPattern0");
}
.donut-chart__segment--pattern-1 {
    fill: url("#dataVizPattern1");
}
.donut-chart__segment--pattern-2 {
    fill: url("#dataVizPattern2");
}
.donut-chart__segment--pattern-3 {
    fill: url("#dataVizPattern3");
}
.donut-chart__segment--pattern-4 {
    fill: url("#dataVizPattern4");
}
.donut-chart__segment--pattern-5 {
    fill: url("#dataVizPattern5");
}
.donut-chart__segment--pattern-6 {
    fill: url("#dataVizPattern6");
}
.donut-chart__segment--pattern-7 {
    fill: url("#dataVizPattern7");
}
.donut-chart--inactive {
    opacity: 0.2;
}
