@import "../variables/variables.less";

.donut-chart {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.donut-chart--default {
    justify-content: space-between;
    max-width: 305px;
}
.donut-chart--horizontal {
    justify-content: flex-start;
    max-width: 450px;
}
.donut-chart--left {
    flex-flow: row-reverse nowrap;
}
.donut-chart--right {
    flex-flow: row nowrap;
}
.donut-chart--stacked {
    max-width: 190px;
}
.donut-chart__container {
    display: inline-block;
    max-width: 120px;
    width: 50%;
}
.donut-chart__container-left {
    margin-left: 30px;
}
.donut-chart__container-right {
    margin-right: 30px;
}
.donut-chart__container-horizontal {
    max-width: 190px;
}
.donut-chart__container-stacked {
    margin-bottom: 20px;
    max-width: 190px;
    width: 100%;
}
.donut-chart-legend__container {
    display: inline-block;
}
.donut-chart-legend__container-vertical {
    width: 100%;
}
.donut-chart-legend__container-horizontal {
    max-width: 210px;
    width: 50%;
}
.donut-chart svg {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.donut-chart__metrics {
    display: inline-block;
    width: 50%;
}
.donut-chart__metrics-stacked {
    display: block;
    margin-bottom: 30px;
    width: 100%;
}
.donut-chart__metrics-horizontal {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}
.donut-chart__metric {
    display: block;
    font-size: @font-size-30;
    font-weight: 700;
}
.donut-chart__subtitle {
    display: block;
    font-size: @font-size-14;
    font-weight: 400;
}
