// **************
// SELECTORS ARE TRANSLATED FOR EBAYUI-CORE COMPONENTS, THEREFORE THIS ".listbox" IS ACTUALLY ".select"
// **************

// BEM blocks
//-----------------------------

.select {
    height: 40px;
    position: relative;

    &::after {
        .background-icon-base;
        .icon-arrow-down(9px, 40px);

        background-position: right calc(50% ~"-" 1px);
        content: "";
        margin-left: 8px;
        pointer-events: none;
        position: absolute;
        right: 16px;
        top: 1px;
    }
}

span.select {
    display: inline-block;
}

@media screen and (-ms-high-contrast: white-on-black) {
    .select::after {
        background-image: url('data:image/svg+xml;base64,@{ds4-icon-arrow-down-base64-light}');
    }
}

.select > select {
    appearance: none;
    background-color: @color-core-white;
    border: 1px solid @color-core-gray-silver;
    border-radius: 3px;
    box-sizing: border-box;
    color: @color-core-gray-davys;
    font-family: @font-family-base;
    font-size: inherit;
    height: @height-control-medium;
    margin: 0;
    padding: 0 40px 0 16px;

    // STATES

    &:focus {
        border-color: @color-core-blue;
        outline: 0;
    }

    &[disabled] {
        background-color: @color-core-gray-light;
        border: 0;
        color: @color-core-gray-silver;

        + .listbox__icon svg {
            color: @color-transparent-gray-silver;
        }
    }

    &[readonly] {
        background-color: @color-core-gray-light;
        border-color: @color-core-gray-silver;
        color: @color-core-gray-dim;
    }

    &[aria-invalid="true"] {
        border: 1px solid @color-core-red;

        &:focus {
            border-color: @color-interface-cta;
        }
    }

    &::-ms-expand {
        display: none;
    }
}

// BEM block modifiers
//-----------------------------

.select--small {
    font-size: 12px;

    .select > select {
        height: @height-control-small;
    }
}

.select--large {
    font-size: 16px;

    .select > select {
        height: @height-control-large;
    }
}

.select--extra-large {
    font-size: 18px;

    .select > select {
        height: @height-control-extra-large;
    }
}

// BEM element modifiers
//-----------------------------

.select.select--fluid > select {
    width: 100%;
}

.select.select--borderless > select {
    background-color: transparent;
    border-color: transparent;

    &:focus {
        border: 1px solid @color-core-blue;
    }
}

// RTL
//-----------------------------

[dir="rtl"] {
    .select > select {
        padding-left: 40px;
        padding-right: 8px;
    }

    .select__icon {
        left: 16px;
        right: auto;
    }
}
