@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/checkbox-variables.less";
@import "../../mixins/checkbox/ds6/checkbox-mixins.less";
@import "../base/checkbox.less";

.checkbox__control[type="checkbox"][disabled]:checked + .checkbox__icon {
    background-image: url('data:image/svg+xml;base64,@{icon-checkbox-checked-disabled-small-base64}');
}

@media (max-width: 600px) {
    .checkbox__icon svg,
    .checkbox__control[type="checkbox"] {
        height: 24px;
        width: 24px;
    }

    .checkbox__control[type="checkbox"][disabled]:checked + .checkbox__icon {
        background-image: url('data:image/svg+xml;base64,@{icon-checkbox-checked-disabled-base64}');
    }
}
