.checkbox {
    display: inline-flex;
    font-size: @ds6-font-size-16;
    vertical-align: middle;
}

.checkbox__control[type="checkbox"] {
    font-size: 100%;
    height: 1.125em;
    opacity: 0;
    position: absolute;
    width: 1.125em;
    z-index: 1;

    &:not(:checked) {
        & + .checkbox__icon svg.checkbox__checked {
            display: none;
        }

        & + .checkbox__icon svg.checkbox__unchecked {
            display: inline-block;
        }
    }

    &:checked {
        & + .checkbox__icon:not([hidden]) {
            .background-icon-base;
            .icon-checkbox-checked(1.125rem, 1.125rem);
        }

        & + .checkbox__icon svg.checkbox__checked {
            display: inline-block;
        }

        & + .checkbox__icon svg.checkbox__unchecked {
            display: none;
        }
    }

    &:focus + .checkbox__icon {
        outline: @ds6-outline-dotted;
    }

    &[disabled] + .checkbox__icon {
        opacity: 0.5;
    }
}

.checkbox__icon {
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;

    // progressive enhancement - over-ride hidden SVG
    &[hidden] {
        display: inline-flex;
    }

    &:not([hidden]) {
        .background-icon-base;
        .icon-checkbox-unchecked(1.125rem, 1.125rem);
    }

    & svg {
        .inline-icon-base(1.125rem, 1.125rem);
    }
}
