@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

.checked-icon-unchecked() {
    .background-icon-image-mixin('checkbox-unchecked', 18px, 18px);
}

.checked-icon-checked() {
    .background-icon-image-mixin('checkbox-checked', 18px, 18px);
}

@checkbox-checked-color: @color-b4;
@checkbox-unchecked-icon-base64-light: @icon-checkbox-unchecked-base64-light;
@checkbox-checked-icon-base64-light: @icon-checkbox-checked-base64-light;

@import "../base/checkbox.less";
