// lesshint spaceAroundComma: { enabled: false }

@import "../../less/ds4/variables.less";

@font-face {
    font-family: @iconfont-name;
    src: url('@{iconfont-url}@{iconfont-name}.eot');
    src: url('@{iconfont-url}@{iconfont-name}.eot?#iefix') format('embedded-opentype'),
    url('@{iconfont-url}@{iconfont-name}.woff') format('woff'),
    url('@{iconfont-url}@{iconfont-name}.ttf') format('truetype'),
    url('@{iconfont-url}@{iconfont-name}.svg#@{iconfont-name}') format('svg');
    font-weight: normal;
    font-style: normal;
}
