@iconfont-url: "https://ir.ebaystatic.com/cr/v/c1/skin/v2.5.5/fonts/";
@iconfont-name: "vq-icon-font";

@font-face {
    font-family: @iconfont-name;
    font-style: normal;
    font-weight: normal;
    src: url('@{iconfont-url}@{iconfont-name}.eot');
    src:
        url('@{iconfont-url}@{iconfont-name}.eot?#iefix') format('embedded-opentype'),
        url('@{iconfont-url}@{iconfont-name}.woff') format('woff'),
        url('@{iconfont-url}@{iconfont-name}.ttf') format('truetype'),
        url('@{iconfont-url}@{iconfont-name}.svg#@{iconfont-name}') format('svg');
}
