@import "../../../src/less/variables/variables.less";

.site-nav {
    display: none;
}

@media screen and (min-width: @_screen-size-SM) {
    .modules-expander {
        display: none;
    }

    .site-nav {
        display: block;
    }
}

@media screen and (min-width: @_screen-size-MD) {
    .site-nav {
        height: 100vh;
        margin-bottom: @spacing-800;
        overflow-y: scroll;
        position: sticky;
        top: 0;
    }

    .site-nav h2 {
        color: var(--color-neutral-5);
        font-size: @font-size-large-1;
        margin-bottom: @spacing-100;
        margin-top: @spacing-200;
        text-transform: uppercase;
    }

    .site-nav h2:first-of-type {
        margin-top: @spacing-400;
    }

    .site-nav ul {
        line-height: 1.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .site-nav ul:last-child {
        padding-bottom: @spacing-400;
    }

    .site-nav a {
        text-decoration: none;
    }

    .site-nav a:visited {
        color: var(--color-foreground-primary);
    }

    .demo-color-primitve li::before,
    .demo-color-token li::before {
        display: inline-block;
        width: 50px;
    }
}

@media screen and (min-width: @_screen-size-XL) {
    #about dl {
        column-count: 2;
    }

    .demo-color-primitive {
        column-count: 4;
    }

    .demo-color-swatches,
    .demo-color-token {
        column-count: 2;
    }
}

@media screen and (min-width: @_screen-size-XL3) {
    .app-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .demo-color-primitive {
        column-count: 5;
    }

    .demo-color-swatches,
    .demo-color-token {
        column-count: 3;
    }
}
