@breakpoint-1: ~"only screen and (min-width: 320px)";
@breakpoint-2: ~"only screen and (min-width: 480px)";
@breakpoint-3: ~"only screen and (min-width: 600px)";
@breakpoint-4: ~"only screen and (min-width: 768px)";
@breakpoint-5: ~"only screen and (min-width: 960px)";
@breakpoint-6: ~"only screen and (min-width: 1280px)";

@media @breakpoint-3 {
    .site-nav {
        height: 100vh;
        margin-bottom: @spacing-800;
        overflow-y: scroll;
        position: sticky;
        top: 0;
    }

    .site-nav h2 {
        color: var(--color-neutral-5);
        font-size: @font-size-large-1;
        margin-bottom: @spacing-100;
        margin-top: @spacing-200;
        text-transform: uppercase;
    }

    .site-nav h2:first-of-type {
        margin-top: @spacing-400;
    }

    .site-nav ul {
        line-height: 1.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .site-nav ul:last-child {
        padding-bottom: @spacing-400;
    }

    .site-nav a {
        text-decoration: none;
    }

    .site-nav a:visited {
        color: var(--color-foreground-accent);
    }

    .demo-color-primitve li::before,
    .demo-color-token li::before {
        display: inline-block;
        width: 50px;
    }
}

@media @breakpoint-4 {
    #about dl {
        column-count: 2;
    }

    .demo-color-primitive {
        column-count: 4;
    }

    .demo-color-swatches,
    .demo-color-token {
        column-count: 2;
    }
}

@media @breakpoint-6 {
    .app-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .demo-color-primitive {
        column-count: 5;
    }

    .demo-color-swatches,
    .demo-color-token {
        column-count: 3;
    }
}
