.demo-color-blue-1::before {
    background-color: @color-blue-1;
}

.demo-color-blue-2::before {
    background-color: @color-blue-2;
}

.demo-color-blue-3::before {
    background-color: @color-blue-3;
}

.demo-color-blue-4::before {
    background-color: @color-blue-4;
}

.demo-color-blue-5::before {
    background-color: @color-blue-5;
}

.demo-color-blue-6::before {
    background-color: @color-blue-6;
}

.demo-color-blue-7::before {
    background-color: @color-blue-7;
}

.demo-color-red-1::before {
    background-color: @color-red-1;
}

.demo-color-red-2::before {
    background-color: @color-red-2;
}

.demo-color-red-3::before {
    background-color: @color-red-3;
}

.demo-color-red-4::before {
    background-color: @color-red-4;
}

.demo-color-red-5::before {
    background-color: @color-red-5;
}

.demo-color-red-6::before {
    background-color: @color-red-6;
}

.demo-color-red-7::before {
    background-color: @color-red-7;
}

.demo-color-green-1::before {
    background-color: @color-green-1;
}

.demo-color-green-2::before {
    background-color: @color-green-2;
}

.demo-color-green-3::before {
    background-color: @color-green-3;
}

.demo-color-green-4::before {
    background-color: @color-green-4;
}

.demo-color-green-5::before {
    background-color: @color-green-5;
}

.demo-color-green-6::before {
    background-color: @color-green-6;
}

.demo-color-green-7::before {
    background-color: @color-green-7;
}

.demo-color-magenta-1::before {
    background-color: @color-magenta-1;
}

.demo-color-magenta-2::before {
    background-color: @color-magenta-2;
}

.demo-color-magenta-3::before {
    background-color: @color-magenta-3;
}

.demo-color-magenta-4::before {
    background-color: @color-magenta-4;
}

.demo-color-magenta-5::before {
    background-color: @color-magenta-5;
}

.demo-color-magenta-6::before {
    background-color: @color-magenta-6;
}

.demo-color-magenta-7::before {
    background-color: @color-magenta-7;
}

.demo-color-orange-1::before {
    background-color: @color-orange-1;
}

.demo-color-orange-2::before {
    background-color: @color-orange-2;
}

.demo-color-orange-3::before {
    background-color: @color-orange-3;
}

.demo-color-orange-4::before {
    background-color: @color-orange-4;
}

.demo-color-orange-5::before {
    background-color: @color-orange-5;
}

.demo-color-orange-6::before {
    background-color: @color-orange-6;
}

.demo-color-orange-7::before {
    background-color: @color-orange-7;
}

.demo-color-yellow-1::before {
    background-color: @color-yellow-1;
}

.demo-color-yellow-2::before {
    background-color: @color-yellow-2;
}

.demo-color-yellow-3::before {
    background-color: @color-yellow-3;
}

.demo-color-yellow-4::before {
    background-color: @color-yellow-4;
}

.demo-color-yellow-5::before {
    background-color: @color-yellow-5;
}

.demo-color-yellow-6::before {
    background-color: @color-yellow-6;
}

.demo-color-yellow-7::before {
    background-color: @color-yellow-7;
}

.demo-color-teal-1::before {
    background-color: @color-teal-1;
}

.demo-color-teal-2::before {
    background-color: @color-teal-2;
}

.demo-color-teal-3::before {
    background-color: @color-teal-3;
}

.demo-color-teal-4::before {
    background-color: @color-teal-4;
}

.demo-color-teal-5::before {
    background-color: @color-teal-5;
}

.demo-color-teal-6::before {
    background-color: @color-teal-6;
}

.demo-color-teal-7::before {
    background-color: @color-teal-7;
}

.demo-color-lime-1::before {
    background-color: @color-lime-1;
}

.demo-color-lime-2::before {
    background-color: @color-lime-2;
}

.demo-color-lime-3::before {
    background-color: @color-lime-3;
}

.demo-color-lime-4::before {
    background-color: @color-lime-4;
}

.demo-color-lime-5::before {
    background-color: @color-lime-5;
}

.demo-color-lime-6::before {
    background-color: @color-lime-6;
}

.demo-color-lime-7::before {
    background-color: @color-lime-7;
}

.demo-color-neutral-0::before {
    background-color: @color-neutral-0;
    outline: 1px dashed @color-neutral-3;
}

.demo-color-neutral-1::before {
    background-color: @color-neutral-1;
}

.demo-color-neutral-2::before {
    background-color: @color-neutral-2;
}

.demo-color-neutral-3::before {
    background-color: @color-neutral-3;
}

.demo-color-neutral-4::before {
    background-color: @color-neutral-4;
}

.demo-color-neutral-5::before {
    background-color: @color-neutral-5;
}

.demo-color-neutral-6::before {
    background-color: @color-neutral-6;
}

.demo-color-neutral-7::before {
    background-color: @color-neutral-7;
}

.demo-color-neutral-8::before {
    background-color: @color-neutral-8;
}
