.demo-color-blue-1::before {
    background-color: var(--color-blue-1);
}

.demo-color-blue-2::before {
    background-color: var(--color-blue-2);
}

.demo-color-blue-3::before {
    background-color: var(--color-blue-3);
}

.demo-color-blue-4::before {
    background-color: var(--color-blue-4);
}

.demo-color-blue-5::before {
    background-color: var(--color-blue-5);
}

.demo-color-blue-6::before {
    background-color: var(--color-blue-6);
}

.demo-color-blue-7::before {
    background-color: var(--color-blue-7);
}

.demo-color-red-1::before {
    background-color: var(--color-red-1);
}

.demo-color-red-2::before {
    background-color: var(--color-red-2);
}

.demo-color-red-3::before {
    background-color: var(--color-red-3);
}

.demo-color-red-4::before {
    background-color: var(--color-red-4);
}

.demo-color-red-5::before {
    background-color: var(--color-red-5);
}

.demo-color-red-6::before {
    background-color: var(--color-red-6);
}

.demo-color-red-7::before {
    background-color: var(--color-red-7);
}

.demo-color-green-1::before {
    background-color: var(--color-green-1);
}

.demo-color-green-2::before {
    background-color: var(--color-green-2);
}

.demo-color-green-3::before {
    background-color: var(--color-green-3);
}

.demo-color-green-4::before {
    background-color: var(--color-green-4);
}

.demo-color-green-5::before {
    background-color: var(--color-green-5);
}

.demo-color-green-6::before {
    background-color: var(--color-green-6);
}

.demo-color-green-7::before {
    background-color: var(--color-green-7);
}

.demo-color-magenta-1::before {
    background-color: var(--color-magenta-1);
}

.demo-color-magenta-2::before {
    background-color: var(--color-magenta-2);
}

.demo-color-magenta-3::before {
    background-color: var(--color-magenta-3);
}

.demo-color-magenta-4::before {
    background-color: var(--color-magenta-4);
}

.demo-color-magenta-5::before {
    background-color: var(--color-magenta-5);
}

.demo-color-magenta-6::before {
    background-color: var(--color-magenta-6);
}

.demo-color-magenta-7::before {
    background-color: var(--color-magenta-7);
}

.demo-color-orange-1::before {
    background-color: var(--color-orange-1);
}

.demo-color-orange-2::before {
    background-color: var(--color-orange-2);
}

.demo-color-orange-3::before {
    background-color: var(--color-orange-3);
}

.demo-color-orange-4::before {
    background-color: var(--color-orange-4);
}

.demo-color-orange-5::before {
    background-color: var(--color-orange-5);
}

.demo-color-orange-6::before {
    background-color: var(--color-orange-6);
}

.demo-color-orange-7::before {
    background-color: var(--color-orange-7);
}

.demo-color-yellow-1::before {
    background-color: var(--color-yellow-1);
}

.demo-color-yellow-2::before {
    background-color: var(--color-yellow-2);
}

.demo-color-yellow-3::before {
    background-color: var(--color-yellow-3);
}

.demo-color-yellow-4::before {
    background-color: var(--color-yellow-4);
}

.demo-color-yellow-5::before {
    background-color: var(--color-yellow-5);
}

.demo-color-yellow-6::before {
    background-color: var(--color-yellow-6);
}

.demo-color-yellow-7::before {
    background-color: var(--color-yellow-7);
}

.demo-color-teal-1::before {
    background-color: var(--color-teal-1);
}

.demo-color-teal-2::before {
    background-color: var(--color-teal-2);
}

.demo-color-teal-3::before {
    background-color: var(--color-teal-3);
}

.demo-color-teal-4::before {
    background-color: var(--color-teal-4);
}

.demo-color-teal-5::before {
    background-color: var(--color-teal-5);
}

.demo-color-teal-6::before {
    background-color: var(--color-teal-6);
}

.demo-color-teal-7::before {
    background-color: var(--color-teal-7);
}

.demo-color-lime-1::before {
    background-color: var(--color-lime-1);
}

.demo-color-lime-2::before {
    background-color: var(--color-lime-2);
}

.demo-color-lime-3::before {
    background-color: var(--color-lime-3);
}

.demo-color-lime-4::before {
    background-color: var(--color-lime-4);
}

.demo-color-lime-5::before {
    background-color: var(--color-lime-5);
}

.demo-color-lime-6::before {
    background-color: var(--color-lime-6);
}

.demo-color-lime-7::before {
    background-color: var(--color-lime-7);
}

.demo-color-neutral-0::before {
    background-color: var(--color-neutral-0);
    outline: 1px dashed var(--color-neutral-3);
}

.demo-color-neutral-1::before {
    background-color: var(--color-neutral-1);
}

.demo-color-neutral-2::before {
    background-color: var(--color-neutral-2);
}

.demo-color-neutral-3::before {
    background-color: var(--color-neutral-3);
}

.demo-color-neutral-4::before {
    background-color: var(--color-neutral-4);
}

.demo-color-neutral-5::before {
    background-color: var(--color-neutral-5);
}

.demo-color-neutral-6::before {
    background-color: var(--color-neutral-6);
}

.demo-color-neutral-7::before {
    background-color: var(--color-neutral-7);
}

.demo-color-neutral-8::before {
    background-color: var(--color-neutral-8);
}

.demo-color-background-primary::before {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-background-secondary::before {
    background-color: var(--color-background-secondary);
}

.demo-color-background-disabled::before {
    background-color: var(--color-background-disabled);
}

.demo-color-background-inverse::before {
    background-color: var(--color-background-inverse);
}

.demo-color-background-attention::before {
    background-color: var(--color-background-attention);
}

.demo-color-background-confirmation::before {
    background-color: var(--color-background-confirmation);
}

.demo-color-background-information::before {
    background-color: var(--color-background-information);
}

.demo-color-background-accent::before {
    background-color: var(--color-background-accent);
}

.demo-color-background-invalid::before {
    background-color: var(--color-background-invalid);
}

.demo-color-foreground-primary::before {
    background-color: var(--color-foreground-primary);
}

.demo-color-foreground-secondary::before {
    background-color: var(--color-foreground-secondary);
}

.demo-color-foreground-disabled::before {
    background-color: var(--color-foreground-disabled);
}

.demo-color-foreground-attention::before {
    background-color: var(--color-foreground-attention);
}

.demo-color-foreground-confirmation::before {
    background-color: var(--color-foreground-confirmation);
}

.demo-color-foreground-information::before {
    background-color: var(--color-foreground-information);
}

.demo-color-foreground-accent::before {
    background-color: var(--color-foreground-accent);
}

.demo-color-foreground-visited::before {
    background-color: var(--color-foreground-visited);
}

.demo-color-foreground-on-primary::before {
    background-color: var(--color-foreground-on-primary);
}

.demo-color-foreground-on-secondary::before {
    background-color: var(--color-foreground-on-secondary);
}

.demo-color-foreground-on-disabled::before {
    background-color: var(--color-foreground-on-disabled);
}

.demo-color-foreground-on-inverse::before {
    background-color: var(--color-foreground-on-inverse);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-attention::before {
    background-color: var(--color-foreground-on-attention);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-confirmation::before {
    background-color: var(--color-foreground-on-confirmation);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-information::before {
    background-color: var(--color-foreground-on-information);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-foreground-on-accent::before {
    background-color: var(--color-foreground-on-accent);
    border: 1px solid var(--color-stroke-default);
}

.demo-color-stroke-default::before {
    background-color: var(--color-stroke-default);
}

.demo-color-stroke-accent::before {
    background-color: var(--color-stroke-accent);
}

.demo-color-stroke-attention::before {
    background-color: var(--color-stroke-attention);
}

.demo-color-stroke-confirmation::before {
    background-color: var(--color-stroke-confirmation);
}

.demo-color-stroke-information::before {
    background-color: var(--color-stroke-information);
}

.demo-color-stroke-disabled::before {
    background-color: var(--color-stroke-disabled);
}

.demo-color-stroke-strong::before {
    background-color: var(--color-stroke-strong);
}

.demo-color-stroke-subtle::before {
    background-color: var(--color-stroke-subtle);
}

.demo-color-state-visited::before {
    background-color: var(--color-state-visited);
}

.demo-color-state-primary-hover::before {
    background-color: var(--color-state-primary-hover);
}

.demo-color-state-primary-active::before {
    background-color: var(--color-state-primary-active);
}

.demo-color-state-secondary-hover::before {
    background-color: var(--color-state-secondary-hover);
}

.demo-color-state-secondary-active::before {
    background-color: var(--color-state-secondary-active);
}

.demo-color-state-inverse-hover::before {
    background-color: var(--color-state-inverse-hover);
}

.demo-color-state-inverse-active::before {
    background-color: var(--color-state-inverse-active);
}

.demo-color-state-accent-hover::before {
    background-color: var(--color-state-accent-hover);
}

.demo-color-state-accent-active::before {
    background-color: var(--color-state-accent-active);
}

.demo-color-state-attention-hover::before {
    background-color: var(--color-state-attention-hover);
}

.demo-color-state-attention-active::before {
    background-color: var(--color-state-attention-active);
}

.demo-color-scrim-image::before {
    background-color: var(--color-scrim-image);
}

.demo-color-scrim-background::before {
    background-color: var(--color-scrim-background);
}
