.highlight {
    background-color: #eee;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

figure.highlight {
    box-sizing: border-box;
    margin: 0;
    width: 100%;

    pre {
        font-family: monospace, monospace; // normalize.css
        font-size: 1em; // normalize.css
        margin: 0;
        padding: 8px 8px 0;
    }

    code {
        white-space: pre-wrap;
    }
}

@media (max-width: 600px) {
    a,
    h2 {
        word-break: break-word;
    }

    .demo,
    .highlight {
        overflow: hidden;
    }
}
