@import "../../../src/less/mixins/utility/utility-mixins.less";
@import "pygments.less";
@import "demo-colors.less";
@import "page-grid.less";

/* stylelint-disable no-descending-specificity */

body {
    margin: 0;
}

header {
    background-color: @color-background-accent;
}

footer {
    margin-top: @spacing-400;
}

main > div > h2 {
    font-size: @font-size-large-1;
    margin-bottom: @spacing-100;
    margin-top: @spacing-300;
    padding-top: @spacing-100;
}

main > div > h3 {
    font-size: @font-size-medium;
}

div.highlight {
    background-color: #eee;
    padding: @spacing-200;
}

span.highlight {
    background-color: #eee;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

    /* fix for long attributes values that don't wrap right */
    .s {
        word-break: break-all;
        word-wrap: break-word;
    }
}

figure.highlight {
    box-sizing: border-box;
    font-size: 12px;
    margin: @spacing-100 0;
    width: 100%;

    pre {
        font-family: monospace;
        margin: 0;
        padding: @spacing-100 @spacing-100 0;
    }

    code {
        white-space: pre-wrap;
    }
}

.skin-graphic {
    box-sizing: border-box;
    display: block;
    margin: @spacing-800 auto 0 auto;
    max-width: 600px;
    width: 100%;
}

.modules-expander {
    background: @color-neutral-2;
    font-size: @font-size-medium;
    padding: 4px @spacing-200;
}

.modules-expander__tip {
    color: @color-neutral-8;
    display: none;
    font-size: @font-size-14;
    font-style: italic;
    margin-left: @spacing-200;
}

.modules-expander__list {
    column-count: 3;
    line-height: 1.75em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.modules-expander[open] {
    padding-bottom: @spacing-100;

    .modules-expander__tip {
        display: inline-block;
    }
}

.modules-expander__list a {
    text-decoration: none;
}

.modules-expander .details__summary {
    padding: @spacing-100 0;
}

.app-bar {
    align-items: center;
    box-sizing: border-box;
    color: @color-neutral-0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    padding: @spacing-200;
    width: 100%;
}

.app-bar__title {
    font-size: @font-size-large-2;
    margin: 0;
}

.app-bar__links {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    list-style-type: none;
    margin-left: @spacing-100;
    padding: 0;
}

.app-bar__links li:not(:last-child)::after {
    content: '';
    margin: 0 @spacing-100;
}

.app-bar__links a {
    color: @color-neutral-0;
    text-decoration: none;
}

.modules-expander__list a:visited {
    color: @color-foreground-accent;
}

.app-bar__links a:hover {
    text-decoration: underline;
}

.app-bar__links a:focus {
    outline: 1px auto @color-neutral-0;
}

.app-bar__links a:visited {
    color: @color-neutral-0;
}

.section-header {
    display: flex;
    margin: @spacing-200 0;
}

.section-header h2 {
    font-size: @font-size-large-1;
    margin: 0;
}

.section-header__version {
    align-self: flex-end;
    background-color: @color-neutral-1;
    margin-left: auto;
    padding: 2px 4px;
}

/* ABOUT SECTION */

#about dl {
    margin: 16px 0 32px;
}

#about dt {
    font-weight: bold;
    margin: 0 0 12px;
}

#about dd {
    margin: 0 0 12px;
}

/* DEMO SECTIONS */

.demo {
    border: 1px dashed @color-neutral-2;
}

.demo__inner {
    margin: @spacing-100;
}

span.demo,
span.demo__inner {
    display: inline-block;
}

/* COLOR SECTION */


.demo-color-primitive {
    column-count: 2;
}

.demo-icon-boxes,
.demo-color-swatches,
.demo-color-primitive,
.demo-color-token {
    list-style: none;
    margin: 0;
    padding: 0;
}

.demo-color-primitive li::before,
.demo-color-token li::before,
.color-swatch {
    border-radius: 4px;
    content: '';
    display: inline-block;
    height: 2em;
    margin-bottom: 4px;
    margin-right: 8px;
    vertical-align: middle;
    width: 50px;
}

.color-swatch {
    background-color: currentColor;
}

/* TYPOGRAPHY SECTION */

.demo-typography {
    list-style: none;
    margin: 0;
    padding: 0;
}

.demo-typography li {
    margin: 1rem 0;
}

/* CAROUSEL SECTION */

.carousel__list--default-demo li {
    background-color: @color-blue-1;
    border-radius: @border-radius-50;
    color: @color-foreground-primary;
    font-size: @font-size-24;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin-right: @spacing-200;
    text-align: center;
    width: 200px;
}

.carousel__list--discrete-demo li {
    background-color: @color-blue-1;
    border-radius: @border-radius-50;
    box-sizing: border-box;
    color: @color-foreground-primary;
    font-size: @font-size-24;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin-right: @spacing-200;
    text-align: center;
    width: calc(25% - 24px);
}

.carousel__list--slideshow-demo li {
    background-color: @color-blue-1;
    border-radius: @border-radius-50;
    color: @color-foreground-primary;
    font-size: @font-size-36;
    font-weight: bold;
    height: 300px;
    line-height: 300px;
    margin-right: @spacing-200;
    text-align: center;
    width: 100%;
}

.carousel__list--discrete-demo li:last-child,
.carousel__list--slideshow-demo li:last-child {
    margin-right: 0;
}

/* UTILITY & LESS SECTION */

.striped-table {
    border: 1px solid @color-stroke-subtle;
    border-spacing: 0;
    width: 100%;
}

.striped-table th {
    text-transform: uppercase;

    &:first-child  {
        width: 175px;
    }
}

.striped-table th,
.striped-table td {
    padding: @spacing-100;
    text-align: left;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: @color-background-secondary;
}

.striped-table td {
    border-top: 1px solid @color-stroke-subtle;
}

/* ICON SECTION */

.demo-icon-boxes li {
    align-items: center;
    border: 1px solid @color-neutral-3;
    display: inline-flex;
    flex-direction: column;
    font-size: @font-size-12;
    height: 100px;
    justify-content: space-around;
    list-style-type: none;
    margin: 4px 2px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

span.icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

/* EEK SECTION */

.eek-table {
    border-collapse: collapse;
    margin: @spacing-300 0;
    width: 100%;
}

.eek-table th,
.eek-table td {
    padding: @spacing-100;
    text-align: left;
}

.eek-table th {
    background-color: @color-neutral-2;
}

.eek-table td {
    border-bottom: 1px solid #eee;
}

/* stylelint-enable no-descending-specificity */

// stylelint-disable-next-line  no-invalid-position-at-import-rule
@import "breakpoints.less";
// stylelint-disable-next-line  no-invalid-position-at-import-rule
@import "color-schemes.less";
