/* Mobile-first implies defaults, there is no "first" breakpoint,
   and we don't need a minimum viewport width to support. */

.content {
    grid-area: ~"1 / 1 / span 1 / span 8";
}

main {
    grid-area: ~"1 / 1 / span 1 / span 8";
}

footer {
    grid-area: ~"2 / 1 / span 1 / span 8";
}


@media screen and (min-width: @screen-size-SM) {
    .site-nav {
        grid-area: ~"1 / 1 / span 1 / span 5";
    }

    .content {
        grid-area: ~"1 / 1 / span 1 / span 16";
    }

    main {
        grid-area: ~"1 / 6 / span 1 / span 11";
    }

    footer {
        grid-area: ~"2 / 1 / span 1 / span 16";
    }
}

@media screen and (min-width: @screen-size-MD) {
    .site-nav {
        grid-area: ~"1 / 1 / span 1 / span 3";
    }

    .content {
        grid-area: ~"1 / 1 / span 1 / span 16";
    }

    main {
        grid-area: ~"1 / 4 / span 1 / span 13";
    }

    footer {
        grid-area: ~"2 / 1 / span 1 / span 16";
    }
}

@media screen and (min-width: @screen-size-XL) {
    .site-nav {
        grid-area: ~"1 / 1 / span 1 / span 2";
    }

    main {
        grid-area: ~"1 / 3 / span 1 / span 14";
    }
}
