.clipped() {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.unclipped() {
    clip: auto;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: auto;
}

.truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customProperty(@property, @token) {
    @{property}: @@token;
    @{property}: var(~"--@{token}", @@token);
}

.customProperty(@property, @token1, @token2) {
    @{property}: @@token1 @@token2;
    @{property}: var(~"--@{token1}", @@token1) var(~"--@{token2}", @@token2);
}

.customColorProperty(@token) {
    .customProperty(color, @token);
}

.customBackgroundColorProperty(@token) {
    .customProperty(background-color, @token);
}

.customBorderColorProperty(@token) {
    .customProperty(border-color, @token);
}

.customBorderBottomColorProperty(@token) {
    .customProperty(border-bottom-color, @token);
}

.customBorderTopColorProperty(@token) {
    .customProperty(border-top-color, @token);
}

.customBorderRadiusProperty(@token) {
    .customProperty(border-radius, @token);
}

.customBorderTopLeftRadiusProperty(@token) {
    .customProperty(border-top-left-radius, @token);
}

.customBorderTopRightRadiusProperty(@token) {
    .customProperty(border-top-right-radius, @token);
}

.customBorderBottomLeftRadiusProperty(@token) {
    .customProperty(border-bottom-left-radius, @token);
}

.customBorderBottomRightRadiusProperty(@token) {
    .customProperty(border-bottom-right-radius, @token);
}

.customBoxShadowProperty(@token) {
    .customProperty(box-shadow, @token);
}

.customFillProperty(@token) {
    .customProperty(fill, @token);
}

.customOutlineColorProperty(@token) {
    .customProperty(outline-color, @token);
}

.customPaddingProperty(@token1, @token2) {
    .customProperty(padding, @token1, @token2);
}

.imageTreatment() {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
