.clipped() {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.unclipped() {
    clip: auto;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: auto;
}

.truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customProperty(@property, @token) {
    @{property}: @@token;
    @{property}: var(~"--@{token}", @@token);
}

.customColorProperty(@token) {
    .customProperty(color, @token);
}

.customBackgroundColorProperty(@token) {
    .customProperty(background-color, @token);
}

.customBorderColorProperty(@token) {
    .customProperty(border-color, @token);
}

.customBorderBottomColorProperty(@token) {
    .customProperty(border-bottom-color, @token);
}

.customBorderRadiusProperty(@token) {
    .customProperty(border-radius, @token);
}

.customFillProperty(@token) {
    .customProperty(fill, @token);
}
