.list-card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 48px;
    padding: var(--spacing-100, 8px) var(--spacing-200, 16px);
    align-items: center;
    gap: var(--spacing-100, 8px);
    border-radius: var(--border-radius-50, 8px);
    background: var(--color-background-secondary, #f7f7f7);

    &__title {
        flex-grow: 1;
    }

    &__spinner {
        padding: 0 var(--spacing-100, 16px);
    }
}
