@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "../base/dropdown.less";

.menu button.expand-btn--borderless,
.fake-menu button.expand-btn--borderless {
    background-color: transparent;
}

.menu__items[role="menu"],
.combobox__options[role="listbox"],
.fake-menu__items {
    background-color: @ds4-color-core-white;
    border-color: @ds4-color-core-gray-silver;
}

div.menu__item[role^="menuitem"],
div.combobox__option[role^="option"],
a.fake-menu__item,
button.fake-menu__item {
    background-color: @ds4-color-core-white;
    border: none;

    &:active {
        .menu__status,
        .combobox__status,
        .fake-menu__status {
            color: @ds4-color-core-gray-silver;
        }
    }
}

// anchor tag specific
a.fake-menu__item {
    color: @ds4-color-core-gray-dim;
}

// button tag specific
button.fake-menu__item {
    background-color: @ds4-color-core-white;
    color: @ds4-color-core-gray-dim;
}

.menu__status,
.combobox__status,
.fake-menu__status {
    color: @ds4-color-core-gray-dim;
}

span.menu__status,
span.combobox__status,
span.fake-menu__status {
    .icon-check(9px, 9px);
}

@media screen and (-ms-high-contrast: white-on-black) {
    span.menu__status,
    span.combobox__status,
    span.fake-menu__status {
        background-image: url('data:image/svg+xml;base64,@{ds4-icon-check-base64-light}');
    }
}
