@import "../../less/ds4/variables.less";
@import "../base/label.less";

label.floating-label__label {
    color: @ds4-color-core-gray-dim;

    &--inline {
        font-size: @ds4-font-size-16;
    }

    &--disabled {
        color: @ds4-color-core-gray-davys;
        left: 4px;
    }
}
