@import "../../less/ds4/variables.less";

@label-floating-label-color: @color-core-gray-dim;
@label-floating-label-inline-font-size: @font-size-16;
@label-floating-label-disabled-color: @color-core-gray-davys;
@label-floating-label-disabled-left: 4px;

@import "../base/label.less";
