@import "../../mixins/utility/utility-mixins.less";

@combobox-font-size: @font-size-14;
@combobox-large-font-size: @font-size-form-control-large;
@combobox-height: 40px;
@combobox-padding: 0 32px 0 16px;
@combobox-border-color: @color-form-control-border;
@combobox-foreground-color: @color-text-default;
@combobox-readonly-selection-background: @color-background-default;
@combobox-disabled-background-color: @color-form-control-disabled-background;
@combobox-disabled-border-color: @color-disabled;
@combobox-disabled-foreground-color: @color-disabled;
@combobox-invalid-foreground-color: @color-status-attention;
@combobox-focus-border-color: @color-action-primary;
@combobox-focus-background-color: @color-background-default;
@combobox-icon-color: @color-text-default;

.combobox {
    box-sizing: border-box;
    line-height: normal;
    position: relative;
}

span.combobox {
    display: inline-block;
    vertical-align: bottom;
}

.combobox__value {
    .truncate();

    flex: 1 0 auto;
}

.combobox__options--fix-width[role="listbox"] {
    width: 100%;
}

.combobox__options--reverse[role="listbox"] {
    right: 0;
}

.combobox__listbox {
    .dropdown-base();
}

.combobox__option[role^="option"] {
    .listbox-option-base();
    .dropdown-item-border-radius();

    cursor: default; // needed to override text cursor
    position: relative; // needed for icon to show properly

    &:not(:last-child) {
        margin-bottom: 1px;
    }

    &:hover {
        .background-color(listbox-option-hover-background-color);
    }

    svg.icon {
        .listbox-option-status();
    }
}

.combobox__option--active[role^="option"] {
    .background-color(listbox-option-hover-background-color);

    svg.icon {
        opacity: 1;
    }
}

.combobox__control {
    button.icon-btn {
        padding: 0;
        position: absolute;
        right: 0;

        svg {
            left: 0;
            margin: 0;
            right: 0;
        }
    }
}

.combobox--expanded .combobox__listbox {
    display: block;
}

.combobox--expanded svg.icon--dropdown {
    transform: rotate(180deg);
}

.combobox__control > svg.icon--dropdown {
    .color(combobox-icon-color);
    margin-left: 8px;
    pointer-events: none;
    position: absolute;
    right: 17px; // +1 px for the border on the input box
    top: calc(50% - 4px); // 4px is half the height of dropdown icon size
}

.combobox__control > input {
    appearance: none;
    .background-color(combobox-background-color);
    .border-color(combobox-border-color);
    .border-radius(combobox-border-radius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    .color(combobox-foreground-color);
    font-family: inherit;
    font-size: inherit;
    height: @combobox-height;
    margin-left: 0;
    margin-right: 0;
    padding: @combobox-padding;

    &[readonly] {
        .color(combobox-foreground-color);
        // fixes the cursor in firefox (1 of 2)
        cursor: default;
        // fixes the cursor in firefox (2 of 2)
        text-shadow: 0 0 0 inherit;
        -webkit-user-select: none; // Fix to get rid of unintended cursor in iOS mobile

        &::-moz-selection,
        &::selection {
            background: @combobox-readonly-selection-background;
        }
    }

    &[disabled],
    &[aria-disabled="true"] {
        .border-color(combobox-disabled-border-color);
        .color(combobox-disabled-foreground-color);

        &[readonly] {
            text-shadow: 0 0 0 @combobox-disabled-foreground-color;
        }

        & + svg {
            opacity: 0.5;
        }
    }

    &[aria-invalid="true"] {
        .border-color(combobox-invalid-foreground-color);
    }

    &::-ms-clear {
        display: none;
    }
}

.combobox__control--borderless > input {
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
}

.combobox__control > input:focus {
    .background-color(combobox-focus-background-color);
    .border-color(combobox-focus-border-color);
    outline: 0;
}

.combobox__control--borderless > input:focus {
    border-color: transparent;
    outline: none;
}

.combobox--fluid {
    width: 100%;

    .combobox__control > input {
        width: 100%;
    }
}

.combobox--large .combobox__control > input {
    font-size: @combobox-large-font-size;
    height: @combobox-height + 8px;
}

.combobox__control > input[disabled] {
    .background-color(combobox-disabled-background-color);
}

.combobox__option--active[role="option"] {
    .color(listbox-option-hover-foreground-color);
    font-weight: @listbox-option-active-font-weight;
}

@media all and (-ms-high-contrast: active), all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    .combobox__value {
        min-width: 100%;
    }
}

// RTL
[dir="rtl"] {
    .combobox__control > input {
        padding: 0 16px 0 32px;
    }

    .combobox__control > svg.icon,
    .combobox__control > button {
        margin-left: 0;
        margin-right: 8px;
        right: unset;
    }

    .combobox__control > svg.icon {
        left: 16px;
        margin-top: 1.3px;
    }

    .combobox__control > button {
        left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .combobox {
        --combobox-background-color: @color-grey2-dark-mode;
        --combobox-foreground-color: @color-grey7-dark-mode;
        --combobox-border-color: @color-grey4-dark-mode;
        --combobox-focus-border-color: @color-b4-dark-mode;
        --combobox-focus-background-color: @color-black-dark-mode;
        --combobox-disabled-background-color: @color-grey2-dark-mode;
        --combobox-disabled-foreground-color: @color-grey4-dark-mode;
        --combobox-disabled-border-color: @color-grey4-dark-mode;
        --combobox-disabled-placeholder-color: @color-grey4-dark-mode;
        --combobox-readonly-foreground-color: @color-grey4-dark-mode;
        --combobox-focus-placeholder-color: @color-grey6-dark-mode;
        --combobox-invalid-foreground-color: @color-r4-dark-mode;
        --combobox-invalid-background-color: @color-textbox-invalid-dark-mode;
        --combobox-icon-color: @color-grey6-dark-mode;
        --dropdown-background-color: @color-black-dark-mode;
        --listbox-option-foreground-color: @color-text-default-dark-mode;
        --listbox-option-border-color: @color-black-dark-mode;
        --listbox-option-hover-foreground-color: @color-text-default;
    }
}
