:root {
    --ebay-skin-toast-spacing: 24px;
}

.toast__mobile {
    --ebay-skin-toast-spacing: 16px;
}

@dialog-large-gutter-size: var(--ebay-skin-toast-spacing);

.toast {
    background-color: @toast-box-color;
    bottom: 16px;
    color: @white-color;
    left: 16px;
    max-height: 40vh;
    max-width: 480px;
    min-width: 320px;
    position: fixed;
    z-index: 1;
}

.toast.toast__mobile {
    bottom: 0;
    left: 0;
    width: 100vw;
}

.toast--transition {
    display: block;
    transform: translateY(110%);
    transition:
        opacity 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s,
        transform 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s;
}

.toast--hide {
    opacity: 0;
    transform: translateY(110%);
}

.toast--show {
    opacity: 1;
    transform: translateY(0);
}

.toast__header {
    .dialog-header-content-large();

    display: flex;
    justify-content: space-between;
}

.toast__close {
    background-color: @blue-color;
    border: 0;
    color: @white-color;
    cursor: pointer;
    margin: 0;
}

.toast__main {
    margin: 0;
    padding: var(--ebay-skin-toast-spacing);
}

.toast__footer {
    display: flex;

    .dialog-footer-content-large();

    button.btn--secondary {
        background-color: @white-color;
        color: @blue-color;
    }
}
