@import "../variables/variables.less";
@import "../mixins/public/skeleton-mixins.less";

@skeleton-text-border-radius: 3px;
@skeleton-text-height-small: 16px;
@skeleton-text-height-large: 24px;

.skeleton-avatar {
    .skeleton-base(50%, var(--skeleton-height), var(--skeleton-height));
}

.skeleton-button {
    .skeleton-base(20px, 40px);
}

.skeleton-button--small {
    .skeleton-base(16px, 32px);
}

.skeleton-button--large {
    .skeleton-base(24px, 48px);
}

.skeleton-text,
.skeleton-text--small {
    .skeleton-base(@skeleton-text-border-radius, @skeleton-text-height-small);
}

.skeleton-text::after,
.skeleton-text--small::after {
    height: @skeleton-text-height-small;
    margin-top: calc(@skeleton-text-height-small + var(--spacing-100));
}

.skeleton-text--large {
    .skeleton-base(@skeleton-text-border-radius, @skeleton-text-height-large);
}

.skeleton-text--large::after {
    height: @skeleton-text-height-large;
    margin-top: calc(@skeleton-text-height-large + var(--spacing-100));
}

.skeleton-text--multiline {
    margin-bottom: var(--spacing-300);
    position: relative;
    width: calc(100% - var(--spacing-300));
}

.skeleton-text--multiline::after {
    background: inherit;
    content: "";
    position: absolute;
    width: calc(100% - var(--spacing-700));
}

.skeleton-text--large.skeleton-text--multiline {
    margin-bottom: var(--spacing-400);
}

.skeleton-form {
    .skeleton-base(8px, 48px);
}

// TODO: Use aspect-ratio : 1 / 1 to set as square once browser support for safari > 15
.skeleton-image {
    .skeleton-base(8px, 100%);
    container-name: skeleton-image;
    container-type: inline-size;
    max-width: initial;
}

.skeleton-image::after {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

span.skeleton-avatar,
span.skeleton-button,
span.skeleton-text,
span.skeleton-image,
span.skeleton-form {
    display: inline-block;
}

span.skeleton-avatar + span,
span.skeleton-button + span,
span.skeleton-text + span,
span.skeleton-image + span,
span.skeleton-form + span {
    margin-inline-start: var(--spacing-100);
}

div.skeleton-avatar,
div.skeleton-button,
div.skeleton-text,
div.skeleton-image,
div.skeleton-form {
    margin-block-start: var(--spacing-150);
}

.skeleton-tile {
    max-width: var(--skeleton-tile-width-max);
    min-width: var(--skeleton-tile-width-min);
}

.skeleton-tile .skeleton-text--small,
.skeleton-tile .skeleton-text--large {
    width: calc(100% - var(--spacing-300));
}

.skeleton-tile .skeleton-image {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes loading-frames {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 45% 0%;
        }
        100% {
            background-position: 90% 0%;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .skeleton-avatar,
    .skeleton-button,
    .skeleton-text,
    .skeleton-image,
    .skeleton-form {
        /*  setting animation-iteration-count to 6 (5000/833ms)    */
        /*  so it does not exceed 5s per WCAG 2.2.2    */
        animation:
            fade-in 500ms forwards,
            loading-frames 833ms 667ms linear 6;
        animation-fill-mode: both;
        background-size: 200%;
    }
}

.skeleton-avatar--elevated,
.skeleton-button--elevated,
.skeleton-text--elevated,
.skeleton-image--elevated,
.skeleton-form--elevated {
    background: var(--color-loading-fill-elevated);
}

@media screen and (max-width: @_screen-size-SM) {
    .skeleton-avatar,
    .skeleton-button,
    .skeleton-text,
    .skeleton-image,
    .skeleton-form {
        background: var(--color-loading-shimmer);
    }
    .skeleton-avatar--elevated,
    .skeleton-button--elevated,
    .skeleton-text--elevated,
    .skeleton-image--elevated,
    .skeleton-form--elevated {
        background: var(--color-loading-shimmer-elevated);
    }
}

.skeleton-avatar--purple,
.skeleton-button--purple,
.skeleton-text--purple,
.skeleton-image--purple,
.skeleton-form--purple {
    background: var(--color-ai-gradient-purple-subtle);
}

.skeleton-avatar--green,
.skeleton-button--green,
.skeleton-text--green,
.skeleton-image--green,
.skeleton-form--green {
    background: var(--color-ai-gradient-green-subtle);
}

.skeleton-avatar--blue,
.skeleton-button--blue,
.skeleton-text--blue,
.skeleton-image--blue,
.skeleton-form--blue {
    background: var(--color-ai-gradient-blue-subtle);
}

@container skeleton-image (width > 79px) {
    .skeleton-image {
        border-radius: 16px;
    }
}

[dir="rtl"] {
    .skeleton-avatar,
    .skeleton-button,
    .skeleton-text,
    .skeleton-image,
    .skeleton-form {
        animation-direction: normal, reverse;
    }

    .skeleton-text--multiline::after {
        left: var(--spacing-700);
    }
}
