@import "../variables/variables.less";
@import "../mixins/public/skeleton-mixins.less";

@skeleton-text-border-radius: 3px;
@skeleton-text-height-small: 16px;
@skeleton-text-height-large: 24px;

.skeleton {
    container-name: skeleton-container;
    container-type: inline-size;
}

.skeleton__avatar {
    .skeleton-base(50%, var(--skeleton-height), var(--skeleton-height));
}

.skeleton__button {
    .skeleton-base(20px, 40px);
}

.skeleton__button--small {
    .skeleton-base(16px, 32px);
}

.skeleton__button--large {
    .skeleton-base(24px, 48px);
}

.skeleton__text {
    .skeleton-base(@skeleton-text-border-radius, @skeleton-text-height-small, calc(100% - var(--spacing-300)));
}

.skeleton__text::after {
    height: @skeleton-text-height-small;
    margin-top: calc(@skeleton-text-height-small + var(--spacing-100));
}

.skeleton__text--large {
    .skeleton-base(@skeleton-text-border-radius, @skeleton-text-height-large, calc(100% - var(--spacing-300)));
}

.skeleton__text--large::after {
    height: @skeleton-text-height-large;
    margin-top: calc(@skeleton-text-height-large + var(--spacing-100));
}

.skeleton__text--multiline {
    margin-bottom: var(--spacing-300);
    position: relative;
    width: calc(100% - var(--spacing-300));
}

.skeleton__text--multiline::after {
    background: inherit;
    content: "";
    position: absolute;
    width: calc(100% - var(--spacing-700));
}

.skeleton__text--large.skeleton__text--multiline {
    margin-bottom: var(--spacing-400);
}

.skeleton__textbox {
    .skeleton-base(8px, 48px);
}

.skeleton__image {
    .skeleton-base(8px, 100%);
    max-width: initial;
}

// TODO: Use aspect-ratio : 1 / 1 to set as square when we have browser support, till then
// using pseudo element to set as square
.skeleton__image::after {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

span.skeleton__avatar,
span.skeleton__button,
span.skeleton__text,
span.skeleton__image,
span.skeleton__textbox {
    display: inline-block;
}

span.skeleton__avatar + span,
span.skeleton__button + span,
span.skeleton__text + span,
span.skeleton__image + span,
span.skeleton__textbox + span {
    margin-inline-start: var(--spacing-100);
}

div.skeleton__avatar,
div.skeleton__button,
div.skeleton__text,
div.skeleton__image,
div.skeleton__textbox {
    margin-block-start: var(--spacing-150);
}

.skeleton--elevated {
    --skeleton-background: var(--color-loading-fill-elevated);
}

@media screen and (max-width: @_screen-size-SM) {
    .skeleton {
        --skeleton-background: var(--color-loading-shimmer);
    }
    .skeleton--elevated {
        --skeleton-background: var(--color-loading-shimmer-elevated);
    }
}

.skeleton--purple {
    --skeleton-background: var(--color-loading-ai-gradient-purple-subtle);
}

.skeleton--green {
    --skeleton-background: var(--color-loading-ai-gradient-green-subtle);
}

.skeleton--blue {
    --skeleton-background: var(--color-loading-ai-gradient-blue-subtle);
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes loading-frames {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 45% 0%;
        }
        100% {
            background-position: 90% 0%;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .skeleton__avatar,
    .skeleton__button,
    .skeleton__text,
    .skeleton__image,
    .skeleton__textbox {
        /*  setting animation-iteration-count to 6 (5000/833ms)    */
        /*  so it does not exceed 5s per WCAG 2.2.2    */
        animation:
            fade-in 500ms forwards,
            loading-frames 833ms 667ms linear 6;
        animation-fill-mode: both;
        background-size: 200%;
    }
}

// A progressive enhancement to make the skeleton image rounded
@container skeleton-container (width > 79px) {
    .skeleton__image {
        border-radius: 16px;
    }
}

[dir="rtl"] {
    .skeleton__avatar,
    .skeleton__button,
    .skeleton__text,
    .skeleton__image,
    .skeleton__textbox {
        animation-direction: normal, reverse;
    }

    .skeleton__text--multiline::after {
        left: var(--spacing-700);
    }
}
