<!doctype html>
<html lang="en">
    <head>
        <title>Page Grid Templates</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <style>
        iframe {
            border: 1px solid #000;
            width: 320px;
            height: 480px;
            min-height: 480px;
            resize: both;
            overflow: auto;
        }

        .template--item {
            display: inline-block;
            margin-right: 20px;
        }

        .template--item_head {
            display: flex;
            align-items: baseline;
        }
        .template--item_head_actions {
            margin-left: auto;
        }
    </style>

    </head>
    <body>
        <header>
            <div class="page-grid-container">
                <div class="page-grid">
                    <div class="app-bar">
                        <h1 class="app-bar__title">Page Grid Templates</h1>
                        <ul class="app-bar__links">
                            <li><a href="../">< Back to Skin Site</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-grid-container">
            <div class="page-grid">
                <div class="content">

        <${input.renderBody}/>
                </div>
                <footer>
                    <hr />
                        <p>Copyright &copy; ${(new Date()).getFullYear()} eBay, Inc. All rights reserved.</p>
                </footer>
            </div>
        </div>
    </body>
</html>
