.pagination {
    font-size: 0;
    min-width: 400px;
    a {
        font-size: 16px;
    }
}

.pagination__items {
    display: inline;
    list-style-type: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    > li:not([hidden]) {
        display: inline-block;
        margin-right: 8px;
        width: 48px;
    }
}

.pagination__next,
.pagination__previous {
    display: inline-block;
    fill: @ds6-color-text-default;
    line-height: 48px;
    margin-right: 8px;
    width: 48px;
    text-align: center;
    vertical-align: middle;

    &:visited {
        fill: @ds6-color-text-default;
    }

    &[aria-disabled="true"] {
        fill: @ds6-color-g205-gray;
    }

    &:not([aria-disabled="true"]) {
        &:focus,
        &:hover {
            fill: @ds6-color-link-default;
        }
    }

    // Common styles for background icon
    span {
        .background-icon-base;
        height: 17px;
        width: 17px;
    }
}

.pagination__next {
    span {
        .icon-arrow-right(17px, 17px);
    }

    &:focus,
    &:hover {
        span {
            .icon-arrow-right-focus(17px, 17px);
        }
    }

    &[aria-disabled="true"] {
        span {
            .icon-arrow-right-disabled(17px, 17px);
        }
    }
}

.pagination__previous {
    span {
        .icon-arrow-left(17px, 17px);
    }

    &:focus,
    &:hover {
        span {
            .icon-arrow-left-focus(17px, 17px);
        }
    }

    &[aria-disabled="true"] {
        span {
            .icon-arrow-left-disabled(17px, 17px);
        }
    }
}

.pagination__item {
    color: @ds6-color-text-default;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 48px;
    padding: 0 19px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:visited {
        color: @ds6-color-text-default;
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
        text-decoration: none;
    }
}

.pagination__item[aria-current="page"] {
    border: 5px solid @ds6-color-link-default;
    color: @ds6-color-link-default;
    line-height: 38px;
    padding: 0 16px;
}

.pagination--fluid {
    align-items: center;
    display: flex;

    .pagination__items {
        display: flex;
        height: 48px;
        flex-wrap: wrap;
        max-width: 512px;
        min-width: 288px;
        overflow: hidden;
        > li {
            flex: 1 0 48px;
        }
    }
}
