
.pagination {
    align-items: center;
    display: flex;
    font-family: inherit;
    font-size: 16px;
    margin: 8px 0;
}

.pagination__items {
    display: flex;
    flex-wrap: wrap;
    height: 48px;
    list-style-type: none;
    margin: 0;
    max-width: 512px;
    min-width: 288px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.pagination__next,
.pagination__previous {
    color: @ds6-color-link-default;
    line-height: 48px;
    width: 48px;

    &:visited {
        color: @ds6-color-text-default;
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
    }

    &[aria-disabled="true"] {
        color: @ds6-color-g205-gray;
    }

    &:not([aria-disabled="true"]) {
        &:focus,
        &:hover {
            color: @ds6-color-link-default;
        }
    }
}

.pagination__item {
    color: @ds6-color-text-default;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 48px;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

     &:visited {
         color: @ds6-color-text-default;
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
        text-decoration: none;
    }


}

.pagination__item[aria-current="page"] {
    border: 5px solid @ds6-color-link-default;
    color: @ds6-color-link-default;
    line-height: 38px;
    padding: 0 17px;
}

.pagination__item__container {
    width: 48px;
    flex: 1 0 48px;
    margin-right: 8px;

    &:first-child {
        margin-left: 8px;
    }

}
