@import "../variables/variables";
@import "../mixins/private/token-mixins";

.signal {
    border: 1px solid;
    border-radius: var(--border-radius-100);
    box-sizing: border-box;
    display: inline-block;
    font-size: var(--font-size-smallest);
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: var(--spacing-150);
    margin: var(--spacing-100) 0;
    padding: 2px var(--spacing-100) 1px;
    text-align: center;
    text-transform: uppercase;
}

.signal--trustworthy {
    @include color-token(signal-trustworthy-color, color-foreground-accent);
}

.signal--recent {
    @include color-token(signal-recent-color, color-foreground-confirmation);
}

.signal--time-sensitive {
    @include color-token(
        signal-time-sensitive-color,
        color-foreground-attention
    );
}

.signal--neutral {
    @include color-token(signal-neutral-color, color-foreground-secondary);
}
