@import "../../less/variables-common.less";
@import "../../less/mixins-common.less";
@import "../../mixins/button/base/button-mixins.less";

button.btn,
a.fake-btn {
    .btn-base;
}

a.fake-btn:visited {
    .btn-fake-visited;
}

.btn__icon,
.fake-btn__icon {
    .btn-icon-base;
}

button.btn--fluid,
a.fake-btn--fluid {
    .btn-fluid-base;
}

.btn__cell,
.fake-btn__cell {
    .btn-cell-base;
    .btn-cell-content-center;
}

svg.btn__icon,
svg.fake-btn__icon {
    .btn-icon-svg-base;
}

.btn__cell--fixed-height span.btn__icon,
.fake-btn__cell--fixed-height span.fake-btn__icon,
.btn__cell--fixed-height svg.icon,
.fake-btn__cell--fixed-height svg.icon {
    .btn-fixed-height-icon-alignment;
}

.btn__cell--fixed-height svg.icon,
.fake-btn__cell--fixed-height svg.icon {
    .btn-fixed-height-icon-dimensions;
}

button.btn.btn--pill,
button.expand-btn.expand-btn--pill,
a.cta-btn.cta-btn--pill,
a.fake-btn.fake-btn--pill {
    align-items: center;
    border-radius: 24px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
    max-width: 180px;
    min-width: 80px;
    padding: 4px 24px;
}
