@import "../../less/variables-common.less";
@import "../../less/mixins-common.less";
@import "../../mixins/button/base/button-mixins.less";

button.pill,
a.fake-pill {
    .btn-base;

    align-items: center;
    background-color: transparent;
    border-color: inherit;
    border-radius: 24px;
    color: inherit;
    display: inline-flex;
    flex-direction: column;
    height: 48px;
    justify-content: center;
    max-width: 180px;
    min-width: 80px;
    padding: 4px 24px;
}

a.fake-pill:visited {
    .btn-fake-visited;
}

.pill__icon,
.fake-pill__icon {
    .btn-icon-base;
}

button.pill--fluid,
a.fake-pill--fluid {
    .btn-fluid-base;
}

.pill__cell,
.fake-pill__cell {
    .btn-cell-base;
    .btn-cell-content-center;
}

svg.pill__icon,
svg.fake-pill__icon {
    .btn-icon-svg-base;
}

.pill__cell--fixed-height span.pill__icon,
.fake-pill__cell--fixed-height span.fake-pill__icon,
.pill__cell--fixed-height svg.icon,
.fake-pill__cell--fixed-height svg.icon {
    .btn-fixed-height-icon-alignment;
}

.pill__cell--fixed-height svg.icon,
.fake-pill__cell--fixed-height svg.icon {
    .btn-fixed-height-icon-dimensions;
}

button.pill--regular,
a.fake-pill--regular {
    background-color: @button-regular-background-color;
    border-color: @button-regular-border-color;
    color: @button-regular-color;

    &:active {
        border-color: @button-regular-active-color;
    }
}

a.fake-pill--regular:visited {
    color: @button-regular-fake-visited-color;
}

button.pill--regular[disabled],
button.pill--regular[aria-disabled="true"] {
    background-color: @button-regular-disabled-background-color;
    border-color: @button-regular-disabled-border-color;
    color: @button-regular-disabled-color;

    svg {
        color: @button-regular-disabled-svg-color;
    }

    &:hover,
    &:focus {
        background-color: @button-regular-disabled-hover-background-color;
        border-color: @button-regular-disabled-hover-border-color;
    }
}

a.fake-pill--regular:not([href]),
a.fake-pill--regular[aria-disabled="true"] {
    background-color: @button-regular-partially-disabled-background-color;
    color: @button-regular-partially-disabled-color;
}

button.pill--primary,
button.pill--selected,
a.fake-pill--primary,
a.fake-pill--selected {
    background-color: @button-primary-background-color;
    border-color: @button-primary-border-color;
    color: @button-primary-color;
}

a.fake-pill--primary:visited,
a.fake-pill--selected:visited {
    color: @button-primary-fake-visited-color;
}

button.pill--primary[disabled],
button.pill--primary[aria-disabled="true"],
button.pill--selected[disabled],
button.pill--selected[aria-disabled="true"] {
    background-color: @button-primary-disabled-background-color;
    border-color: @button-primary-disabled-border-color;
    color: @button-primary-disabled-color;

    svg {
        color: @button-primary-disabled-svg-color;
    }

    &:hover,
    &:focus {
        background-color: @button-primary-disabled-hover-background-color;
        border-color: @button-primary-disabled-hover-border-color;
    }
}

a.fake-pill--primary:not([href]),
a.fake-pill--primary[aria-disabled="true"],
a.fake-pill--selected:not([href]),
a.fake-pill--selected[aria-disabled="true"] {
    background-color: @button-primary-partially-disabled-background-color;
    border-color: @button-primary-partially-disabled-border-color;
    color: @button-primary-partially-disabled-color;
}

button.pill--secondary,
a.fake-pill--secondary,
button.pill--unselected,
a.fake-pill--unselected {
    background-color: @button-secondary-background-color;
    border-color: @button-secondary-border-color;
    color: @button-secondary-color;
}

a.fake-pill--secondary:visited,
a.fake-pill--unselected:visited {
    color: @button-secondary-fake-visited-color;
}

button.pill--secondary[disabled],
button.pill--secondary[aria-disabled="true"],
button.pill--unselected[disabled],
button.pill--unselected[aria-disabled="true"] {
    background-color: @button-secondary-disabled-background-color;
    border-color: @button-secondary-disabled-border-color;
    color: @button-secondary-disabled-color;

    svg {
        color: @button-secondary-disabled-svg-color;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: @button-secondary-disabled-hover-background-color;
        border-color: @button-secondary-disabled-hover-border-color;
    }
}

a.fake-pill--secondary:not([href]),
a.fake-pill--secondary[aria-disabled="true"],
a.fake-pill--unselected:not([href]),
a.fake-pill--unselected[aria-disabled="true"] {
    border-color: @button-secondary-partially-disabled-border-color;
    color: @button-secondary-partially-disabled-color;
}
