@import "variables-common.less";

// Utility
//-----------------------------

.clipped() {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.unclipped() {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: auto;
}

.truncate() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// SVG
//-----------------------------

.svg-icon-base() {
    display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.svg-icon-size() {
    height: 1em;
    width: 1em;
}

.svg-icon-default() {
    .svg-icon-base;
    .svg-icon-size;
}
