@import "../base/primitives.less";

@color-neutral-0: #fff;
@color-neutral-1: #eee;
@color-neutral-2: #ddd;
@color-neutral-3: #ccc;
@color-neutral-4: #999;
@color-neutral-5: #707070;
@color-neutral-6: #333;
@color-neutral-7: #111820;
@color-neutral-8: #000;

@color-orange-1: fade(@color-orange-4, 20%);
@color-orange-2: fade(@color-orange-4, 40%);
@color-orange-3: fade(@color-orange-4, 60%);
@color-orange-4: #f18e0c;
@color-orange-5: #f18e0c; // for token-system compatibility
@color-orange-6: #d36c07;
@color-orange-7: #d36c07; // for token-system compatibility

@color-red-1: fade(@color-red-4, 20%);
@color-red-2: fade(@color-red-4, 40%);
@color-red-3: fade(@color-red-4, 60%);
@color-red-4: #dd1e31;
@color-red-5: #dd1e31; // for token-system compatibility
@color-red-6: #ad1f3a;
@color-red-7: #ad1f3a; // for token-system compatibility

@color-magenta-1: fade(@color-magenta-4, 20%);
@color-magenta-2: fade(@color-magenta-4, 40%);
@color-magenta-3: fade(@color-magenta-4, 60%);
@color-magenta-4: #6a29b9;
@color-magenta-5: #6a29b9; // for token-system compatibility
@color-magenta-6: #3d1c7c;
@color-magenta-7: #3d1c7c; // for token-system compatibility

@color-blue-1: fade(@color-blue-4, 20%);
@color-blue-2: fade(@color-blue-4, 40%);
@color-blue-3: fade(@color-blue-4, 60%);
@color-blue-4: #0654ba;
@color-blue-5: #0654ba; // for token-system compatibility
@color-blue-6: #00489f;
@color-blue-7: #00489f; // for token-system compatibility

@color-green-1: fade(@color-green-4, 20%);
@color-green-2: fade(@color-green-4, 40%);
@color-green-3: fade(@color-green-4, 60%);
@color-green-4: #5ba71b;
@color-green-5: #5ba71b; // for token-system compatibility
@color-green-6: #457016;
@color-green-7: #457016; // for token-system compatibility
