@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

@import "../base/bubble.less";

button.bubble__close {
    border: 0;
    color: @ds6-color-black;
    height: 32px;
    margin-top: -6px;
    padding: 0;
    white-space: nowrap;
    width: 32px;

    span {
        .background-icon-base;
        .icon-close(16px, 16px);
    }

    &:focus,
    &:hover {
        color: @ds6-color-link-default;
    }
}
