@import "../../mixins/button/ds6/button-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../base/success-message.less";

@success-message-background-color: @color-white;
@success-message-content-color: @color-g6;
@success-message-button-color: @color-white;
@success-message-button-color-hover: @color-g4;
@success-message-button-border-color: @color-black;
