@import "../../mixins/utility/utility-mixins.less";

@select-border-color: @color-form-control-border;
@select-foreground-color: @color-text-default;
@select-font-size: @font-size-regular;
@select-large-font-size: @font-size-form-control-large;
@select-padding: 0 32px 0 16px;
@select-focus-border-color: @color-action-primary;
@select-focus-background-color: @color-background-default;
@select-disabled-background-color: @color-form-control-disabled-background;
@select-invalid-border-color: @color-r4;
@select-borderless-disabled-foregound-color: @color-disabled;
@select-underline-border-bottom-color: @color-form-control-border;

.select {
    .color(select-foreground-color);
    font-size: @select-font-size;
    position: relative;
}

span.select {
    display: inline-block;
}

.select select {
    appearance: none;
    .background-color(select-background-color);
    .border-color(select-border-color);
    .border-radius(select-border-radius);
    border-style: solid;
    border-width: 1px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    height: 40px;
    padding: @select-padding;
    vertical-align: middle;
}

.select svg.icon--dropdown {
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 0;
}

.select--large select {
    font-size: @select-large-font-size;
    height: 48px;
}

.select--fluid {
    width: 100%;
}

.select--fluid select {
    width: 100%;
}

.select--borderless select {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    width: auto;

    &:focus {
        text-decoration: underline;
    }
}

.select select:focus {
    .background-color(select-focus-background-color);
    .border-color(select-focus-border-color);
    outline: 0;
    text-decoration: underline;
}

// custom IE pseudo selector for the arrow
.select select::-ms-expand {
    display: none;
}

.select select[disabled] {
    .background-color(select-disabled-background-color);
    .color(select-disabled-foregound-color);
}

.select--borderless select[disabled] {
    .background-color(select-borderless-disabled-background-color);
    .color(select-borderless-disabled-foregound-color);
}

.select select[readonly] {
    .background-color(select-disabled-background-color);
    .color(select-disabled-foregound-color);
}

.select select[aria-invalid="true"] {
    .background-color(select-invalid-background-color);
    .border-color(select-invalid-border-color);
    border-style: solid;
    border-width: 1px;
    .color(select-invalid-foreground-color);
}

.select select[disabled] + svg {
    color: @select-disabled-foregound-color;
}

/* stylelint-disable no-descending-specificity */
[dir="rtl"] {
    .select > select {
        padding-left: 30px;
        padding-right: 16px;
    }

    .select svg {
        left: 16px;
        right: auto;
    }

    .select--underline svg.icon {
        left: 0;
        right: auto;
    }
}
/* stylelint-enable no-descending-specificity */

@media (prefers-color-scheme: dark) {
    .select {
        --select-background-color: @color-grey2-dark-mode;
        --select-border-color: @color-grey4-dark-mode;
        --select-foreground-color: @color-grey7-dark-mode;
        --select-focus-border-color: @color-b4-dark-mode;
        --select-focus-background-color: @color-black-dark-mode;
        --select-disabled-foreground-color: @color-grey4-dark-mode;
        --select-disabled-background-color: @color-grey2-dark-mode;
        --select-borderless-disabled-foreground-color: @color-grey4-dark-mode;
        --select-borderless-disabled-background-color: @color-grey2-dark-mode;
        --select-invalid-border-color: @color-r4-dark-mode;
        --select-invalid-background-color: @color-textbox-invalid-dark-mode;
        --select-invalid-foreground-color: @color-r4-dark-mode;
    }
}
