.flyout {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    min-width: 320px;
    position: absolute;
}

// masks one half of pointer and sets background colour
.flyout__mask {
    background-color: white;
    position: relative;
    z-index: 1;
}

// creates basic layout
.flyout__cell {
    display: flex;
    padding: 16px;
}

// base class is a top, center pointer
.flyout__pointer {
    .pointer-base;
}

.flyout__pointer--top-left {
    .pointer-top;

    left: 12px;
}

.flyout__pointer--top {
    .pointer-top;

    left: calc(50% - 8px);
}

.flyout__pointer--top-right {
    .pointer-top;

    left: auto;
    right: 12px;
}

.flyout__pointer--bottom-left {
    .pointer-bottom;

    left: 16px;
}

.flyout__pointer--bottom {
    .pointer-bottom;

    left: calc(50% - 8px);
}

.flyout__pointer--bottom-right {
    .pointer-bottom;

    left: auto;
    right: 16px;
}

.flyout__pointer--left {
    .pointer-side;

    left: -7px;
}

.flyout__pointer--right {
    .pointer-side;

    left: auto;
    right: -7px;
}

.flyout-notice__content {
    flex-grow: 1;
    line-height: 1rem;
}

.flyout-notice__close {
    align-self: start;
    background: none;
    font-size: 14px;
    line-height: 1rem;
    margin: 0 0 0 16px;
    padding: 0;
}

.flyout-notice__content p {
    margin: 0;
}

.flyout-notice__content p:not(:first-of-type) {
    margin-top: 4px;
}
