@import "../../mixins/utility/utility-mixins.less";

.window-notice {
    .customBackgroundColorProperty(window-notice-background-color);

    box-sizing: border-box;
    margin: 16px 0;
    text-align: center;
    width: 100%;
}

.window-notice--fill {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: relative;
}

.window-notice > .btn,
.window-notice > .fake-btn {
    margin-top: 28px;
}

.window-notice--fill > .btn,
.window-notice--fill > .fake-btn {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.window-notice > h2 {
    margin: 0;
}

.window-notice__title {
    display: inline-block;
    font-size: @font-size-30;
    font-weight: bold;
    margin-top: 20px;
}

.window-notice__content {
    .customColorProperty(window-notice-main-color);

    margin: 20px 0 0;
}

.window-notice h2 svg.icon {
    display: block;
    font-size: 0;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

div.inline-notice {
    display: flex;
    margin: 8px 0;
}

span.inline-notice {
    display: inline-flex;
}

.inline-notice {
    margin: 8px 0;

    p {
        margin: 4px 0;

        &:first-of-type {
            font-weight: bold;
        }
    }
}

.inline-notice__status {
    align-items: center;
    display: flex;
}

.inline-notice__status span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    margin-top: 1px;
    width: 24px;
}

.inline-notice__content {
    margin-left: 8px;
}
