@import "../../mixins/utility/utility-mixins.less";

.window-notice {
    .customBackgroundColorProperty(window-notice-background-color);

    box-sizing: border-box;
    margin: 16px 0;
    text-align: center;
    width: 100%;
}

.window-notice--fill {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: relative;
}

.window-notice > .btn,
.window-notice > .fake-btn {
    margin-top: 28px;
}

.window-notice--fill > .btn,
.window-notice--fill > .fake-btn {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.window-notice > h2 {
    margin: 0;
}

.window-notice__title {
    display: inline-block;
    font-size: @font-size-30;
    font-weight: bold;
    margin-top: 20px;
}

.window-notice__content {
    .customColorProperty(window-notice-main-color);

    margin: 20px 0 0;
}

.page-notice,
.section-notice {
    align-items: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-size: @font-size-14;
    margin: 8px 0;

    & > a.fake-btn,
    & > button.btn {
        .customColorProperty(page-notice-button-color);

        border-color: currentColor;
        margin: 0 16px 16px;
        width: 100%;
    }
}

.section-notice {
    background-color: @section-notice-default-background-color;
}

div[role="region"].page-notice,
div[role="region"].section-notice,
section.page-notice,
section.section-notice {
    display: flex;
    margin: 8px 0;
}

span[role="region"].page-notice,
span[role="region"].section-notice {
    display: inline-flex;
}

.page-notice__status svg.icon {
    display: flex;
    margin: 0;
}

.window-notice h2 svg.icon {
    display: block;
    font-size: 0;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.page-notice__title {
    font-weight: bold;
}

.page-notice__content,
.section-notice__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    width: 100%;
    /* stylelint-disable */
    -ms-word-break: break-all;
        word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    /* stylelint-enable */
}

.page-notice__status,
.section-notice__status {
    align-items: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding: 16px 0 16px 16px;
}

.page-notice__content p,
.section-notice__content p {
    margin: 0;
}

.page-notice__content {
    font-size: @font-size-medium;
}

.page-notice__close,
.section-notice__close {
    height: 48px;
    width: 50px;
}

.page-notice--fluid,
.section-notice--fluid {
    width: 100%;
}

.page-notice--celebration .page-notice__title {
    display: inline-block;
    font-size: @font-size-large-1;
    font-weight: bold;
    margin-bottom: 4px;
}

.page-notice__close,
.section-notice__close,
button.page-notice__close,
button.section-notice__close {
    background: none;
    border: 0;
}

a.page-notice,
a.section-notice,
button.page-notice,
button.section-notice {
    display: flex;
}

a.page-notice,
a.section-notice {
    color: inherit;
    text-decoration: none;
}

div.inline-notice {
    display: flex;
    margin: 8px 0;
}

span.inline-notice {
    display: inline-flex;
}

.inline-notice {
    margin: 8px 0;

    p {
        margin: 4px 0;

        &:first-of-type {
            font-weight: bold;
        }
    }
}

.inline-notice__status {
    align-items: center;
    display: flex;
}

.inline-notice__status span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    margin-top: 1px;
    width: 24px;
}

.inline-notice__content {
    margin-left: 8px;
}

.page-notice--confirmation,
.page-notice--celebration,
.section-notice--confirmation {
    .customBackgroundColorProperty(page-notice-confirmation-background-color);
    .customBorderColorProperty(page-notice-confirmation-border-color);
}

.page-notice--attention,
.section-notice--attention {
    .customBackgroundColorProperty(page-notice-attention-background-color);
    .customBorderColorProperty(page-notice-attention-border-color);
}

.page-notice--information,
.section-notice--information {
    .customBackgroundColorProperty(page-notice-information-background-color);
    .customBorderColorProperty(page-notice-information-border-color);
}

.page-notice--attention,
.section-notice--attention,
a.page-notice--attention,
a.section-notice--attention {
    color: @page-notice-attention-foreground-color;
}

.page-notice--confirmation,
.page-notice--attention,
.page-notice--information,
.page-notice--celebration {
    border-style: solid;
    border-width: @page-notice-border-width;
}

/* LARGE SCREENS */

@media (min-width: 601px) {
    section.page-notice,
    section.section-notice,
    div[role="region"].page-notice,
    div[role="region"].section-notice {
        flex-wrap: nowrap;
        margin: 16px 0;

        & > button.btn,
        & > a.fake-btn {
            margin: auto 16px;
            width: auto;
        }
    }

    .page-notice--celebration .page-notice__status {
        align-items: center;
        display: flex;
        padding: 24px 0 24px 24px;
    }

    .page-notice--celebration .page-notice__title {
        font-size: @font-size-giant-1;
        margin-bottom: 8px;
    }

    .page-notice--celebration .page-notice__content {
        margin: 24px;
    }
}
