<span class="eek__rating-range">
    <span>${input.max}</span>
    <svg class="icon icon--eek-range-arrow" aria-hidden="true">
        <icon-symbol name="eek-range-arrow" />
    </svg>
    <span>${input.min}</span>
</span>