<ul class="demo-flag-boxes">
  $ const flagObj = input.flag.flags;
  <for |flag| of=flagObj.list>
    <li class="demo-flag-box">
      <b>${flag.code}</b>
      <svg class=`${flagObj.prefix} ${flagObj.prefix}--${flag.code}`
        height="48" width="64">
          <icon-symbol name=flag.code file="flags" prefix=flagObj.prefix postfix=flagObj.postfix />
      </svg>
      <span>${flag.name}</span>
    </li>
  </for>
</ul>