div.file-preview-card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(168px, max-content));
    grid-column-gap: var(--spacing-100, 8px);
    grid-row-gap: var(--spacing-100, 8px);
}

@media screen and (min-width: $_screen-size-MD) {
    div.file-upload__assets {
        grid-template-columns: repeat(auto-fill, minmax(132px, max-content));
        grid-column-gap: var(--spacing-400, 32px);
    }
}
