@import "../../tokens/ds6/tokens.less";
@import "../../mixins/dropdown/ds6/dropdown-mixins.less";
@import "../../mixins/bubble/ds6/bubble-mixins.less";

button.btn,
a.fake-btn,
button.btn--large,
a.fake-btn--large,
a.cta-btn,
a.cta-button--large {
    --button-border-radius: @border-radius-none;
}

a.fake-btn--icon-only,
button.btn--icon-only {
    --button-icon-only-border-radius: @border-radius-none;
}

button.expand-btn {
    --expand-button-border-radius: @border-radius-none;
}

.combobox {
    --combobox-textbox-border-radius: @border-radius-none;
}

.tooltip,
.tourtip,
.infotip {
    --bubble-border-radius: @border-radius-none;
    --bubble-base-box-shadow: @bubble-base-rounded-off-box-shadow;
    --bubble-left-box-shadow: @bubble-left-rounded-off-box-shadow;
    --bubble-right-box-shadow: @bubble-right-rounded-off-box-shadow;
    --bubble-bottom-box-shadow: @bubble-bottom-rounded-off-box-shadow;
    --bubble-top-box-shadow: @bubble-top-rounded-off-box-shadow;
}

.lightbox-dialog__compact-window,
.lightbox-dialog__window {
    --dialog-border-radius: @border-radius-none;
}

.combobox,
.listbox-button,
.menu-button,
.fake-menu-button {
    --border-radius-dropdown: @border-radius-none;
    --dropdown-box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
    --dropdown-border-color: @color-dropdown-border;
}

.page-notice {
    --page-notice-border-radius: @border-radius-none;
}

.pagination__item[aria-current="page"] {
    --pagination-item-current-border-radius: @border-radius-none;
}

.progress-spinner {
    --progress-spinner-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
}

.progress-spinner--large {
    --progress-spinner-large-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
}

.section-notice {
    --section-notice-border-radius: @border-radius-none;
}

.select select {
    --select-border-radius: @border-radius-none;
}

.select--underline select {
    --select-border-radius: @border-radius-none;
}

.textbox {
    --textbox-border-radius: @border-radius-none;
}

.toast-dialog {
    --toast-dialog-border-radius: @border-radius-none;
}

@media (min-width: 601px) {
    .toast-dialog {
        --toast-dialog-large-border-radius: @border-radius-none;
    }
}
