.demo-color-b1::before {
    background-color: @color-b1;
}

.demo-color-b3::before {
    background-color: @color-b3;
}

.demo-color-b4::before {
    background-color: @color-b4;
}

.demo-color-b6::before {
    background-color: @color-b6;
}

.demo-color-r1::before {
    background-color: @color-r1;
}

.demo-color-r3::before {
    background-color: @color-r3;
}

.demo-color-r4::before {
    background-color: @color-r4;
}

.demo-color-r6::before {
    background-color: @color-r6;
}

.demo-color-g1::before {
    background-color: @color-g1;
}

.demo-color-g3::before {
    background-color: @color-g3;
}

.demo-color-g4::before {
    background-color: @color-g4;
}

.demo-color-g6::before {
    background-color: @color-g6;
}

.demo-color-m1::before {
    background-color: @color-m1;
}

.demo-color-m3::before {
    background-color: @color-m3;
}

.demo-color-m4::before {
    background-color: @color-m4;
}

.demo-color-o1::before {
    background-color: @color-o1;
}

.demo-color-o3::before {
    background-color: @color-o3;
}

.demo-color-o4::before {
    background-color: @color-o4;
}

.demo-color-o6::before {
    background-color: @color-o6;
}

.demo-color-white::before {
    background-color: @color-white;
    outline: 1px dashed @color-grey3;
}

.demo-color-grey1::before {
    background-color: @color-grey1;
}

.demo-color-grey2::before {
    background-color: @color-grey2;
}

.demo-color-grey3::before {
    background-color: @color-grey3;
}

.demo-color-grey4::before {
    background-color: @color-grey4;
}

.demo-color-grey5::before {
    background-color: @color-grey5;
}

.demo-color-grey6::before {
    background-color: @color-grey6;
}

.demo-color-black::before {
    background-color: @color-black;
}

.demo-color-background-default {
    &::before {
        background-color: @color-background-default;
        outline: 1px dashed @color-grey3;
    }

    &-dark-mode::before {
        background-color: @color-background-default-dark-mode;
        outline: 1px dashed @color-text-default-dark-mode;
    }
}

.demo-color-text-default {
    &::before {
        background-color: @color-text-default;
    }

    &-dark-mode::before {
        background-color: @color-text-default-dark-mode;
    }
}

.demo-color-text-secondary {
    &::before {
        background-color: @color-text-secondary;
    }

    &-dark-mode::before {
        background-color: @color-text-secondary-dark-mode;
    }
}

.demo-color-text-disabled {
    &::before {
        background-color: @color-text-disabled;
    }

    &-dark-mode::before {
        background-color: @color-text-disabled-dark-mode;
    }
}

.demo-color-text-confirmation {
    &::before {
        background-color: @color-text-confirmation;
    }

    &-dark-mode::before {
        background-color: @color-text-confirmation-dark-mode;
    }
}

.demo-color-action-secondary {
    &::before {
        background-color: @color-action-secondary;
    }

    &-dark-mode::before {
        background-color: @color-action-secondary-dark-mode;
    }
}

.demo-color-action-disabled {
    &::before {
        background-color: @color-action-disabled;
    }

    &-dark-mode::before {
        background-color: @color-action-disabled-dark-mode;
    }
}

.demo-color-link-default {
    &::before {
        background-color: @color-link-default;
    }

    &-dark-mode::before {
        background-color: @color-link-default-dark-mode;
    }
}

.demo-color-link-hover {
    &::before {
        background-color: @color-link-hover;
    }

    &-dark-mode::before {
        background-color: @color-link-hover-dark-mode;
    }
}

.demo-color-link-visited {
    &::before {
        background-color: @color-link-visited;
    }

    &-dark-mode::before {
        background-color: @color-link-visited-dark-mode;
    }
}

.demo-color-action-primary {
    &::before {
        background-color: @color-action-primary;
    }

    &-dark-mode::before {
        background-color: @color-action-primary-dark-mode;
    }
}

.demo-color-action-hover {
    &::before {
        background-color: @color-action-hover;
    }

    &-dark-mode::before {
        background-color: @color-action-hover-dark-mode;
    }
}

.demo-color-action-destroy {
    &::before {
        background-color: @color-action-destroy;
    }

    &-dark-mode::before {
        background-color: @color-action-destroy-dark-mode;
    }
}

.demo-color-status-information {
    &::before {
        background-color: @color-status-information;
    }

    &-dark-mode::before {
        background-color: @color-status-information-dark-mode;
    }
}

.demo-color-status-confirmation {
    &::before {
        background-color: @color-status-confirmation;
    }

    &-dark-mode::before {
        background-color: @color-status-confirmation-dark-mode;
    }
}

.demo-color-status-attention {
    &::before {
        background-color: @color-status-attention;
    }

    &-dark-mode::before {
        background-color: @color-status-attention-dark-mode;
    }
}

.demo-color-separator {
    &::before {
        background-color: @color-separator;
    }

    &-dark-mode::before {
        background-color: @color-separator-dark-mode;
    }
}

.demo-color-image-border {
    &::before {
        background-color: @color-image-border;
    }

    &-dark-mode::before {
        background-color: @color-image-border-dark-mode;
    }
}
