// stylelint-disable no-descending-specificity

@desktop: ~"only screen and (min-width: 601px)";
@medium: ~"only screen and (min-width: 961px)";
@giant: ~"only screen and (min-width: 1281px)";

/* PYGMENTS/ROUGE */

@import "pygments.less";

span.highlight {
    background-color: #eee;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

    /* fix for long attributes values that don't wrap right */
    .s {
        word-break: break-all;
        word-wrap: break-word;
    }
}

figure.highlight {
    box-sizing: border-box;
    font-size: 12px;
    margin: 8px 0;
    width: 100%;

    pre {
        font-family: monospace;
        margin: 0;
        padding: 8px 8px 0;
    }

    code {
        white-space: pre-wrap;
    }
}

/* MAIN LAYOUT */

body {
    margin: 0;
}

header {
    background-color: @color-link-default;
}

footer {
    margin-top: 32px;
}

main > div > h2 {
    margin-bottom: 12px;
    margin-top: 24px;
    padding-top: 8px;
}

.page-grid {
    padding: 8px;
}

.skin-graphic {
    box-sizing: border-box;
    display: block;
    margin: 48px auto 0 auto;
    max-width: 600px;
    width: 100%;
}

.modules-expander {
    background: #eee;
    padding: 4px;
}

.modules-expander__tip {
    color: @color-grey5;
    margin: 4px 8px;
    text-align: center;
}

.modules-expander__list {
    column-count: 2;
    font-size: 20px;
    line-height: 1.75em;
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.modules-expander[open] {
    padding-bottom: 32px;
}

.modules-expander__list a {
    text-decoration: none;
}

.modules-expander .details__summary {
    padding: 8px 0;
}

.app-bar {
    align-items: center;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    padding: 16px 0;
}

.app-bar__title {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.app-bar__links {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    list-style-type: none;
    margin-left: 8px;
    padding: 0;
}

.app-bar__links li:not(:last-child)::after {
    content: '';
    margin: 0 8px;
}

.app-bar__links a {
    color: white;
    text-decoration: none;
}

.modules-expander__list a:visited {
    color: @color-link-default;
}

.app-bar__links a:hover {
    text-decoration: underline;
}

.app-bar__links a:focus {
    outline: 2px dotted white;
}

.app-bar__links a:visited {
    color: white;
}

.section-header {
    display: flex;
    margin: 16px 0;
}

.section-header h2 {
    margin: 0;
}

.section-header__version {
    align-self: flex-end;
    background-color: @color-grey1;
    margin-left: auto;
    padding: 2px 4px;
}

/* ABOUT SECTION */

#about dl {
    margin: 16px 0 32px 0;
}

#about dt {
    font-weight: bold;
    margin: 16px 0 4px 0;
}

#about dd {
    margin: 0;
}

/* DEMO SECTIONS */

.demo {
    .customBackgroundColorProperty(color-background-default);

    border: 1px dashed #ccc;
}

.demo__inner {
    margin: 8px;
}

span.demo,
span.demo__inner {
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        .section-header__version,
        span.highlight {
            background-color: @color-grey6;
        }
    }
}

/* CAROUSEL SECTION */

.carousel__list--default-demo li {
    background-color: @color-information-background;
    color: @color-text-default;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin-right: 16px;
    text-align: center;
    width: 200px;
}

.carousel__list--discrete-demo li {
    background-color: @color-information-background;
    box-sizing: border-box;
    color: @color-text-default;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin-right: 16px;
    text-align: center;
    width: calc(25% - 24px);
}

.carousel__list--slideshow-demo li {
    background-color: @color-information-background;
    color: @color-text-default;
    font-size: 36px;
    font-weight: bold;
    height: 300px;
    line-height: 300px;
    margin-right: 16px;
    text-align: center;
    width: 100%;
}

.carousel__list--discrete-demo li:last-child {
    margin-right: 0;
}

.carousel__list--slideshow-demo li:last-child {
    margin-right: 0;
}

/* COLOR SECTION */

.demo-colors {
    list-style: none;
    margin: 0;
    padding: 0;
}

.demo-colors li {
    margin: 1rem 0;
}

.demo-colors li::before {
    content: '';
    display: block;
    height: 1.25rem;
    margin-bottom: 0.25rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 100%;
}

/* GLOBAL SECTION */

a.demo-link-visited {
    color: @color-link-visited;

    &:link,
    &:visited {
        color: @color-link-visited;
    }
}

/* UTILITY SECTION */

.utility-table {
    width: 100%;
}

.utility-table th,
.utility-table td {
    text-align: left;
}

/* ICON SECTION */

span.icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.icon-table {
    margin: 32px 0;
    width: 100%;
}

.icon-table th {
    background-color: #eee;
    padding: 8px 6px;
    text-align: left;
}

.icon-table th:first-child {
    width: 100%;
}

.icon-table th:not(:first-child) {
    min-width: 100px;
}

.icon-table td {
    border-bottom: 1px solid #eee;
    padding: 4px 6px;
    text-align: left;
}

/* LESS SECTION */

.demo-color- {
    &white::before {
        background-color: @color-white;
        outline: 1px dashed @color-grey3;
    }

    &grey1::before {
        background-color: @color-grey1;
    }

    &grey2::before {
        background-color: @color-grey2;
    }

    &grey3::before {
        background-color: @color-grey3;
    }

    &grey4::before {
        background-color: @color-grey4;
    }

    &grey5::before {
        background-color: @color-grey5;
    }

    &grey6::before {
        background-color: @color-grey6;
    }

    &black::before {
        background-color: @color-black;
    }

    &background-default::before {
        background-color: @color-background-default;
        outline: 1px dashed @color-grey3;
    }

    &text-default::before {
        background-color: @color-text-default;
    }

    &text-secondary::before {
        background-color: @color-text-secondary;
    }

    &text-disabled::before {
        background-color: @color-text-disabled;
    }

    &link-default::before {
        background-color: @color-link-default;
    }

    &link-hover::before {
        background-color: @color-link-hover;
    }

    &link-visited::before {
        background-color: @color-link-visited;
    }

    &action-secondary::before {
        background-color: @color-action-secondary;
    }

    &action-primary::before {
        background-color: @color-action-primary;
    }

    &action-hover::before {
        background-color: @color-action-hover;
    }

    &action-visited::before {
        background-color: @color-action-visited;
    }

    &action-destroy::before {
        background-color: @color-action-destroy;
    }

    &information-background::before {
        background-color: @color-information-background;
    }

    &information-text::before {
        background-color: @color-information-text;
    }

    &information-icon::before {
        background-color: @color-information-icon;
    }

    &confirmation-text::before {
        background-color: @color-confirmation-text;
    }

    &confirmation-background::before {
        background-color: @color-confirmation-background;
    }

    &confirmation-icon::before {
        background-color: @color-confirmation-icon;
    }

    &attention-background::before {
        background-color: @color-attention-background;
    }

    &attention-text::before {
        background-color: @color-attention-text;
    }

    &attention-icon::before {
        background-color: @color-attention-icon;
    }

    &image-border::before {
        background-color: @color-image-border;
    }

    &badge::before {
        background-color: @color-badge;
    }

    &divider::before {
        background-color: @color-divider;
    }

    &star::before {
        background-color: @color-star;
    }
}

/* TYPOGRAPHY SECTION */

.demo-typography {
    list-style: none;
    margin: 0;
    padding: 0;
}

.demo-typography li {
    margin: 1rem 0;
}

/* CHECKBOX & RADIO SECTION */

// hack to override media query and force large size in example
.demo-large-checkbox .checkbox__icon svg {
    height: 24px;
    width: 24px;
}

// hack to override media query and force large size in example
.demo-large-radio .radio__icon svg {
    height: 24px;
    width: 24px;
}

/* DESKTOP LAYOUT */

@media @desktop {
    .page-grid {
        display: grid;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
    }

    header {
        background-color: @color-link-default;
        padding: 0 8px;
    }

    main {
        grid-column-end: 2;
        grid-column-start: 2;
        grid-row-end: 1;
        grid-row-start: 1;
        overflow-x: hidden;
        padding-left: 8px;
    }

    footer {
        grid-column-end: 2;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-row-start: 2;
    }

    .app-bar {
        margin: 0 auto;
        max-width: 600px;
        padding-left: 8px;
        width: 100%;
    }

    .site-nav {
        grid-column-end: 1;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-row-start: 1;
        height: 100vh;
        overflow-y: scroll;
        padding-left: 8px;
        padding-right: 24px;
        position: sticky;
        top: 0;
    }

    .site-nav h2 {
        color: @color-grey5;
        margin-bottom: 12px;
        margin-top: 24px;
        text-transform: uppercase;
    }

    .site-nav h2:first-of-type {
        margin-top: 32px;
    }

    .site-nav ul {
        line-height: 1.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .site-nav ul:last-child {
        padding-bottom: 32px;
    }

    .site-nav a {
        text-decoration: none;
    }

    .site-nav a:visited {
        color: @color-link-default;
    }

    .demo-colors li::before {
        display: inline-block;
        width: 10rem;
    }
}

@media @medium {
    #about dl {
        column-count: 2;
    }

    .app-bar {
        max-width: 960px;
    }

    .page-grid {
        grid-column-gap: 16px;
        max-width: 960px;
    }
}

@media @giant {
    .app-bar {
        max-width: 1280px;
    }

    .page-grid {
        grid-column-gap: 32px;
        max-width: 1280px;
    }
}

.wizard-stepper-states {
    display: grid;
    grid-gap: 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;

    .wizard-stepper__item:nth-child(1) .wizard-stepper__icon::before {
        height: 2px;
    }

    .wizard-stepper__icon::after {
        background-color: white !important;
    }
}
