@media @breakpoint-1 {
    .page-grid-container {
        display: flex;
        justify-content: center;
        margin: 0 @spacing-small;
    }

    .page-grid {
        --debug-grid-area-outline: 1px solid @color-black;
        --debug-grid-col-color: @color-r1;
        --debug-grid-gutter-color: @color-white;

        column-gap: var(--page-grid-gutter-width-small);
        display: grid;
        grid-template-columns: repeat(var(--page-grid-cols-small), var(--page-grid-col-width-small));
        row-gap: @spacing-small;
        width: ~"min(100%, 1280px)"; /* https://stackoverflow.com/questions/17904088/disable-less-css-overwriting-calc */
    }

    .page-grid--debug {
        background: repeating-linear-gradient(
            90deg,
            var(--debug-grid-col-color) 0,
            var(--debug-grid-col-color) var(--page-grid-col-width-small),
            var(--debug-grid-gutter-color) var(--page-grid-col-width-small),
            var(--debug-grid-gutter-color) calc(var(--page-grid-col-width-small) + var(--page-grid-gutter-width-small))
        );
    }

    .site-nav {
        display: none;
    }

    main {
        grid-area: ~"1 / 1 / span 1 / span 8";
    }

    footer {
        grid-area: ~"2 / 1 / span 1 / span 8";
    }
}

@media @breakpoint-3 {
    .page-grid {
        column-gap: var(--page-grid-gutter-width-large);
        grid-template-columns: repeat(var(--page-grid-cols-large), var(--page-grid-col-width-large));
    }

    .page-grid--debug {
        background: repeating-linear-gradient(
            90deg,
            var(--debug-grid-col-color) 0,
            var(--debug-grid-col-color) var(--page-grid-col-width-large),
            var(--debug-grid-gutter-color) var(--page-grid-col-width-large),
            var(--debug-grid-gutter-color) calc(var(--page-grid-col-width-large) + var(--page-grid-gutter-width-large))
        );
    }

    .site-nav {
        grid-area: ~"1 / 1 / span 1 / span 3";
    }

    main {
        grid-area: ~"1 / 4 / span 1 / span 13";
    }

    footer {
        grid-area: ~"2 / 1 / span 1 / span 16";
    }
}

@media @breakpoint-5 {
    .site-nav {
        grid-area: ~"1 / 1 / span 1 / span 2";
    }

    main {
        grid-area: ~"1 / 3 / span 1 / span 14";
    }
}
