@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

@import "../base/switch.less";

span.switch__button {
    background-color: @ds6-color-g204-gray;

    &::after {
        background-color: @ds6-color-g201-gray;
    }

    input.switch__control:checked + & {
        background-color: @ds6-color-p002-blue;
    }
}
