@media (prefers-color-scheme: light) {
    .page-notice {
        --page-notice-color: @color-text-default;
        --page-notice-general-background-color: @color-background-default;
        --page-notice-attention-background-color: @color-background-default;
        --page-notice-confirmation-background-color: @color-background-default;
        --page-notice-information-background-color: @color-background-default;
        --page-notice-attention-icon-color: @color-status-attention;
        --page-notice-confirmation-icon-color: @color-status-confirmation;
        --page-notice-information-icon-color: @color-status-information;
    }
}
