@media (prefers-color-scheme: light) {
    button.btn,
    a.fake-btn {
        --btn-secondary-background-color: fade(@color-grey1, 50%);
        --btn-secondary-border-color: @color-grey4;
        --btn-secondary-foreground-color: #555;
        --btn-secondary-hover-background-color: fade(@color-grey2, 50%);
        --btn-secondary-hover-border-color: @color-grey5;
        --btn-secondary-hover-foreground-color: #555;
        --btn-secondary-disabled-background-color: @color-grey3;
        --btn-secondary-disabled-border-color: @color-grey4;
        --btn-secondary-disabled-foreground-color: #555;
    }

    .combobox {
        --combobox-textbox-background-color: @color-background-default;
        --combobox-textbox-border-color: @color-grey3;
        --combobox-textbox-foreground-color: #555;
        --combobox-textbox-focus-background-color: @color-background-default;
        --combobox-textbox-readonly-foreground-color: @color-grey6;
        --combobox-textbox-disabled-border-color: @color-disabled;
        --combobox-textbox-disabled-foreground-color: @color-disabled;
        --combobox-textbox-disabled-placeholder-color: @color-action-disabled;
        --combobox-textbox-invalid-background-color: @color-form-control-background;
        --combobox-textbox-border-radius: @border-radius-extra-small;
    }

    button.icon-btn,
    a.icon-link {
        --icon-button-background-color: @color-background-default;
        --icon-button-icon-foreground-color: #555;
        --icon-button-hover-background-color: @color-background-default;
        --icon-button-icon-hover-foreground-color: @color-grey6;
        --icon-button-icon-active-foreground-color: #555;
    }

    .page-notice {
        --page-notice-color: @color-text-default;
        --page-notice-general-background-color: @color-background-default;
        --page-notice-attention-background-color: @color-background-default;
        --page-notice-confirmation-background-color: @color-background-default;
        --page-notice-information-background-color: @color-background-default;
        --page-notice-attention-icon-color: @color-status-attention;
        --page-notice-confirmation-icon-color: @color-status-confirmation;
        --page-notice-information-icon-color: @color-status-information;
    }

    .progress-spinner {
        --progress-spinner-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
        --progress-spinner-large-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
    }

    .section-notice {
        --section-notice-border-radius: @border-radius-none;
    }

    .select {
        --select-border-color: @color-grey3;
    }

    .textbox {
        --textbox-background-color: @color-background-default;
        --textbox-border-color: @color-grey3;
        --textbox-foreground-color: #555;
        --textbox-focus-background-color: @color-background-default;
        --textbox-readonly-foreground-color: @color-grey6;
        --textbox-disabled-border-color: @color-disabled;
        --textbox-disabled-foreground-color: @color-disabled;
        --textbox-disabled-placeholder-color: @color-action-disabled;
        --textbox-invalid-background-color: @color-form-control-background;
        --textbox-border-radius: @border-radius-extra-small;
    }
}
