button.btn,
a.fake-btn {
    --btn-primary-disabled-background-color: fade(@color-background-accent, 50%);
    --btn-primary-disabled-border-color: transparent;
    --btn-secondary-background-color: fade(@color-neutral-1, 50%);
    --btn-secondary-border-color: @color-neutral-4;
    --btn-secondary-foreground-color: #555;
    --btn-secondary-hover-background-color: fade(@color-neutral-2, 50%);
    --btn-secondary-hover-border-color: @color-neutral-5;
    --btn-secondary-hover-foreground-color: #555;
    --btn-secondary-disabled-background-color: fade(@color-neutral-3, 50%);
    --btn-secondary-disabled-border-color: transparent;
    --btn-secondary-disabled-foreground-color: #aaa;
    --btn-border-radius: @border-radius-small;
}

a.cta-btn {
    --cta-btn-border-radius: @border-radius-small;
}

.combobox {
    --combobox-textbox-background-color: @color-background-primary;
    --combobox-textbox-border-color: @color-neutral-3;
    --combobox-textbox-foreground-color: #555;
    --combobox-textbox-focus-background-color: @color-background-primary;
    --combobox-textbox-readonly-foreground-color: @color-neutral-6;
    --combobox-textbox-disabled-border-color: @color-disabled;
    --combobox-textbox-disabled-foreground-color: @color-disabled;
    --combobox-textbox-disabled-placeholder-color: @color-background-disabled;
    --combobox-textbox-invalid-background-color: @color-background-secondary;
    --combobox-textbox-border-radius: @border-radius-extra-small;
}

button.icon-btn,
a.icon-link {
    --icon-button-background-color: @color-background-primary;
    --icon-button-icon-foreground-color: #555;
    --icon-button-hover-background-color: @color-background-primary;
    --icon-button-icon-hover-foreground-color: @color-neutral-6;
    --icon-button-icon-active-foreground-color: #555;
}

.tooltip,
.tourtip,
.infotip {
    --bubble-border-radius: @border-radius-none;
    --bubble-base-box-shadow: 0 -2px 2px @color-flyout-box-shadow,
        2px 0 2px @color-flyout-box-shadow, 0 2px 2px @color-flyout-box-shadow,
        -2px 0 2px @color-flyout-box-shadow;
    --bubble-left-box-shadow: -2px 2px 2px @color-flyout-box-shadow;
    --bubble-right-box-shadow: 2px -2px 2px @color-flyout-box-shadow;
    --bubble-bottom-box-shadow: 2px 2px 2px @color-flyout-box-shadow;
    --bubble-top-box-shadow: -2px -2px 2px @color-flyout-box-shadow;
}

.page-notice {
    --page-notice-color: @color-text-primary;
    --page-notice-general-background-color: @color-background-primary;
    --page-notice-attention-background-color: @color-background-primary;
    --page-notice-confirmation-background-color: @color-background-primary;
    --page-notice-information-background-color: @color-background-primary;
    --page-notice-attention-icon-color: @color-status-attention;
    --page-notice-confirmation-icon-color: @color-status-confirmation;
    --page-notice-information-icon-color: @color-status-information;
}

.progress-spinner {
    --progress-spinner-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
    --progress-spinner-large-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
}

.section-notice {
    --section-notice-border-radius: @border-radius-none;
}

.select {
    --select-background-color: @color-background-primary;
    --select-border-color: @color-neutral-3;
    --select-border-radius: @border-radius-extra-small;
    --select-disabled-foregound-color: @color-neutral-3;
    --select-invalid-background-color: @color-background-primary;
    --select-invalid-foreground-color: @color-text-primary;
    --select-borderless-disabled-background-color: @color-background-primary;
}

.textbox {
    --textbox-background-color: @color-background-primary;
    --textbox-border-color: @color-neutral-3;
    --textbox-foreground-color: #555;
    --textbox-focus-background-color: @color-background-primary;
    --textbox-readonly-foreground-color: @color-neutral-6;
    --textbox-disabled-border-color: @color-disabled;
    --textbox-disabled-foreground-color: @color-disabled;
    --textbox-disabled-placeholder-color: @color-background-disabled;
    --textbox-invalid-background-color: @color-background-secondary;
    --textbox-border-radius: @border-radius-extra-small;
}
