.fullscreen-dialog[role="dialog"] {
    .dialog-base();
}

.fullscreen-dialog--no-mask[role="dialog"] {
    background-color: transparent;
}

.fullscreen-dialog__window {
    .dialog-window();

    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.fullscreen-dialog__header {
    .dialog-header-content();
}

.fullscreen-dialog__main {
    .dialog-body-content();

    min-height: auto;
}

.fullscreen-dialog__footer {
    .dialog-footer-content();
}

.fullscreen-dialog__back,
.fullscreen-dialog__close {
    .customColorProperty(dialog-back-close-foreground-color);

    align-self: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
        color: @dialog-back-close-hover-foreground-color;
    }
}

.fullscreen-dialog--show,
.fullscreen-dialog--hide {
    &.fullscreen-dialog--mask-fade {
        transition: background-color 0.16s ease-out;
    }

    &.fullscreen-dialog--mask-fade-slow {
        transition: background-color 0.32s ease-out;
    }

    .fullscreen-dialog__window--fade {
        transition: opacity 0.16s ease-out;
    }

    .fullscreen-dialog__window--slide {
        transition: transform 0.32s ease-out;
    }
}

.fullscreen-dialog--hide,
.fullscreen-dialog--show-init {
    && {
        display: flex;
    }

    &.fullscreen-dialog--mask-fade,
    &.fullscreen-dialog--mask-fade-slow {
        background-color: fade(@dialog-transitions-hide-mask-fade-background-color, 0%);
    }

    .fullscreen-dialog__window--fade {
        opacity: 0;
    }

    .fullscreen-dialog__window--slide {
        transform: translateY(100%);
    }
}

.fullscreen-dialog--show,
.fullscreen-dialog--hide-init {
    && {
        display: flex;
    }

    &.fullscreen-dialog--mask-fade,
    &.fullscreen-dialog--mask-fade-slow {
        background-color: fade(@dialog-transitions-show-mask-fade-background-color, 70%);
    }

    .fullscreen-dialog__window--fade {
        opacity: 1;
    }

    .fullscreen-dialog__window--slide {
        transform: translateX(0);
    }
}

@media (min-width: 601px) {
    .fullscreen-dialog__header {
        .dialog-header-content-large();
    }

    .fullscreen-dialog__main {
        .dialog-body-content-large();
    }

    .fullscreen-dialog__footer {
        .dialog-footer-content-large();
    }
}
