@import "../../mixins/utility/utility-mixins.less";

.window-notice {
    .customBackgroundColorProperty(window-notice-background-color);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    text-align: center;
    width: 100%;
}

.window-notice--screen {
    height: 100%;
    justify-content: center;
    margin: 0;
    position: relative;
}

.window-notice__main {
    .customColorProperty(window-notice-foreground-color);

    margin: 20px 0;
}

.window-notice__title {
    .customColorProperty(window-notice-title-foreground-color);

    display: inline-block;
    font-size: @font-size-30;
    font-weight: bold;
    margin: 0;
}

.window-notice__header svg.icon {
    font-size: 0;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.window-notice--screen .window-notice__footer {
    .btn,
    .fake-btn {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .window-notice {
            --window-notice-background-color: @color-grey1-dark-mode;
            --window-notice-foreground-color: @color-g6-dark-mode;
            --window-notice-title-foreground-color: @color-text-default-dark-mode;
        }
    }
}
