@import "../../mixins/utility/utility-mixins.less";

.window-notice {
    .background-color-token(window-notice-background-color, color-background-default);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: @spacing-200 0;
    text-align: center;
    width: 100%;
}

.window-notice--screen {
    height: 100%;
    justify-content: center;
    margin: 0;
    position: relative;
}

.window-notice__main {
    .color-token(window-notice-foreground-color, color-text-confirmation);
    margin: 20px 0;
}

.window-notice__title {
    .color-token(window-notice-title-foreground-color, color-text-default);
    display: inline-block;
    font-size: @font-size-30;
    font-weight: bold;
    margin: 0;
}

.window-notice__header svg.icon {
    font-size: 0;
    height: 35px;
    margin: 0 auto;
    width: 35px;
}

.window-notice--screen .window-notice__footer {
    .btn,
    .fake-btn {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
}
