@import "../../mixins/utility/utility-mixins.less";

.dialog[role="dialog"] {
    .dialog-base();
}

.dialog--no-mask[role="dialog"] {
    background-color: transparent;
}

.dialog__header {
    .dialog-header-content();
}

.dialog__main {
    .dialog-body-content();

    min-height: 18px;
}

.dialog__footer {
    .dialog-footer-content();
}

.dialog__back,
.dialog__close {
    .customColorProperty(dialog-back-close-foreground-color);

    align-self: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
        color: @dialog-back-close-hover-foreground-color;
    }
}

.dialog__title {
    &:not(:first-child) {
        margin-left: 16px;
    }
}

.dialog__title--center {
    text-align: center;
}

.dialog__window {
    .dialog-window();

    flex-direction: column;
    left: 0;
    padding-bottom: 15vh;
    top: 15%;
    width: calc(100% - 32px);
}

.dialog__window--full,
.dialog__window--left,
.dialog__window--right {
    .dialog-window-filler();

    overflow-y: auto;
    top: 0;
}

.dialog__window--full .dialog__main,
.dialog__window--left .dialog__main,
.dialog__window--right .dialog__main {
    min-height: auto;
}

.dialog__window--fill {
    min-height: 70vh;
}

.dialog__window--full {
    bottom: 0;
    max-width: 100%;
    width: 100%;
}

.dialog__window--left,
.dialog__window--right {
    .create-grid(@cols: 8, @gutter: 8px, @size: 7, @min: 7, @max: 8);
}

.dialog__window--left {
    border-right: 1px solid rgba(153, 153, 153, 0.18);
    right: auto;
}

.dialog__window--right {
    border-left: 1px solid rgba(153, 153, 153, 0.18);
    left: auto;
}

.dialog--show,
.dialog--hide {
    // Root animations.
    &.dialog--mask-fade {
        transition: background-color 0.16s ease-out;
    }

    &.dialog--mask-fade-slow {
        transition: background-color 0.32s ease-out;
    }

    // Child animations.
    .dialog__window--fade {
        transition: opacity 0.16s ease-out;
    }

    .dialog__window--slide-left,
    .dialog__window--slide-right,
    .dialog__window--slide {
        transition: transform 0.32s ease-out;
    }
}

// Apply hide animation.
.dialog--hide,
.dialog--show-init {
    && {
        display: block;
    }

    // Root animations.
    &.dialog--mask-fade,
    &.dialog--mask-fade-slow {
        background-color: fade(@dialog-transitions-hide-mask-fade-background-color, 0%);
    }

    // Child animations.
    .dialog__window--fade {
        opacity: 0;
    }

    // code smell, chained modifier
    .dialog__window--slide-left {
        transform: translateX(-100%);
    }

    // code smell, chained modifier
    .dialog__window--slide-right {
        transform: translateX(100%);
    }

    // code smell, chained modifier
    .dialog__window--slide {
        transform: translateY(100%);
    }
}

// Apply show animation.
.dialog--show,
.dialog--hide-init {
    && {
        display: block;
    }

    // Root animations.
    &.dialog--mask-fade,
    &.dialog--mask-fade-slow {
        background-color: fade(@dialog-transitions-show-mask-fade-background-color, 70%);
    }

    // Child animations.
    .dialog__window--fade {
        opacity: 1;
    }

    .dialog__window--slide-left,
    .dialog__window--slide-right,
    .dialog__window--slide {
        transform: translateX(0);
    }
}

// MEDIA QUERIES
//-----------------------------
@media (max-width: 600px) {
    .dialog__window:not(.dialog__window--full) {
        .create-grid(@cols: 8, @gutter: 8px, @gutter-exponent: 4, @size: 8, @min: 8, @max: 8);
    }

    .dialog__window--mini {
        max-width: 344px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .dialog__window:not(.dialog__window--full) {
        .create-grid(@cols: 16, @gutter: 16px, @gutter-exponent: 2, @size: 14, @min: 14, @max: 14);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dialog__window:not(.dialog__window--full) {
        .create-grid(@cols: 16, @gutter: 16px, @gutter-exponent: 2, @size: 12, @min: 0, @max: 0);
    }
}

@media (min-width: 601px) {
    .dialog__header {
        .dialog-header-content-large();
    }

    .dialog__main {
        .dialog-body-content-large();
    }

    .dialog__footer {
        .dialog-footer-content-large();
    }
}
