@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/actionable-variables.less";
@import "../base/actionable-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    a.icon-link,
    button.icon-btn {
        --actionable-badge-border-color: @color-background-default-dark-mode;
        --actionable-icon-foreground-color: @color-text-default-dark-mode;
        --actionable-icon-active-foreground-color: @color-text-default-dark-mode;
        --actionable-icon-hover-foreground-color: @color-b4-dark-mode;
    }

    a.img-link,
    button.img-btn {
        --actionable-image-visited-background-color: @color-grey2; // tbc
        --actionable-image-hover-border-color: @color-b4-dark-mode;
        --actionable-image-active-border-color: @color-text-secondary; //tbc
    }
}
