@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/breadcrumbs-variables.less";

.breadcrumbs {
    --breadcrumbs-item-color: @color-text-default;
    --breadcrumbs-item-current-color: @color-grey5;
    --breadcrumbs-item-focus-hover-color: @color-link-default;
}

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .breadcrumbs {
        --breadcrumbs-item-color: @color-text-default-dark-mode;
        --breadcrumbs-item-current-color: @breadcrumbs-item-current-color; // dark-mode color TBD
        --breadcrumbs-item-focus-hover-color: @color-link-default-dark-mode;
    }
}
