@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/button-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        button.btn,
        a.fake-btn {
            --button-primary-background-color: @color-b4-dark-mode;
            --button-primary-foreground-color: @color-black-dark-mode;
            --button-primary-hover-background-color: @color-b6-dark-mode;
            --button-secondary-background-color: @color-black-dark-mode;
            --button-secondary-border-color: @color-b4-dark-mode;
            --button-secondary-foreground-color: @color-b4-dark-mode;
            --button-secondary-hover-background-color: @color-black-dark-mode;
            --button-secondary-hover-foreground-color: @color-b6-dark-mode;
            --button-delete-background-color: @color-black-dark-mode;
            --button-delete-foreground-color: @color-r4-dark-mode;
            --button-primary-disabled-background-color: @color-grey3-dark-mode;
            --button-primary-disabled-foreground-color: @color-grey5;
            --button-primary-disabled-border-color: @color-grey5;
            --button-secondary-disabled-background-color: @color-black-dark-mode;
            --button-secondary-disabled-foreground-color: @color-grey3-dark-mode;
            --button-secondary-disabled-border-color: @color-grey3-dark-mode;
        }
    }
}

.skin-experiment-rounded {
    button.btn,
    a.fake-btn {
        --button-border-radius: @border-radius-button;
    }

    button.btn--large,
    a.fake-btn--large {
        --button-border-radius: @border-radius-button;
    }

    a.fake-btn--icon-only,
    button.btn--icon-only {
        --button-border-radius: @border-radius-icon-button;
    }
}
