@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/checkbox-variables.less";

.checkbox {
    --checkbox-checked-color: @checkbox-checked-color;
    --checkbox-unchecked-color: @checkbox-unchecked-color;
}

// Dark-mode (ds6 only)
@media (prefers-color-scheme: dark) {
    .checkbox {
        --checkbox-checked-color: @checkbox-checked-color-dark-mode;
        --checkbox-unchecked-color: @checkbox-unchecked-color-dark-mode;
    }
}
