@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/combobox-variables.less";
@import "../../variables/ds6/dropdown-variables.less";
@import "../base/combobox-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .combobox {
            --combobox-background-color: @color-black-dark-mode;
            --combobox-foreground-color: @color-text-default-dark-mode;
            --combobox-disabled-background-color: @color-black-dark-mode;
            --combobox-disabled-foreground-color: @color-text-default-dark-mode;
            --dropdown-items-background-color: @color-black-dark-mode;
            --dropdown-item-foreground-color: @color-text-default-dark-mode;
            --dropdown-item-border-color: @color-black-dark-mode;
            --dropdown-item-hover-foreground-color: @color-text-default;
        }
    }
}

.skin-experiment-rounded {
    .combobox {
        --combobox-border-radius: @border-radius-rounded-form;
    }
}
