@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/button-variables.less";
@import "../../variables/ds6/cta-button-variables.less";
@import "../base/cta-button-properties.less";

// Dark-mode (ds6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        a.cta-btn {
            --cta-button-background-color: @color-black-dark-mode;
            --cta-button-foreground-color: @color-white-dark-mode;
            --cta-button-visited-foreground-color: @color-white-dark-mode;
            --cta-button-hover-background-color: @color-white-dark-mode;
            --cta-button-hover-foreground-color: @color-black-dark-mode;
            --cta-button-hover-border-color: @color-white-dark-mode;
        }
    }
}

.skin-experiment-rounded {
    a.cta-btn {
        --button-border-radius: @border-radius-button;
    }

    a.cta-button--large {
        --button-border-radius: @border-radius-large-button;
    }
}
