@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/filter-menu-variables.less";
@import "../base/filter-menu-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .filter-menu,
        .filter-menu-form,
        .filter-menu-button {
            --filter-menu-border-color: @filter-menu-border-color;
            --filter-menu-item-unchecked-color: @color-text-default-dark-mode;
            --filter-menu-item-checked-color: @color-action-primary-dark-mode;
            --filter-menu-item-background-color: @color-black-dark-mode;
            --filter-menu-item-foreground-color: @color-text-default-dark-mode;
            --filter-menu-item-hover-background-color: @color-background-highlight-dark-mode;
        }
    }
}
