@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/filter-button-variables.less";
@import "../base/filter-button-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        button.filter-button,
        a.filter-link,
        button.filter-menu-button__button {
            --filter-button-background-color: @color-grey1-dark-mode;
            --filter-button-foreground-color: @color-text-default-dark-mode;
            --filter-button-hover-background-color: @color-grey2-dark-mode;
            --filter-button-selected-background-color: #5c6a95;
            --filter-button-selected-hover-background-color: #5873c2;
        }
    }
}
