@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/bubble-variables.less";
@import "../../variables/ds6/infotip-variables.less";
@import "../base/infotip-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .infotip {
            --infotip-background-color: @color-grey1-dark-mode;
            --infotip-foreground-color: @color-text-default-dark-mode;
        }
    }
}

.skin-experiment-rounded {
    .infotip {
        --bubble-border-radius: @border-radius-overlay;
        --bubble-base-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-left-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-right-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-bottom-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-top-box-shadow: @border-radius-overlay-box-shadow;
    }
}
