@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/link-variables.less";
@import "../base/link-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        a.nav-link {
            --nav-link-color: @color-text-default-dark-mode;
            --nav-link-hover-color: @color-text-default-dark-mode;
        }

        button.fake-link {
            --fake-link-color: @color-link-default-dark-mode;
            --fake-link-hover-color: @color-link-hover-dark-mode;
        }
    }
}
