@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/dropdown-variables.less";
@import "../../variables/ds6/listbox-button-variables.less";
@import "../base/listbox-button-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        .listbox-button {
            --dropdown-items-background-color: @color-black-dark-mode;
            --dropdown-items-border-color: @color-black-dark-mode;
            --dropdown-item-background-color: @color-black-dark-mode;
            --dropdown-item-foreground-color: @color-text-default-dark-mode;
            --dropdown-item-border-color: @color-black-dark-mode;
            --dropdown-item-hover-foreground-color: @color-text-default;
        }
    }
}

.skin-experiment-rounded {
    .listbox-button__listbox {
        --dropdown-items-border-radius: @border-radius-dropdown;
        --dropdown-items-box-shadow: @border-radius-dropdown-box-shadow;
        --dropdown-items-border-color: @border-radius-dropdown-border-color;
    }
}
