@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/dropdown-variables.less";
@import "../../variables/ds6/listbox-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .listbox {
            --dropdown-items-background-color: @color-black-dark-mode;
            --dropdown-items-border-color: @color-black-dark-mode;
            --dropdown-item-background-color: @color-black-dark-mode;
            --dropdown-item-foreground-color: @color-text-default-dark-mode;
            --dropdown-item-border-color: @color-black-dark-mode;
            --dropdown-item-hover-foreground-color: @color-text-default;
        }
    }
}
