@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/dropdown-variables.less";
@import "../../variables/ds6/menu-button-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .menu-button,
        .fake-menu-button {
            --dropdown-items-background-color: @color-black-dark-mode;
            --dropdown-item-border-color: @color-black-dark-mode;
            --dropdown-item-foreground-color: @color-text-default-dark-mode;
            --dropdown-item-hover-foreground-color: @color-text-default;
        }
    }
}

.skin-experiment-rounded {
    .menu-button__menu,
    .menu-button__fake-menu {
        --dropdown-items-border-radius: @border-radius-dropdown;
        --dropdown-items-box-shadow: @border-radius-dropdown-box-shadow;
        --dropdown-items-border-color: @border-radius-dropdown-border-color;
    }
}
