
@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/page-notice-variables.less";
@import "../base/page-notice-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        .page-notice {
            --page-notice-attention-background-color: #191f1b;
            --page-notice-confirmation-background-color: #1b2027;
            --page-notice-information-background-color: #2a191c;
            --page-notice-celebration-background-color: #191f1b;
        }
    }
}

.skin-experiment-rounded {
    .page-notice {
        --page-notice-border-radius: @border-radius-notice;
    }
}
