@import "../../variables/ds6/color-variables.less";
@import "../../variables/base/layout-variables.less";

.page-grid--debug {
    --debug-grid-area-outline: 1px solid @color-black;
    --debug-grid-col-color: @color-r1;
    --debug-grid-gutter-color: @color-white;
}

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .page-grid--debug {
            --debug-grid-area-outline: 1px solid @color-white;
            --debug-grid-col-color: @color-text-confirmation-dark-mode;
            --debug-grid-gutter-color: @color-black;
        }
    }
}
