@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/pagination-variables.less";
@import "../base/pagination-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        .pagination {
            --pagination-item-foreground-color: @color-text-default-dark-mode;
            --pagination-item-hover-foreground-color: @color-b4-dark-mode;
            --pagination-paddle-hover-foreground-color: @color-b4-dark-mode;
        }
    }
}
