@import "../../variables/ds6/progress-spinner-variables.less";

.progress-spinner {
    --spinner-image-url: @spinner-image-url;
}

.progress-spinner--large {
    --spinner-large-image-url: @spinner-large-image-url;
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .progress-spinner {
            --spinner-image-url: @spinner-image-url-dark-mode;
        }

        .progress-spinner--large {
            --spinner-large-image-url: @spinner-large-image-url-dark-mode;
        }
    }
}
