@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/radio-variables.less";

.radio {
    --radio-checked-color: @radio-checked-color;
    --radio-unchecked-color: @radio-unchecked-color;
}

@media (prefers-color-scheme: dark) {
    .radio {
        --radio-checked-color: @radio-checked-color-dark-mode;
        --radio-unchecked-color: @radio-unchecked-color-dark-mode;// TBD
    }
}
