@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/section-notice-variables.less";
@import "../base/section-notice-properties.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-1 {
        .section-notice {
            --section-notice-default-background-color: @color-background-default-dark-mode;
            --section-notice-attention-background-color: #191f1b;
            --section-notice-confirmation-background-color: #1b2027;
            --section-notice-information-background-color: #2a191c;
        }
    }
}

.skin-experiment-rounded {
    .section-notice {
        --section-notice-border-radius: @border-radius-notice;
    }
}
