@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/dropdown-variables.less";
@import "../../variables/ds6/select-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .select {
            --select-background-color: @color-grey2-dark-mode;
            --select-border-color: @color-grey4-dark-mode;
            --select-foreground-color: @color-grey7-dark-mode;
            --select-focus-border-color: @color-b4-dark-mode;
            --select-focus-background-color: @color-black-dark-mode;
            --select-disabled-foreground-color: @color-grey4-dark-mode;
            --select-disabled-background-color: @color-grey2-dark-mode;
            --select-borderless-disabled-foreground-color: @color-grey4-dark-mode;
            --select-borderless-disabled-background-color: @color-grey2-dark-mode;
            --select-invalid-border-color: @color-r4-dark-mode;
            --select-invalid-background-color: @color-textbox-invalid-dark-mode;
            --select-invalid-foreground-color: @color-r4-dark-mode;
        }
    }
}

.skin-experiment-rounded {
    .select select {
        --select-border-radius: @border-radius-expand-button;
    }

    .select--underline select {
        --select-border-radius: @border-radius-none;
    }
}
