@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/signals-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .signal--trustworthy {
            --signals-trustworthy-color: @color-b4-dark-mode;
            --signals-trustworthy-border-color: @color-b4-dark-mode;
        }

        .signal--neutral {
            --signals-neutral-color: @color-grey5-dark-mode;
            --signals-neutral-border-color: @color-grey5-dark-mode;
        }

        .signal--time-sensitive {
            --signals-time-sensitive-color: @color-g6-dark-mode;
            --signals-time-sensitive-border-color: @color-g6-dark-mode;
        }

        .signal--recent {
            --signals-recent-color: @color-r4-dark-mode;
            --signals-recent-border-color: @color-r4-dark-mode;
        }
    }
}
