@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/tabs-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .tabs,
        .fake-tabs {
            --tabs-item-foreground-color: @color-text-default-dark-mode;
            --tabs-item-hover-foreground-color: @color-b4-dark-mode;
            --tabs-item-hover-border-bottom-color: @color-b4-dark-mode;
            --tabs-item-selected-foreground-color: @color-b4-dark-mode;
        }
    }
}
