@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/textbox-variables.less";

// Dark-mode (DS6 only)
@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .textbox {
            --textbox-background-color: @color-grey2-dark-mode;
            --textbox-foreground-color: @color-grey7-dark-mode;
            --textbox-border-color: @color-grey4-dark-mode;
            --textbox-focus-border-color: @color-b4-dark-mode;
            --textbox-focus-background-color: @color-black-dark-mode;
            --textbox-disabled-background-color: @color-grey2-dark-mode;
            --textbox-disabled-foreground-color: @color-grey4-dark-mode;
            --textbox-disabled-border-color: @color-grey4-dark-mode;
            --textbox-disabled-placeholder-color: @color-grey4-dark-mode;
            --textbox-readonly-foreground-color: @color-grey4-dark-mode;
            --textbox-focus-placeholder-color: @color-grey6-dark-mode;
            --textbox-invalid-foreground-color: @color-r4-dark-mode;
            --textbox-invalid-background-color: @color-textbox-invalid-dark-mode;
            --textbox-icon-color: @color-grey6-dark-mode;
        }
    }
}
