@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/bubble-variables.less";
@import "../../variables/ds6/tooltip-variables.less";
@import "../base/tooltip-properties.less";

.skin-experiment-rounded {
    .tooltip {
        --bubble-border-radius: @border-radius-overlay;
        --bubble-base-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-left-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-right-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-bottom-box-shadow: @border-radius-overlay-box-shadow;
        --bubble-top-box-shadow: @border-radius-overlay-box-shadow;
    }
}
