@import "../variables/variables.less";

@skeleton-text-border-radius: 3px;
@skeleton-text-height-small: 16px;
@skeleton-text-height-large: 24px;

:root {
    // css var to allow teams override to another gradient
    --skeleton-background: var(--color-loading-fill);
    // var(--color-loading-shimmer)
    --skeleton-default-height: 40px;
    --skeleton-tile-width-min: 121px;
    --skeleton-tile-width-max: 224px;
}

// TODO: use css custom properties for spacing
.skeleton {
    background: var(--skeleton-background);
    cursor: progress;
    height: var(--skeleton-default-height);
    min-height: 12px;
    width: 100%;
}

.skeleton--avatar {
    border-radius: 50%;
    height: 48px;
    justify-content: center;
    line-height: 48px;
    overflow: hidden;
    width: 48px;
}

.skeleton--btn {
    border-radius: 20px;
    height: 40px;
}

.skeleton--btn-small {
    border-radius: 16px;
    height: 32px;
}

.skeleton--btn-large {
    border-radius: 24px;
    height: 48px;
}

.skeleton--text-small {
    border-radius: @skeleton-text-border-radius;
    height: @skeleton-text-height-small;
}

.skeleton--text-small::after {
    height: @skeleton-text-height-small;
    margin-top: @skeleton-text-height-small + @spacing-100;
}

.skeleton--text-large {
    border-radius: @skeleton-text-border-radius;
    height: @skeleton-text-height-large;
}

.skeleton--text-large::after {
    height: @skeleton-text-height-large;
    margin-top: @skeleton-text-height-large + @spacing-100;
}

.skeleton--text-multiline {
    position: relative;
    width: calc(100% - @spacing-300);
}

.skeleton--text-multiline::after {
    background: inherit;
    content: "";
    position: absolute;
    width: calc(100% - @spacing-700);
}

.skeleton--text-small.skeleton--text-multiline {
    margin-bottom: @spacing-300;
}

.skeleton--text-large.skeleton--text-multiline {
    margin-bottom: @spacing-400;
}

.skeleton--form {
    border-radius: 8px;
    height: 48px;
}

.skeleton--tiles-layout {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.skeleton--tiles-layout li {
    display: inline-table;
    margin: @spacing-50;
}

.skeleton--tile {
    max-width: var(--skeleton-tile-width-max);
    min-width: var(--skeleton-tile-width-min);
}

.skeleton--tile .skeleton--text-small,
.skeleton--tile .skeleton--text-large {
    width: calc(100% - @spacing-300);
}

.skeleton--tile .skeleton__image-container {
    margin-bottom: @spacing-150;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

// TODO: Use aspect-ratio : 1 / 1 to set as square once browser support for safari > 15
.skeleton--image {
    border-radius: 8px;
    height: 100%;
    max-width: initial;
}

.skeleton__image-container .skeleton--image {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/* Columns */
.skeleton--tiles-layout[data-columns="2"] li {
    width: calc(100% / 2 - 11px);
}

.skeleton--tiles-layout[data-columns="3"] li {
    width: calc(100% / 3 - 11px);
}

.skeleton--tiles-layout[data-columns="4"] li {
    width: calc(100% / 4 - 11px);
}

.skeleton--tiles-layout[data-columns="5"] li {
    width: calc(100% / 5 - 11px);
}

.skeleton--tiles-layout[data-columns="6"] li {
    width: calc(100% / 6 - 11px);
}

[dir="rtl"] {
    .skeleton--text-multiline::after {
        left: @spacing-700;
    }
}

@keyframes loading-frames {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .skeleton {
        /* By default set to infinite when no preference. this can also be time bound may be < 5s if needed */
        animation: loading-frames 2s ease infinite;
        background-size: 80%;
    }
}
