@import "../../mixins/utility/utility-mixins.less";

.snackbar-dialog {
    .background-color-token(snackbar-dialog-background-color, color-background-secondary);
    bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
    .color-token(snackbar-dialog-foreground-color, color-foreground-primary);
    left: 0;
    max-height: 40vh;
    min-width: 320px;
    position: fixed;
    // Setting translateY to 0 to fix a bug in safari which does a double transform
    transform: translateY(0);
    width: 100vw;
    will-change: opacity, transform;
    z-index: 2;
}

.snackbar-dialog--transition {
    transition: opacity 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s,
        transform 0.2s cubic-bezier(0.21, 0.31, 1, 1.22) 0s;
}

.snackbar-dialog--show,
.snackbar-dialog--hide-init {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.snackbar-dialog--show-init,
.snackbar-dialog--hide {
    display: block;
    opacity: 0;
    transform: translateY(110%);
}

.snackbar-dialog__window {
    display: flex;
    margin: @spacing-200 @spacing-300;
}

.snackbar-dialog__window--column {
    flex-direction: column;
}

.snackbar-dialog__main {
    margin-right: @spacing-400;
}

.snackbar-dialog__main p {
    margin: 0;
}

.snackbar-dialog__actions {
    margin-left: auto;
}

.snackbar-dialog__window--column .snackbar-dialog__actions {
    margin-top: @spacing-200;
}

.snackbar-dialog__actions .fake-link {
    text-decoration: none;

    &::first-letter {
        text-decoration: underline;
    }
}

@media (min-width: 601px) {
    .snackbar-dialog {
        .border-radius-token(snackbar-dialog-border-radius, border-radius-100);
        bottom: 16px;
        left: 16px;
        max-width: 480px;
        width: auto;
    }
}

[dir="rtl"] {
    .snackbar-dialog {
        left: auto;
        right: 0;
    }

    .snackbar-dialog__main {
        margin-left: @spacing-400;
        margin-right: 0;
    }

    .snackbar-dialog__actions {
        margin-left: 0;
        margin-right: auto;
    }
}
