@import '../../../variables/ds6/carousel-variables.less';
@import '../base/carousel-mixins.less';

.carousel-control-mixin() {
    .carousel-control-mixin-base();

    align-items: center;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    &--prev {
        left: 8px;
    }

    &--next {
        right: 8px;
    }

    .icon--carousel-next {
        margin-left: 2px;
    }

    .icon--carousel-prev {
        margin-left: -2px;
    }
}
