@import "../../mixins/utility/utility-mixins.less";

@confirmation-icon-color: @color-g4;

svg {
    &.icon {
        .icon-base-mixin();
    }

    &.icon--disabled {
        .color-token(color-foreground-disabled);
        fill: currentColor;
    }

    &.icon--add {
        .icon-image-mixin("add");
    }

    &.icon--attention {
        .icon-image-mixin("attention");
    }

    &.icon--attention-filled {
        .icon-image-mixin("attention-filled");

        .color-token(color-status-attention);
    }

    &.icon--avatar {
        .icon-image-mixin("avatar");
    }

    &.icon--avatar-filled {
        .icon-image-mixin("avatar-filled");
    }

    &.icon--avatar-light {
        .icon-image-mixin("avatar-light");
    }

    &.icon--avatar-dark {
        .icon-image-mixin("avatar-dark");
    }

    &.icon--back {
        .icon-image-mixin("back");
    }

    &.icon--breadcrumb {
        .icon-image-mixin("breadcrumb");
    }

    &.icon--camera {
        .icon-image-mixin("camera");
    }

    &.icon--carousel-next {
        .icon-image-mixin("carousel-next");
    }

    &.icon--carousel-prev {
        .icon-image-mixin("carousel-prev");
    }

    &.icon--cart {
        .icon-image-mixin("cart");
    }

    &.icon--checkbox-checked {
        .icon-image-mixin("checkbox-checked");
    }

    &.icon--checkbox-unchecked {
        .icon-image-mixin("checkbox-unchecked");
    }

    &.icon--checkbox-checked-large {
        .icon-image-mixin("checkbox-checked-large");
    }

    &.icon--checkbox-unchecked-large {
        .icon-image-mixin("checkbox-unchecked-large");
    }

    &.icon--chevron-down {
        .icon-image-mixin("chevron-down");
    }

    &.icon--chevron-left {
        .icon-image-mixin("chevron-left");
    }

    &.icon--chevron-right {
        .icon-image-mixin("chevron-right");
    }

    &.icon--chevron-up {
        .icon-image-mixin("chevron-up");
    }

    &.icon--clear {
        .icon-image-mixin("clear");
    }

    &.icon--close {
        .icon-image-mixin("close");
    }

    &.icon--confirmation {
        .icon-image-mixin("confirmation");
    }

    &.icon--confirmation-filled {
        .icon-image-mixin("confirmation-filled");

        .color-token(confirmation-icon-color);
    }

    &.icon--cta {
        .icon-image-mixin("cta");
    }

    &.icon--download {
        .icon-image-mixin("download");
    }

    &.icon--dropdown {
        .icon-image-mixin("dropdown");
    }

    &.icon--filter-gallery {
        .icon-image-mixin("filter-gallery");
    }

    &.icon--filter-list {
        .icon-image-mixin("filter-list");
    }

    &.icon--filter-single {
        .icon-image-mixin("filter-single");
    }

    &.icon--help {
        .icon-image-mixin("help");
    }

    &.icon--information {
        .icon-image-mixin("information");
    }

    &.icon--information-filled {
        .icon-image-mixin("information-filled");
        .color-token(color-status-information);
    }

    &.icon--menu {
        .icon-image-mixin("menu");
    }

    &.icon--messages {
        .icon-image-mixin("messages");
    }

    &.icon--notification {
        .icon-image-mixin("notification");
    }

    &.icon--overflow {
        .icon-image-mixin("overflow");
    }

    &.icon--pause {
        .icon-image-mixin("pause");
    }

    &.icon--play {
        .icon-image-mixin("play");
    }

    &.icon--profile {
        .icon-image-mixin("profile");
    }

    &.icon--pagination-next {
        .icon-image-mixin("pagination-next");
    }

    &.icon--pagination-prev {
        .icon-image-mixin("pagination-prev");
    }

    &.icon--radio-checked {
        .icon-image-mixin("radio-checked");
    }

    &.icon--radio-unchecked {
        .icon-image-mixin("radio-unchecked");
    }

    &.icon--search {
        .icon-image-mixin("search");
    }

    &.icon--selling {
        .icon-image-mixin("selling");
    }

    &.icon--settings {
        .icon-image-mixin("settings");
    }

    &.icon--settings-small {
        .icon-image-mixin("settings-small");
    }

    &.icon--tick {
        .icon-image-mixin("tick");
    }

    &.icon--video-play {
        .icon-image-mixin("video-play");
    }

    &.icon--video-pause {
        .icon-image-mixin("video-pause");
    }

    &.icon--report-flag {
        .icon-image-mixin("report-flag");
    }

    &.icon--report-flag-small {
        .icon-image-mixin("report-flag-small");
    }

    &.icon--window {
        .icon-image-mixin("window");
    }

    &.icon--arrow-left {
        .icon-image-mixin("arrow-left");
    }

    &.icon--arrow-move {
        .icon-image-mixin("arrow-move");
    }

    &.icon--arrow-right {
        .icon-image-mixin("arrow-right");
    }

    &.icon--arrow-right-extra-small {
        .icon-image-mixin("arrow-right-extra-small");
    }

    &.icon--arrow-right-bold {
        .icon-image-mixin("arrow-right-bold");
    }

    &.icon--bag {
        .icon-image-mixin("bag");
    }

    &.icon--bids {
        .icon-image-mixin("bids");
    }

    &.icon--bank {
        .icon-image-mixin("bank");
    }

    &.icon--bank-large {
        .icon-image-mixin("bank-large");
    }

    &.icon--calendar {
        .icon-image-mixin("calendar");
    }

    &.icon--calendar-large {
        .icon-image-mixin("calendar-large");
    }

    &.icon--calendar-small {
        .icon-image-mixin("calendar-small");
    }

    &.icon--small-case {
        .icon-image-mixin("small-case");
    }

    &.icon--cart-large {
        .icon-image-mixin("cart-large");
    }

    &.icon--categories {
        .icon-image-mixin("categories");
    }

    &.icon--chat-large {
        .icon-image-mixin("chat-large");
    }

    &.icon--large-box {
        .icon-image-mixin("large-box");
    }

    &.icon--large-case {
        .icon-image-mixin("large-case");
    }

    &.icon--chevron-down-bold {
        .icon-image-mixin("chevron-down-bold");
    }

    &.icon--chevron-up-bold {
        .icon-image-mixin("chevron-up-bold");
    }

    &.icon--chevron-up-extra-small {
        .icon-image-mixin("chevron-up-extra-small");
    }

    &.icon--chevron-down-extra-small {
        .icon-image-mixin("chevron-down-extra-small");
    }

    &.icon--credit-card {
        .icon-image-mixin("credit-card");
    }

    &.icon--credit-card-large {
        .icon-image-mixin("credit-card-large");
    }

    &.icon--credit-card-small {
        .icon-image-mixin("credit-card-small");
    }

    &.icon--customize {
        .icon-image-mixin("customize");
    }

    &.icon--deals {
        .icon-image-mixin("deals");
    }

    &.icon--delete {
        .icon-image-mixin("delete");
    }

    &.icon--edit {
        .icon-image-mixin("edit");
    }

    &.icon--event {
        .icon-image-mixin("event");
    }

    &.icon--event-large {
        .icon-image-mixin("event-large");
    }

    &.icon--fast-n-free {
        .icon-image-mixin("fast-n-free");
    }

    &.icon--fingerprint-large {
        .icon-image-mixin("fingerprint-large");
    }

    &.icon--flag {
        .icon-image-mixin("flag");
    }

    &.icon--following {
        .icon-image-mixin("following");
    }

    &.icon--history {
        .icon-image-mixin("history");
    }

    &.icon--home {
        .icon-image-mixin("home");
    }

    &.icon--help-new {
        .icon-image-mixin("help-new");
    }

    &.icon--help-small {
        .icon-image-mixin("help-small");
    }

    &.icon--tablet-condensed-grid {
        .icon-image-mixin("tablet-condensed-grid");
    }

    &.icon--tablet-condensed-grid-filled {
        .icon-image-mixin("tablet-condensed-grid-filled");
    }

    &.icon--tablet-relaxed-grid {
        .icon-image-mixin("tablet-relaxed-grid");
    }

    &.icon--tablet-relaxed-grid-filled {
        .icon-image-mixin("tablet-relaxed-grid-filled");
    }

    &.icon--tablet-vertical-split {
        .icon-image-mixin("tablet-vertical-split");
    }

    &.icon--tablet-vertical-split-filled {
        .icon-image-mixin("tablet-vertical-split-filled");
    }

    &.icon--lightbulb {
        .icon-image-mixin("lightbulb");
    }

    &.icon--location {
        .icon-image-mixin("location");
    }

    &.icon--location-large {
        .icon-image-mixin("location-large");
    }

    &.icon--locked {
        .icon-image-mixin("locked");
    }

    &.icon--locked-small {
        .icon-image-mixin("locked-small");
    }

    &.icon--medium-box {
        .icon-image-mixin("medium-box");
    }

    &.icon--messages-large {
        .icon-image-mixin("messages-large");
    }

    &.icon--mic {
        .icon-image-mixin("mic");
    }

    &.icon--mobile {
        .icon-image-mixin("mobile");
    }

    &.icon--mobile-signal {
        .icon-image-mixin("mobile-signal");
    }

    &.icon--package {
        .icon-image-mixin("package");
    }

    &.icon--photo-brightness {
        .icon-image-mixin("photo-brightness");
    }

    &.icon--photo-crop {
        .icon-image-mixin("photo-crop");
    }

    &.icon--photo-gallery {
        .icon-image-mixin("photo-gallery");
    }

    &.icon--photo-gallery-more {
        .icon-image-mixin("photo-gallery-more");
    }

    &.icon--photo-rotate {
        .icon-image-mixin("photo-rotate");
    }

    &.icon--photo-select-all {
        .icon-image-mixin("photo-select-all");
    }

    &.icon--photo-select-none {
        .icon-image-mixin("photo-select-none");
    }

    &.icon--photo-contrast {
        .icon-image-mixin("photo-contrast");
    }

    &.icon--photo-flash {
        .icon-image-mixin("photo-flash");
    }

    &.icon--photo-flip-camera {
        .icon-image-mixin("photo-flip-camera");
    }

    &.icon--photo-sharpen {
        .icon-image-mixin("photo-sharpen");
    }

    &.icon--print {
        .icon-image-mixin("print");
    }

    &.icon--clock {
        .icon-image-mixin("clock");
    }

    &.icon--red-laser {
        .icon-image-mixin("red-laser");
    }

    &.icon--refresh {
        .icon-image-mixin("refresh");
    }

    &.icon--envelope {
        .icon-image-mixin("envelope");
    }

    &.icon--save {
        .icon-image-mixin("save");
    }

    &.icon--save-bold {
        .icon-image-mixin("save-bold");
    }

    &.icon--save-selected {
        .icon-image-mixin("save-selected");
    }

    &.icon--search-bold {
        .icon-image-mixin("search-bold");
    }

    &.icon--security-key {
        .icon-image-mixin("security-key");
    }

    &.icon--send {
        .icon-image-mixin("send");
    }

    &.icon--shoe-box {
        .icon-image-mixin("shoe-box");
    }

    &.icon--sign-out {
        .icon-image-mixin("sign-out");
    }

    &.icon--star-empty {
        .icon-image-mixin("star-empty");
        .color-token(color-text-disabled);
    }

    &.icon--star-filled {
        .icon-image-mixin("star-filled");
    }

    &.icon--star-filled-grey {
        .icon-image-mixin("star-filled-grey");
    }

    &.icon--star-half {
        .icon-image-mixin("star-half");
    }

    &.icon--star-undefined {
        .icon-image-mixin("star-undefined");
    }

    &.icon--support {
        .icon-image-mixin("support");
    }

    &.icon--suitcase {
        .icon-image-mixin("suitcase");
    }

    &.icon--thumbs-down {
        .icon-image-mixin("thumbs-down");
    }

    &.icon--thumbs-up {
        .icon-image-mixin("thumbs-up");
    }

    &.icon--thumbs-up-selected {
        .icon-image-mixin("thumbs-up-selected");
    }

    &.icon--thumbs-down-selected {
        .icon-image-mixin("thumbs-down-selected");
    }

    &.icon--top-seller {
        .icon-image-mixin("top-seller");
    }

    &.icon--truck {
        .icon-image-mixin("truck");
    }

    &.icon--user-profile {
        .icon-image-mixin("user-profile");
    }

    &.icon--purchases {
        .icon-image-mixin("purchases");
    }

    &.icon--remove {
        .icon-image-mixin("remove");
    }

    &.icon--share {
        .icon-image-mixin("share");
    }

    &.icon--share-small {
        .icon-image-mixin("share-small");
    }

    &.icon--store {
        .icon-image-mixin("store");
    }

    &.icon--store-large {
        .icon-image-mixin("store-large");
    }

    &.icon--text-messaging-large {
        .icon-image-mixin("text-messaging-large");
    }

    &.icon--unlocked {
        .icon-image-mixin("unlocked");
    }

    &.icon--unlocked-small {
        .icon-image-mixin("unlocked-small");
    }

    &.icon--watch {
        .icon-image-mixin("watch");
    }

    &.icon--watch-large {
        .icon-image-mixin("watch-large");
    }

    &.icon--pause-filled {
        .icon-image-mixin("pause-filled");
    }

    &.icon--pause-filled-large {
        .icon-image-mixin("pause-filled-large");
    }

    &.icon--pause-large {
        .icon-image-mixin("pause-large");
    }

    &.icon--pause-small {
        .icon-image-mixin("pause-small");
    }

    &.icon--play-filled {
        .icon-image-mixin("play-filled");
    }

    &.icon--play-filled-large {
        .icon-image-mixin("play-filled-large");
    }

    &.icon--play-large {
        .icon-image-mixin("play-large");
    }

    &.icon--play-small {
        .icon-image-mixin("play-small");
    }

    &.icon--arrow-left-small {
        .icon-image-mixin("arrow-left-small");
    }

    &.icon--add-small {
        .icon-image-mixin("add-small");
    }

    &.icon--arrow-move-small {
        .icon-image-mixin("arrow-move-small");
    }

    &.icon--arrow-right-small {
        .icon-image-mixin("arrow-right-small");
    }

    &.icon--attention-small {
        .icon-image-mixin("attention-small");
    }

    &.icon--attention-filled-small {
        .icon-image-mixin("attention-filled-small");
        .color-token(color-status-attention);
    }

    &.icon--camera-small {
        .icon-image-mixin("camera-small");
    }

    &.icon--cart-small {
        .icon-image-mixin("cart-small");
    }

    &.icon--chevron-down-small {
        .icon-image-mixin("chevron-down-small");
    }

    &.icon--chevron-left-small {
        .icon-image-mixin("chevron-left-small");
    }

    &.icon--chevron-right-small {
        .icon-image-mixin("chevron-right-small");
    }

    &.icon--chevron-up-small {
        .icon-image-mixin("chevron-up-small");
    }

    &.icon--clear-small {
        .icon-image-mixin("clear-small");
    }

    &.icon--clock-small {
        .icon-image-mixin("clock-small");
    }

    &.icon--close-small {
        .icon-image-mixin("close-small");
    }

    &.icon--confirmation-small {
        .icon-image-mixin("confirmation-small");
    }

    &.icon--confirmation-filled-small {
        .icon-image-mixin("confirmation-filled-small");
        .color-token(confirmation-icon-color);
    }

    &.icon--delete-small {
        .icon-image-mixin("delete-small");
    }

    &.icon--edit-small {
        .icon-image-mixin("edit-small");
    }

    &.icon--fast-n-free-small {
        .icon-image-mixin("fast-n-free-small");
    }

    &.icon--filter-gallery-small {
        .icon-image-mixin("filter-gallery-small");
    }

    &.icon--filter-list-small {
        .icon-image-mixin("filter-list-small");
    }

    &.icon--filter-single-small {
        .icon-image-mixin("filter-single-small");
    }

    &.icon--following-small {
        .icon-image-mixin("following-small");
    }

    &.icon--information-small {
        .icon-image-mixin("information-small");
    }

    &.icon--information-filled-small {
        .icon-image-mixin("information-filled-small");
        .color-token(color-status-information);
    }

    &.icon--mic-small {
        .icon-image-mixin("mic-small");
    }

    &.icon--overflow-small {
        .icon-image-mixin("overflow-small");
    }

    &.icon--red-laser-small {
        .icon-image-mixin("red-laser-small");
    }

    &.icon--save-selected-small {
        .icon-image-mixin("save-selected-small");
    }

    &.icon--save-small {
        .icon-image-mixin("save-small");
    }

    &.icon--search-small {
        .icon-image-mixin("search-small");
    }

    &.icon--search-large {
        .icon-image-mixin("search-large");
    }

    &.icon--small-box {
        .icon-image-mixin("small-box");
    }

    &.icon--small-letter {
        .icon-image-mixin("small-letter");
    }

    &.icon--star-filled-empty-small {
        .icon-image-mixin("star-empty-small");
        .color-token(color-text-disabled);
    }
    &.icon--star-empty-small {
        .icon-image-mixin("star-empty-small");
        .color-token(color-text-disabled);
    }

    &.icon--star-filled-small {
        .icon-image-mixin("star-filled-small");
    }

    &.icon--star-half-small {
        .icon-image-mixin("star-half-small");
    }

    &.icon--star-small {
        .icon-image-mixin("star-small");
    }

    &.icon--thumbs-down-selected-small {
        .icon-image-mixin("thumbs-down-selected-small");
    }

    &.icon--thumbs-down-small {
        .icon-image-mixin("thumbs-down-small");
    }

    &.icon--thumbs-up-selected-small {
        .icon-image-mixin("thumbs-up-selected-small");
    }

    &.icon--thumbs-up-small {
        .icon-image-mixin("thumbs-up-small");
    }

    &.icon--tick-small {
        .icon-image-mixin("tick-small");
    }

    &.icon--truck-small {
        .icon-image-mixin("truck-small");
    }

    &.icon--social-link {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-link");
    }

    &.icon--social-discord {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-discord");
    }

    &.icon--social-facebook {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-facebook");
    }

    &.icon--social-messenger {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-messenger");
    }

    &.icon--social-pinterest {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-pinterest");
    }

    &.icon--social-reddit {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-reddit");
    }

    &.icon--social-twitter {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-twitter");
    }

    &.icon--social-whatsapp {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-whatsapp");
    }

    &.icon--social-linkedin {
        .color-token(color-social-icons-background);
        .icon-image-mixin("social-linkedin");
    }

    &.icon--spinner {
        .icon-image-mixin("spinner");
    }

    &.icon--spinner-large {
        .icon-image-mixin("spinner-large");
    }

    &.icon--show-secret {
        .icon-image-mixin("show-secret");
    }

    &.icon--hide-secret {
        .icon-image-mixin("hide-secret");
    }

    &.icon--vault {
        .icon-image-mixin("vault");
    }

    &.icon--vault-small {
        .icon-image-mixin("vault-small");
    }
}

[dir="rtl"] svg {
    &.icon--back,
    &.icon--breadcrumb,
    &.icon--carousel-next,
    &.icon--carousel-prev,
    &.icon--chevron-left,
    &.icon--chevron-right,
    &.icon--cta,
    &.icon--pagination-next,
    &.icon--pagination-prev {
        transform: rotate(180deg);
    }
}
