svg {
    &.icon {
        .foreground-icon-base-mixin();
    }

    &.icon--disabled {
        color: @icon-color-disabled;
        fill: currentColor;
    }

    &.icon--add {
        .foreground-icon-image-mixin("add");
    }

    &.icon--attention {
        .foreground-icon-image-mixin("attention");
    }

    &.icon--attention-filled {
        .foreground-icon-image-mixin("attention-filled");
    }

    &.icon--back {
        .foreground-icon-image-mixin("back");
    }

    &.icon--breadcrumb {
        .foreground-icon-image-mixin("breadcrumb");
    }

    &.icon--camera {
        .foreground-icon-image-mixin("camera");
    }

    &.icon--carousel-next {
        .foreground-icon-image-mixin("carousel-next");
    }

    &.icon--carousel-prev {
        .foreground-icon-image-mixin("carousel-prev");
    }

    &.icon--cart {
        .foreground-icon-image-mixin("cart");
    }

    &.icon--checkbox-checked {
        .foreground-icon-image-mixin("checkbox-checked");
    }

    &.icon--checkbox-unchecked {
        .foreground-icon-image-mixin("checkbox-unchecked");
    }

    &.icon--checkbox-checked-large {
        .foreground-icon-image-mixin("checkbox-checked-large");
    }

    &.icon--checkbox-unchecked-large {
        .foreground-icon-image-mixin("checkbox-unchecked-large");
    }

    &.icon--chevron-down {
        .foreground-icon-image-mixin("chevron-down");
    }

    &.icon--chevron-left {
        .foreground-icon-image-mixin("chevron-left");
    }

    &.icon--chevron-right {
        .foreground-icon-image-mixin("chevron-right");
    }

    &.icon--chevron-up {
        .foreground-icon-image-mixin("chevron-up");
    }

    &.icon--clear {
        .foreground-icon-image-mixin("clear");
    }

    &.icon--close {
        .foreground-icon-image-mixin("close");
    }

    &.icon--confirmation {
        .foreground-icon-image-mixin("confirmation");
    }

    &.icon--confirmation-filled {
        .foreground-icon-image-mixin("confirmation-filled");
    }

    &.icon--cta {
        .foreground-icon-image-mixin("cta");
    }

    &.icon--download {
        .foreground-icon-image-mixin("download");
    }

    &.icon--dropdown {
        .foreground-icon-image-mixin("dropdown");
    }

    &.icon--filter-gallery {
        .foreground-icon-image-mixin("filter-gallery");
    }

    &.icon--filter-list {
        .foreground-icon-image-mixin("filter-list");
    }

    &.icon--filter-single {
        .foreground-icon-image-mixin("filter-single");
    }

    &.icon--help {
        .foreground-icon-image-mixin("help");
    }

    &.icon--information {
        .foreground-icon-image-mixin("information");
    }

    &.icon--information-filled {
        .foreground-icon-image-mixin("information-filled");
    }

    &.icon--menu {
        .foreground-icon-image-mixin("menu");
    }

    &.icon--messages {
        .foreground-icon-image-mixin("messages");
    }

    &.icon--notification {
        .foreground-icon-image-mixin("notification");
    }

    &.icon--overflow {
        .foreground-icon-image-mixin("overflow");
    }

    &.icon--pause {
        .foreground-icon-image-mixin("pause");
    }

    &.icon--play {
        .foreground-icon-image-mixin("play");
    }

    &.icon--profile {
        .foreground-icon-image-mixin("profile");
    }

    &.icon--pagination-next {
        .foreground-icon-image-mixin("pagination-next");
    }

    &.icon--pagination-prev {
        .foreground-icon-image-mixin("pagination-prev");
    }

    &.icon--radio-checked {
        .foreground-icon-image-mixin("radio-checked");
    }

    &.icon--radio-unchecked {
        .foreground-icon-image-mixin("radio-unchecked");
    }

    &.icon--search {
        .foreground-icon-image-mixin("search");
    }

    &.icon--selling {
        .foreground-icon-image-mixin("selling");
    }

    &.icon--settings {
        .foreground-icon-image-mixin("settings");
    }

    &.icon--tick {
        .foreground-icon-image-mixin("tick");
    }

    &.icon--window {
        .foreground-icon-image-mixin("window");
    }
}

[dir="rtl"] svg {
    &.icon--back,
    &.icon--breadcrumb,
    &.icon--carousel-next,
    &.icon--carousel-prev,
    &.icon--chevron-left,
    &.icon--chevron-right,
    &.icon--cta,
    &.icon--pagination-next,
    &.icon--pagination-prev {
        transform: rotate(180deg);
    }
}
