@import "../../mixins/utility/utility-mixins.less";

nav.breadcrumbs {
    .customColorProperty(breadcrumbs-item-foreground-color);

    font-size: @font-size-12;
    height: fit-content;
    margin: 8px 0;
    min-height: 16px;
    overflow: hidden; // causing font zoom & keyboard focus issues (#927)
    position: relative;
    white-space: nowrap;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        min-width: 100%;
        padding: 0;
        position: absolute;
        right: 0;
    }

    // On certain pages spacing in each container can vary in size even if content is the same.
    // Force content to flex makes it all have the same size
    li {
        align-items: center;
        display: flex;
    }

    li svg {
        margin-left: 7px;
        margin-right: 7px;
    }

    a {
        text-decoration: none;
    }

    button {
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    // stylelint-disable no-descending-specificity
    a:visited {
        color: inherit;
    }

    a,
    button {
        color: inherit;
        outline-offset: -4px; // needed because of hidden overflow

        &:focus,
        &:hover {
            .customColorProperty(breadcrumbs-item-hover-foreground-color);

            text-decoration: underline;
        }

        &[aria-current] {
            .customColorProperty(breadcrumbs-item-current-foreground-color);

            text-decoration: none;
        }
    }
    // stylelint-enable no-descending-specificity

    a:focus,
    button:focus {
        &:not(:focus-visible) {
            outline: none;
        }
    }
}

@media (min-width: 601px) {
    nav.breadcrumbs {
        margin: 16px 0;
    }
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        .breadcrumbs {
            --breadcrumbs-item-foreground-color: @color-text-default-dark-mode;
            --breadcrumbs-item-current-foreground-color: @breadcrumbs-item-current-foreground-color; // dark-mode color TBD
            --breadcrumbs-item-hover-foreground-color: @color-link-default-dark-mode;
        }
    }
}
