@import '../mixins-common.less';

// Typography
//-----------------------------

.ds6-typography-giant-2() {
    font-size: @ds6-font-size-giant-2;
    font-weight: @ds6-font-weight-bold;
    line-height: 46px;
}

.ds6-typography-giant-1() {
    font-size: @ds6-font-size-giant-1;
    font-weight: @ds6-font-weight-bold;
    line-height: 40px;
}

.ds6-typography-large-2() {
    font-size: @ds6-font-size-large-2;
    line-height: 32px;
}

.ds6-typography-large-1() {
    font-size: @ds6-font-size-large-1;
    line-height: 28px;
}

.ds6-typography-medium() {
    font-size: @ds6-font-size-medium;
    line-height: 24px;
}

.ds6-typography-regular() {
    font-size: @ds6-font-size-regular;
    line-height: 20px;
}

.ds6-typography-small() {
    font-size: @ds6-font-size-small;
    line-height: 18px;
}
