@import "variables.less";
@import '../mixins-common.less';

// Typography
//-----------------------------

.ds6-typography-giant-2() {
    font-size: @ds6-font-size-giant-2;
    font-weight: @ds6-font-weight-bold;
    line-height: 46px;
}

.ds6-typography-giant-1() {
    font-size: @ds6-font-size-giant-1;
    font-weight: @ds6-font-weight-bold;
    line-height: 40px;
}

.ds6-typography-large-2() {
    font-size: @ds6-font-size-large-2;
    line-height: 32px;
}

.ds6-typography-large-2-bold() {
    .ds6-typography-large-2;
    font-weight: @ds6-font-weight-bold;
}

.ds6-typography-large-2-secondary() {
    .ds6-typography-large-2;
    color: @ds6-color-g206-gray;
}

.ds6-typography-large-1() {
    font-size: @ds6-font-size-large-1;
    line-height: 28px;
}

.ds6-typography-large-1-bold() {
    .ds6-typography-large-1;
    font-weight: @ds6-font-weight-bold;
}

.ds6-typography-large-1-secondary() {
    .ds6-typography-large-1;
    color: @ds6-color-g206-gray;
}

.ds6-typography-medium() {
    font-size: @ds6-font-size-medium;
    line-height: 24px;
}

.ds6-typography-medium-bold() {
    .ds6-typography-medium;
    font-weight: @ds6-font-weight-bold;
}

.ds6-typography-medium-secondary() {
    .ds6-typography-medium;
    color: @ds6-color-g206-gray;
}

.ds6-typography-regular() {
    font-size: @ds6-font-size-regular;
    line-height: 20px;
}

.ds6-typography-regular-bold() {
    .ds6-typography-regular;
    font-weight: @ds6-font-weight-bold;
}

.ds6-typography-regular-secondary() {
    .ds6-typography-regular;
    color: @ds6-color-g206-gray;
}

.ds6-typography-small() {
    font-size: @ds6-font-size-small;
    line-height: 18px;
}

.ds6-typography-small-bold() {
    .ds6-typography-small;
    font-weight: @ds6-font-weight-bold;
}

.ds6-typography-small-secondary() {
    .ds6-typography-small;
    color: @ds6-color-g206-gray;
}

.background-icon-base() {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.icon-close() {
    .background-svg(@color) {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2717%27%20height%3D%2717%27%3E%3Cpath%20fill=%22none%22%20stroke=%22@{color}%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20stroke-width=%222%22%20d=%22M1.11%201.78l14.15%2014.15m-14.09-.07L15.32%201.72%22%3E%3C/path%3E%3C/svg%3E');
    }

    .background-icon-base;
    .background-svg(@ds6-color-text-default);
    height: 17px;
    width: 17px;

    &:hover {
        .background-svg(@ds6-color-link-default);
    }
}

.icon-size-mixin(@width; @height) {
    width: @width;
    height: @height;
}

.span-icon-mixin(@width; @height; @url) {
    .icon-size-mixin(@width; @height);
    background-image: url(@url);
}
