@import '../variables-common.less';

// Core & Signals
//-----------------------------

@ds6-color-signal-dark-red: #dd1e31;
@ds6-color-signal-red: #fd4664;
@ds6-color-signal-yellow: #ffdb0d;
@ds6-color-signal-green: #5df0ad;

@ds6-color-core-light-blue: #c2f5ff;
@ds6-color-core-blue: #006efc;
@ds6-color-core-dark-blue: #1436d9;
@ds6-color-core-purple: #6666d1;

// Interface Grays
//-----------------------------

@ds6-color-interface-black: #111820;
@ds6-color-interface-gray: #767676;
@ds6-color-interface-gray-lines: #eeeeee;
@ds6-color-interface-gray-background: #fbfbfb;

// Text Grays
//-----------------------------

@ds6-color-text-black: #111820;
@ds6-color-text-gray: #767676;
