@import '../variables-common.less';

// Colours
//----------------------

@ds6-color-g201-gray: #ffffff;
@ds6-color-g202-gray: #f5f5f5;
@ds6-color-g203-gray: #e5e5e5;
@ds6-color-g204-gray: #c7c7c7;
@ds6-color-g205-gray: #767676;
@ds6-color-g206-gray: #111820;
@ds6-color-p001-blue: #e1fbff;
@ds6-color-p002-blue: #006efc;
@ds6-color-p003-blue: #10299c;
@ds6-color-p004-blue: #4295ff;
@ds6-color-p011-red: #ffe7ec;
@ds6-color-p012-red: #ff5151;
@ds6-color-p013-red: #c9002c;
@ds6-color-p021-yellow: #fffaab;
@ds6-color-p022-yellow: #ffd80d;
@ds6-color-p031-green: #ebffcc;
@ds6-color-p032-green: #71c63e;
@ds6-color-p033-green: #147133;

@ds6-color-text-default: @ds6-color-g206-gray;
@ds6-color-text-secondary: @ds6-color-g205-gray;
@ds6-color-link-default: @ds6-color-p002-blue;
@ds6-color-link-visited: #6a4fcc; // color code TBD
@ds6-color-information-background: @ds6-color-p001-blue;
@ds6-color-badge: @ds6-color-p022-yellow;
@ds6-color-star: @ds6-color-p022-yellow;
@ds6-color-warning-background: @ds6-color-p021-yellow;
@ds6-color-confirmation-text: @ds6-color-p033-green;
@ds6-color-confirmation-background: @ds6-color-p032-green;
@ds6-color-critical-text: @ds6-color-p013-red;
@ds6-color-critical-background: @ds6-color-p011-red;
@ds6-color-background-default: @ds6-color-g202-gray;
@ds6-color-item-tile-background-visited: @ds6-color-g202-gray;
@ds6-color-button-disabled-background: @ds6-color-g204-gray;
@ds6-color-disabled: @ds6-color-g204-gray;

// Typography
//----------------------------

@ds6-font-family-custom: @marketsans-fontname, @ds6-font-family-default;
@ds6-font-family-default: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;

// Font-sizes (1rem = 16px)
//----------------------

@ds6-font-size-10: 0.6125rem;
@ds6-font-size-12: 0.75rem;
@ds6-font-size-13: 0.8125rem;
@ds6-font-size-14: 0.875rem;
@ds6-font-size-16: 1rem;
@ds6-font-size-18: 1.125rem;
@ds6-font-size-20: 1.25rem;
@ds6-font-size-22: 1.375rem;
@ds6-font-size-24: 1.5rem;
@ds6-font-size-26: 1.625rem;
@ds6-font-size-28: 1.75rem;

@ds6-font-size-headline-1: @ds6-font-size-28;
@ds6-font-size-headline-2: @ds6-font-size-26;
@ds6-font-size-headline-3: @ds6-font-size-24;

@ds6-font-size-title-1: @ds6-font-size-22;
@ds6-font-size-title-2: @ds6-font-size-18;
@ds6-font-size-title-3: @ds6-font-size-16;
@ds6-font-size-title-4: @ds6-font-size-16;

@ds6-font-size-body-1: @ds6-font-size-14;

@ds6-font-size-caption-1: @ds6-font-size-13;
@ds6-font-size-caption-2: @ds6-font-size-12;
@ds6-font-size-caption-3: @ds6-font-size-12;

@ds6-font-size-legal-1: @ds6-font-size-12;

// Font-weights
//-------------------------

@ds6-font-weight-bold: 700;
@ds6-font-weight-regular: 500;
