@font-face {
    font-family: "Market Sans";
    src: url("MarketSans-Bold-WebS.eot"); /* IE9 Compat Modes */
    src:
        url("MarketSans-Bold-WebS.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("MarketSans-Bold-WebS.woff2") format("woff2"),
        /* Super Modern Browsers */ url("MarketSans-Bold-WebS.woff")
            format("woff"),
        /* Pretty Modern Browsers */ url("MarketSans-Bold-WebS.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("MarketSans-Bold-WebS.svg#MarketSans-Bold-WebS") format("svg"); /* Legacy iOS */

    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
