// Textbox text should NOT scale with root font-size. All font-size defined with px.

.textbox {
    position: relative;
}

span.textbox {
    display: inline-block;
}

input.textbox__control,
textarea.textbox__control {
    .placeholder;

    appearance: none;
    background: white;
    border: 1px solid @ds6-color-g205-gray;
    box-sizing: border-box;
    color: @ds6-color-g206-gray;
    font-family: inherit;
    font-size: 16px; // for Market Sans to align with buttons and select, it needs same font-size
    height: 40px;
    margin: 0; // Remove the margin in Firefox and Safari.
    padding: 0 16px 0 16px;

    &[disabled] {
        .placeholder-disabled;

        border-color: @ds6-color-g203-gray;
        color: @ds6-color-g203-gray;
    }

    &[readonly] {
        border-color: @ds6-color-g206-gray;
    }

    &[aria-invalid="true"] {
        border-color: @ds6-color-p013-red;
    }

    &:focus {
        border-color: @ds6-color-p002-blue;
        outline: 0;
    }
}

input.textbox__control--underline {
    .placeholder-floated;

    .placeholder-floated--focus;

    &[disabled] {
        .placeholder-floated;
    }

    border: none;
    border-bottom: 1px solid @ds6-color-g205-gray;
    height: 30px;
    padding: 0;
}

textarea.textbox__control {
    min-height: 200px;
    overflow: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    resize: vertical;
    vertical-align: middle;
}

span.textbox__icon,
.textbox__icon {
    display: inline-flex;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;

    &::before {
        align-self: center;
    }
}

span.textbox__icon {
    color: @ds6-color-g204-gray;
    font-size: 14px; // icon shouldn't scale with font-size cascade
}

.textbox__icon {
    fill: @ds6-color-g204-gray;
    width: 14px;
}

// BLOCK MODIFIERS

span.textbox__icon:first-child,
.textbox__icon:first-child {
    left: 17px;

    + input.textbox__control,
    + textarea.textbox__control {
        padding-left: 40px;
    }
}

.textbox--icon-end {
    input.textbox__control,
    textarea.textbox__control {
        padding-right: 40px;
    }

    span.textbox__icon:last-child,
    .textbox__icon:last-child {
        right: 17px;
    }
}

.textbox--small {
    font-size: 12px;

    input.textbox__control,
    textarea.textbox__control {
        height: 32px;
    }
}

.textbox--large {
    font-size: 16px;

    input.textbox__control,
    textarea.textbox__control {
        height: 48px;
    }
}

// ELEMENT MODIFIERS

.textbox__control--fluid {
    width: 100%;
}

// RTL

[dir="rtl"] {
    span.textbox__icon:first-child::before,
    .textbox__icon:first-child {
        left: auto;
        right: 17px;

        + input.textbox__control,
        + textarea.textbox__control {
            padding-left: 17px;
            padding-right: 40px;
        }
    }

    .textbox--icon-end {
        input.textbox__control,
        textarea.textbox__control {
            padding-left: 40px;
            padding-right: 17px;
        }

        span.textbox__icon:last-child::before,
        .textbox__icon:last-child {
            left: 17px;
            right: auto;
        }
    }
}
