.placeholder() {
    &::-webkit-input-placeholder {
        color: @ds6-color-g205-gray;
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: @ds6-color-g205-gray;
        font-weight: 200;
    }

    &:-ms-input-placeholder {
        color: @ds6-color-g205-gray;
        font-weight: 200;
    }
}

.placeholder-disabled() {
    &::-webkit-input-placeholder {
        color: @ds6-color-g203-gray;
    }

    &::-moz-placeholder {
        color: @ds6-color-g203-gray;
    }

    &:-ms-input-placeholder {
        color: @ds6-color-g203-gray;
    }
}

.placeholder-floated() {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }

    &::placeholder {
        color: transparent;
    }
}

.placeholder-floated--focus() {
    &:focus::-webkit-input-placeholder {
        color: @ds6-color-g205-gray;
    }

    &:focus::-moz-placeholder {
        color: @ds6-color-g205-gray;
    }

    &:focus:-ms-input-placeholder {
        color: @ds6-color-g205-gray;
    }

    &:focus::placeholder {
        color: @ds6-color-g205-gray;
    }
}
