@import "../../mixins/utility/utility-mixins.less";

.progress-stepper__items {
    align-items: start;
    display: flex;
}

.progress-stepper__item {
    .customColorProperty(progress-stepper-active-color);

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 32px;
}

hr.progress-stepper__separator {
    .customBackgroundColorProperty(progress-stepper-active-color);

    border: 0 none;
    flex: 1;
    height: 2px;
    margin: 0;
    min-width: @progress-stepper-min-width;
    position: relative;
    top: 11px;
}

.progress-stepper__text {
    font-size: @progress-stepper-font-size;
    justify-self: center;
    margin-top: 8px;
    text-align: center;
    width: @progress-stepper-min-width;
}

.progress-stepper__icon {
    margin: auto;
}

.progress-stepper__icon > [role="img"] {
    .customColorProperty(progress-stepper-badge-current-color);
    .customBackgroundColorProperty(progress-stepper-badge-current-background-color);
    .customBorderColorProperty(progress-stepper-badge-current-border-color);

    align-items: center;
    border-radius: @progress-stepper-icon-size;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: @font-weight-bold;
    height: @progress-stepper-icon-size;
    justify-content: center;
    top: 0;
    width: @progress-stepper-icon-size;
}

.progress-stepper__items--upcoming hr.progress-stepper__separator,
hr.progress-stepper__separator--upcoming,
.progress-stepper__item[aria-current] ~ hr.progress-stepper__separator {
    .customBackgroundColorProperty(progress-stepper-upcoming-color);
}

.progress-stepper__item--attention {
    .customColorProperty(progress-stepper-attention-color);
}

.progress-stepper__text > * {
    margin: 0;
}

.progress-stepper {
    margin: 16px 0;
    overflow: auto;
}

.progress-stepper__item:first-child .progress-stepper__text {
    align-self: flex-start;
    margin-left: 4px;
    text-align: left;
}

.progress-stepper__item:last-child .progress-stepper__text {
    align-self: flex-end;
    margin-right: 4px;
    text-align: right;
}

.progress-stepper--vertical .progress-stepper__item {
    align-items: flex-start;
    flex-direction: row;
    height: 32px;
    width: auto;
}

.progress-stepper__items--upcoming .progress-stepper__item,
.progress-stepper__item--upcoming,
.progress-stepper__item[aria-current] ~ .progress-stepper__item {
    .customColorProperty(progress-stepper-text-light-color);
}

.progress-stepper__items--upcoming .progress-stepper__icon > [role="img"],
.progress-stepper__item--upcoming .progress-stepper__icon > [role="img"],
.progress-stepper__item[aria-current]
    ~ .progress-stepper__item
    .progress-stepper__icon
    > [role="img"] {
    .customColorProperty(progress-stepper-badge-upcoming-color);
    .customBackgroundColorProperty(progress-stepper-badge-upcoming-background-color);
    .customBorderColorProperty(progress-stepper-badge-upcoming-border-color);
}

.progress-stepper--vertical .progress-stepper__items {
    display: block;
}

.progress-stepper--vertical .progress-stepper__item .progress-stepper__text {
    align-self: flex-start;
    margin-left: 16px;
    margin-top: 0;
    text-align: left;
    white-space: nowrap;
    width: auto;
}

.progress-stepper--vertical .progress-stepper__icon {
    display: inline-block;
    height: 28px;
    margin: inherit;
    width: 24px;
}

.progress-stepper--vertical .progress-stepper__separator {
    display: inline-block;
    flex: inherit;
    height: 51px;
    margin-bottom: 12px;
    margin-left: 11px;
    margin-top: -15px;
    min-width: inherit;
    width: 2px;
}

[dir="rtl"] {
    .progress-stepper__item:first-child .progress-stepper__text {
        margin-left: 0;
        margin-right: 4px;
        text-align: right;
    }

    .progress-stepper__item:last-child .progress-stepper__text {
        margin-left: 4px;
        margin-right: 0;
        text-align: left;
    }

    .progress-stepper--vertical .progress-stepper__item .progress-stepper__text {
        margin-left: inherit;
        margin-right: 16px;
        text-align: right;
    }

    .progress-stepper--vertical .progress-stepper__separator {
        margin-left: inherit;
        margin-right: 11px;
    }
}

@media (min-width: 601px) {
    hr.progress-stepper__separator {
        min-width: @progress-stepper-large-min-width;
    }

    .progress-stepper__text {
        font-size: @progress-stepper-large-font-size;
        width: @progress-stepper-large-min-width;
    }
}

@media (prefers-color-scheme: dark) {
    .stepper {
        --stepper-badge-background-color: black;
        --stepper-text-dark-color: @color-text-default-dark-mode;
    }
}
