<!doctype html>
<html lang="en">
    <head>
        <title>${$global.meta.pageTitle || 'eBay Skin CSS Framework'}</title>
        <meta name="description" content=`${$global.meta.pageDescription || 'The official static CSS framework of eBay - Skin is a semantic, accessible, responsive, and highly usable framework and CSS component library.'}`>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <master-icons/>
        <master-flags/>
    </head>
    <body>
        <site-header/>
        <div class="page-grid-container">
            <div class="page-grid">
                 <site-navrail/>
                <main>
                    <${input.renderBody}/>
                </main>
            </div>
        </div>
        <site-footer/>
    </body>
</html>