import skinGraphic from "../static/skin-graphic.png";

<about/>
<img class="skin-graphic" src=skinGraphic alt="" />
<install/>
<img class="skin-graphic" src=skinGraphic alt="" />
<bundling/>
<img class="skin-graphic" src=skinGraphic alt="" />
<token-system/>
<img class="skin-graphic" src=skinGraphic alt="" />
<themes/>
<img class="skin-graphic" src=skinGraphic alt="" />
<animation/>
