import siteMeta from "../../components/data/site.json" ;
import {components} from '../../components/components.marko';

style {
    .page-sitemap {
        nav {
            margin-bottom: var(--spacing-400);
        }

        li {
            margin-bottom: var(--spacing-200);
        }

        a.nav-link {
            text-decoration: underline;
        }

        a.nav-link:visited,
        a:visited {
            color: revert;
        }
    }

    .site-nav {
        display: none;
    }

    main {
        grid-area: 1 / 1 / span 1 / span 16;
    }
}

<div class="page-sitemap">
    <h1>Sitemap</h1>

    <h2 id="sitemap-pages">Main Pages</h2>

    <nav aria-labelledby="sitemap-pages">
        <ul role="menubar">
        <li><a role="menuitem" href="archive/index.html">Archive (v${siteMeta.version})</a></li>
            <li><a role="menuitem" href="https://github.com/eBay/skin">Repo</a></li>
            <li><a role="menuitem" href="/storybook">Storybook</a></li>
        </ul>
    </nav>

    <h2 id="sitemap-components">CSS Components</h2>

    <nav aria-labelledby="sitemap-components">
        <ul role="menubar">
            <components-list components=components/>
        </ul>
    </nav>

    <h2 id="sitemap-guides">Guides</h2>

    <nav aria-labelledby="sitemap-guides">
        <ul role="menubar">
            <li>
                <a href="guide/page-grid" role="menuitem">
                Page Grid Use Guide</a>
            </li>
            <li>
                <a href="guide/skeleton" role="menuitem">Skeleton Use Guide</a>
            </li>
            <li>
                <a href="guide/animation" role="menuitem">Animation Guide</a>
            </li>
        </ul>
    </nav>
</div>