@border-radius-none: 0;
@border-radius-form-control: 0;
@border-radius-small: 8px;

@border-radius-button: 48px;
@border-radius-icon-button: @border-radius-small;
@border-radius-expand-button: @border-radius-small;

@border-radius-overlay: 4px;
@border-radius-overlay-box-shadow: 0 0 3px rgba(17, 24, 32, 0.499972);;

@border-radius-dropdown: @border-radius-small;
// These are values required for new rounded corners
@border-radius-dropdown-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@border-radius-dropdown-border-color: @color-grey1;

@border-radius-notice: @border-radius-small;

@border-radius-dialog: 16px;

@border-radius-pagination: @border-radius-small;
