@border-radius-none: 0;
@border-radius-form-control: 0;
@border-radius-small: 8px;

@border-radius-button: 20px;
@border-radius-large-button: 24px;
@border-radius-icon-button: @border-radius-small;
@border-radius-expand-button: @border-radius-small;

@border-radius-overlay: @border-radius-small;

@border-radius-notice: @border-radius-small;

@border-radius-dialog: 16px;
