@import "core-variables.less";
@import "../base/border-radius-variables.less";

@border-radius-none: 0;
@border-radius-extra-small: 4px;
@border-radius-small: 8px;
@border-radius-medium: 16px;

@border-radius-form-control: @border-radius-small;
@border-radius-button: 48px;
@border-radius-overlay: @border-radius-extra-small;
@border-radius-dropdown: @border-radius-form-control;
@border-radius-dropdown-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@border-radius-dropdown-border-color: @color-grey1;
@border-radius-notice: @border-radius-small;
@border-radius-dialog: @border-radius-medium;

// DEPRECATED (redundant/unused)
@border-radius-expand-button: @border-radius-form-control;
@border-radius-pagination: @border-radius-small;
@border-radius-icon-button: @border-radius-form-control;
@border-radius-rounded-form: @border-radius-form-control;
