@import "color-variables.less";

@button-border-radius: @border-radius-button;
@button-icon-only-border-radius: @border-radius-small;
@button-font-size: @font-size-regular;
@button-large-font-size: @font-size-medium;
@button-disabled-opacity: @color-action-disabled-opacity;

@button-min-width: 128px;
@button-padding-vertical: 11px;
@button-padding-horizontal: 16px;
@button-padding: @button-padding-vertical @button-padding-horizontal;
@button-large-padding-vertical: 14px;
@button-large-padding-horizontal: 16px;
@button-large-padding: @button-large-padding-vertical @button-large-padding-horizontal;
@button-wide-padding-horizontal: 48px;

@button-primary-font-weight: @font-weight-action-primary;
@button-primary-background-color: @color-action-primary;
@button-primary-border-color: @color-action-primary;
@button-primary-foreground-color: @color-background-default;
@button-primary-hover-background-color: @color-action-hover;
@button-primary-hover-border-color: @color-action-primary;
@button-primary-hover-foreground-color: @color-background-default;
@button-primary-disabled-background-color: @color-action-primary-disabled;
@button-primary-disabled-border-color: @color-action-primary-disabled;
@button-primary-disabled-foreground-color: @color-background-default;

@button-secondary-background-color: @color-white;
@button-secondary-border-color: @color-b4;
@button-secondary-foreground-color: @color-b4;
@button-secondary-hover-background-color: @color-white;
@button-secondary-hover-border-color: @color-b6;
@button-secondary-hover-foreground-color: @color-b6;
@button-secondary-disabled-background-color: @color-white;
@button-secondary-disabled-border-color: @color-disabled;
@button-secondary-disabled-foreground-color: @color-disabled;

@button-delete-background-color: @color-background-default;
@button-delete-foreground-color: @color-status-attention;

@button-confirmation-background-color: @color-g4;
@button-confirmation-border-color: @color-g4;
@button-confirmation-foreground-color: @color-background-default;

// deprecated / renamed
@button-icon-border-radius: @button-icon-only-border-radius;
