@import "../../less/ds6/variables.less";

@btn-border-radius: 0;
@btn-font-size: @font-size-14;
@btn-padding: 9.5px 16px;

@btn-cta-background-color: @ds6-color-background-default;
@btn-cta-color: @ds6-color-b4;
@btn-cta-visited-color: @ds6-color-b4;
@btn-cta-focus-hover-background-color: @ds6-color-b7;
@btn-cta-focus-hover-border-color: @ds6-color-b7;
@btn-cta-focus-hover-color: @ds6-color-white;

@btn-cta-no-href-background-color: @ds6-color-white;
@btn-cta-no-href-border-color: @ds6-color-disabled;
@btn-cta-no-href-color: @ds6-color-disabled;

@button-regular-background-color: @ds6-color-white;
@button-regular-border-color: @ds6-color-grey3;
@button-regular-color: @ds6-color-black;

@button-regular-active-color: @ds6-color-black;
@button-regular-fake-visited-color: @ds6-color-black;

@button-regular-disabled-background-color: @ds6-color-disabled;
@button-regular-disabled-border-color: @ds6-color-disabled;
@button-regular-disabled-color: @ds6-color-white;
@button-regular-disabled-svg-color: @ds6-color-white;
@button-regular-disabled-hover-background-color: @ds6-color-disabled;
@button-regular-disabled-hover-border-color: @ds6-color-disabled;

@button-regular-partially-disabled-background-color: @ds6-color-disabled;
@button-regular-partially-disabled-color: @ds6-color-disabled;

@button-primary-background-color: @ds6-color-b4;
@button-primary-border-color: @ds6-color-b4;
@button-primary-color: @ds6-color-white;

@button-primary-fake-visited-color: @ds6-color-white;

@button-primary-disabled-background-color: @ds6-color-disabled;
@button-primary-disabled-border-color: @ds6-color-disabled;
@button-primary-disabled-color: @ds6-color-white;
@button-primary-disabled-svg-color: @ds6-color-white;
@button-primary-disabled-hover-background-color: @ds6-color-disabled;
@button-primary-disabled-hover-border-color: @ds6-color-disabled;

@button-primary-partially-disabled-background-color: @ds6-color-disabled;
@button-primary-partially-disabled-border-color: @ds6-color-disabled;
@button-primary-partially-disabled-color: @ds6-color-white;

@button-secondary-background-color: @ds6-color-white;
@button-secondary-border-color: @ds6-color-b4;
@button-secondary-color: @ds6-color-b4;

@button-secondary-fake-visited-color: @ds6-color-b4;

@button-secondary-disabled-background-color: @ds6-color-white;
@button-secondary-disabled-border-color: @ds6-color-disabled;
@button-secondary-disabled-color: @ds6-color-disabled;
@button-secondary-disabled-svg-color: @ds6-color-disabled;
@button-secondary-disabled-hover-background-color: @ds6-color-white;
@button-secondary-disabled-hover-border-color: @ds6-color-disabled;

@button-secondary-partially-disabled-border-color: @ds6-color-disabled;
@button-secondary-partially-disabled-color: @ds6-color-disabled;
