@import "color-variables.less";

@button-border-radius: @border-radius-none;
@button-font-size: @font-size-regular;
@button-large-font-size: @font-size-medium;
@button-padding: 11px 16px;
@button-large-padding: 14px 16px;
@button-disabled-opacity: @color-action-disabled-opacity;

@button-primary-font-weight: @font-weight-action-primary;
@button-primary-background-color: @color-action-primary;
@button-primary-border-color: @color-action-primary;
@button-primary-foreground-color: @color-background-default;
@button-primary-hover-background-color: @color-action-hover;
@button-primary-hover-border-color: @color-action-primary;
@button-primary-hover-foreground-color: @color-background-default;
@button-primary-disabled-background-color: @color-action-primary-disabled;
@button-primary-disabled-border-color: @color-action-primary-disabled;
@button-primary-disabled-foreground-color: @color-background-default;

@button-secondary-background-color: @color-white;
@button-secondary-border-color: @color-b4;
@button-secondary-foreground-color: @color-b4;
@button-secondary-hover-background-color: @color-white;
@button-secondary-hover-border-color: @color-b6;
@button-secondary-hover-foreground-color: @color-b6;
@button-secondary-disabled-background-color: @color-white;
@button-secondary-disabled-border-color: @color-disabled;
@button-secondary-disabled-foreground-color: @color-disabled;

@button-delete-background-color: @color-background-default;
@button-delete-foreground-color: @color-status-attention;

@button-confirmation-background-color: @color-g4;
@button-confirmation-border-color: @color-g4;
@button-confirmation-foreground-color: @color-background-default;
