@import "color-variables.less";

@checkbox-checked-color: @color-b4;
@checkbox-unchecked-color: @color-black;
@checkbox-disabled-opacity: 0.25;

@checkbox-checked-color-dark-mode: @color-b4-dark-mode;
@checkbox-unchecked-color-dark-mode: @color-black-dark-mode; // TBD: Not Final
