// Colours
//----------------------

// BRAND COLORS

// Yellow
@ds6-color-y1: #fcf2bd;
@ds6-color-y2: #f7e376;
@ds6-color-y3: #fbcd25;
@ds6-color-y4: #f7b100;
@ds6-color-y5: #e58c02;
@ds6-color-y6: #aa5404;
@ds6-color-y7: #592e13;
// Orange
@ds6-color-o1: #ffdec7;
@ds6-color-o2: #feb786;
@ds6-color-o3: #ff8559;
@ds6-color-o4: #ff6932;
@ds6-color-o5: #db3c07;
@ds6-color-o6: #b03005;
@ds6-color-o7: #5c1b05;
// Red
@ds6-color-r1: #ffd1dd;
@ds6-color-r2: #ffa2b6;
@ds6-color-r3: #ff6383;
@ds6-color-r4: #e62048;
@ds6-color-r5: #c4003a;
@ds6-color-r6: #a00739;
@ds6-color-r7: #680226;
// Magenta
@ds6-color-m1: #fad8f0;
@ds6-color-m2: #f5a0d9;
@ds6-color-m3: #ea5fbc;
@ds6-color-m4: #d11da4;
@ds6-color-m5: #a60d8a;
@ds6-color-m6: #82187c;
@ds6-color-m7: #500750;
// Blue
@ds6-color-b1: #c5e5fb;
@ds6-color-b2: #93c9ff;
@ds6-color-b3: #659eff;
@ds6-color-b4: #3665f3;
@ds6-color-b5: #382aef;
@ds6-color-b6: #2b0eaf;
@ds6-color-b7: #121258;
// Teal
@ds6-color-t1: #c2f2ef;
@ds6-color-t2: #71e3e2;
@ds6-color-t3: #1dcbca;
@ds6-color-t4: #02a2ac;
@ds6-color-t5: #01718f;
@ds6-color-t6: #0e4a6c;
@ds6-color-t7: #00364f;
// Green
@ds6-color-g1: #ccfdce;
@ds6-color-g2: #9ef4a6;
@ds6-color-g3: #5ee471;
@ds6-color-g4: #3ac952;
@ds6-color-g5: #119c4b;
@ds6-color-g6: #157a40;
@ds6-color-g7: #064d2f;
// Lime
@ds6-color-l1: #f4fabe;
@ds6-color-l2: #e9f577;
@ds6-color-l3: #c9e43b;
@ds6-color-l4: #accf02;
@ds6-color-l5: #86b300;
@ds6-color-l6: #4b7d06;
@ds6-color-l7: #364f03;

// Grey
@ds6-color-white: #fff;
@ds6-color-grey1: #f5f5f5;
@ds6-color-grey2: #e5e5e5;
@ds6-color-grey3: #c7c7c7;
@ds6-color-grey4: #a2a2a2;
@ds6-color-grey5: #767676;
@ds6-color-grey6: #41413f;
@ds6-color-black: #111820;

// PRODUCT COLORS

@ds6-color-text-default: @ds6-color-black;
@ds6-color-text-secondary: @ds6-color-grey5;
@ds6-color-link-default: @ds6-color-b4;
@ds6-color-link-visited: @ds6-color-m6; // used to be #6a4fcc; holding on for reference as it may change
@ds6-color-information-background: @ds6-color-b1;
@ds6-color-badge: @ds6-color-y4;
@ds6-color-star: @ds6-color-y4;
@ds6-color-warning-background: @ds6-color-y1;
@ds6-color-confirmation-text: @ds6-color-g6;
@ds6-color-confirmation-background: @ds6-color-g1;
@ds6-color-critical-text: @ds6-color-r4;
@ds6-color-critical-background: @ds6-color-r1;
@ds6-color-background-default: @ds6-color-white;
@ds6-color-item-tile-background-visited: @ds6-color-grey1;
@ds6-color-button-disabled-background: @ds6-color-grey3;
@ds6-color-disabled: @ds6-color-grey3;
@ds6-color-badge-text: @ds6-color-white;
@ds6-color-badge-background: @ds6-color-r4;
