@combobox-font-size: @font-size-14;
@combobox-large-font-size: @font-size-18;
@combobox-height: 40px;
@combobox-padding: 0 32px 0 16px;
@combobox-background-color: @color-white;
@combobox-border-color: @color-grey4;
@combobox-border-radius: 0;
@combobox-foreground-color: @color-text-default;
@combobox-readonly-text-shadow-color: @color-black;
@combobox-readonly-selection-background: @color-white;
@combobox-disabled-background-color: @combobox-background-color;
@combobox-disabled-border-color: @color-disabled;
@combobox-disabled-foreground-color: @color-disabled;
@combobox-invalid-foreground-color: @color-r4;
@combobox-focus-border-color: @color-b4;
@combobox-item-active-font-weight: bold;
