@import "core-variables.less";
@import "../base/dropdown-variables.less";

@dropdown-border-color: @color-grey1;
@dropdown-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@dropdown-border-radius: @border-radius-small;
@dropdown-border-radius-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
@dropdown-border-radius-border-color: @color-grey1;
