@import "../../less/ds6/variables.less";
@import "icon-variables.less";

@dropdown-items-background-color: @ds6-color-white;
@dropdown-items-border-color: @ds6-color-grey3;

@dropdown-item-background-color: @ds6-color-white;
@dropdown-item-border-color: @ds6-color-white;
@dropdown-item-hover-background-color: @ds6-color-grey2;
@dropdown-item-active-status-color: @ds6-color-grey3;
@dropdown-item-active-font-weight: bold;

@dropdown-fake-anchor-color: @ds6-color-black;
@dropdown-fake-button-background-color: @ds6-color-white;
@dropdown-fake-button-color: @ds6-color-black;

@dropdown-status-color: @ds6-color-black;
@dropdown-status-base64-light: @icon-tick-base64-light;
