@field-description-font-size: @font-size-small;
@field-description-color: @color-grey6;
@field-description-confirmation-color: @color-text-confirmation;
@field-description-information-color: @color-status-information;
@field-description-attention-color: @color-status-attention;
@field-label-color-disabled: @color-text-disabled;
