@filter-menu-border-color: @color-divider;
@filter-menu-item-unchecked-color: @color-text-secondary;
@filter-menu-item-checked-color: @color-action-primary;
@filter-menu-item-background-color: @color-white;
@filter-menu-item-foreground-color: @color-text-default;
@filter-menu-item-hover-background-color: @color-grey1;
