@page-notice-attention-background-color: #fff5f8;
@page-notice-attention-border-color: @color-r4;
@page-notice-celebration-background-color: #effef0;
@page-notice-celebration-border-color: @color-g4;
@page-notice-celebration-foreground-color: @color-g6;
@page-notice-confirmation-background-color: #effef0;
@page-notice-confirmation-border-color: @color-g4;
@page-notice-information-background-color: #f1f8fe;
@page-notice-information-border-color: @color-b4;
