@import "../../variables/ds6/color-variables.less";

@progress-bar-color: @color-action-primary;
@progress-bar-foreground-color: @color-action-primary;
@progress-bar-background-color: @color-separator;
