@progress-stepper-active-color: @color-status-information;
@progress-stepper-attention-color: @color-status-attention;
@progress-stepper-upcoming-color: @color-text-disabled;
@progress-stepper-upcoming-text-color: @color-text-secondary;
@progress-stepper-text-dark-color: @color-text-default;
@progress-stepper-text-light-color: @color-text-secondary;
@progress-stepper-icon-size: 24px;
@progress-stepper-badge-upcoming-background-color: @color-white;
@progress-stepper-badge-upcoming-border-color: @progress-stepper-upcoming-color;
@progress-stepper-badge-upcoming-color: @progress-stepper-upcoming-text-color;
@progress-stepper-badge-current-background-color: @progress-stepper-active-color;
@progress-stepper-badge-current-border-color: @progress-stepper-active-color;
@progress-stepper-badge-current-color: @color-white;
