@program-badge-color: @color-b4;
@program-badge-authenticity-guaranteed-width: 48px;
@program-badge-authenticity-guaranteed-height: 48px;
@program-badge-click-to-call-width: 48px;
@program-badge-click-to-call-height: 48px;
@program-badge-escrow-width: 48px;
@program-badge-escrow-height: 48px;
@program-badge-free-warranty-width: 48px;
@program-badge-free-warranty-height: 48px;
@program-badge-money-back-guarantee-chf-width: 48px;
@program-badge-money-back-guarantee-chf-height: 48px;
@program-badge-money-back-guarantee-eu-width: 48px;
@program-badge-money-back-guarantee-eu-height: 48px;
@program-badge-money-back-guarantee-uk-width: 48px;
@program-badge-money-back-guarantee-uk-height: 48px;
@program-badge-money-back-guarantee-us-width: 48px;
@program-badge-money-back-guarantee-us-height: 50px;
@program-badge-money-back-guarantee-zl-width: 48px;
@program-badge-money-back-guarantee-zl-height: 48px;
@program-badge-top-rated-seller-width: 48px;
@program-badge-top-rated-seller-height: 48px;
@program-badge-ebay-plus-width: 58px;
@program-badge-ebay-plus-height: 16px;
