@import "color-variables.less";

@radio-dimensions: 18px;
@radio-large-dimensions: 24px;
@radio-checked-color: @color-b4;
@radio-unchecked-color: @color-black;
@radio-disabled-opacity: 0.25;
@radio-custom-outline-color: @color-grey5;
@radio-checked-color-dark-mode: @color-b4-dark-mode;
@radio-unchecked-color-dark-mode: @color-text-default-dark-mode;
