@import "color-variables.less";
@import "icon-variables.less";

@radio-checked-color: @color-b4;
@radio-unchecked-color: @color-black;
@radio-unchecked-icon-base64-light: @icon-radio-unchecked-base64-light;
@radio-checked-icon-base64-light: @icon-radio-checked-base64-light;
@radio-disabled-opacity: 0.25;
