@section-title-foreground-color: @color-text-default;
@section-title-subtitle-color: @color-text-secondary;
@section-title-separator-color: @color-divider;

// Dark-mode (DS6 only)
@section-title-foreground-color-dark-mode: @color-text-default-dark-mode;
