@select-background-color: @color-white;
@select-border-color: @color-grey4;
@select-border-radius: initial;
@select-foreground-color: @color-black;
@select-font-family: @font-family-custom;
@select-font-size: @font-size-14;
@select-large-font-size: @font-size-18;
@select-padding: 0 32px 0 16px;
@select-focus-border-color: @color-b4;
@select-disabled-background-color: @color-grey2;
@select-disabled-color: @color-grey3;
@select-borderless-focus-border-color: @color-b7;
@select-borderless-disabled-background-color: @color-white;
@select-borderless-disabled-color: @color-grey2;
@select-invalid-border-color: @color-r4;
