@import "core-variables.less";
@import "dropdown-variables.less";
@import "../base/select-variables.less";

@select-background-color: @color-form-control-background;
@select-border-radius: @border-radius-small;
@select-disabled-foregound-color: @color-grey4;
@select-invalid-background-color: @color-textbox-invalid;
@select-invalid-foreground-color: @color-r4;
@select-borderless-disabled-background-color: @color-form-control-background;
