@import "../../variables/ds6/color-variables.less";

@signal-trustworthy-color: @color-b4;
@signal-neutral-color: @color-grey5;
@signal-time-sensitive-color: @color-g6;
@signal-recent-color: @color-r4;
@signal-border-radius: @border-radius-medium;
