@snackbar-dialog-background-color: @color-grey1;
@snackbar-dialog-foreground-color: @color-text-default;
@snackbar-dialog-border-radius: @border-radius-dialog @border-radius-dialog 0 0;
@snackbar-dialog-large-border-radius: @border-radius-dialog;
