@stepper-active-color: @color-status-information;
@stepper-attention-color: @color-status-attention;
@stepper-upcoming-color: @color-text-disabled;
@stepper-upcoming-text-color: @color-text-secondary;
@stepper-text-dark-color: @color-text-default;
@stepper-text-light-color: @color-text-secondary;
@stepper-icon-size: 24px;
@stepper-badge-upcoming-background-color: @color-white;
@stepper-badge-upcoming-border-color: @stepper-upcoming-color;
@stepper-badge-upcoming-color: @stepper-upcoming-text-color;
@stepper-badge-current-background-color: @stepper-active-color;
@stepper-badge-current-border-color: @stepper-active-color;
@stepper-badge-current-color: @color-white;
// TODO remove the following variables in the next major
@stepper-badge-background-color: @stepper-active-color;
@stepper-badge-border-color: @stepper-active-color;
@stepper-badge-color: @color-white;
@stepper-confirmation-color: @color-g4; // Remove in next major version
@stepper-information-color: @color-status-information; // Remove in next major version
