@import "core-variables.less";
@import "../base/textbox-variables.less";

@textbox-focus-background-color: @color-background-default;
@textbox-disabled-border-color: @color-form-control-border;
@textbox-disabled-foreground-color: @color-grey4;
@textbox-invalid-background-color: @color-textbox-invalid;
@textbox-border-radius: @border-radius-small;
