@toast-dialog-background-color: @color-action-primary;
@toast-dialog-foreground-color: @color-background-default;
@toast-dialog-border-radius: @border-radius-dialog @border-radius-dialog 0 0;
@toast-dialog-large-border-radius: @border-radius-dialog;
