@import "../base/typography-variables.less";

// typography unique to ds6

@font-family-custom: @marketsans-fontname, @font-family-default;

@font-size-10: 0.6125rem;
@font-size-22: 1.375rem;
@font-size-26: 1.625rem;
@font-size-28: 1.75rem;

@font-weight-bold: 700;
@font-weight-medium: @font-weight-bold;
@font-weight-regular: 500;

@typography-bold-text-font-weight: @font-weight-bold;
@typography-secondary-text-color: @color-text-secondary;
@typography-emphasis-color: @color-critical-text;
@typography-negative-color: @color-critical-text;
@typography-positive-color: @color-confirmation-text;
@typography-disabled-text-color: @color-disabled;
