@import "../base/typography-variables.less";

// typography unique to ds6

@font-family-default: Arial, sans-serif;
@font-family-custom: @marketsans-fontname, @font-family-default;

@font-size-10: 0.6125rem;
@font-size-22: 1.375rem;
@font-size-26: 1.625rem;
@font-size-28: 1.75rem;

@font-weight-bold: 700;
@font-weight-regular: 500;
