@import "../../mixins/utility/utility-mixins.less";

summary.details__summary {
    .customColorProperty(details-summary-foreground-color);

    align-items: center;
    box-sizing: border-box;
    display: inline-block;
    list-style-position: inside;
    list-style-type: none; /* Remove details marker for non-webkit */
    padding: 12px 8px;
    width: 100%;

    &::before {
        content: none;
    }

    /* Remove details marker for non-webkit */
    &::-webkit-details-marker {
        display: none;
    }
}

summary.details__summary--center {
    text-align: center;
}

summary.details__summary--small {
    font-size: @font-size-12;
    padding: 4px 8px;
}

span.details__icon {
    margin-left: 8px;
}

// progressive enhancement - override hidden SVG
span.details__icon[hidden] {
    display: inline-block;
}

[dir="rtl"] span.details__icon {
    margin-left: 0;
    margin-right: 8px;
}

details.details[open] {
    span.details__icon {
        transform: rotate(180deg);
    }

    summary.details__summary::before {
        content: none;
    }
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
details.details summary:focus:not(:focus-visible) {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    details {
        --details-summary-foreground-color: @color-b4-dark-mode;
    }
}
