/* Remove details marker for non-webkit */
summary::-webkit-details-marker {
    display: none;
}

summary {
    display: flex;
    justify-content: left;
    list-style-position: inside;
    list-style-type: none;/* Remove details marker for non-webkit */
}
