<link rel="preconnect" href="https://R2IYF7ETH7-dsn.algolia.net" crossorigin />
<div.search key="container"/>

style {
    .DocSearch-SearchBar {
        --docsearch-highlight-color: var(--color-foreground-on-inverse);
    }

    header.DocSearch-SearchBar {
        min-height: 76px;
    }

    .DocSearch-LoadingIndicator svg,
    .DocSearch-MagnifierLabel svg {
        color: var(--color-foreground-accent);
    }
}