@wizard-step-confirmation-color: #3ac952;
@wizard-step-insufficient-color: #3665f3;
@wizard-step-error-color: #e62048;
@wizard-step-default-color: #111820;
@wizard-step-upcoming-color: #c7c7c7;
@wizard-step-title-bold-color: #111820;
@wizard-step-title-light-color: #767676;
@wizard-stepper-list-line-height: 2px;
@wizard-stepper-list-line-spacing: 5px;
@wizard-stepper-list-icon-size: 24px;

.wizard-stepper__items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr.wizard-stepper__separator {
    border: 0 none;
    height: 24px;
    margin: 0;
    position: relative;
    width: 100%;
}

hr.wizard-stepper__separator::after {
    background-color: green;
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    top: 11px;
    width: 100%;
}

hr.wizard-stepper__separator--confirmation::after {
    background-color: @wizard-step-confirmation-color !important;
}

hr.wizard-stepper__separator--default::after {
    background-color: @wizard-step-default-color !important;
}

hr.wizard-stepper__separator--error::after {
    background-color: @wizard-step-error-color !important;
}

hr.wizard-stepper__separator--insufficient::after {
    background-color: @wizard-step-insufficient-color !important;
}

hr.wizard-stepper__separator--inprogress::after {
    background-color: @wizard-step-confirmation-color !important;
}

hr.wizard-stepper__separator--upcoming::after {
    background-color: @wizard-step-upcoming-color !important;
}

.wizard-stepper__icon {
    align-items: center;
    display: flex;
    padding-bottom: 8px;
    width: 100%;

    &::after,
    &::before {
        content: '';
        height: 2px;
        width: 100%;
    }

    .badge {
        background-color: white;
        border: 1px solid @wizard-step-default-color;
        color: @wizard-step-default-color;
        height: @wizard-stepper-list-icon-size;
        top: 0;
        width: 34px; // This width makes the badge to have 24px width for some reason!
    }

    svg.icon {
        min-height: @wizard-stepper-list-icon-size;
        min-width: @wizard-stepper-list-icon-size;
    }
}

.wizard-stepper__item--transition-default .wizard-stepper__icon::after {
    background-color: @wizard-step-default-color !important;
}

.wizard-stepper__item--transition-upcoming .wizard-stepper__icon::after {
    background-color: @wizard-step-upcoming-color !important;
}

.wizard-stepper__item--transition-inprogress .wizard-stepper__icon::after {
    background-color: @wizard-step-confirmation-color !important;
}

.wizard-stepper__item--transition-confirmation .wizard-stepper__icon::after {
    background-color: @wizard-step-confirmation-color !important;
}

.wizard-stepper__item--transition-insufficient .wizard-stepper__icon::after {
    background-color: @wizard-step-insufficient-color !important;
}

.wizard-stepper__item--transition-error .wizard-stepper__icon::after {
    background-color: @wizard-step-error-color !important;
}

.wizard-stepper__item {
    margin: 0 auto;
    position: relative;
    text-align: center;

    .wizard-stepper__text {
        margin-top: 8px;
    }

    &--default {
        color: @wizard-step-default-color;

        .wizard-stepper__icon::before,
        .wizard-stepper__icon::after {
            background-color: @wizard-step-default-color;
        }

        .wizard-stepper__text {
            color: @wizard-step-default-color;
        }
    }

    &--upcoming {
        color: @wizard-step-upcoming-color;

        .wizard-stepper__icon::before,
        .wizard-stepper__icon::after {
            background-color: @wizard-step-upcoming-color;
        }
    }

    &--confirmation .wizard-stepper__text.wizard-stepper__text--bold {
        color: @wizard-step-default-color;
        font-weight: bold;
    }

    &--confirmation {
        color: @wizard-step-title-light-color;
    }

    &--confirmation,
    &--inprogress {
        .wizard-stepper__icon::before,
        .wizard-stepper__icon::after {
            background-color: @wizard-step-confirmation-color;
        }
    }

    &--confirmation,
    &--upcoming {
        .wizard-stepper__text {
            color: @wizard-step-title-light-color;
        }
    }

    &--inprogress {
        svg.icon {
            color: @wizard-step-confirmation-color;
        }

        .wizard-stepper__text {
            color: @wizard-step-default-color;
            font-weight: bold;
        }
    }

    &--insufficient .wizard-stepper__icon::before {
        background-color: @wizard-step-insufficient-color;
    }

    &--error .wizard-stepper__icon::before {
        background-color: @wizard-step-error-color;
    }

    &:first-child {
        margin-left: 0;

        .wizard-stepper__icon::before {
            height: 0;
        }
    }

    &:last-child {
        margin-right: 0;

        .wizard-stepper__icon::after {
            height: 0;
        }
    }
}

.wizard-stepper {
    margin: 16px 0;

    &.wizard-stepper--vertical {
        display: block;

        .wizard-stepper__items {
            display: block;
        }

        .wizard-stepper__separator {
            display: block;
        }

        .wizard-stepper__separator::after {
            height: 100%;
            left: 11px;
            top: 0;
            width: 2px;
            z-index: 1;
        }

        .wizard-stepper__item {
            display: flex;
            margin-left: 0;
        }

        .wizard-stepper__icon {
            display: inline-block;
            width: auto;

            &::after,
            &::before {
                height: 100%;
                left: 11px;
                position: absolute;
                top: 24px;
                width: 2px;
            }
        }

        .wizard-stepper__text {
            align-self: center;
            margin-left: 8px;
            margin-top: -4px;
            text-align: left;
        }

        .wizard-stepper__text p:first-child,
        .wizard-stepper__text h3:first-child {
            margin-top: 8px;
        }

        .wizard-stepper__text p:last-child {
            margin-bottom: 0;
        }

        .wizard-stepper__item:first-child .wizard-stepper__icon::before {
            width: 0;
        }

        .wizard-stepper__item:last-child {
            margin-right: auto;

            .wizard-stepper__icon::before,
            .wizard-stepper__icon::after {
                height: 0;
            }
        }
    }
}
