.wizard-stepper-list {
    display: flex;
    justify-content: center;

    .wizard-step-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }

    .wizard-step-title {
        padding-top: 5px;
    }
}
