@import "../tokens/tokens.less";
@import "../mixins/utility-mixins.less";

.switch {
    box-sizing: border-box;
    height: 40px;
    position: relative;
    vertical-align: middle;
}

div.switch {
    display: flex;
}

span.switch {
    display: inline-flex;
}

span.switch__button {
    align-self: center;
    .background-color-token(switch-unchecked-background-color, color-foreground-secondary);
    border-radius: 400px;
    color: transparent;
    display: inline-block;
    height: 24px;
    position: relative;
    text-indent: 100%;
    transition: left 0.15s ease-out 0s;
    width: 40px;

    &::after {
        .background-color-token(switch-foreground-color, color-background-primary);
        border-radius: 50%;
        content: "";
        display: block;
        height: 18px;
        left: 3px;
        position: absolute;
        top: 3px;
        transform: translate3d(0, 0, 0);
        transition: left 0.15s ease-out 0s;
        width: 18px;
    }
}

input.switch__control,
span.switch__control {
    height: 24px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    width: 40px;
    z-index: 1;
}

input.switch__control[disabled] + span.switch__button {
    .background-color-token(switch-disabled-background-color, color-background-disabled);
}

input.switch__control:checked + span.switch__button::after {
    left: 19px;
}

span.switch__control[aria-disabled="true"] + span.switch__button {
    .background-color-token(switch-disabled-background-color, color-background-disabled);
}

input.switch__control {
    opacity: 0;

    &:focus + span.switch__button {
        .outline-token(1px, auto, switch-custom-outline-color, color-foreground-secondary);
    }

    &:focus:not(:focus-visible) + span.switch__button {
        outline: none;
    }
}

span.switch__control[aria-checked="true"] + span.switch__button::after {
    left: 19px;
}

input.switch__control:not([disabled]):checked + span.switch__button,
span.switch__control:not([aria-disabled="true"])[aria-checked="true"] + span.switch__button {
    .background-color-token(switch-checked-background-color, color-background-accent);
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
span.switch__control:focus:not(:focus-visible) {
    outline: 0;
}

@media screen and (-ms-high-contrast: active) {
    input.switch__control {
        opacity: 1;
    }
}
