a.cta-btn {
    background-color: @btn-cta-background-color;
    border-color: currentColor;
    color: @btn-cta-color;

    &:visited {
        color: @btn-cta-visited-color;
    }

    &:focus,
    &:hover {
        background-color: @btn-cta-focus-hover-background-color;
        border-color: @btn-cta-focus-hover-border-color;
        color: @btn-cta-focus-hover-color;
    }
}
