@import "../../mixins/utility/utility-mixins.less";

button.btn,
a.fake-btn {
    .btn-base();
    .customBorderRadiusProperty(button-border-radius);
    .customPaddingProperty(button-padding-vertical, button-padding-horizontal);

    background-color: transparent;
    border-color: inherit;
    color: inherit;
    display: inline-block;
    font-size: @font-size-14;
    max-width: 100%;
    min-height: 40px;
}

button.btn--wide,
a.fake-btn--wide {
    padding-left: @button-wide-padding-horizontal;
    padding-right: @button-wide-padding-horizontal;
}

button.btn[disabled],
a.fake-btn:not([href]),
button.btn[aria-disabled="true"],
a.fake-btn[aria-disabled="true"] {
    opacity: @button-disabled-opacity;
}

a.fake-btn:visited {
    color: inherit;
}

button.btn--fluid,
a.fake-btn--fluid {
    width: 100%;
}

.btn__cell,
.fake-btn__cell {
    .btn-cell-base();

    justify-content: center;
}

button.btn svg.icon,
a.fake-btn svg.icon {
    .btn-icon-base();

    flex-shrink: 0;
    height: 100%;
    width: 1em;
}

button.btn__cell--fixed-height svg.icon,
a.fake-btn__cell--fixed-height svg.icon {
    align-self: center;
    height: 1rem;
    overflow: visible;
    width: 1rem;
}

button.btn--primary,
a.fake-btn--primary {
    .customBackgroundColorProperty(button-primary-background-color);
    .customBorderColorProperty(button-primary-border-color);
    .customColorProperty(button-primary-foreground-color);

    font-weight: @button-primary-font-weight;

    &:focus,
    &:hover,
    &:active {
        .customBackgroundColorProperty(button-primary-hover-background-color);
        .customBorderColorProperty(button-primary-hover-border-color);
    }

    &:visited {
        .customColorProperty(button-primary-foreground-color);
    }
}

button.btn .spinner {
    height: 19px;
    width: 19px;
}

button.btn--confirmation {
    background-color: @button-confirmation-background-color;
    border-color: @button-confirmation-border-color;
    color: @button-confirmation-foreground-color;

    svg.icon {
        height: 19px;
        width: 19px;
    }

    svg.icon:first-child {
        margin-right: 0;
    }

    svg.icon:last-child {
        margin-left: 0;
    }

    &:focus,
    &:hover,
    &:active,
    &:visited {
        border-color: @button-confirmation-border-color;
        color: @button-confirmation-foreground-color;
    }
}

button.btn--primary[disabled],
button.btn--primary[aria-disabled="true"] {
    .customBackgroundColorProperty(button-primary-disabled-background-color);
    .customBorderColorProperty(button-primary-disabled-border-color);
    .customColorProperty(button-primary-disabled-foreground-color);

    svg.icon {
        .customFillProperty(button-primary-disabled-foreground-color);
    }

    &:hover,
    &:focus {
        .customBackgroundColorProperty(button-primary-disabled-background-color);
        .customBorderColorProperty(button-primary-disabled-border-color);
    }
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    .customBackgroundColorProperty(button-primary-disabled-background-color);
    .customBorderColorProperty(button-primary-disabled-border-color);
    .customColorProperty(button-primary-disabled-foreground-color);

    &:focus,
    &:hover,
    &:active {
        .customBackgroundColorProperty(button-primary-disabled-background-color);
        .customBorderColorProperty(button-primary-disabled-border-color);
        .customColorProperty(button-primary-disabled-foreground-color);

        opacity: @button-disabled-opacity;
    }
}

/* stylelint-disable no-descending-specificity */
a.fake-btn--secondary:visited {
    .customColorProperty(button-secondary-foreground-color);
}

button.btn--secondary,
a.fake-btn--secondary {
    .customBackgroundColorProperty(button-secondary-background-color);
    .customBorderColorProperty(button-secondary-border-color);
    .customColorProperty(button-secondary-foreground-color);

    &:hover,
    &:focus,
    &:active {
        .customBackgroundColorProperty(button-secondary-hover-background-color);
        .customBorderColorProperty(button-secondary-hover-foreground-color);
        .customColorProperty(button-secondary-hover-foreground-color);
    }
}
/* stylelint-enable no-descending-specificity */

button.btn--delete,
a.fake-btn--delete {
    .customBackgroundColorProperty(button-delete-background-color);
    .customBorderColorProperty(button-delete-foreground-color);
    .customColorProperty(button-delete-foreground-color);

    &:focus,
    &:hover,
    &:active,
    &:visited {
        .customBorderColorProperty(button-delete-foreground-color);
        .customColorProperty(button-delete-foreground-color);
    }
}

button.btn--secondary[disabled],
button.btn--secondary[aria-disabled="true"],
button.btn--delete[disabled],
button.btn--delete[aria-disabled="true"] {
    .customBackgroundColorProperty(button-secondary-disabled-background-color);
    .customBorderColorProperty(button-secondary-disabled-border-color);
    .customColorProperty(button-secondary-disabled-foreground-color);

    svg.icon {
        .customFillProperty(button-secondary-disabled-foreground-color);
    }

    &:hover,
    &:focus,
    &:active {
        .customBackgroundColorProperty(button-secondary-disabled-background-color);
        .customBorderColorProperty(button-secondary-disabled-border-color);
    }
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"],
a.fake-btn--delete:not([href]),
a.fake-btn--delete[aria-disabled="true"] {
    .customBorderColorProperty(button-secondary-disabled-border-color);
    .customColorProperty(button-secondary-disabled-foreground-color);
}

button.btn--large,
a.fake-btn--large {
    .customPaddingProperty(button-large-padding-vertical, button-padding-horizontal);

    font-size: @button-large-font-size;
    min-height: 48px;
}

button.btn--transparent,
a.fake-btn--transparent {
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

button.btn--fixed-height,
a.fake-btn--fixed-height {
    padding-top: calc(21.5px - 0.75em);
}

button.btn--large-fixed-height,
a.fake-btn--large-fixed-height {
    height: 48px;
    min-height: 48px;
    padding-top: calc(27px - 0.75em);
}

button.btn--truncated,
a.fake-btn--truncated {
    .btn-truncate();
}

button.btn--large-truncated,
a.fake-btn--large-truncated {
    .customPaddingProperty(button-large-padding-vertical, button-padding-horizontal);
    .btn-truncate();

    font-size: @button-large-font-size;
    height: 48px;
    min-height: 48px;
}

button.btn--icon-only,
a.fake-btn--icon-only {
    .customBorderRadiusProperty(button-icon-border-radius);

    padding: 0;
}
