button.btn--secondary,
button.expand-btn--secondary,
a.fake-btn--secondary {
    background-color: @button-secondary-background-color;
    border-color: @button-secondary-border-color;
    color: @button-secondary-color;
}

a.fake-btn--secondary:visited {
    color: @button-secondary-fake-visited-color;
}

button.btn--secondary[disabled],
button.expand-btn--secondary[disabled],
button.btn--secondary[aria-disabled="true"],
button.expand-btn--secondary[aria-disabled="true"] {
    background-color: @button-secondary-disabled-background-color;
    border-color: @button-secondary-disabled-border-color;
    color: @button-secondary-disabled-color;

    svg {
        color: @button-secondary-disabled-svg-color;
    }

    &:hover,
    &:focus {
        background-color: @button-secondary-disabled-hover-background-color;
        border-color: @button-secondary-disabled-hover-border-color;
    }
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    border-color: @button-secondary-partially-disabled-border-color;
    color: @button-secondary-partially-disabled-color;
}
