button.btn--primary,
a.fake-btn--primary {
    background-color: @button-primary-background-color;
    border-color: @button-primary-border-color;
    color: @button-primary-color;
}

a.fake-btn--primary:visited {
    color: @button-primary-fake-visited-color;
}

button.btn--primary[disabled],
button.btn--primary[aria-disabled="true"] {
    background-color: @button-primary-disabled-background-color;
    border-color: @button-primary-disabled-border-color;
    color: @button-primary-disabled-color;

    svg {
        color: @button-primary-disabled-svg-color;
    }

    &:hover,
    &:focus {
        background-color: @button-primary-disabled-hover-background-color;
        border-color: @button-primary-disabled-hover-border-color;
    }
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    background-color: @button-primary-partially-disabled-background-color;
    border-color: @button-primary-partially-disabled-border-color;
    color: @button-primary-partially-disabled-color;
}
