@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

.calendar > caption {
    text-align: left;
}

.calendar {
    border-spacing: 0 @spacing-150;
    width: 100%;
}

.calendar th {
    .color-token(date-picker-day-label-color, color-foreground-secondary);
    font-weight: normal;
    line-height: @spacing-125;
}

.calendar td {
    padding: 0;
    text-align: center;
}

.calendar td > * {
    align-items: center;
    background: none;
    border: 1px solid transparent;
    border-radius: @spacing-200;
    border-style: none; // Only effects high contrast users
    box-sizing: border-box;
    color: inherit;
    display: inline-flex;
    font: inherit;
    height: @spacing-400;
    justify-content: center;
    width: @spacing-400;
}

.calendar__range {
    .background-color-token(date-picker-day-range-background-color, color-state-secondary-active);
    position: relative;
}

// HIGH CONTRAST MODE
.calendar__range::before {
    border: solid transparent;
    border-width: 1px 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.calendar__range--start::before {
    border-left-width: 1px;
}

.calendar__range--end::before {
    border-right-width: 1px;
}

.calendar__range--start {
    background: linear-gradient(to right, transparent 50%, var(--color-state-secondary-active) 50%);
}

.calendar__range--end {
    background: linear-gradient(to left, transparent 50%, var(--color-state-secondary-active) 50%);
}

.calendar__range--start.calendar__range--end {
    background: transparent;
}

.calendar__range--start:not([aria-selected="true"]) > :not(:disabled, [aria-disabled="true"]),
.calendar__range--end:not([aria-selected="true"]) > :not(:disabled, [aria-disabled="true"]) {
    .background-color-token(date-picker-day-range-end, color-state-secondary-active);
}

.calendar
    td[aria-current="date"]:not([aria-selected="true"])
    > :not(:disabled, [aria-disabled="true"]) {
    .border-color-token(date-picker-day-today-border-color, color-foreground-primary);
    border-style: solid;
}

.calendar td > :disabled,
.calendar td > [aria-disabled="true"] {
    .color-token(date-picker-day-disabled-color, color-foreground-disabled);
}

.calendar td:not(.calendar__range, [aria-selected="true"]) > button:not(:disabled):hover {
    .background-color-token(date-picker-day-hover-background-color, color-state-primary-hover);
}

.calendar td[aria-selected="true"] > * {
    .background-color-token(date-picker-day-selected-background-color, color-background-inverse);
    .color-token(date-picker-day-selected-color, color-foreground-on-inverse);
    font-weight: bold;
}
