:root {
    --page-grid-gutter-width-small: @page-grid-gutter-width-small;
    --page-grid-gutter-width-large: @page-grid-gutter-width-large;
    --page-grid-col-width-small: calc(
        (100% / @page-grid-cols-small) - var(--page-grid-gutter-width-small) + 1px
    );
    --page-grid-col-width-large: calc(
        (100% / @page-grid-cols-large) - var(--page-grid-gutter-width-large) + 1px
    );
}

.page-grid-container {
    display: flex;
    justify-content: center;
    margin: 0 @spacing-small;
}

.page-grid {
    column-gap: var(--page-grid-gutter-width-small);
    display: grid;
    grid-template-columns: repeat(@page-grid-cols-small, var(--page-grid-col-width-small));
    row-gap: @spacing-small;
    width: ~"min(100%, 1280px)"; // https://stackoverflow.com/questions/17904088/disable-less-css-overwriting-calc
}

/* prettier-ignore */
.page-grid--debug {
    --debug-grid-area-outline: 1px solid @color-black;
    --debug-grid-col-color: @color-r1;
    --debug-grid-gutter-color: @color-white;

    /* stylelint-disable-next-line */
    background: repeating-linear-gradient(
        90deg,
        var(--debug-grid-col-color) 0,
        var(--debug-grid-col-color) var(--page-grid-col-width-small),
        var(--debug-grid-gutter-color) var(--page-grid-col-width-small),
        var(--debug-grid-gutter-color) calc(var(--page-grid-col-width-small) + var(--page-grid-gutter-width-small))
    );
}

@media @breakpoint-3 {
    .page-grid {
        column-gap: var(--page-grid-gutter-width-large);
        grid-template-columns: repeat(@page-grid-cols-large, var(--page-grid-col-width-large));
    }

    /* prettier-ignore */
    .page-grid--debug {
        background: repeating-linear-gradient(
            90deg,
            var(--debug-grid-col-color) 0,
            var(--debug-grid-col-color) var(--page-grid-col-width-large),
            var(--debug-grid-gutter-color) var(--page-grid-col-width-large),
            var(--debug-grid-gutter-color) calc(var(--page-grid-col-width-large) + var(--page-grid-gutter-width-large))
        );
    }
}

@media (prefers-color-scheme: dark) {
    .page-grid--debug {
        --debug-grid-area-outline: 1px solid @color-white;
        --debug-grid-col-color: @color-text-confirmation-dark-mode;
        --debug-grid-gutter-color: @color-black;
    }
}
