// this mixin is used by infotip, tooltip, infotip
// this mixin is internal only for now

@left-box-shadow: -2px 2px 2px @bubble-box-shadow-color;
@right-box-shadow: 2px -2px 2px @bubble-box-shadow-color;

.bubble() {
    box-shadow: 0 -2px 2px @bubble-box-shadow-color, 2px 0 2px @bubble-box-shadow-color, 0 2px 2px @bubble-box-shadow-color, -2px 0 2px @bubble-box-shadow-color,;
    font-size: 14px;
    max-width: 344px;
    min-width: 320px;
    z-index: 1;
}

.bubble-mask() {
    position: relative;
    z-index: 1;
}

.bubble-large-screen() {
    max-width: 400px;
}

// creates basic layout
.bubble-cell() {
    display: flex;
    padding: 16px;
    word-break: break-word;
}

.bubble-content() {
    flex-grow: 1;

    p {
        margin: 0;
    }

    p:not(:first-of-type) {
        margin-top: 4px;
    }
}

.bubble-close() {
    align-self: flex-start;
    background: none;
    border: 0;
    flex-shrink: 0;
    height: 32px;
    margin: -8px -8px 0 8px;
    padding: 0;
    white-space: nowrap;
    width: 32px;
}

// styles common to all pointers
.pointer-base() {
    height: 16px;
    position: absolute;
    transform: rotate(45deg);
    width: 16px;
    z-index: 0;
}

.pointer-bottom() {
    bottom: -7px;
    box-shadow: 2px 2px 2px @bubble-box-shadow-color;
    top: auto;
}

.pointer-side-middle() {
    top: calc(50% - 8px);
}

.pointer-top() {
    box-shadow: -2px -2px 2px @bubble-box-shadow-color;
    top: -7px;
}

.pointer-center() {
    left: calc(50% - 8px);
}

.pointer-top-center() {
    .pointer-top();
    .pointer-center();
}

.pointer-top-left() {
    .pointer-top();

    left: 12px;
}

.pointer-top-right() {
    .pointer-top();

    left: auto;
    right: 12px;
}

.pointer-bottom-center() {
    .pointer-bottom();
    .pointer-center();
}

.pointer-bottom-left() {
    .pointer-bottom();

    left: 12px;
}

.pointer-bottom-right() {
    .pointer-bottom();

    left: auto;
    right: 12px;
}

.pointer-left() {
    .pointer-side-middle();

    left: -7px;
}

.pointer-left-top() {
    box-shadow: @left-box-shadow;
    left: -7px;
    top: 12px;
}

.pointer-left-bottom() {
    bottom: 12px;
    box-shadow: @left-box-shadow;
    left: -7px;
    top: auto;
}

.pointer-right() {
    .pointer-side-middle();

    box-shadow: @right-box-shadow;
    left: auto;
    right: -7px;
}

.pointer-right-top() {
    box-shadow: @right-box-shadow;
    left: auto;
    right: -7px;
    top: 12px;
}

.pointer-right-bottom() {
    bottom: 12px;
    box-shadow: @right-box-shadow;
    left: auto;
    right: -7px;
    top: auto;
}
