@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

@actionable-icon-color-active: @color-text-default;
@actionable-badge-border-color: @color-badge-text;
@actionable-badge-font-size: @font-size-12;
@actionable-image-link-border-color-hover: @color-grey5;
@actionable-image-link-border-color-active: @color-text-secondary;
@actionable-image-link-background-color-visited: @color-grey2;
@actionable-image-button-border-color-hover: @color-grey5;
@actionable-image-button-border-color-active: @color-text-secondary;

@import "../base/actionable.less";

button.icon-btn,
a.icon-link {
    &:focus svg,
    &:hover svg {
        color: #3665f3;
    }
}
