@import "../../less/ds6/mixins.less";

.icon-btn,
.icon-link {
    background-color: transparent;
    border: 0 none;
    font-size: 24px;
    min-height: 32px;
    min-width: 32px;
    padding: 0;

    svg {
        .foreground-icon-base;
    }
}

.icon-btn--badged {
    position: relative;

    .badge {
        border: 2px solid;
        border-color: @ds6-color-badge-text;
        font-size: @ds6-font-size-12;
        height: 24px;
        left: 12px;
        margin: auto;
        min-width: 24px;
        position: absolute;
        top: -8px;
        z-index: 1;
    }
}
