// BEM BLOCKS

.menu,
.fake-menu {
    line-height: normal;
    position: relative;
}

span.menu,
span.fake-menu {
    display: inline-block;
}

// BEM ELEMENTS

.menu .expand-btn[aria-expanded="true"],
.fake-menu .expand-btn[aria-expanded="true"] {
    border-bottom: 0;
}

.menu__btn[aria-expanded="true"], // .menu__btn deprecated in v3.2.0
.fake-menu__btn[aria-expanded="true"] { // .fake-menu__btn deprecated in v3.2.0
    border-bottom: 0;
}

.menu__btn[aria-expanded="true"] .menu__icon, // .menu__btn deprecated in v3.2.0
.fake-menu__btn[aria-expanded="true"] .fake-menu__icon { // .fake-menu__btn deprecated in v3.2.0
    transform: rotate(180deg);
}

.menu__btn[aria-expanded="true"] ~ .menu__items[role="menu"], // .menu__btn deprecated in v3.2.0
.expand-btn[aria-expanded="true"] ~ .menu__items[role="menu"],
.expand-btn[aria-expanded="true"] ~ .fake-menu__items,
.fake-menu__btn[aria-expanded="true"] ~ .fake-menu__items { // .fake-menu__btn deprecated in v3.2.0
    display: block;
}

.menu__icon, // deprecated in v3.2.0
.fake-menu__icon { // deprecated in v3.2.0
    height: 0.6em;
    width: 0.6em;
}

.menu__btn ~ .menu__items[role="menu"], // .menu__btn deprecated in v3.2.0
.expand-btn ~ .menu__items[role="menu"],
.expand-btn ~ .fake-menu__items,
.fake-menu__btn ~ .fake-menu__items { // .fake-menu__btn deprecated in v3.2.0
    display: none;
    position: absolute;
    z-index: 1;
}

.menu__items[role="menu"],
.fake-menu__items {
    background-color: @color-core-white;
    border: 1px solid @color-core-gray-silver;
    box-sizing: border-box;
    width: 100%;
}

span.menu__items[role="menu"],
span.fake-menu__items {
    display: inline-block;
}

.fake-menu__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.menu__item[role^="menuitem"],
a.fake-menu__item,
button.fake-menu__item {
    background-color: @color-core-white;
    cursor: pointer;
    display: flex;
    font-size: @font-size-14;
    line-height: 2.5;
    padding-left: 16px;
    padding-right: 16px;

    span:not([class*="menu__status"]) {
        .truncate;

        width: 100%;
    }
}

div.menu__item[role^="menuitem"][aria-checked="true"] {
    .menu__status {
        visibility: visible;
    }
}

// anchor tag specific
a.fake-menu__item {
    color: @color-text-default;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &[aria-current="page"] .fake-menu__status {
        visibility: visible;
    }
}

// button tag specific
button.fake-menu__item {
    background-color: @color-core-white;
    border: 0;
    color: @color-text-default;
    display: block;
    text-align: left;
    width: 100%;
}

.menu__status,
.fake-menu__status {
    align-self: center;
    color: @color-core-blue;
    fill: currentColor;
    flex-shrink: 0;
    height: 100%;
    stroke: currentColor;
    stroke-width: 0;
    visibility: hidden;
}

svg.menu__status,
svg.fake-menu__status {
    width: 8px;
}

.menu__status,
.fake-menu__status {
    &:first-child {
        margin-right: 8px;
    }

    &:last-child {
        margin-left: 8px;
    }
}

span.menu__icon, // .menu__icon deprecated in v3.2.0
span.fake-menu__icon { // .fake-menu__icon deprecated in v3.2.0
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M15.94%2025.294l-15.473-17.229h30.953l-7.742%208.616z%22%3E%3C/path%3E%3C/svg%3E');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    height: 8px;
    width: 8px;
}

span.menu__status,
span.fake-menu__status {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M27.813%204.037l-17.008%2017.159-6.923-6.924-3.308%203.613%2010.232%209.934%2020.621-20.466-3.613-3.314z%22%3E%3C/path%3E%3C/svg%3E');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8px;
    width: 8px;
}

// BEM MODIFIERS
//-----------------------------

// show scroll bars. useful for fixed-height overlays.
// bear in mind however, that depending on OS system preferences,
// scrollbar might only appear on mouseover

.menu__items--scroll[role="menu"] {
    overflow-y: scroll;
}

.menu__items--grow[role="menu"],
.menu__items--grow-reverse[role="menu"],
.fake-menu__items--grow,
.fake-menu__items--grow-reverse {
    max-width: calc(100% + 50%);
    min-width: calc(100%);
    width: auto;
}

.menu__items--grow-reverse[role="menu"],
.fake-menu__items--grow-reverse {
    right: 0;
}

.expand-btn ~ .menu__items--static[role="menu"],
.expand_btn ~ .fake-menu__items--static {
    position: static;
}

button.expand-btn--primary span.expand-btn__icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M15.94%2025.294l-15.473-17.229h30.953l-7.742%208.616z%22%3E%3C/path%3E%3C/svg%3E');
}

button.expand-btn--secondary span.expand-btn__icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%23555555%22%20d%3D%22M15.94%2025.294l-15.473-17.229h30.953l-7.742%208.616z%22%3E%3C/path%3E%3C/svg%3E');
}
