// BEM block

.menu,
.fake-menu,
.combobox {
    line-height: normal;
    position: relative;
}

span.menu,
span.fake-menu,
span.combobox {
    display: inline-block;
}

// BEM elements

.menu button.expand-btn--borderless,
.fake-menu button.expand-btn--borderless {
    border-color: transparent;
    vertical-align: initial;
}

.menu button.expand-btn--borderless[aria-expanded="true"] ~ .menu__items[role="menu"],
.fake-menu button.expand-btn--borderless[aria-expanded="true"] ~ .menu__items[role="menu"] {
    top: 41px; // button height plus one px, to meet design guidelines
}

.menu .expand-btn[aria-expanded="true"],
.fake-menu .expand-btn[aria-expanded="true"],
.combobox .expand-btn[aria-expanded="true"] {
    border-bottom: 0;
}

.menu .expand-btn[aria-expanded="true"] ~ .menu__items[role="menu"],
.combobox .combobox__control.combobox__control--expanded + .combobox__options[role="listbox"],
.fake-menu .expand-btn[aria-expanded="true"] ~ .fake-menu__items {
    display: block;
}

.menu .expand-btn ~ .menu__items[role="menu"],
.combobox .combobox__control + .combobox__options[role="listbox"],
.fake-menu .expand-btn ~ .fake-menu__items {
    display: none;
    position: absolute;
    z-index: 1;
}

.menu__items[role="menu"],
.combobox__options[role="listbox"],
.fake-menu__items {
    background-color: @ds6-color-g201-gray;
    border: 1px solid @ds6-color-g204-gray;
    box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
    box-sizing: border-box;
    min-width: calc(100%);
    width: auto;
}

span.menu__items[role="menu"],
div.combobox__options[role="listbox"],
span.fake-menu__items {
    display: inline-block;
}

.fake-menu__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.menu__item[role^="menuitem"],
div.combobox__option[role^="option"],
a.fake-menu__item,
button.fake-menu__item {
    background-color: @ds6-color-g201-gray;
    border: 1px solid @ds6-color-g201-gray;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 0.875rem;
    height: 100%;
    justify-content: space-between;
    line-height: 2.5;
    padding: 0 16px;
    width: 100%;

    span:not([class*="menu__status"]),
    span:not([class*="listbox__status"]) {
        .truncate;
    }

    &:hover {
        background-color: @ds6-color-g203-gray;
    }

    &:focus {
        background-color: @ds6-color-g203-gray;
        outline: none;
    }

    &:active {
        .menu__status,
        .combobox__status,
        .fake-menu__status {
            color: @ds6-color-g204-gray;
        }
    }

    &:not(:last-child) {
        margin-bottom: 1px;
    }
}

div.menu__item[role^="menuitem"][aria-checked="true"],
div.combobox__option[role^="option"][aria-selected="true"] {
    font-weight: bold;

    .menu__status,
    .combobox__status {
        visibility: visible;
    }
}

// anchor tag specific
a.fake-menu__item {
    color: @ds6-color-g206-gray;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &[aria-current="page"] .fake-menu__status {
        visibility: visible;
    }
}

// button tag specific
button.fake-menu__item {
    background-color: @ds6-color-g201-gray;
    border: 0;
    color: @ds6-color-g206-gray;
    display: block;
    text-align: left;
}

.menu__status,
.combobox__status,
.fake-menu__status {
    align-self: center;
    color: @ds6-color-g206-gray;
    fill: currentColor;
    height: 8px;
    margin-left: 8px;
    stroke: currentColor;
    stroke-width: 0;
    visibility: hidden;
    width: 8px;
}

span.menu__status,
span.combobox__status,
span.fake-menu__status {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%278%27%20height%3D%277%27%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23111820%22%20d%3D%22M0%203.70913219%202.21049749%206%208%200%22%3E%3C/path%3E%3C/svg%3E');
    background-position: right center;
    background-repeat: no-repeat;
    flex-shrink: 0; // prevent the icon from shrinking when label is long
    pointer-events: none;
    width: 1em;
}

// BEM element mods
//-----------------------------

.menu__items--match-width[role="menu"],
.combobox__options--match-width[role="listbox"],
.fake-menu__items--match-width {
    width: 100%;
}

.menu__items--reverse[role="menu"],
.listbox__options--reverse[role="listbox"],
.fake-menu__items--reverse {
    right: 0;
}
