// DS6.v1.01

@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

.dropdown-status-icon() {
    .icon-tick(9px, 9px);

    margin-left: 8px;
}

@dropdown-items-background-color: @ds6-color-white;
@dropdown-items-border-color: @ds6-color-grey2;

@dropdown-item-background-color: @ds6-color-white;
@dropdown-item-border-color: @ds6-color-white;
@dropdown-item-hover-background-color: @ds6-color-grey1;
@dropdown-item-active-status-color: @ds6-color-grey2;

@dropdown-fake-anchor-color: @ds6-color-black;
@dropdown-fake-button-background-color: @ds6-color-white;
@dropdown-fake-button-color: @ds6-color-black;

@dropdown-status-color: @ds6-color-black;
@dropdown-status-base64-light: @ds6-icon-tick-base64-light;

@import "../base/dropdown.less";

div.menu__item[role^="menuitem"],
div.listbox__option[role="option"],
div.combobox__option[role^="option"],
a.fake-menu__item,
button.fake-menu__item {
    display: inline-flex;
    justify-content: space-between;

    &:focus {
        background-color: @ds6-color-grey1;
        outline: none;
    }
}

div.menu__item[role^="menuitem"][aria-checked="true"],
div.listbox__option--active[role="option"],
div.combobox__option--active[role^="option"] {
    font-weight: bold;
}
