@import "../variables/variables.less";
@import "../mixins/private/bubble-mixins.less";
@import "../mixins/private/token-mixins.less";

.tourtip {
    position: relative;
}

span.tourtip {
    display: inline-block;
}

.tourtip__overlay {
    .bubble(@border-radius-value: border-radius-100);

    display: none;
    position: absolute;
}

.tourtip__mask {
    .bubble-mask(@border-radius-value: border-radius-100);
    .background-color-token(tourtip-background-color, color-background-primary);
    .color-token(tourtip-foreground-color, color-foreground-primary);
}

span.tourtip__mask {
    display: block;
}

.tourtip__cell {
    .bubble-cell(@tourtip-spacing: @spacing-200);

    flex-wrap: wrap;

    a {
        .color-token(tourtip-foreground-color, color-foreground-primary);

        &:focus {
            outline: 1px dashed currentColor;
        }
    }
}

.tourtip__content {
    .bubble-content();

    flex-basis: 0;
}

button.tourtip__close {
    .bubble-close();

    outline-offset: -2px;
}

button.tourtip__close > svg {
    fill: currentColor;
    width: 14px;
}

.tourtip__pointer {
    .pointer-base();
    .pointer-top();
    .pointer-center();
    .background-color-token(tourtip-background-color, color-background-primary);
}

.tourtip__pointer--top-left {
    .pointer-top-left();
}

.tourtip__pointer--top {
    .pointer-top-center();
}

.tourtip__pointer--top-right {
    .pointer-top-right();
}

.tourtip__pointer--bottom-left {
    .pointer-bottom-left();
}

.tourtip__pointer--bottom {
    .pointer-bottom-center();
}

.tourtip__pointer--bottom-right {
    .pointer-bottom-right();
}

.tourtip__pointer--left {
    .pointer-left();
}

.tourtip__pointer--left-bottom {
    .pointer-left-bottom();
}

.tourtip__pointer--left-top {
    .pointer-left-top();
}

.tourtip__pointer--right {
    .pointer-right();
}

.tourtip__pointer--right-bottom {
    .pointer-right-bottom();
}

.tourtip__pointer--right-top {
    .pointer-right-top();
}

.tourtip__heading {
    font-size: @font-size-20;
    font-weight: bold;
    margin: 0 0 @spacing-100;
}

span.tourtip__heading {
    display: block;
}

.tourtip--expanded .tourtip__overlay {
    display: block;
}

.tourtip__footer {
    align-items: center;
    display: flex;
    justify-content: end;
    margin-top: 16px;
    width: 100%;
}

.tourtip__footer > button:not(:last-child),
.tourtip__footer > a:not(:last-child) {
    margin-right: 8px;
}

// stylelint-disable no-descending-specificity
// TODO need to remove this once we update fake-links/links to allow no underline and black text
.tourtip__footer > .fake-link,
.tourtip__footer > a {
    color: var(--color-foreground-primary);

    text-decoration: none;

    &:hover:not(:disabled) {
        color: var(--color-foreground-primary);

        text-decoration: underline;
    }
}
// stylelint-enable no-descending-specificity

.tourtip__index {
    .color-token(tourtip-index-color, color-foreground-secondary);
    flex: 1;
}

@media (min-width: 601px) {
    .tourtip__overlay {
        .bubble-large-screen();
    }
}
