@import "../variables/variables.less";
@import "../mixins/private/bubble-mixins.less";
@import "../mixins/private/token-mixins.less";

.tourtip {
    position: relative;
}

span.tourtip {
    display: inline-block;
}

.tourtip__overlay {
    .bubble();

    display: none;
    position: absolute;
}

.tourtip__mask {
    .bubble-mask();
    .background-color-token(tourtip-background-color, color-background-information);
    .color-token(tourtip-foreground-color, color-foreground-on-information);
}

span.tourtip__mask {
    display: block;
}

.tourtip__cell {
    .bubble-cell();

    a {
        .color-token(tourtip-foreground-color, color-foreground-on-information);

        &:focus {
            outline: 1px dashed currentColor;
        }
    }
}

.tourtip__content {
    .bubble-content();
}

button.tourtip__close {
    .bubble-close();
    .color-token(tourtip-foreground-color, color-foreground-on-information);

    &:focus,
    &:hover {
        color: var(--color-state-primary-hover);
    }

    &:focus {
        outline: 1px dashed currentColor;
    }
}

button.tourtip__close > svg {
    fill: currentColor;
    height: 14px;
    width: 14px;
}

.tourtip__pointer {
    .pointer-base();
    .pointer-top();
    .pointer-center();
    .background-color-token(tourtip-background-color, color-background-information);
}

.tourtip__pointer--top-left {
    .pointer-top-left();
}

.tourtip__pointer--top {
    .pointer-top-center();
}

.tourtip__pointer--top-right {
    .pointer-top-right();
}

.tourtip__pointer--bottom-left {
    .pointer-bottom-left();
}

.tourtip__pointer--bottom {
    .pointer-bottom-center();
}

.tourtip__pointer--bottom-right {
    .pointer-bottom-right();
}

.tourtip__pointer--left {
    .pointer-left();
}

.tourtip__pointer--left-bottom {
    .pointer-left-bottom();
}

.tourtip__pointer--left-top {
    .pointer-left-top();
}

.tourtip__pointer--right {
    .pointer-right();
}

.tourtip__pointer--right-bottom {
    .pointer-right-bottom();
}

.tourtip__pointer--right-top {
    .pointer-right-top();
}

.tourtip__heading {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 @spacing-50;
}

span.tourtip__heading {
    display: block;
}

.tourtip--expanded .tourtip__overlay {
    display: block;
}

@media (min-width: 601px) {
    .tourtip__overlay {
        .bubble-large-screen();
    }
}
