@media (prefers-color-scheme: dark) {
    :root {
        --color-background-primary: var(--color-neutral-8);
        --color-background-secondary: var(--color-neutral-7);
        --color-background-tertiary: var(--color-neutral-6);
        --color-background-disabled: var(--color-neutral-5);
        --color-background-inverse: var(--color-neutral-2);
        --color-background-attention: var(--color-red-3);
        --color-background-confirmation: var(--color-green-4);
        --color-background-information: var(--color-blue-4);
        --color-background-education: #2f373c;
        --color-background-accent: var(--color-blue-3);
        --color-background-invalid: var(--color-red-1);
        --color-background-elevated: var(--color-neutral-7);
        --color-foreground-primary: var(--color-neutral-1);
        --color-foreground-secondary: var(--color-neutral-4);
        --color-foreground-disabled: var(--color-neutral-4);
        --color-foreground-attention: var(--color-red-3);
        --color-foreground-confirmation: var(--color-green-4);
        --color-foreground-information: var(--color-blue-3);
        --color-foreground-accent: var(--color-blue-3);
        --color-foreground-visited: var(--color-magenta-5);
        --color-foreground-on-primary: var(--color-neutral-1);
        --color-foreground-on-secondary: var(--color-neutral-1);
        --color-foreground-on-disabled: var(--color-neutral-5);
        --color-foreground-on-inverse: var(--color-neutral-7);
        --color-foreground-on-accent: var(--color-neutral-7);
        --color-foreground-on-attention: var(--color-neutral-7);
        --color-foreground-on-confirmation: var(--color-neutral-7);
        --color-foreground-on-information: var(--color-neutral-7);
        --color-stroke-default: var(--color-neutral-5);
        --color-stroke-accent: var(--color-blue-3);
        --color-stroke-attention: var(--color-red-3);
        --color-stroke-confirmation: var(--color-green-5);
        --color-stroke-information: var(--color-blue-3);
        --color-stroke-disabled: var(--color-neutral-4);
        --color-stroke-strong: var(--color-neutral-0);
        --color-stroke-subtle: var(--color-neutral-5);
        --color-state-visited: var(--color-magenta-3);
        --color-state-primary-hover: #17212c;
        --color-state-primary-active: #1e2a38;
        --color-state-secondary-hover: #3e3e3e;
        --color-state-secondary-active: #464646;
        --color-state-inverse-hover: #f7f7f7;
        --color-state-inverse-active: #f8f8f8;
        --color-state-accent-hover: #6ba2ff;
        --color-state-hover-foreground-on-secondary: #6ba2ff;
        --color-state-accent-active: #71a6ff;
        --color-state-active-foreground-on-secondary: #6ba2ff;
        --color-state-attention-hover: #ff6988;
        --color-state-attention-active: #ff6383;
        --color-state-hover-foreground-on-secondary-desctructive: #ff6988;
        --color-state-active-foreground-on-secondary-desctructive: #ff6383;
        --color-data-viz-grid: var(--color-neutral-3);
        --color-data-viz-labels: var(--color-neutral-4);
        --color-data-viz-legend: var(--color-neutral-2);
        --color-data-viz-legend-inactive: var(--color-neutral-4);
        --color-data-viz-legend-hover: var(--color-neutral-0);
        --color-data-viz-line-chart-primary: var(--color-blue-3);
        --color-data-viz-line-chart-secondary: var(--color-blue-1);
        --color-data-viz-line-chart-tertiary: var(--color-teal-3);
        --color-data-viz-line-chart-queternary: var(--color-magenta-4);
        --color-data-viz-line-chart-quinary: var(--color-magenta-2);
        --color-data-viz-trend-positive: var(--color-green-4);
        --color-data-viz-trend-negative: var(--color-red-3);
        --color-data-viz-chart-primary: var(--color-blue-4);
        --color-data-viz-chart-secondary: var(--color-blue-2);
        --color-data-viz-chart-tertiary-background: var(--color-blue-6);
        --color-data-viz-chart-tertiary-stroke: var(--color-blue-3);
        --color-data-viz-chart-quaternary-background: var(--color-teal-5);
        --color-data-viz-chart-quaternary-stroke: var(--color-teal-3);
        --color-data-viz-chart-quinary-background: var(--color-teal-7);
        --color-data-viz-chart-quinary-stroke: var(--color-teal-3);
        --color-data-viz-tooltip-shadow-primary: #ffffff26;
        --color-data-viz-tooltip-shadow-secondary: #ffffff2b;
        --color-scrim-image: rgba(255, 255, 255, 0.12);
        --color-scrim-background: rgba(0, 0, 0, 0.64);
        --state-layer-focus: rgba(
            var(--color-neutral-0-rgb),
            var(--opacity-50)
        );
        --state-layer-hover: rgba(
            var(--color-neutral-0-rgb),
            var(--opacity-50)
        );
        --state-layer-pressed: rgba(
            var(--color-neutral-0-rgb),
            var(--opacity-100)
        );
        --state-layer-drag: rgba(
            var(--color-neutral-0-rgb),
            var(--opacity-150)
        );
        --color-ai-solid-green-subtle: #112611;
        --color-ai-solid-blue-subtle: #112c31;
        --color-ai-solid-purple-subtle: #20172f;
        --color-ai-solid-red-subtle: #321919;
        --color-ai-gradient-full-spectrum: linear-gradient(
            223deg,
            var(--color-ai-solid-yellow-strong) 9.79%,
            var(--color-ai-solid-red-strong) 26.69%,
            var(--color-ai-solid-purple-strong) 41.82%,
            var(--color-ai-solid-blue-strong) 56.17%,
            var(--color-ai-solid-green-strong) 78.48%
        );
        --color-ai-gradient-green-strong: linear-gradient(
            270deg,
            var(--color-ai-solid-green-strong) 0%,
            #44cf63 25%,
            var(--color-ai-solid-blue-strong) 100%
        );
        --color-ai-gradient-blue-strong: linear-gradient(
            270deg,
            var(--color-ai-solid-green-strong) 0%,
            var(--color-ai-solid-blue-strong) 55.62%,
            #5751ea 75.7%,
            var(--color-ai-solid-purple-strong) 100%
        );
        --color-ai-gradient-purple-strong: linear-gradient(
            270deg,
            var(--color-ai-solid-purple-strong) 0%,
            var(--color-ai-solid-red-strong) 100%
        );
        --color-ai-gradient-purple-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-purple-subtle) 0%,
            var(--color-ai-solid-red-subtle) 100%
        );
        --color-ai-gradient-blue-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-green-subtle) -36%,
            var(--color-ai-solid-blue-subtle) -46.87%,
            var(--color-ai-solid-purple-subtle) 113%
        );
        --color-ai-gradient-green-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-green-subtle) 0%,
            var(--color-ai-solid-blue-subtle) 154.5%
        );
        --color-loading-fill: #2d2d2d;
        --color-loading-shimmer: linear-gradient(
            270deg,
            var(--color-loading-fill) 0%,
            var(--color-loading-fill) 34%,
            #1b1b1b 50%,
            var(--color-loading-fill) 66%,
            var(--color-loading-fill) 100%
        );
        --color-loading-fill-on-secondary: #353535;
        --color-loading-shimmer-on-secondary: linear-gradient(
            270deg,
            var(--color-loading-fill-on-secondary) 0%,
            var(--color-loading-fill-on-secondary) 34%,
            #232323 50%,
            var(--color-loading-fill-on-secondary) 66%,
            var(--color-loading-fill-on-secondary) 100%
        );
        /* deprecated, remove next major both fill-elevated and shimmer-elevated */
        --color-loading-fill-elevated: var(--color-loading-fill-on-secondary);
        --color-loading-shimmer-elevated: var(
            --color-loading-shimmer-on-secondary
        );
        --color-loading-ai-gradient-purple-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-red-subtle-dark) 0%,
            var(--color-ai-solid-red-subtle-dark) 34%,
            var(--color-ai-solid-purple-subtle-dark) 50%,
            var(--color-ai-solid-red-subtle-dark) 66%,
            var(--color-ai-solid-red-subtle-dark) 100%
        );
        --color-loading-ai-gradient-blue-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-blue-subtle-dark) 0%,
            var(--color-ai-solid-blue-subtle-dark) 34%,
            var(--color-ai-solid-purple-subtle-dark) 50%,
            var(--color-ai-solid-blue-subtle-dark) 66%,
            var(--color-ai-solid-blue-subtle-dark) 100%
        );
        --color-loading-ai-gradient-green-subtle: linear-gradient(
            270deg,
            var(--color-ai-solid-green-subtle-dark) 0%,
            var(--color-ai-solid-green-subtle-dark) 34%,
            var(--color-ai-solid-blue-subtle-dark) 50%,
            var(--color-ai-solid-green-subtle-dark) 66%,
            var(--color-ai-solid-green-subtle-dark) 100%
        );
    }
}
