:root {
    --border-radius-50: 8px;
    --border-radius-100: 16px;
    --border-radius-150: 24px;
    --color-neutral-0: #fff;
    --color-neutral-0-rgb: 255, 255, 255;
    --color-neutral-1: #f7f7f7;
    --color-neutral-2: #e5e5e5;
    --color-neutral-3: #c7c7c7;
    --color-neutral-4: #8f8f8f;
    --color-neutral-5: #707070;
    --color-neutral-6: #363636;
    --color-neutral-7: #191919;
    --color-neutral-8: #000;
    --color-neutral-8-rgb: 0, 0, 0;
    --color-orange-1: #ffdec7;
    --color-orange-2: #feb786;
    --color-orange-3: #ff8559;
    --color-orange-4: #ff6932;
    --color-orange-5: #db3c07;
    --color-orange-6: #b03005;
    --color-orange-7: #5c1b05;
    --color-red-1: #ffd1dd;
    --color-red-2: #ffa2b6;
    --color-red-3: #ff6383;
    --color-red-4: #e0103a;
    --color-red-5: #c4003a;
    --color-red-6: #a00739;
    --color-red-7: #680226;
    --color-magenta-1: #fad8f0;
    --color-magenta-2: #f5a0d9;
    --color-magenta-3: #ea5fbc;
    --color-magenta-4: #d11da4;
    --color-magenta-5: #a60d8a;
    --color-magenta-6: #82187c;
    --color-magenta-7: #500750;
    --color-blue-1: #c5e5fb;
    --color-blue-2: #93c9ff;
    --color-blue-3: #659eff;
    --color-blue-4: #3665f3;
    --color-blue-5: #382aef;
    --color-blue-6: #2b0eaf;
    --color-blue-7: #121258;
    --color-green-1: #ccfdce;
    --color-green-2: #9ef4a6;
    --color-green-3: #5ee471;
    --color-green-4: #28a443;
    --color-green-5: #1bab49;
    --color-green-6: #05823f;
    --color-green-7: #07522c;
    --color-yellow-1: #fcf2bd;
    --color-yellow-2: #f7e376;
    --color-yellow-3: #fbcd25;
    --color-yellow-4: #f7b100;
    --color-yellow-5: #e58c02;
    --color-yellow-6: #aa5404;
    --color-yellow-7: #592e13;
    --color-teal-1: #c2f2ef;
    --color-teal-2: #71e3e2;
    --color-teal-3: #1dcbca;
    --color-teal-4: #02a2ac;
    --color-teal-5: #01718f;
    --color-teal-6: #0e4a6c;
    --color-teal-7: #003147;
    --color-lime-1: #f4fabe;
    --color-lime-2: #e9f577;
    --color-lime-3: #c9e43b;
    --color-lime-4: #accf02;
    --color-lime-5: #86b300;
    --color-lime-6: #4b7d06;
    --color-lime-7: #364f03;
    --color-ai-solid-green-strong: #4ee04b;
    --color-ai-solid-green-subtle: #f1fdf1;
    --color-ai-solid-green-subtle-dark: #112611;
    --color-ai-solid-blue-strong: #0968f6;
    --color-ai-solid-blue-subtle: #f0f6fe;
    --color-ai-solid-blue-subtle-dark: #112c31;
    --color-ai-solid-purple-strong: #993ee0;
    --color-ai-solid-purple-subtle: #f9f3fd;
    --color-ai-solid-purple-subtle-dark: #20172f;
    --color-ai-solid-red-strong: #ff4242;
    --color-ai-solid-red-subtle: #fff4f4;
    --color-ai-solid-red-subtle-dark: #321919;
    --color-ai-solid-yellow-strong: #ffd80e;
    --opacity-50: 0.04;
    --opacity-100: 0.08;
    --opacity-150: 0.12;
    --opacity-200: 0.16;
    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-30: 1.875rem;
    --font-size-36: 2.25rem;
    --font-size-46: 2.875rem;
    --font-size-64: 4rem;
    --font-size-smallest: var(--font-size-10);
    --font-size-small: var(--font-size-12);
    --font-size-default: var(--font-size-14);
    --font-size-medium: var(--font-size-16);
    --font-size-large-1: var(--font-size-20);
    --font-size-large-2: var(--font-size-24);
    --font-size-giant-1: var(--font-size-30);
    --font-size-giant-2: var(--font-size-36);
    --font-size-giant-3: var(--font-size-46);
    --font-size-giant-4: var(--font-size-64);
    --font-weight-regular: 500;
    --font-weight-bold: 700;
}
