.layout-grid.item-tile-group {
    --layout-grid-columns-min: 2;
    --layout-grid-columns-xs: 2;
    --layout-grid-columns-sm: 2;
    --layout-grid-columns-md: 3;
    --layout-grid-columns-lg: 4;
    --layout-grid-columns-xl: 5;
    --layout-grid-columns-xl2: 5;
    --layout-grid-columns-xl3: 5;
    --layout-grid-columns-xl4: 5;
}

.layout-grid.item-tile-group--list-view {
    --layout-grid-columns-min: 1;
    --layout-grid-columns-xs: 1;
    --layout-grid-columns-sm: 1;
    --layout-grid-columns-md: 1;
    --layout-grid-columns-lg: 1;
    --layout-grid-columns-xl: 2;
    --layout-grid-columns-xl2: 2;
    --layout-grid-columns-xl3: 2;
    --layout-grid-columns-xl4: 2;
}
.item-tile-group .item-tile__title {
    -webkit-line-clamp: 3;
}

@media (min-width: 768px) {
    .item-tile-group .item-tile__title {
        -webkit-line-clamp: 2;
    }
}
