@import "../variables/variables.less";
@import "../mixins/utility-mixins.less";

.select {
    .color-token(select-foreground-color, color-foreground-primary);
    font-size: @font-size-regular;
    position: relative;
}

span.select {
    display: inline-block;
}

.select select {
    appearance: none;
    .background-color-token(select-background-color, color-background-secondary);
    .border-color-token(select-border-color, color-foreground-secondary);
    border-radius: var(--select-border-radius, @border-radius-50);
    border-style: solid;
    border-width: 1px;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    height: 40px;
    padding: 0 @spacing-400 0 @spacing-200;
    vertical-align: middle;
}

.select svg.icon--dropdown {
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 0;
}

.select--large select {
    font-size: @font-size-18;
    height: 48px;
}

.select--fluid {
    width: 100%;
}

.select--fluid select {
    width: 100%;
}

.select--borderless select {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    width: auto;

    &:focus {
        text-decoration: underline;
    }
}

.select select:focus {
    .background-color-token(select-focus-background-color, color-background-primary);
    .border-color-token(select-focus-border-color, color-foreground-primary);
    outline: 0;
    text-decoration: underline;
}

// custom IE pseudo selector for the arrow
.select select::-ms-expand {
    display: none;
}

.select select[disabled] {
    .background-color-token(select-disabled-background-color, color-background-secondary);
    .color-token(select-disabled-foregound-color, color-foreground-ghost);
}

.select--borderless select[disabled] {
    .background-color-token(select-borderless-disabled-background-color, color-background-secondary);
    .color-token(select-borderless-disabled-foregound-color, color-foreground-disabled);
}

.select select[readonly] {
    .background-color-token(select-disabled-background-color, color-background-secondary);
    .color-token(select-readonly-foregound-color, color-foreground-ghost);
}

.select select[aria-invalid="true"] {
    .background-color-token(select-invalid-background-color, color-red-1);
    .border-color-token(select-invalid-border-color, color-stroke-attention);
    border-style: solid;
    border-width: 1px;
    .color-token(select-invalid-foreground-color, color-foreground-primary);

    &:focus {
        .background-color-token(select-focus-background-color, color-background-primary);
        .border-color-token(select-focus-border-color, color-stroke-default);
    }
}

.select select[aria-invalid="true"] + svg {
    .color-token(select-invalid-foreground-color, color-foreground-primary);
}

.select select[disabled] + svg {
    .color-token(select-disabled-foregound-color, color-foreground-ghost);
}

// stylelint-disable no-descending-specificity
[dir="rtl"] {
    .select > select {
        padding-left: 30px;
        padding-right: @spacing-200;
    }

    .select svg {
        left: 16px;
        right: auto;
    }

    .select--underline svg.icon {
        left: 0;
        right: auto;
    }
}
// stylelint-enable no-descending-specificity
