@import "../variables/variables.less";
@import "../mixins/private/button-mixins.less";

.segmented-buttons {
    border: 1px solid var(--color-stroke-default);
    border-radius: 24px;
    max-width: 720px;
    min-width: 215px;
    padding: 4px;
}

.segmented-buttons > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.segmented-buttons > ul > li {
    display: flex;
    flex: 1;
}

.segmented-buttons > ul > li:not(:first-child) {
    margin-left: 8px;
}

.segmented-buttons__button {
    background-color: transparent;
    border: none;
    border-radius: var(--btn-border-radius, calc(@button-height-small / 2));
    font-size: @font-size-regular;
    min-height: @button-height-small;
    padding: 8px 16px;
    width: 100%;
}

.segmented-buttons__button-cell {
    .btn-cell-base();

    justify-content: center;
}

.segmented-buttons__button svg.icon {
    .btn-icon-base();
}

.segmented-buttons__button[aria-current] {
    background-color: var(--color-foreground-primary);
    color: var(--color-foreground-on-inverse);
}

.segmented-buttons__button:not([aria-current]) {
    &:active {
        background-color: var(--color-state-primary-active);
    }

    &:hover,
    &:focus {
        background-color: var(--color-state-primary-hover);
    }
}

[dir="rtl"] {
    .segmented-buttons > ul > li:not(:first-child) {
        margin-left: 0;
        margin-right: 8px;
    }
}
