@import "./color-variables.less";
@import "../base/border-radius-variables.less";

@border-radius-none: 0;
@border-radius-extra-small: 3px;
@border-radius-small: 8px;
@border-radius-medium: 16px;

@border-radius-form-control: @border-radius-extra-small;
@border-radius-button: @border-radius-form-control;
@border-radius-overlay: 0;
@border-radius-dropdown: 0;
@border-radius-dropdown-box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
@border-radius-dropdown-border-color: @color-grey3;
@border-radius-notice: 0;
@border-radius-dialog: 0;

// DEPRECATED (redundant/unused)
@border-radius-expand-button: 0;
@border-radius-pagination: 0;
@border-radius-icon-button: @border-radius-form-control;
@border-radius-rounded-form: @border-radius-form-control;
