@import "typography-variables.less";

@border-radius-none: 0;
@border-radius-form-control: 3px;

@border-radius-dialog: 16px;
@border-radius-medium: 16px;

@border-radius-dropdown: @border-radius-none;
// These are values required for new rounded corners
@border-radius-dropdown-box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
@border-radius-dropdown-border-color: @color-grey3;
@border-radius-overlay: @border-radius-none;
@border-radius-notice: @border-radius-none;
@border-radius-pagination: @border-radius-none;
@border-radius-expand-button: @border-radius-form-control;
@border-radius-rounded-form: @border-radius-form-control;
