@import "color-variables.less";
@import "../base/bubble-variables.less";

@bubble-border-radius: @border-radius-none;
@bubble-base-box-shadow: 0 -2px 2px @bubble-box-shadow-color, 2px 0 2px @bubble-box-shadow-color,
    0 2px 2px @bubble-box-shadow-color, -2px 0 2px @bubble-box-shadow-color;
@bubble-left-box-shadow: -2px 2px 2px @bubble-box-shadow-color;
@bubble-right-box-shadow: 2px -2px 2px @bubble-box-shadow-color;
@bubble-bottom-box-shadow: 2px 2px 2px @bubble-box-shadow-color;
@bubble-top-box-shadow: -2px -2px 2px @bubble-box-shadow-color;

@bubble-base-rounded-off-box-shadow: 0 -2px 2px @bubble-box-shadow-color,
    2px 0 2px @bubble-box-shadow-color, 0 2px 2px @bubble-box-shadow-color,
    -2px 0 2px @bubble-box-shadow-color;
@bubble-left-rounded-off-box-shadow: -2px 2px 2px @bubble-box-shadow-color;
@bubble-right-rounded-off-box-shadow: 2px -2px 2px @bubble-box-shadow-color;
@bubble-bottom-rounded-off-box-shadow: 2px 2px 2px @bubble-box-shadow-color;
@bubble-top-rounded-off-box-shadow: -2px -2px 2px @bubble-box-shadow-color;
