@import "../../less/ds4/variables.less";

@btn-border-radius: 3px;
@btn-font-size: @ds4-font-size-14;
@btn-padding: 11px 48px;

@btn-cta-background-color: @ds4-color-core-white;
@btn-cta-color: @ds4-color-interface-cta;
@btn-cta-visited-color: @ds4-color-interface-cta;
@btn-cta-focus-hover-background-color: @ds4-color-interface-cta-dark;
@btn-cta-focus-hover-border-color: @ds4-color-interface-cta-dark;
@btn-cta-focus-hover-color: @ds4-color-core-white;

@btn-cta-no-href-background-color: @ds4-color-core-white;
@btn-cta-no-href-border-color: @ds4-color-core-gray-silver;
@btn-cta-no-href-color: @ds4-color-core-gray-silver;

@button-regular-background-color: @ds4-color-core-white;
@button-regular-border-color: @ds4-color-core-gray-silver;
@button-regular-color: @ds4-color-interface-cta;

@button-regular-active-color: @ds4-color-core-gray-davys;
@button-regular-fake-visited-color: @ds4-color-interface-cta;

@button-regular-disabled-background-color: @ds4-color-core-gray-silver;
@button-regular-disabled-border-color: @ds4-color-core-gray-dim;
@button-regular-disabled-color: @ds4-color-core-gray-dim;
@button-regular-disabled-svg-color: @ds4-color-core-gray-dim;
@button-regular-disabled-hover-background-color: @ds4-color-core-gray-silver;
@button-regular-disabled-hover-border-color: @ds4-color-core-gray-dim;

@button-regular-partially-disabled-background-color: @ds4-color-core-gray-silver;
@button-regular-partially-disabled-color: @ds4-color-core-gray-dim;

@button-primary-background-color: @ds4-color-interface-cta;
@button-primary-border-color: @ds4-color-interface-cta;
@button-primary-color: @ds4-color-core-white;

@button-primary-fake-visited-color: @ds4-color-core-white;

@button-primary-disabled-background-color: @ds4-color-interface-cta;
@button-primary-disabled-border-color: @ds4-color-interface-cta;
@button-primary-disabled-color: @ds4-color-core-white;
@button-primary-disabled-svg-color: @ds4-color-core-white;
@button-primary-disabled-hover-background-color: @ds4-color-interface-cta;
@button-primary-disabled-hover-border-color: @ds4-color-interface-cta;

@button-primary-partially-disabled-background-color: @ds4-color-interface-cta;
@button-primary-partially-disabled-border-color: @ds4-color-interface-cta;
@button-primary-partially-disabled-color: @ds4-color-core-white;

@button-secondary-background-color: fade(@ds4-color-interface-view-background, 50%);
@button-secondary-border-color: @ds4-color-text-disabled;
@button-secondary-color: @ds4-color-core-gray-davys;

@button-secondary-fake-visited-color: @ds4-color-core-gray-davys;

@button-secondary-disabled-background-color: @ds4-color-interface-cta;
@button-secondary-disabled-border-color: @ds4-color-text-disabled;
@button-secondary-disabled-color: @ds4-color-core-gray-davys;
@button-secondary-disabled-svg-color: @ds4-color-core-gray-davys;
@button-secondary-disabled-hover-background-color: @ds4-color-interface-cta;
@button-secondary-disabled-hover-border-color: @ds4-color-interface-cta;

@button-secondary-partially-disabled-border-color: @ds4-color-text-disabled;
@button-secondary-partially-disabled-color: @ds4-color-core-gray-davys;
