@import "color-variables.less";

@button-border-radius: @border-radius-form-control;
@button-font-size: @font-size-body-1;
@button-large-font-size: @font-size-body-2;
@button-padding: 11px 16px;
@button-large-padding: 14px 16px;
@button-disabled-opacity: @color-action-disabled-opacity;

@button-primary-font-weight: @font-weight-action-primary;
@button-primary-background-color: @color-action-primary;
@button-primary-border-color: @color-action-primary;
@button-primary-foreground-color: @color-background-default;
@button-primary-hover-background-color: @color-action-hover;
@button-primary-hover-foreground-color: @color-action-primary;
@button-primary-disabled-background-color: @color-action-primary-disabled;
@button-primary-disabled-border-color: @color-action-primary-disabled;
@button-primary-disabled-foreground-color: @color-background-default;

@button-secondary-background-color: fade(@color-grey1, 50%);
@button-secondary-border-color: @color-grey4;
@button-secondary-foreground-color: @color-core-gray-davys;
@button-secondary-hover-background-color: fade(@color-grey2, 50%);
@button-secondary-hover-border-color: @color-grey5;
@button-secondary-hover-foreground-color: @color-core-gray-davys;
@button-secondary-disabled-background-color: @color-grey3;
@button-secondary-disabled-border-color: @color-grey4;
@button-secondary-disabled-foreground-color: @color-core-gray-davys;

@button-delete-background-color: @color-background-default;
@button-delete-border-color: @color-attention-text;
@button-delete-foreground-color: @color-attention-text;

@button-confirmation-background-color: @color-g4;
@button-confirmation-border-color: @color-g4;
@button-confirmation-foreground-color: @color-background-default;
