@import "color-variables.less";
@import "typography-variables.less";
@import "../base/button-variables.less";

@button-icon-only-border-radius: @border-radius-form-control;

@button-min-width: auto;

@button-primary-hover-border-color: @color-action-hover;

@button-secondary-background-color: fade(@color-grey1, 50%);
@button-secondary-border-color: @color-grey4;
@button-secondary-foreground-color: @color-core-gray-davys;
@button-secondary-hover-background-color: fade(@color-grey2, 50%);
@button-secondary-hover-border-color: @color-grey5;
@button-secondary-hover-foreground-color: @color-core-gray-davys;
@button-secondary-disabled-background-color: @color-grey3;
@button-secondary-disabled-border-color: @color-grey4;
@button-secondary-disabled-foreground-color: @color-core-gray-davys;
