@import "color-variables.less";

@carousel-control-background-color: @color-core-white;
@carousel-control-border-color: @color-core-gray-jet;
@carousel-control-svg-color: @color-core-gray-jet;

@carousel-control-hover-background-color: @color-core-gray-dim;
@carousel-control-hover-svg-color: @color-core-white;
@carousel-control-active-background-color: @color-core-gray-jet;
@carousel-control-active-svg-color: @color-core-white;

@carousel-play-pause-color: @color-core-white;
