@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";

@checkbox-checked-color: @color-core-blue;
@checkbox-unchecked-color: @color-core-gray-dim;
@checkbox-unchecked-icon-base64-light: @icon-checkbox-unchecked-base64-light;
@checkbox-checked-icon-base64-light: @icon-checkbox-checked-base64-light;
@checkbox-disabled-opacity: 0.5;
