@combobox-font-size: @font-size-14;
@combobox-large-font-size: @font-size-16;
@combobox-height: 40px;
@combobox-padding: 0 32px 0 16px;
@combobox-background-color: @color-core-white;
@combobox-border-color: @color-core-gray-silver;
@combobox-border-radius: 3px;
@combobox-readonly-text-shadow-color: @color-core-gray-davys;
@combobox-readonly-selection-background: @color-core-white;
@combobox-disabled-background-color: @color-core-gray-light;
@combobox-disabled-border-color: @color-core-gray-silver;
@combobox-disabled-foreground-color: @color-core-gray-silver;
@combobox-invalid-foreground-color: @color-interface-hot;
@combobox-focus-border-color: @color-core-blue;
@combobox-item-active-font-weight: normal;
