@import "./color-variables.less";
@import "./typography-variables.less";

@dialog-mask-background-color: @color-text-default;
@dialog-window-background-color: @color-interface-view-background;
@dialog-back-close-foreground-color: @color-text-default;
@dialog-back-close-hover-foreground-color: @color-core-blue;
@dialog-transitions-hide-mask-fade-background-color: @color-text-default;
@dialog-transitions-show-mask-fade-background-color: @color-text-default;
@dialog-large-gutter-size: 16px;
@dialog-handle-color: @color-core-gray-spanish;
