@import "../../less/ds4/variables.less";

@dropdown-items-background-color: @ds4-color-core-white;
@dropdown-items-border-color: @ds4-color-core-gray-silver;

@dropdown-item-background-color: @ds4-color-core-white;
@dropdown-item-border-color: transparent;
@dropdown-item-hover-background-color: @ds4-color-core-gray-light;
@dropdown-item-active-status-color: @ds4-color-core-gray-silver;
@dropdown-item-active-font-weight: normal;

@dropdown-fake-anchor-color: @ds4-color-core-gray-jet;
@dropdown-fake-button-background-color: @ds4-color-core-white;
@dropdown-fake-button-color: @ds4-color-core-gray-dim;

@dropdown-status-color: @ds4-color-core-gray-dim;
@dropdown-status-base64-light: @ds4-icon-tick-base64-light;
