@import "color-variables.less";

@dropdown-items-background-color: @color-core-white;
@dropdown-items-border-color: @color-core-gray-silver;
@dropdown-item-foreground-color: @color-text-default;
@dropdown-item-background-color: @color-core-white;
@dropdown-item-border-color: transparent;
@dropdown-item-padding: 8px 12px;
@dropdown-item-hover-background-color: @color-core-gray-light;
@dropdown-item-hover-foreground-color: @color-text-default;
@dropdown-item-active-status-color: @color-core-gray-silver;
@dropdown-item-active-font-weight: normal;

@dropdown-fake-anchor-color: @color-core-gray-jet;
@dropdown-fake-button-background-color: @color-core-white;
@dropdown-fake-button-color: @color-core-gray-jet;

@dropdown-status-color: @color-core-gray-dim;
@dropdown-separator-color: @color-grey2;
