@import "core-variables.less";
@import "../base/floating-label-variables.less";

@floating-label-color: @color-text-secondary;
@floating-label-focus-color: @color-text-secondary;
@floating-label-invalid-color: @color-text-secondary;
