@page-notice-attention-background-color: @color-background-default;
@page-notice-attention-border-color: @color-status-attention;
@page-notice-celebration-background-color: @color-background-default;
@page-notice-celebration-border-color: @color-status-confirmation;
@page-notice-celebration-foreground-color: @color-text-default;
@page-notice-confirmation-background-color: @color-background-default;
@page-notice-confirmation-border-color: @color-status-confirmation;
@page-notice-information-background-color: @color-background-default;
@page-notice-information-border-color: @color-status-information;
@page-notice-border-radius: @border-radius-none;
