@pagination-item-foreground-color: @color-icon-actionable-default;
@pagination-item-font-weight: normal;
@pagination-item-active-foreground-color: @color-text-default;
@pagination-item-hover-foreground-color: @color-text-default;
@pagination-item-current-background-color: @color-core-gray-light;
@pagination-item-current-border-color: transparent;
@pagination-item-current-foreground-color: @color-core-gray-jet;
@pagination-item-current-font-weight: @font-weight-bold;
@pagination-paddle-disabled-foreground-color: @color-core-gray-silver;
@pagination-paddle-hover-foreground-color: #a3a3a3;
