@pagination-item-color: @color-icon-actionable-default;
@pagination-icon-next: 'chevron-light-right';
@pagination-icon-previous: 'chevron-light-left';
@pagination-item-font-weight: normal;
@pagination-item-active-color: @color-text-default;
@pagination-item-focus-color: @color-text-default;
@pagination-item-current-background-color: @color-core-gray-light;
@pagination-item-current-border: none;
@pagination-item-current-color: @color-core-gray-jet;
@pagination-item-current-font-weight: @font-weight-medium;
@pagination-next-icon-light: @icon-chevron-right-base64-light;
@pagination-next-focus-icon-light: @icon-chevron-right-base64-light;
@pagination-previous-icon-light: @icon-chevron-left-base64-light;
@pagination-previous-focus-icon-light: @icon-chevron-left-base64-light;
@pagination-next-icon-disabled-light: @icon-chevron-right-disabled-base64;
@pagination-previous-icon-disabled-light: @icon-chevron-left-disabled-base64;
@pagination-icon-disabled-color: @color-core-gray-silver;
@pagination-icon-focus-color: #a3a3a3;
