@section-notice-default-background-color: @color-grey1;
@section-notice-attention-background-color: @color-infographic-red-lightest;
@section-notice-confirmation-background-color: @color-infographic-green-lightest;
@section-notice-information-background-color: @color-infographic-blue-lightest;
