@import "../../variables/ds4/color-variables.less";

@signal-trustworthy-color: @color-b4;
@signal-trustworthy-border-color: @color-b4;
@signal-neutral-color: @color-grey5;
@signal-neutral-border-color: @color-grey5;
@signal-time-sensitive-color: @color-g6;
@signal-time-sensitive-border-color: @color-g6;
@signal-recent-color: @color-r4;
@signal-recent-border-color: @color-r4;
