@snackbar-dialog-background-color: @color-grey1;
@snackbar-dialog-foreground-color: @color-text-default;
@snackbar-dialog-border-radius: @border-radius-none;
@snackbar-dialog-large-border-radius: @border-radius-none;
