@stepper-confirmation-color: @color-core-green;
@stepper-information-color: @color-core-blue;
@stepper-attention-color: @color-core-red;
@stepper-upcoming-color: @color-grey3;
@stepper-text-dark-color: @color-black;
@stepper-text-light-color: @color-grey5;
@stepper-icon-size: 24px;
