@stepper-confirmation-color: @color-g4;
@stepper-information-color: @color-status-information;
@stepper-attention-color: @color-status-attention;
@stepper-upcoming-color: @color-text-disabled;
@stepper-text-dark-color: @color-text-default;
@stepper-text-light-color: @color-text-secondary;
@stepper-icon-size: 24px;
@stepper-badge-background-color: @color-white;
@stepper-badge-border-color: @color-text-default;
