@switch-checked-background-color: @color-action-primary;
@switch-disabled-background-color: @color-disabled;
@switch-unchecked-background-color: @color-action-secondary;
@switch-foreground-color: @color-background-default;
@switch-custom-outline-color: @color-action-secondary;
