@import "core-variables.less";
@import "../base/textbox-variables.less";

@textbox-focus-background-color: @color-form-control-background;
@textbox-disabled-border-color: @color-disabled;
@textbox-disabled-foreground-color: @color-disabled;
@textbox-invalid-background-color: @color-form-control-background;
@textbox-border-radius: @border-radius-extra-small;
