@textbox-background-color: @color-core-white;
@textbox-foreground-color: @color-core-gray-davys;
@textbox-border-color: @color-core-gray-silver;
@textbox-border-radius: 3px;
@textbox-font-size: inherit;
@textbox-height: @ds4-height-control-medium;
@textbox-disabled-background-color: @color-core-gray-light;
@textbox-disabled-foreground-color: @color-core-gray-silver;
@textbox-disabled-border-color: @color-grey3;
@textbox-disabled-border-width: 0;
@textbox-readonly-background-color: @color-grey3;
@textbox-readonly-border-color: @color-core-gray-silver;
@textbox-readonly-foreground-color: @color-core-gray-dim;
@textbox-invalid-foreground-color: @color-interface-hot;
@textbox-focus-border-color: @color-core-blue;
@textbox-underline-border-bottom-color: @color-core-gray-silver;
@textbox-icon-color: @color-core-gray-spanish;
@textbox-icon-fill: @color-core-gray-spanish;
@textbox-icon-width: 1em;
@textbox-actionable-icon-width: 1.274em;
@textbox-large-font-size: @font-size-16;
@textbox-placeholder-color: @color-core-gray-dim;
@textbox-disabled-placeholder-color: @color-core-gray-silver;
@textbox-focus-placeholder-color: @color-core-gray-dim;

// ds4 specific

@ds4-height-control-small: 32px;
@ds4-height-control-medium: 40px;
@ds4-height-control-large: 48px;
@ds4-height-control-extra-large: 56px;
