@import "color-variables.less";
@import "../base/typography-variables.less";

@font-weight-regular: 400;
@font-weight-bold: 500;
@font-weight-action-primary: normal;
@font-weight-selection-list-item-active: normal;

@font-size-form-control-large: @font-size-medium;

@typography-bold-text-font-weight: @font-weight-bold;
@typography-secondary-text-color: @color-text-secondary;
@typography-emphasis-color: @color-status-attention;
@typography-negative-color: @color-status-attention;
@typography-positive-color: @color-text-confirmation;
@typography-disabled-text-color: @color-text-disabled;
