@import "../base/typography-variables.less";
@import "color-variables.less";

@font-weight-regular: 400;
@font-weight-bold: 500;

@typography-bold-text-font-weight: @font-weight-bold;
@typography-secondary-text-color: @color-core-gray-davys;
@typography-emphasis-color: @color-core-red;
@typography-negative-color: @color-core-red;
@typography-positive-color: @color-text-positive;
@typography-disabled-text-color: @color-text-disabled;
