@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@import "../../dropdown/ds4/dropdown.less";

@ds4-select-height: 40px;

.select__control > input {
    border-color: @ds4-color-core-gray-silver;
    border-radius: 3px;
    font-size: @ds4-font-size-14;
    height: @ds4-select-height;
    padding: 0 36px 0 16px;

    &[disabled],
    &[aria-disabled="true"] {
        border-color: @ds4-color-core-gray-silver;
    }

    &:focus {
        border-color: @ds4-color-core-blue;
    }

    &::-moz-selection,
    &::selection {
        background: @ds4-color-core-white;
    }

    .select--small & {
        font-size: @ds4-font-size-12;
        height: @ds4-select-height - 8px;
    }

    .select--large & {
        font-size: @ds4-font-size-16;
        height: @ds4-select-height + 8px;
    }

    .select--extra-large & {
        font-size: @ds4-font-size-18;
        height: @ds4-select-height + 16px;
    }
}
