@import "../../tokens/ds4/tokens.less";

@select-background-color: @color-background-default;
@select-border-radius: @border-radius-extra-small;
@select-disabled-foregound-color: @color-grey3;
@select-invalid-background-color: @color-background-default;
@select-invalid-foreground-color: @color-text-default;
@select-borderless-disabled-background-color: @color-background-default;

@import "../base/select.less";
