@import "../../tokens/ds6/tokens.less";

@tabs-item-foreground-color: @color-text-default;
@tabs-item-border-bottom-width: 3px;
@tabs-item-hover-foreground-color: @color-action-primary;
@tabs-item-hover-border-bottom-color: @color-b4;
@tabs-item-selected-foreground-color: @color-action-primary;
@tabs-item-selected-font-weight: bold;
@tabs-content-border-top-width: 1px;
@tabs-content-border-top-color: @color-grey3;

@import "../base/tabs.less";
