@import "../../tokens/ds4/tokens.less";
@import "../../mixins/button/ds4/button-mixins.less";

@expand-button-border-radius: 4px;
@expand-button-disabled-border-color: @color-grey4;
@expand-button-disabled-foreground-color: #555;

@import "../base/expand-button.less";
