@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

@field-description-font-size: @ds4-font-size-12;
@field-description-confirmation-color: @ds4-color-core-green;
@field-description-information-color: @ds4-color-core-blue;
@field-description-attention-color: @ds4-color-interface-hot;
@field-label-end-margin-left: 2px;

@import "../base/field.less";
