@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

@field-description-font-size: @font-size-12;
@field-description-confirmation-color: @color-confirmation-background;
@field-description-information-color: @color-information-background;
@field-description-attention-color: @color-critical-background;
@field-label-end-margin-left: 4px;

@import "../base/field.less";

// Hack to make the label align correctly when using MarketSans
.radio + .field__label--end,
.checkbox + .field__label--end {
    vertical-align: middle;
}
