@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";
@import "../base/field.less";

.field__description {
    font-size: @ds6-font-size-12;
}

.field__description--confirmation {
    color: @ds6-color-confirmation-background;
}

.field__description--information {
    color: @ds6-color-information-background;
}

.field__description--priority {
    color: @ds6-color-critical-background;
}
