@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";

@link-nav-color: @color-core-black;
@link-nav-color-visited: @color-core-black;
@link-nav-color-hover: @color-link-hover;
@link-action-color: @color-link-default;
@link-action-color-visited: @color-link-visited;
@link-fake-color: @color-link-default;
@link-fake-font-size: @font-size-14;

@import "../base/link.less";

a.action-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button.fake-link--action {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
