@import "../../less/ds4/variables.less";

@link-nav-color: @ds4-color-core-black;
@link-nav-color-visited: @ds4-color-core-black;
@link-nav-color-hover: @ds4-color-link-default;
@link-action-color: @ds4-color-link-default;
@link-action-color-visited: @ds4-color-link-visited;
@link-fake-color: @ds4-color-link-default;
@link-fake-font-size: @ds4-font-size-14;

@import "../base/link.less";
