@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";

// .carousel__control
@carousel-control-background-color: @color-core-white;
@carousel-control-border-color: @color-core-gray-jet;
@carousel-control-svg-color: @color-core-gray-jet;

@carousel-control-active-background-color: @color-core-gray-dim;
@carousel-control-active-svg-color: @color-core-white;

// .carousel__play, .carousel__pause
@carousel-play-pause-color: @color-core-white;

// .carousel__dots
@carousel-dots-background-color: @color-core-gray-jet;
@carousel-dots-after-background-color: @color-core-gray-silver;
@carousel-dots-after-active-background-color: @color-core-gray-jet;
@carousel-dots-hover-background-color: @color-core-gray-dim;
@carousel-dots-hover-svg-color: @color-core-white;
@carousel-dots-hover-active-background-color: @color-core-gray-jet;
@carousel-dots-hover-active-svg-color: @color-core-white;

@import "../base/carousel.less";

.carousel__control {
    .carousel-control-mixin(72px, 28px);

    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }

    .icon--chevron-right,
    .icon--chevron-right-small {
        margin-left: 2px;
    }

    .icon--chevron-left,
    .icon--chevron-left-small {
        margin-left: -2px;
    }
}
