<div id="global">
    <section-header metadata=metadata/>
    <p>The global module defines the styles of any common page aspects, such as font family, font size, background color, text color and link states.</p>
</div>

export const metadata = {
    component: "global",
    "ds-component": {
        version: "1.0",
    },
};
