@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/button/ds4/button-mixins.less";
@import "../base/cta-button.less";

a.cta-btn svg.icon {
    height: 8px;
    width: 8px;
}

a.cta-btn--large {
    font-size: @font-size-16;
    padding: 14px 48px;
}

a.cta-btn--large-truncated {
    font-size: @font-size-16;
    padding: 14px 48px;
}
