@import "../../variables/ds4/color-variables.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../variables/ds4/typography-variables.less";
@import "../../mixins/button/ds4/button-mixins.less";
@import "../base/cta-button.less";

svg.expand-btn__icon,
svg.cta-btn__icon {
    height: 8px;
    width: 8px;
}

a.cta-btn {
    &__cell--fixed-height &__icon {
        align-self: center;
        overflow: visible;
    }

    &--small {
        .button-size-rules(@font-size-12, 8px 32px);

        &-fixed-height {
            height: 32px;
        }

        &-truncated {
            .button-size-rules(@font-size-12, 8px 32px);
            .btn-truncate;

            height: 32px;
        }
    }

    &--medium {
        .button-size-rules(@font-size-14, 11px 40px);

        &-fixed-height {
            height: 40px;
        }

        &-truncated {
            .button-size-rules(@font-size-14, 11px 40px);
            .btn-truncate;

            height: 40px;
        }
    }

    &--large {
        .button-size-rules(@font-size-16, 14px 48px);

        &-fixed-height {
            height: 48px;
        }

        &-truncated {
            .button-size-rules(@font-size-16, 14px 48px);
            .btn-truncate;

            height: 48px;
        }
    }

    &--extra-large {
        // chrome and firefox disagree on calculations, so 15.875px is a compromise
        .button-size-rules(@font-size-18, 15.875px 56px);

        &-fixed-height {
            height: 56px;
        }

        &-truncated {
            .button-size-rules(@font-size-18, 15.875px 56px);
            .btn-truncate;

            height: 56px;
        }
    }
}
