@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";

// .carousel__control
@carousel-control-background-color: @color-white;
@carousel-control-border-color: @color-black;
@carousel-control-svg-color: @color-black;

@carousel-control-active-background-color: @color-grey6;
@carousel-control-active-svg-color: @color-white;

// .carousel__play, .carousel__pause
@carousel-play-pause-color: @color-white;

// .carousel__dots
@carousel-dots-background-color: @color-black;
@carousel-dots-after-background-color: @color-grey3;
@carousel-dots-after-active-background-color: @color-grey6;
@carousel-dots-hover-background-color: @color-grey5;
@carousel-dots-hover-svg-color: @color-white;
@carousel-dots-hover-active-background-color: @color-grey6;
@carousel-dots-hover-active-svg-color: @color-white;

@import "../base/carousel.less";
