@import "../../tokens/ds4/tokens.less";

@tabs-item-foreground-color: @color-text-secondary;
@tabs-item-border-bottom-width: 2px;
@tabs-item-hover-foreground-color: @color-action-secondary;
@tabs-item-hover-border-bottom-color: transparent;
@tabs-item-selected-foreground-color: @color-text-default;
@tabs-item-selected-font-weight: normal;
@tabs-content-border-top-width: 0;
@tabs-content-border-top-color: transparent;

@import "../base/tabs.less";
