div.filter-group {
    .filter-group();
}

span.filter-menu-button {
    .filter-button-sibling-spacing();

    display: inline-block;
    position: relative;
}

button.filter-menu-button__button {
    .filter-button-base();

    background-color: @filter-button-background-color;

    &:focus,
    &:hover,
    &:active {
        background-color: @filter-button-hover-background-color;
    }
}

button.filter-menu-button__button[aria-expanded="true"] {
    background-color: @filter-button-hover-background-color;
}

.filter-menu-button__button-cell {
    display: flex;

    svg.icon {
        align-self: center;
        color: @filter-menu-button-chevron-color;
        height: 7px;
        margin-left: 8px;
        width: 12px;
    }
}

.filter-menu-button__button-text {
    display: inline-block;
    max-width: 238px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-menu-button__button[aria-expanded="true"] svg.icon {
    transform: rotate(180deg);
}

button.filter-menu-button__button[aria-pressed="true"] {
    .filter-button-selected();

    background-color: @filter-button-selected-background-color; // should we just lighten @color-b4;
    color: @filter-button-selected-foreground-color;

    &:focus,
    &:hover,
    &:active {
        background-color: @filter-button-selected-hover-background-color; // should we just lighten @color-b4;
    }
}

button.filter-menu-button__button[aria-expanded="true"][aria-pressed="true"] {
    background-color: @filter-button-selected-hover-background-color; // should we just lighten @color-b4;
}

button.filter-menu-button__button[disabled],
button.filter-menu-button__button[aria-disabled="true"],
button.filter-menu-button__button[aria-pressed="true"][disabled],
button.filter-menu-button__button[aria-pressed="true"][aria-disabled="true"] {
    .filter-button-disabled();

    color: @filter-button-disabled-foreground-color;

    &:hover,
    &:focus {
        background-color: @filter-button-background-color;
        color: @filter-button-disabled-foreground-color;
    }

    & .filter-menu-button__button-cell > svg.icon {
        color: @filter-button-disabled-foreground-color;
    }
}

button.filter-menu-button__button[aria-pressed="true"][disabled]:hover,
button.filter-menu-button__button[aria-pressed="true"][aria-disabled="true"]:hover {
    background-color: @filter-button-selected-background-color;
}

.filter-menu-button__menu {
    background-color: @filter-menu-item-background-color;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: none;
    max-width: 288px; // TODO remove max-width restriction to filter-menu styles
    min-width: 144px;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 8px);
    width: max-content;
    z-index: 1;
}

button.filter-menu-button__button[aria-expanded="true"] + .filter-menu-button__menu {
    display: block;
}

.filter-menu-button__items {
    margin-top: 8px;
    max-height: calc(50vh - 40px); // half of the viewport height || TODO remove max-height restriction to filter-menu styles
    min-width: 100%;
    overflow-y: auto;
    position: relative;
}

span.filter-menu-button__items {
    display: inline-block;
}

// __status deprecated in v10.0.0 favour of __checkbox
span.filter-menu-button__status,
span.filter-menu-button__checkbox {
    display: block;
    flex-shrink: 1;
    height: 18px;
    min-width: 18px;
    width: 18px;

    svg.icon--checkbox-unchecked {
        color: @filter-menu-checkbox-unchecked-color;
        display: block;
        height: 18px;
        width: 18px;
    }

    svg.icon--checkbox-checked {
        color: @filter-menu-checkbox-checked-color;
        display: none;
        height: 18px;
        width: 18px;
    }
}

.filter-menu-button__item {
    .filter-menu-item-base();

    padding: 8px 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background-color: @filter-menu-item-focus-background-color;
    }

    &:last-child {
        margin-bottom: 8px;
    }

    span.checkbox {
        align-items: flex-start;
        display: flex;
        flex-shrink: 1;
        justify-content: center;
    }

    svg.checkbox__unchecked {
        color: @filter-menu-checkbox-unchecked-color;
    }

    svg.checkbox__checked {
        color: @filter-menu-checkbox-checked-color;
    }
}

span.filter-menu-button__item {
    display: block;
}

button.filter-menu-button__footer {
    .filter-menu-item-base();

    border: none;
    border-top: 1px solid @filter-menu-border-color;
    bottom: 0;
    padding: 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background-color: @filter-menu-item-focus-background-color;
    }
}

.filter-menu-button__text {
    flex-grow: 1;
    margin-left: 8px;
}

.filter-menu-button__item[role="menuitemcheckbox"][aria-checked="true"] {
    svg.icon--checkbox-unchecked {
        display: none;
    }

    svg.icon--checkbox-checked {
        display: block;
    }
}
