@import "../../mixins/utility/utility-mixins.less";

// .filter-group also exists in filter-button
// todo: move to utility/layout class
div.filter-group {
    display: flex;
    flex-wrap: wrap;
}

span.filter-menu-button {
    display: inline-block;
    position: relative;

    & + & {
        margin-left: 8px;
    }
}

button.filter-menu-button__button {
    .filter-button-base();
    .background-color(filter-button-background-color);

    &:focus,
    &:hover,
    &:active {
        .background-color(filter-button-hover-background-color);
    }
}

button.filter-menu-button__button[aria-expanded="true"] {
    .background-color(filter-button-hover-background-color);
}

.filter-menu-button__button-cell {
    display: flex;

    svg.icon {
        align-self: center;
        .color(filter-menu-button-icon-color);
        height: 7px;
        margin-left: 8px;
        width: 12px;
    }
}

.filter-menu-button__button-text {
    display: inline-block;
    max-width: 238px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-menu-button__button[aria-expanded="true"] svg.icon {
    transform: rotate(180deg);
}

button.filter-menu-button__button[aria-pressed="true"] {
    .background-color(filter-button-selected-background-color);
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        .background-color(filter-button-selected-hover-background-color);
    }
}

button.filter-menu-button__button[aria-expanded="true"][aria-pressed="true"] {
    .background-color(filter-button-selected-hover-background-color);
}

button.filter-menu-button__button[disabled],
button.filter-menu-button__button[aria-disabled="true"],
button.filter-menu-button__button[aria-pressed="true"][disabled],
button.filter-menu-button__button[aria-pressed="true"][aria-disabled="true"] {
    color: @filter-button-disabled-foreground-color;
    font-weight: normal;

    &:hover,
    &:focus {
        background-color: @filter-button-background-color;
        color: @filter-button-disabled-foreground-color;
    }

    & .filter-menu-button__button-cell > svg.icon {
        color: @filter-button-disabled-foreground-color;
    }
}

button.filter-menu-button__button[aria-pressed="true"][disabled]:hover,
button.filter-menu-button__button[aria-pressed="true"][aria-disabled="true"]:hover {
    .background-color(filter-button-selected-background-color);
}

.filter-menu-button__menu {
    .background-color(filter-menu-item-background-color);
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: none;
    max-width: 288px; // TODO remove max-width restriction to filter-menu styles
    min-width: 144px;
    overflow: hidden;
    position: absolute;
    top: calc(100% + 8px);
    width: max-content;
    z-index: 1;
}

button.filter-menu-button__button[aria-expanded="true"] + .filter-menu-button__menu {
    display: block;
}

.filter-menu-button__items {
    margin-top: 8px;
    max-height: calc(
        50vh - 40px
    ); // half of the viewport height || TODO remove max-height restriction to filter-menu styles
    min-width: 100%;
    overflow-y: auto;
    position: relative;
}

span.filter-menu-button__items {
    display: inline-block;
}

span.filter-menu-button__checkbox,
span.filter-menu-button__radio {
    display: block;
    flex-shrink: 1;
    height: 18px;
    min-width: 18px;
    width: 18px;
}

span.filter-menu-button__checkbox {
    svg.icon--checkbox-unchecked {
        .color(filter-menu-item-unchecked-color);
        display: block;
        height: 18px;
        width: 18px;
    }

    svg.icon--checkbox-checked {
        .color(filter-menu-item-checked-color);
        display: none;
        height: 18px;
        width: 18px;
    }
}

span.filter-menu-button__radio {
    svg.icon--radio-unchecked {
        .color(filter-menu-item-unchecked-color);
        display: block;
        height: 18px;
        width: 18px;
    }

    svg.icon--radio-checked {
        .color(filter-menu-item-checked-color);
        display: none;
        height: 18px;
        width: 18px;
    }
}

.filter-menu-button__item {
    .filter-menu-item-base();

    padding: 8px 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        .background-color(filter-menu-item-hover-background-color);
    }

    &:last-child {
        margin-bottom: 8px;
    }

    span.checkbox,
    span.radio {
        align-items: flex-start;
        display: flex;
        flex-shrink: 1;
        justify-content: center;
    }

    svg.checkbox__unchecked {
        .color(filter-menu-item-unchecked-color);
    }

    svg.checkbox__checked {
        .color(filter-menu-item-checked-color);
    }

    svg.radio__unchecked {
        .color(filter-menu-item-unchecked-color);
    }

    svg.radio__checked {
        .color(filter-menu-item-checked-color);
    }
}

span.filter-menu-button__item {
    display: block;
}

button.filter-menu-button__footer {
    .filter-menu-item-base();

    border: none;
    .border-color(filter-menu-border-color);
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    padding: 16px;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        .background-color(filter-menu-item-hover-background-color);
    }
}

.filter-menu-button__text {
    flex-grow: 1;
    margin-left: 8px;
}

.filter-menu-button__item[role="menuitemcheckbox"][aria-checked="true"] {
    svg.icon--checkbox-unchecked {
        display: none;
    }

    svg.icon--checkbox-checked {
        display: block;
    }
}

.filter-menu-button__item[role="menuitemradio"][aria-checked="true"] {
    svg.icon--radio-unchecked {
        display: none;
    }

    svg.icon--radio-checked {
        display: block;
    }
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
button.filter-menu-button__button:focus:not(:focus-visible) {
    outline: none;
}

[dir="rtl"] {
    .filter-menu-button__button-cell .icon--dropdown {
        margin-left: 0;
        margin-right: 8px;
    }

    .filter-menu-button__checkbox {
        margin-left: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    .filter-menu-button {
        --filter-menu-button-icon-color: @color-text-default-dark-mode;
    }
}
