@import "./generated/icon";
@import "../mixins/private/icon-mixins";
@import "../mixins/private/token-mixins";

svg {
    &.icon {
        @include icon-base-mixin();
    }
    &.icon--disabled {
        filter: var(--color-icon-disabled-filter);
    }
    &.icon--attention-filled-16,
    &.icon--attention-filled-24 {
        @include color-token(color-foreground-attention);
    }
    &.icon--confirmation-filled-16,
    &.icon--confirmation-filled-24 {
        @include color-token(color-foreground-confirmation);
    }
    &.icon--information-filled-16,
    &.icon--information-filled-24 {
        @include color-token(color-foreground-information);
    }
    &.icon--star-empty {
        @include color-token(color-foreground-disabled);
    }

    &.icon--star-empty-small {
        @include color-token(color-foreground-disabled);
    }
    /* todo: these should be .color-token(icon-foreground-color, color-foreground-primary) ? */
    &.icon--social-link-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-discord-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-facebook-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-messenger-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-pinterest-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-reddit-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-twitter-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-whatsapp-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--social-linkedin-24 {
        @include color-token(color-social-icons-background);
    }
    &.icon--spinner-30 {
        height: $icon-spinner-large-height;
        width: $icon-spinner-large-width;
    }
}
