@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

nav.breadcrumbs {
    .color-token(breadcrumbs-item-foreground-color, color-foreground-secondary);
    font-size: @font-size-12;
    height: fit-content;
    margin: 8px 0;
    min-height: 16px;
    overflow-x: scroll; // Deprecated in 15.2.0; kept it in to support deprecated implementations; @TODO remove in 16.0.0
    padding: 8px;
    scrollbar-width: none; // Deprecated in 15.2.0; kept it in to support deprecated implementations; @TODO remove in 16.0.0
    white-space: nowrap;

    ul {
        display: inline;
        margin: 0;
        min-width: 100%;
        padding: 0;
        right: 0;
    }

    // On certain pages spacing in each container can vary in size even if content is the same.
    // Force content to flex makes it all have the same size
    li {
        align-items: center;
        display: inline-flex;
        vertical-align: middle;
    }

    li svg {
        margin-left: 7px;
        margin-right: 7px;
    }

    a {
        text-decoration: none;
    }

    button {
        background: none;
        border: none;
        font-family: inherit;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    a,
    button {
        color: inherit;
        outline-offset: 5px;

        &:focus,
        &:hover {
            .color-token(breadcrumbs-item-hover-foreground-color, color-foreground-accent);
            text-decoration: underline;
        }

        &[aria-current] {
            .color-token(breadcrumbs-item-current-foreground-color, color-foreground-primary);
            text-decoration: none;
        }
    }

    a:visited {
        color: inherit;
    }

    a:focus:not(:focus-visible),
    button:focus:not(:focus-visible) {
        outline: none;
    }

    // Deprecated in 15.2.0; kept it in to support deprecated implementations; @TODO remove in 16.0.0
    nav.breadcrumbs::-webkit-scrollbar {
        display: none;
    }
}

// Introduced modifier in 15.2.0; supports new implementations; @TODO remove in 16.0.0 and remove modifier class from markup
nav.breadcrumbs.breadcrumb--overflow {
    overflow-x: unset;
    scrollbar-width: unset;
}

nav.breadcrumbs .menu-button__button {
    background-color: var(--icon-button-background-color, var(--color-background-secondary));
    height: @spacing-250;
    min-height: @spacing-250;
    min-width: @spacing-250;
    outline-offset: 1px;
    width: @spacing-250;
}

nav.breadcrumbs .menu-button__menu {
    font-size: @font-size-14;
}

nav.breadcrumbs svg.icon--overflow-small {
    transform: rotate(90deg);
}

nav.breadcrumbs div.menu-button__item[role^="menuitem"] {
    display: block;
}

@media (min-width: 601px) {
    nav.breadcrumbs {
        margin: 16px 0;
    }
}
