@import "../../mixins/utility/utility-mixins.less";

.floating-label {
    margin-top: 14px;
    position: relative;
}

span.floating-label {
    display: inline-block;
}

div.floating-label {
    display: block;
}

label.floating-label__label {
    .customColorProperty(floating-label-color);

    display: block;
    left: 15px;
    pointer-events: none;
    position: absolute;
    transform: scale(0.75, 0.75) translate(0, 2px);
    transform-origin: left;
    z-index: 1;
}

label.floating-label__label--focus {
    .customColorProperty(floating-label-focus-color);
}

.floating-label--large label.floating-label__label {
    transform: scale(0.75, 0.75) translate(0, 3px);
}

label.floating-label__label--inline {
    // bottom: 0.4375rem; // a11y: the position must be relative to the text size
    font-size: @floating-label-inline-font-size;
    transform: translate(0, 10px);
}

.floating-label--large label.floating-label__label--inline {
    transform: translate(0, 13px);
}

label.floating-label__label--animate {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), bottom 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

label.floating-label__label--disabled {
    .customColorProperty(floating-label-disabled-color);
}

label.floating-label__label--invalid {
    .customColorProperty(floating-label-invalid-color);
}

.floating-label .textbox__control {
    // Move input near the bottom
    padding-bottom: 2px;
    padding-top: 18px;
}

.floating-label--large .textbox__control {
    // Move input near the bottom
    padding-bottom: 5px;
    padding-top: 23px;
}
