@import "../../mixins/utility/utility-mixins.less";

.floating-label {
    margin-top: 14px;
    position: relative;
}

span.floating-label {
    display: inline-block;
}

div.floating-label {
    display: block;
}

label.floating-label__label {
    .customColorProperty(floating-label-color);

    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(0.75, 0.75) translate(0, -24px);
    transform-origin: left;
    z-index: 1;
}

label.floating-label__label--inline {
    bottom: 0.4375rem; // a11y: the position must be relative to the text size
    font-size: @floating-label-inline-font-size;
    transform: none;
}

label.floating-label__label--animate {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

label.floating-label__label--disabled {
    .customColorProperty(floating-label-disabled-color);
}
