@import "../variables/variables.less";
@import "../mixins/private/token-mixins.less";

a.nav-link,
a.standalone-link {
    .color-token(nav-link-foreground-color, color-foreground-primary);
    text-decoration: none;

    &:hover {
        opacity: 0.7;
        text-decoration: underline;
    }

    &:visited {
        .color-token(link-foreground-color-default, color-foreground-primary);
    }

    &:not([href]),
    &[aria-disabled="true"] {
        .color-token(link-forground-color-disabled, color-foreground-disabled);

        opacity: 1;
        text-decoration: none;
    }
}

button.fake-link {
    background-color: transparent;
    border: 0;
    .color-token(fake-link-foreground-color, color-foreground-primary);
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;

    &:hover {
        opacity: 0.7;
    }

    &:not([href]),
    &[aria-disabled="true"] {
        .color-token(fake-link-foreground-disabled-color, color-foreground-disabled);
    }
}
