@import "../../mixins/utility/utility-mixins.less";

a.nav-link {
    .customColorProperty(nav-link-color);

    text-decoration: none;

    &:visited {
        .customColorProperty(nav-link-color);
    }

    &:hover {
        .customColorProperty(nav-link-hover-color);

        text-decoration: underline;
    }
}

button.fake-link {
    .customColorProperty(fake-link-color);

    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;

    &[disabled] {
        opacity: 0.5;
    }

    &:hover {
        .customColorProperty(fake-link-hover-color);
    }
}

@media (prefers-color-scheme: dark) {
    .skin-experiment-dark-mode {
        a.nav-link {
            --nav-link-color: @color-text-default-dark-mode;
            --nav-link-hover-color: @color-text-default-dark-mode;
        }

        button.fake-link {
            --fake-link-color: @color-link-default-dark-mode;
            --fake-link-hover-color: @color-link-hover-dark-mode;
        }
    }
}
