@import "../../mixins/utility/utility-mixins.less";

a.nav-link {
    .color-token(nav-link-color, color-text-default);
    text-decoration: none;

    &:visited {
        .color-token(nav-link-color, color-text-default);
    }

    &:hover {
        .color-token(nav-link-hover-color, color-text-default);

        text-decoration: underline;
    }
}

button.fake-link {
    background-color: transparent;
    border: 0;
    .color-token(fake-link-color, color-link-default);
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;

    &[disabled] {
        opacity: 0.5;
    }

    &:hover {
        .color-token(fake-link-hover-color, color-link-hover);
    }
}
