@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";

.breadcrumb-icon-divider() {
    .icon-chevron-right(8px, 8px);
}

@breadcrumb-item-color: @ds4-color-text-default;
@breadcrumb-item-focus-hover-color: @ds4-color-core-blue;
@breadcrumb-item-current-color: @ds4-color-core-gray-dim;
@breadcrumb-icon-divider-base64-light: @ds4-icon-chevron-right-base64-light;

@import "../base/breadcrumb.less";

.breadcrumb {
    a,
    button {
        &:visited {
            color: @ds4-color-text-default;
        }

        &[aria-current] {
            text-decoration: none;
        }
    }
}
