@import "../../mixins/utility/utility-mixins.less";

@tabs-item-webkit-tap-highlight-color: @color-background-highlight;

span.tabs,
span.fake-tabs {
    border-bottom: 1px solid transparent; // prevent margin-collapse on next element
    display: inline-block;
}

div.tabs__items[role="tablist"],
ul.fake-tabs__items {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1; // put the tab onto a layer on top of the thin content area bar
}

div.tabs__items--large[role="tablist"],
ul.fake-tabs__items--large {
    font-size: 16px;
}

div.tabs__item[role="tab"] {
    cursor: default; // needed to override text cursor
}

div.tabs__item[role="tab"],
li.fake-tabs__item {
    align-items: center;
    border-bottom: @tabs-item-border-bottom-width solid transparent;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    min-height: 40px;
    -webkit-tap-highlight-color: @tabs-item-webkit-tap-highlight-color;

    &:hover {
        .border-bottom-color(tabs-item-hover-border-bottom-color);
    }
}

div.tabs__item[role="tab"] > span,
li.fake-tabs__item > a {
    .color(tabs-item-foreground-color);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

div.tabs__item[role="tab"]:hover > span,
li.fake-tabs__item:hover > a {
    .color(tabs-item-hover-foreground-color);
}

div.tabs__item[role="tab"][aria-selected="true"],
li.fake-tabs__item--current {
    .border-bottom-color(tabs-item-selected-foreground-color);
}

div.tabs__item[role="tab"][aria-selected="true"] > span,
li.fake-tabs__item--current > a[aria-current="page"] {
    .color(tabs-item-selected-foreground-color);
    font-weight: @tabs-item-selected-font-weight;
}

.tabs__cell,
.fake-tabs__cell {
    margin: 16px;
}

.tabs__content,
.fake-tabs__content {
    border-top: @tabs-content-border-top-width solid @tabs-content-border-top-color;
    position: relative;
    top: -1px;
}

// https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
div.tabs__item[role="tab"]:focus,
li.fake-tabs__item a:focus {
    &:not(:focus-visible) {
        outline: none;
    }
}

@media (prefers-color-scheme: dark) {
    .tabs,
    .fake-tabs {
        --tabs-item-foreground-color: @color-text-default-dark-mode;
        --tabs-item-hover-foreground-color: @color-b4-dark-mode;
        --tabs-item-hover-border-bottom-color: @color-b4-dark-mode;
        --tabs-item-selected-foreground-color: @color-b4-dark-mode;
    }
}
