.radio {
    display: inline-flex;
    font-size: @ds6-font-size-16;
    vertical-align: text-bottom;
}

.radio__control[type="radio"] {
    font-size: 100%;
    height: 1.125em;
    opacity: 0;
    position: absolute;
    width: 1.125em;
    z-index: 1;

    &:not(:checked) {
        & + .radio__icon svg.radio__checked {
            display: none;
        }

        & + .radio__icon svg.radio__unchecked {
            display: inline-block;
        }
    }

    &:checked {
        & + .radio__icon:not([hidden]) {
            .background-icon-base;
            .icon-radio-checked();
        }

        & + .radio__icon svg.radio__checked {
            display: inline-block;
        }

        & + .radio__icon svg.radio__unchecked {
            display: none;
        }
    }

    &:focus + .radio__icon {
        outline: @outline-dotted;
    }

    &[disabled] + .radio__icon {
        opacity: 0.5;
    }
}

.radio__icon {
    color: inherit;
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;

    // progressive enhancement - override hidden SVG
    &[hidden] {
        display: inline-flex;
    }

    &:not([hidden]) {
        .background-icon-base;
        .icon-radio-unchecked();
    }

    & svg {
        .inline-icon-base(1.125rem, 1.125rem);
    }
}
