@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/radio-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../base/radio.less";

.radio__icon svg,
.radio__control[type="radio"] {
    height: 24px;
    width: 24px;
}

@media (min-width: 601px) {
    .radio__icon svg,
    .radio__control[type="radio"] {
        height: 18px;
        width: 18px;
    }
}
