@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";

.radio-icon-unchecked() {
    .background-icon-image-mixin('radio-unchecked', 18px, 18px);
}

.radio-icon-checked() {
    .background-icon-image-mixin('radio-checked', 18px, 18px);
}

@radio-checked-color: @color-b4;
@radio-unchecked-color: @color-grey2;
@radio-unchecked-icon-base64-light: @icon-radio-unchecked-base64-light;
@radio-checked-icon-base64-light: @icon-radio-checked-base64-light;

@import "../base/radio.less";
