@import "../../variables/ds6/icon-variables.less";
@import "../../variables/ds6/radio-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../../mixins/radio/ds6/radio-mixins.less";
@import "../base/radio.less";

.radio__control[type="radio"][disabled]:checked + .radio__icon {
    background-image: url('data:image/svg+xml;base64,@{icon-radio-checked-disabled-small-base64}');
}

@media (max-width: 600px) {
    .radio__icon svg,
    .radio__control[type="radio"] {
        height: 24px;
        width: 24px;
    }

    .radio__control[type="radio"][disabled]:checked + .radio__icon {
        background-image: url('data:image/svg+xml;base64,@{icon-radio-checked-disabled-base64}');
    }
}
