button.btn--primary,
button.expand-btn--primary,
a.fake-btn--primary {
    background-color: @ds6-color-p002-blue;
    border-color: @ds6-color-p002-blue;
    color: @ds6-color-g201-gray;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        background-color: @ds6-color-p003-blue;
        border-color: @ds6-color-p003-blue;
    }
}

button.btn--primary[disabled],
button.expand-btn--primary[disabled],
button.btn--primary[aria-disabled="true"],
button.expand-btn--primary[aria-disabled="true"] {
    background-color: @ds6-color-disabled;
    border-color: @ds6-color-disabled;
    color: @ds6-color-g201-gray;
}

button.expand-btn--primary span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjEuNiIgaGVpZ2h0PSIxMi41OCIgdmlld0JveD0iMS4zNSA1LjcgMjEuNiAxMi41OCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEyLjE4NiAxOC4yODVjLS40NTEtLjAwOS0uODA5LS4xNjctMS4wNzUtLjQ0MWwtOS4zMzctOS42YTEuNTI3IDEuNTI3IDAgMCAxLS40MjQtLjk5OXYtLjEwOGMuMDE1LS4zODYuMTY2LS43NDEuNDI0LTEuMDA4LjU2LS41NzMgMS41MjktLjU3IDIuMDgyIDBsOC4yOTQgOC41MyA4LjI5Mi04LjUzMmMuNTU4LS41NyAxLjUyNi0uNTcgMi4wOCAwIC4yNjUuMjcuNDE2LjYyOS40MjggMS4wMXYuMDg3Yy0uMDEyLjM5MS0uMTY1Ljc1LS40MjcgMS4wMmwtOS4zMzMgOS42YTEuNDQzIDEuNDQzIDAgMCAxLTEuMDA0LjQ0MSIvPjwvc3ZnPg==');
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    background-color: @ds6-color-disabled;
    border-color: @ds6-color-disabled;
    color: @ds6-color-g201-gray;
}
