button.btn--secondary,
button.expand-btn--secondary,
a.fake-btn--secondary {
    background-color: @ds6-color-white;
    border-color: @ds6-color-b4;
    color: @ds6-color-b4;

    &:focus,
    &:hover,
    &:active {
        border-color: @ds6-color-b7;
        color: @ds6-color-b7;
    }
}

button.btn--secondary[disabled],
button.expand-btn--secondary[disabled],
button.btn--secondary[aria-disabled="true"],
button.expand-btn--secondary[aria-disabled="true"] {
    border-color: @ds6-color-disabled;
    color: @ds6-color-disabled;
}

button.expand-btn--secondary span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCiAgd2lkdGg9IjIxLjYiIGhlaWdodD0iMTIuNTgiIHZpZXdCb3g9IjEuMzUgNS43IDIxLjYgMTIuNTgiPjxwYXRoIGZpbGw9IiMwMDZlZmMiIGQ9Ik0xMi4xODYgMTguMjg1Yy0uNDUxLS4wMDktLjgwOS0uMTY3LTEuMDc1LS40NDFsLTkuMzM3LTkuNmExLjUyNyAxLjUyNyAwIDAgMS0uNDI0LS45OTl2LS4xMDhjLjAxNS0uMzg2LjE2Ni0uNzQxLjQyNC0xLjAwOC41Ni0uNTczIDEuNTI5LS41NyAyLjA4MiAwbDguMjk0IDguNTMgOC4yOTItOC41MzJjLjU1OC0uNTcgMS41MjYtLjU3IDIuMDggMCAuMjY1LjI3LjQxNi42MjkuNDI4IDEuMDF2LjA4N2MtLjAxMi4zOTEtLjE2NS43NS0uNDI3IDEuMDJsLTkuMzMzIDkuNmExLjQ0MyAxLjQ0MyAwIDAgMS0xLjAwNC40NDEiLz48L3N2Zz4=');
}

button.expand-btn--secondary:focus span.expand-btn__icon,
button.expand-btn--secondary:hover span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCiAgd2lkdGg9IjIxLjYiIGhlaWdodD0iMTIuNTgiIHZpZXdCb3g9IjEuMzUgNS43IDIxLjYgMTIuNTgiPjxwYXRoIGZpbGw9IiMxMDI5OWMiIGQ9Ik0xMi4xODYgMTguMjg1Yy0uNDUxLS4wMDktLjgwOS0uMTY3LTEuMDc1LS40NDFsLTkuMzM3LTkuNmExLjUyNyAxLjUyNyAwIDAgMS0uNDI0LS45OTl2LS4xMDhjLjAxNS0uMzg2LjE2Ni0uNzQxLjQyNC0xLjAwOC41Ni0uNTczIDEuNTI5LS41NyAyLjA4MiAwbDguMjk0IDguNTMgOC4yOTItOC41MzJjLjU1OC0uNTcgMS41MjYtLjU3IDIuMDggMCAuMjY1LjI3LjQxNi42MjkuNDI4IDEuMDF2LjA4N2MtLjAxMi4zOTEtLjE2NS43NS0uNDI3IDEuMDJsLTkuMzMzIDkuNmExLjQ0MyAxLjQ0MyAwIDAgMS0xLjAwNC40NDEiLz48L3N2Zz4=');
}

a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    border-color: @ds6-color-disabled;
    color: @ds6-color-disabled;
}
