button.btn.btn--pill,
button.expand-btn--pill,
a.cta-btn--pill,
a.fake-btn--pill {
    border-radius: 24px;
    height: 48px;
    max-width: 180px;
    min-width: 80px;
    padding: 0 24px;
    vertical-align: top; // Vertically align sibling inline-flex with multi-line pills
}

// Support multi-line for pills
.btn--pill > .btn__cell > span,
.expand-btn--pill > .expand-btn__cell > span,
.cta-btn--pill > .cta-btn__cell > span,
.fake-btn--pill > .fake-btn__cell > span {
    max-height: 36px;
    white-space: normal;
}

.btn--pill + .btn--pill,
.expand-btn--pill + .expand-btn--pill,
.cta-btn--pill + .cta-btn--pill,
.fake-btn--pill + .fake-btn--pill {
    margin-left: 8px;
}
