// DS6.v1.01

@import "../../less/ds6/variables.less";
@import "../../less/ds6/mixins.less";

.btn-expand-icon() {
    .icon-chevron-down-bold(9px, 5.2px);
}

@btn-border-radius: 0;
@btn-font-size: @ds6-font-size-14;
@btn-padding: 9.5px 16px;

@btn-cta-background-color: @ds6-color-background-default;
@btn-cta-color: @ds6-color-b4;
@btn-cta-visited-color: @ds6-color-b4;
@btn-cta-focus-hover-background-color: @ds6-color-b7;
@btn-cta-focus-hover-border-color: @ds6-color-b7;
@btn-cta-focus-hover-color: @ds6-color-white;

@btn-cta-no-href-background-color: @ds6-color-white;
@btn-cta-no-href-border-color: @ds6-color-disabled;
@btn-cta-no-href-color: @ds6-color-disabled;

@button-regular-background-color: @ds6-color-white;
@button-regular-border-color: @ds6-color-grey2;
@button-regular-color: @ds6-color-black;

@button-regular-active-color: @ds6-color-black;
@button-regular-fake-visited-color: @ds6-color-black;

@button-regular-disabled-background-color: @ds6-color-disabled;
@button-regular-disabled-border-color: @ds6-color-disabled;
@button-regular-disabled-color: @ds6-color-white;
@button-regular-disabled-svg-color: @ds6-color-white;
@button-regular-disabled-hover-background-color: @ds6-color-disabled;
@button-regular-disabled-hover-border-color: @ds6-color-disabled;

@button-regular-partially-disabled-background-color: @ds6-color-disabled;
@button-regular-partially-disabled-color: @ds6-color-disabled;

@button-primary-background-color: @ds6-color-b4;
@button-primary-border-color: @ds6-color-b4;
@button-primary-color: @ds6-color-white;

@button-primary-fake-visited-color: @ds6-color-white;

@button-primary-disabled-background-color: @ds6-color-disabled;
@button-primary-disabled-border-color: @ds6-color-disabled;
@button-primary-disabled-color: @ds6-color-white;
@button-primary-disabled-svg-color: @ds6-color-white;
@button-primary-disabled-hover-background-color: @ds6-color-disabled;
@button-primary-disabled-hover-border-color: @ds6-color-disabled;

@button-primary-partially-disabled-background-color: @ds6-color-disabled;
@button-primary-partially-disabled-border-color: @ds6-color-disabled;
@button-primary-partially-disabled-color: @ds6-color-white;

@button-secondary-background-color: @ds6-color-white;
@button-secondary-border-color: @ds6-color-b4;
@button-secondary-color: @ds6-color-b4;

@button-secondary-fake-visited-color: @ds6-color-b4;

@button-secondary-disabled-background-color: @ds6-color-white;
@button-secondary-disabled-border-color: @ds6-color-disabled;
@button-secondary-disabled-color: @ds6-color-disabled;
@button-secondary-disabled-svg-color: @ds6-color-disabled;
@button-secondary-disabled-hover-background-color: @ds6-color-white;
@button-secondary-disabled-hover-border-color: @ds6-color-disabled;

@button-secondary-partially-disabled-border-color: @ds6-color-disabled;
@button-secondary-partially-disabled-color: @ds6-color-disabled;

@import "../base/button.less";
@import "button-cta.less";
@import "button-regular.less";
@import "button-primary.less";
@import "button-secondary.less";
@import "button-sizes.less";
@import "button-legacy.less";

svg.btn__icon,
svg.fake-btn__icon {
    .foreground-icon-base;
}

svg.expand-btn__icon,
svg.cta-btn__icon {
    flex-shrink: 0;
}

svg.cta-btn__icon {
    height: 10px;
    width: 9.75px;
}

svg.expand-btn__icon {
    height: 5.2px;
    width: 9px;
}

@media screen and (-ms-high-contrast: white-on-black) {
    span.expand-btn__icon {
        background-image: url('data:image/svg+xml;base64,@{ds6-icon-chevron-down-bold-base64-light}');
    }
}
