// Official DS6 styles are medium and large, but adding this to support legacy deprecated small button

button.btn--legacy,
button.expand-btn--legacy,
a.fake-btn--legacy {
    height: 32px;
}

button.expand-btn--legacy {
    padding: 0 12px 0 16px;

    &.expand-btn--no-text {
        padding: 0 12px;
    }
}
