@import "../../variables/ds6/color-variables.less";
@import "../../variables/ds6/typography-variables.less";
@import "../../variables/ds6/button-variables.less";
@import "../../mixins/button/ds6/button-mixins.less";
@import "../../mixins/icon/ds6/icon-mixins.less";
@import "../base/button.less";

button.btn--primary,
a.fake-btn--primary {
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        background-color: @color-b6;
        border-color: @color-b6;
    }
}

a.fake-btn--primary:not([href]),
a.fake-btn--primary[aria-disabled="true"] {
    &:focus,
    &:hover,
    &:active {
        background-color: @button-primary-partially-disabled-background-color;
        border-color: @button-primary-partially-disabled-border-color;
        color: @button-primary-partially-disabled-color;
    }
}

button.btn--secondary,
a.fake-btn--secondary {
    &:focus,
    &:hover,
    &:active {
        border-color: @color-b6;
        color: @color-b6;
    }
}

button.btn--secondary[disabled],
a.fake-btn--secondary[disabled],
a.fake-btn--secondary:not([href]),
a.fake-btn--secondary[aria-disabled="true"] {
    &:focus,
    &:hover,
    &:active {
        background-color: @color-white;
        border-color: @color-disabled;
        color: @color-disabled;
    }
}

button.btn {
    padding-bottom: 10px;
    padding-top: 10px;
}

button.btn--fixed-height {
    padding-bottom: 10px;
}

button.btn--truncated {
    padding-bottom: 10px;
    padding-top: 10px;
}

// Fake button needs different padding or the text doesn't quite align with the real button text for this size
a.fake-btn {
    padding-bottom: 9px;
    padding-top: 11px;
}

a.fake-btn--fixed-height {
    padding-bottom: 9px;
}

a.fake-btn--truncated {
    padding-bottom: 9px;
    padding-top: 11px;
}

button.btn--large,
a.fake-btn--large {
    font-size: @font-size-16;
    padding-bottom: 13px;
    padding-top: 15px;
}

button.btn--large-fixed-height,
a.fake-btn--large-fixed-height {
    min-height: 48px;
    padding-bottom: 13px;
}

button.btn--large-truncated,
a.fake-btn--large-truncated {
    min-height: 48px;
    padding-bottom: 13px;
    padding-top: 15px;
}
