// Official DS6 styles are medium and large, but adding this to support legacy deprecated small button

button.btn--legacy,
button.expand-btn--legacy,
a.fake-btn--legacy {
    padding: 5.5px 48px;
}

button.expand-btn--legacy {
    padding: 5.5px 12px;

    &.expand-btn--no-text {
        padding: 12.40625px 12px; // weird padding number, but it gets it to 32px height
    }
}
