.button-fixed-height(@height) {
    &[class*="-fixed"] {
        height: @height;
    }
}

.button-size-rules(@paddingBottom, @paddingTop, @height) {
    padding-bottom: @paddingBottom;
    padding-top: @paddingTop;

    .button-fixed-height(@height);
}

button.btn,
button.expand-btn,
a.fake-btn,
a.cta-btn {
    &[class*="-fixed"] svg[class*="icon"] {
        height: 1rem;
        width: 1rem;
    }

    &[class*="--small"] {
        .button-size-rules(5.5px, 5.5px, 32px);
    }

    &[class*="--medium"] {
        .button-size-rules(9.5px, 9.5px, 40px);
    }

    &[class*="--large"] {
        .button-size-rules(11px, 11px, 48px);
    }

    &[class*="--extra-large"] {
        padding: 13.5px 24px;

        .button-fixed-height(56px);
    }

    &[class*="--large"],
    &[class*="--extra-large"] {
        font-size: @ds6-font-size-18;
    }
}
