button.btn--primary,
button.expand-btn--primary,
a.fake-btn--primary {
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        background-color: @ds6-color-b7;
        border-color: @ds6-color-b7;
    }
}

button.btn--secondary[disabled],
button.expand-btn--secondary[disabled],
a.fake-btn--secondary[disabled] {
    &:focus,
    &:hover,
    &:active {
        background-color: @ds6-color-white;
        border-color: @ds6-color-disabled;
        color: @ds6-color-disabled;
    }
}

button.expand-btn--primary span.expand-btn__icon {
    .background-image-base64(@icon-chevron-down-bold-base64-light);
}
