button.btn--secondary,
button.expand-btn--secondary,
a.fake-btn--secondary {
    &:focus,
    &:hover,
    &:active {
        border-color: @ds6-color-b7;
        color: @ds6-color-b7;
    }
}

button.expand-btn--secondary span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,@{icon-chevron-down-bold-blue-base64}');
}

button.expand-btn--secondary:focus span.expand-btn__icon,
button.expand-btn--secondary:hover span.expand-btn__icon {
    background-image: url('data:image/svg+xml;base64,@{icon-chevron-down-bold-blue-dark-base64}');
}
