button.btn,
button.expand-btn,
a.fake-btn,
a.cta-btn {
    &[class*="-fixed"] svg[class*="icon"] {
        height: 1rem;
        width: 1rem;
    }

    &[class*="--small"] {
        padding-bottom: 5.5px;
        padding-top: 5.5px;

        &[class*="-fixed"] {
            height: 32px;

            > span {
                max-width: calc(100% - 32px);
            }
        }
    }

    &[class*="--medium"] {
        padding-bottom: 9.5px;
        padding-top: 9.5px;

        &[class*="-fixed"] {
            height: 40px;

            > span {
                max-width: calc(100% - 32px);
            }
        }
    }

    &[class*="--large"] {
        padding-bottom: 11px;
        padding-top: 11px;

        &[class*="-fixed"] {
            height: 48px;

            > span {
                max-width: calc(100% - 32px);
            }
        }
    }

    &[class*="--extra-large"] {
        padding: 13.5px 24px;

        &[class*="-fixed"] {
            height: 56px;

            > span {
                max-width: calc(100% - 48px);
            }
        }
    }

    &[class*="--large"],
    &[class*="--extra-large"] {
        font-size: @ds6-font-size-18;
    }
}
