a.cta-btn--b4 {
    background-color: @color-b4;
    border-color: @color-b1;
    color: @color-b1;

    &:visited {
        color: @color-b1;
    }

    &:focus,
    &:hover {
        background-color: @color-b1;
        border-color: @color-b1;
        color: @color-b4;
    }

    &:active {
        background-color: @color-b4;
        border-color: @color-b4;
        color: @color-white;
    }

    &:not([href]),
    &[aria-disabled="true"] {
        background-color: @color-disabled;
        border-color: @color-disabled;
        color: @color-grey1;
    }
}

a.cta-btn--r4 {
    background-color: @color-r4;
    border-color: @color-r1;
    color: @color-r1;

    &:visited {
        color: @color-r1;
    }

    &:focus,
    &:hover {
        background-color: @color-r1;
        border-color: @color-r1;
        color: @color-r4;
    }

    &:active {
        background-color: @color-r4;
        border-color: @color-r4;
        color: @color-r1;
    }

    &:not([href]),
    &[aria-disabled="true"] {
        background-color: @color-disabled;
        border-color: @color-disabled;
        color: @color-grey1;
    }
}
