a.cta-btn {
    background-color: @ds6-color-background-default;
    border-color: currentColor;
    color: @ds6-color-p003-blue;

    &:focus,
    &:hover {
        background-color: @ds6-color-p003-blue;
        border-color: @ds6-color-p003-blue;
        color: @ds6-color-background-default;
    }

    // the focus styles above are a sufficient focus indicator
    &:focus {
        outline: 0 none;
    }
}

a.cta-btn--p002-blue {
    background-color: @ds6-color-p002-blue;
    border-color: @ds6-color-p001-blue;
    color: @ds6-color-p001-blue;

    &:visited {
        color: @ds6-color-p001-blue;
    }

    &:focus,
    &:hover {
        background-color: @ds6-color-p001-blue;
        border-color: @ds6-color-p001-blue;
        color: @ds6-color-p002-blue;
    }

    &:active {
        background-color: @ds6-color-p002-blue;
        border-color: @ds6-color-p002-blue;
        color: @ds6-color-g201-gray;
    }

    &:not([href]) {
        background-color: @ds6-color-disabled;
        border-color: @ds6-color-disabled;
        color: @ds6-color-g202-gray;
    }
}

a.cta-btn--p012-red {
    background-color: @ds6-color-p012-red;
    border-color: @ds6-color-p011-red;
    color: @ds6-color-p011-red;

    &:visited {
        color: @ds6-color-p011-red;
    }

    &:focus,
    &:hover {
        background-color: @ds6-color-p011-red;
        border-color: @ds6-color-p011-red;
        color: @ds6-color-p012-red;
    }

    &:active {
        background-color: @ds6-color-p013-red;
        border-color: @ds6-color-p013-red;
        color: @ds6-color-p011-red;
    }

    &:not([href]) {
        background-color: @ds6-color-disabled;
        border-color: @ds6-color-disabled;
        color: @ds6-color-g202-gray;
    }
}

a.cta-btn--purple {
    background-color: #6a4fcc;
    color: #ecefff;

    &:visited {
        color: #ecefff;
    }

    &:focus,
    &:hover {
        background-color: @ds6-color-g203-gray;
        border-color: @ds6-color-g203-gray;
        color: #6a4fcc;
    }

    &:active {
        background-color: #3c0085;
        border-color: #3c0085;
        color: @ds6-color-g201-gray;
    }

    &:not([href]) {
        background-color: @ds6-color-disabled;
        border-color: @ds6-color-disabled;
        color: @ds6-color-g202-gray;
    }
}
