/* UNFINISHED. WORK IN PROGRESS */

.btn,
.fake-btn {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
}

.btn--small,
.fake-btn--small {
    height: 32px;
}

.btn--large,
.fake-btn--large {
    height: 48px;
}

.btn--primary,
.fake-btn--primary {
    background-color: @ds6-color-button-primary;
    border: 0 none;
    color: white;
    font-weight: bold;
}

.btn--secondary,
.fake-btn--secondary {
  background-color: white;
  border: 1px solid @ds6-color-button-secondary;
  color: @ds6-color-button-primary;
}

.btn--fluid,
.fake-btn--fluid {
    width: 100%;
}

.btn__cell,
.fake-btn__cell {
    display: inline-flex;
    height: 100%;
    vertical-align: middle;

    > span {
        align-self: center;
    }
}

.btn__icon,
.fake-btn__icon {
    .svg-icon-default;
    align-self: center;

    &:first-child {
        margin-right: 8px;
    }

    &:last-child {
        margin-left: 8px;
    }
}
