.video-player {
    position: relative;
}

.video-player__overlay {
    align-items: center;
    bottom: 0;
    color: @color-white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.video-player__overlay-text,
.video-player__overlay .icon {
    margin: 20px 20px 0;
}

.video-player__overlay--hidden {
    display: none;
}

.video-player .shaka-overflow-menu svg {
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    width: 24px;
}

.video-player .shaka-play-button {
    background: none;
    box-shadow: none;
    height: auto;
    padding: 0;
    width: auto;
}

.video-player .shaka-play-button svg {
    height: 48px;
    width: 48px;
}
