@import "../tokens/tokens.less";

@box-shadow: rgba(0, 0, 0, 0.15);

:root {
    --color-foreground-primary: @color-neutral-6;
    --color-foreground-disabled: @color-neutral-3;
}

button.btn,
a.fake-btn {
    --btn-primary-disabled-background-color: fade(@color-background-accent, 50%);
    --btn-primary-disabled-border-color: transparent;
    --btn-secondary-background-color: fade(@color-neutral-1, 50%);
    --btn-secondary-border-color: @color-neutral-4;
    --btn-secondary-foreground-color: #555;
    --btn-secondary-hover-background-color: fade(@color-neutral-2, 50%);
    --btn-secondary-hover-border-color: @color-neutral-5;
    --btn-secondary-hover-foreground-color: #555;
    --btn-secondary-disabled-background-color: fade(@color-neutral-3, 50%);
    --btn-secondary-disabled-border-color: transparent;
    --btn-secondary-disabled-foreground-color: #aaa;
    --btn-border-radius: 8px;
}

a.cta-btn {
    --cta-btn-border-radius: 8px;
}

button.expand-btn {
    --expand-btn-border-radius: 4px;
}

.combobox {
    --combobox-textbox-background-color: @color-background-primary;
    --combobox-textbox-border-color: @color-neutral-3;
    --combobox-textbox-foreground-color: #555;
    --combobox-textbox-focus-background-color: @color-background-primary;
    --combobox-textbox-readonly-foreground-color: @color-neutral-6;
    --combobox-textbox-disabled-border-color: @color-foreground-disabled;
    --combobox-textbox-disabled-foreground-color: @color-foreground-disabled;
    --combobox-textbox-disabled-placeholder-color: @color-background-disabled;
    --combobox-textbox-invalid-background-color: @color-background-secondary;
    --combobox-textbox-border-radius: 4px;
    --combobox-listbox-border-radius: 0;
    --combobox-listbox-box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
}

button.icon-btn,
a.icon-link {
    --icon-button-background-color: @color-background-primary;
    --icon-button-icon-foreground-color: #555;
    --icon-button-hover-background-color: @color-background-primary;
    --icon-button-icon-hover-foreground-color: @color-neutral-6;
    --icon-button-icon-active-foreground-color: #555;
}

.tooltip,
.tourtip,
.infotip {
    --bubble-border-radius: 0;
    --bubble-base-box-shadow: 0 -2px 2px @box-shadow, 2px 0 2px @box-shadow, 0 2px 2px @box-shadow,
        -2px 0 2px @box-shadow;
    --bubble-left-box-shadow: -2px 2px 2px @box-shadow;
    --bubble-right-box-shadow: 2px -2px 2px @box-shadow;
    --bubble-bottom-box-shadow: 2px 2px 2px @box-shadow;
    --bubble-top-box-shadow: -2px -2px 2px @box-shadow;
}

.alert-dialog,
.confirm-dialog,
.lightbox-dialog {
    --lightbox-border-radius: 0;
}

.page-notice {
    --page-notice-color: @color-foreground-primary;
    --page-notice-general-background-color: @color-background-primary;
    --page-notice-attention-background-color: @color-background-primary;
    --page-notice-confirmation-background-color: @color-background-primary;
    --page-notice-information-background-color: @color-background-primary;
    --page-notice-attention-icon-color: @color-background-attention;
    --page-notice-confirmation-icon-color: @color-background-confirmation;
    --page-notice-information-icon-color: @color-background-information;
}

.progress-spinner {
    --progress-spinner-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
    --progress-spinner-large-image-url: url("https://ir.ebaystatic.com/cr/v/c1/skin/svg/spinner/v1/ds4/spinner.svg");
}

.section-notice {
    --section-notice-border-radius: 0;
}

.select {
    --select-background-color: @color-background-primary;
    --select-border-color: @color-neutral-3;
    --select-border-radius: 4px;
    --select-disabled-foregound-color: @color-neutral-3;
    --select-invalid-background-color: @color-background-primary;
    --select-invalid-foreground-color: @color-foreground-primary;
    --select-borderless-disabled-background-color: @color-background-primary;
}

.textbox {
    --textbox-background-color: @color-background-primary;
    --textbox-border-color: @color-neutral-3;
    --textbox-foreground-color: #555;
    --textbox-focus-background-color: @color-background-primary;
    --textbox-readonly-foreground-color: @color-neutral-6;
    --textbox-disabled-border-color: @color-foreground-disabled;
    --textbox-disabled-foreground-color: @color-foreground-disabled;
    --textbox-disabled-placeholder-color: @color-background-disabled;
    --textbox-invalid-background-color: @color-background-secondary;
    --textbox-border-radius: 4px;
}

.listbox-button {
    --listbox-button-listbox-border-radius: 0;
}

.menu-button {
    --menu-button-menu-border-radius: 0;
}
