name: pages-html-proofer

on:
  push:
    paths:
      - 'docs/**'
      - '!docs/storybook'
      - '.github/workflows/pages-html-proofer.yml'
  pull_request:
    paths:
      - 'docs/**'
      - '!docs/storybook'
      - '.github/workflows/pages-html-proofer.yml'

jobs:
  pages-html-proofer:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@master
          with:
            node-version: '16.x'
        - run: npm i
        - run: npm run build:ci
        - uses: ruby/setup-ruby@v1
          with:
            ruby-version: 2.7
        - uses: actions/jekyll-build-pages@v1
          with:
            source: ./docs
            destination: ./_site
            token: ${{ secrets.GITHUB_TOKEN }}
        - run: bundle config set --local without 'github-pages'
        - run: bundle install
        - run: bundle exec htmlproofer ./_site/index.html --disable-external --ignore_empty_alt --allow_hash_href --allow-missing-href
