.tooltip,
.infotip,
.tourtip {
    position: relative;
}

.tooltip__overlay,
.infotip__overlay,
.tourtip__overlay {
    display: none;
}

span.tooltip,
span.infotip,
span.tourtip {
    display: inline-block;
}

.tourtip--expanded .tourtip__overlay {
    display: block;
}

.tooltip__host[aria-expanded="true"] ~ .tooltip__overlay,
.infotip__host[aria-expanded="true"] ~ .infotip__overlay {
    display: block;
}
