.tooltip,
.infotip,
.tourtip {
    position: relative;

    .bubble__content {
        p {
            margin: 0;
        }

        p:not(:first-of-type) {
            margin-top: 4px;
        }
    }
}

.tooltip__overlay,
.infotip__overlay,
.tourtip__overlay {
    display: none;
}

span.tooltip,
span.infotip,
span.tourtip {
    display: inline-block;
}

.tooltip__host[aria-expanded="true"] ~ .tooltip__overlay,
.infotip__host[aria-expanded="true"] ~ .infotip__overlay,
.tourtip--expanded .tourtip__overlay {
    display: block;
}
