@import "../../mixins/utility/utility-mixins.less";

.tooltip {
    position: relative;
}

span.tooltip {
    display: inline-block;
}

.tooltip__overlay {
    .bubble();

    display: none;
    left: 0 - 10px;
    margin-top: 16px;
    position: absolute;
}

.tooltip__mask {
    .bubble-mask();
    .customBackgroundColorProperty(tooltip-background-color);
    .customColorProperty(tooltip-foreground-color);
}

span.tooltip__mask {
    display: block;
}

.tooltip__cell {
    .bubble-cell();

    a {
        .customColorProperty(tooltip-foreground-color);

        &:focus {
            .customOutlineColorProperty(tooltip-foreground-color);

            outline-style: dashed;
            outline-width: 1px;
        }
    }
}

.tooltip__content {
    .bubble-content();
}

button.tooltip__close {
    .bubble-close();
}

.tooltip__pointer {
    .pointer-base();
    .pointer-top();
    .pointer-center();
    .customBackgroundColorProperty(tooltip-background-color);
}

.tooltip__pointer--top-left {
    .pointer-top-left();
}

.tooltip__pointer--top {
    .pointer-top-center();
}

.tooltip__pointer--top-right {
    .pointer-top-right();
}

.tooltip__pointer--bottom-left,
span.tooltip__pointer--bottom-left {
    .pointer-bottom-left();
}

.tooltip__pointer--bottom,
span.tooltip__pointer--bottom {
    .pointer-bottom-center();
}

.tooltip__pointer--bottom-right {
    .pointer-bottom-right();
}

.tooltip__pointer--left {
    .pointer-left();
}

.tooltip__pointer--left-bottom {
    .pointer-left-bottom();
}

.tooltip__pointer--left-top {
    .pointer-left-top();
}

.tooltip__pointer--right {
    .pointer-right();
}

.tooltip__pointer--right-bottom {
    .pointer-right-bottom();
}

.tooltip__pointer--right-top {
    .pointer-right-top();
}

.tooltip--expanded .tooltip__overlay,
.tooltip__host[aria-expanded="true"] ~ .tooltip__overlay {
    display: block;
}

@media (min-width: 601px) {
    .tooltip__overlay {
        .bubble-large-screen();
    }
}
