@import "../../variables/ds6/color-variables.less";

:root {
    --color-background-default: @color-background-default;
    --color-text-default: @color-text-default;
    --color-text-secondary: @color-text-secondary;
    --color-link-default: @color-link-default;
    --color-link-visited: @color-link-visited;
}

@media (prefers-color-scheme: dark) {
    :root {
        .skin-experiment-1 {
            --color-background-default: @color-background-default-dark-mode;
            --color-text-default: @color-text-default-dark-mode;
            --color-text-secondary: @color-text-secondary-dark-mode;
            --color-link-default: @color-link-default-dark-mode;
            --color-link-hover: @color-link-hover-dark-mode;
            --color-link-visited: @color-link-visited-dark-mode;
        }
    }
}
