@import "../../variables/ds6/color-variables.less";

:root {
    --color-background-default: @color-background-default;
    --color-text-default: @color-text-default;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-default: @dark-mode-color-background-default;
        --color-text-default: @dark-mode-color-text-default;
    }
}
