@textbox-focus-placeholder-color: @color-neutral-5;

input.legacy-textbox-underline {
    background-color: @color-background-primary;
    border: none;
    border-bottom: 1px solid @color-neutral-5;
    border-radius: 0;
    font-weight: bold;
    height: 1.875rem; // a11y: has to be relative to the text size
    padding: 0 0 1px;

    &::-webkit-input-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }

    &::placeholder {
        color: transparent;
    }

    &[disabled] {
        &::-webkit-input-placeholder {
            color: transparent;
        }

        &::-moz-placeholder {
            color: transparent;
        }

        &:-ms-input-placeholder {
            color: transparent;
        }

        &::placeholder {
            color: transparent;
        }
    }

    &:focus {
        &::-webkit-input-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &::-moz-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &:-ms-input-placeholder {
            color: @textbox-focus-placeholder-color;
        }

        &::placeholder {
            color: @textbox-focus-placeholder-color;
        }

        background: @color-background-primary;
    }
}

.legacy-floating-label {
    margin-top: 14px;
    position: relative;
}

span.legacy-floating-label {
    display: inline-block;
}

div.legacy-floating-label {
    display: block;
}

label.legacy-floating-label__label {
    color: @color-text-secondary;
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(0.75, 0.75) translate(0, -24px);
    transform-origin: left;
    z-index: 1;
}

label.legacy-floating-label__label--inline {
    bottom: 0.4375rem; // a11y: the position must be relative to the text size
    font-size: @font-size-regular;
    transform: none;
}

label.legacy-floating-label__label--animate {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

label.legacy-floating-label__label--disabled {
    color: @color-label-disabled;
}
