@import "../../tokens/ds4/tokens.less";

@page-notice-color: @color-text-default;
@page-notice-general-background-color: @color-background-default;
@page-notice-attention-background-color: @color-background-default;
@page-notice-confirmation-background-color: @color-background-default;
@page-notice-information-background-color: @color-background-default;

@import "../base/page-notice.less";

@media (prefers-color-scheme: light) {
    .page-notice svg {
        filter: none;
    }
}
