:root {
    --ebay-skin-toast-message-spacing: 24px;
}

.toast-message__mobile {
    --ebay-skin-toast-message-spacing: 16px;
}

.toast-message {
    background-color: @toast-message-box-color;
    bottom: 16px;
    color: @white-color;
    left: 16px;
    max-height: 40vh;
    max-width: 480px;
    min-width: 320px;
    position: fixed;
    transform: translateY(110%);
    z-index: 1;
}

.toast-message.toast-message__mobile {
    bottom: 0;
    left: 0;
    width: 100vw;
}

.toast-message.toast-message--hide {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-name: slide-out;
    animation-timing-function: cubic-bezier(0.21, 0.31, 1, 1.22);
    opacity: 0;
}

.toast-message.toast-message--show {
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-name: slide-in;
    animation-timing-function: cubic-bezier(0.21, 0.31, 1, 1.22);
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.toast-message__header {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    padding: var(--ebay-skin-toast-message-spacing);

    > h3 {
        margin: 0;
        padding: 0;
    }

    > button {
        cursor: pointer;
    }

    > button > svg {
        color: @white-color;
    }
}

.toast-message > .toast-message__body {
    margin: 0;
    padding: var(--ebay-skin-toast-message-spacing);
    padding-top: 0;
}

.toast-message__actions {
    display: flex;
    justify-content: flex-end;
    padding: var(--ebay-skin-toast-message-spacing);
    padding-top: 0;

    > button {
        margin-right: var(--ebay-skin-toast-message-spacing);
    }

    > button:nth-last-child(1) {
        margin-right: 0;
    }

    button.btn--secondary {
        background-color: @white-color;
        color: @blue-color;
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(110%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(110%);
    }
}
