@media (prefers-color-scheme: dark) {
    header {
        background-color: var(--color-foreground-accent);
    }

    a.demo-link-visited {
        color: var(--color-state-visited);

        &:link,
        &:visited {
            color: var(--color-state-visited);
        }
    }

    .section-header__version,
    span.highlight {
        background-color: var(--color-neutral-6);
    }

    .site-nav a,
    .site-nav a:visited {
        color: var(--color-foreground-primary);
    }

    .site-nav a:hover {
        color: var(--color-foreground-primary);
    }
}
