.radio {
    display: inline-flex;
    font-size: 1rem;
    margin-right: -4px;
    vertical-align: text-bottom;
}

.radio__control[type="radio"],
.radio__custom-control[type="radio"] {
    font-size: 100%;
    height: 1em;
    opacity: 0;
    position: absolute;
    width: 1em;
    z-index: 1;
}

.radio__custom-control[type="radio"]:not([disabled]) {
    cursor: pointer;
}

.radio__control[type="radio"] {
    &:checked + .radio__icon use {
        .mixin-bounce-animation;

        fill: @color-core-blue;
    }

    + .radio__icon--inherit {
        color: inherit;
    }

    &:checked + .radio__icon--inherit use {
        fill: inherit;
    }

    &:focus + .radio__icon {
        outline: @outline-dotted;
    }

    &[disabled] + .radio__icon {
        .opacity(0.5);
    }
}

.radio__custom-control[type="radio"] {
    & + .radio__icon[hidden] {
        color: currentColor;
    }

    &:not(:checked) {
        & + .radio__icon .radio__checked {
            display: none;
        }

        & + .radio__icon .radio__unchecked {
            display: inline-block;
        }
    }

    &:checked {
        & + .radio__icon .radio__checked {
            .mixin-bounce-animation;

            display: inline-block;
        }

        & + .radio__icon .radio__unchecked {
            display: none;
        }
    }

    &:focus + .radio__icon {
        outline: @outline-dotted;
    }

    &[disabled] + .radio__icon {
        .opacity(0.5);
    }
}

.radio__icon {
    color: @color-core-gray-silver;
    display: inline-flex;
    font-size: 1em;
    outline-offset: 1px;
}

// progressive enhancement - over-ride hidden SVG
.radio__icon[hidden] {
    display: inline-flex;
}

.radio__icon svg[aria-hidden="true"] {
    .svg-icon-default;
}

.radio__control + .radio__icon use {
    fill: transparent;
}

.radio__icon:not([hidden]) {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M16%2031.6c-8.667%200-15.719-6.999-15.719-15.6s7.052-15.6%2015.719-15.6%2015.719%206.999%2015.719%2015.6c0%208.604-7.052%2015.6-15.719%2015.6zM16%202.178c-7.687%200-13.941%206.201-13.941%2013.822s6.254%2013.822%2013.941%2013.822%2013.941-6.201%2013.941-13.822-6.254-13.822-13.941-13.822z%22%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    height: 1em;
    width: 1em;
}

.radio__control[type="radio"] {
    &:checked + .radio__icon:not([hidden]) {
        .mixin-bounce-animation;

        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2732%27%20height%3D%2732%27%3E%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M16%2031.6c-8.667%200-15.719-6.997-15.719-15.6%200-8.601%207.052-15.6%2015.719-15.6s15.719%206.999%2015.719%2015.6c0%208.604-7.052%2015.6-15.719%2015.6zM16%202.178c-7.687%200-13.941%206.201-13.941%2013.822s6.254%2013.822%2013.941%2013.822%2013.941-6.201%2013.941-13.822-6.254-13.822-13.941-13.822z%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%22%230654ba%22%20d%3D%22M24.139%2015.803c0%204.406-3.715%207.979-8.299%207.979s-8.299-3.572-8.299-7.979c0-4.407%203.715-7.979%208.299-7.979s8.299%203.572%208.299%207.979z%22%3E%3C/path%3E%3C/svg%3E');
    }
}
