@import "../../less/ds4/variables.less";
@import "../../less/ds4/mixins.less";
@import "../../variables/ds4/icon-variables.less";
@import "../../mixins/icon/ds4/icon-mixins.less";

.radio-icon-unchecked() {
    .icon-radio-unchecked(18px, 18px);
}

.radio-icon-checked() {
    .icon-radio-checked(18px, 18px);
}

@radio-checked-color: @ds4-color-core-blue;
@radio-unchecked-icon-base64-light: @icon-radio-unchecked-base64-light;
@radio-checked-icon-base64-light: @icon-radio-checked-base64-light;

@import "../base/radio.less";
